.glyphicon-asterisk:before {
	content: "\002a";
}
.glyphicon-plus:before {
	content: "\002b";
}
.glyphicon-euro:before, .glyphicon-eur:before {
	content: "\20ac";
}
.glyphicon-minus:before {
	content: "\2212";
}
.glyphicon-cloud:before {
	content: "\2601";
}
.glyphicon-envelope:before {
	content: "\2709";
}
.glyphicon-pencil:before {
	content: "\270f";
}
.glyphicon-glass:before {
	content: "\e001";
}
.glyphicon-music:before {
	content: "\e002";
}
.glyphicon-search:before {
	content: "\e003";
}
.glyphicon-heart:before {
	content: "\e005";
}
.glyphicon-star:before {
	content: "\e006";
}
.glyphicon-star-empty:before {
	content: "\e007";
}
.glyphicon-user:before {
	content: "\e008";
}
.glyphicon-film:before {
	content: "\e009";
}
.glyphicon-th-large:before {
	content: "\e010";
}
.glyphicon-th:before {
	content: "\e011";
}
.glyphicon-th-list:before {
	content: "\e012";
}
.glyphicon-ok:before {
	content: "\e013";
}
.glyphicon-remove:before {
	content: "\e014";
}
.glyphicon-zoom-in:before {
	content: "\e015";
}
.glyphicon-zoom-out:before {
	content: "\e016";
}
.glyphicon-off:before {
	content: "\e017";
}
.glyphicon-signal:before {
	content: "\e018";
}
.glyphicon-cog:before {
	content: "\e019";
}
.glyphicon-trash:before {
	content: "\e020";
}
.glyphicon-home:before {
	content: "\e021";
}
.glyphicon-file:before {
	content: "\e022";
}
.glyphicon-time:before {
	content: "\e023";
}
.glyphicon-road:before {
	content: "\e024";
}
.glyphicon-download-alt:before {
	content: "\e025";
}
.glyphicon-download:before {
	content: "\e026";
}
.glyphicon-upload:before {
	content: "\e027";
}
.glyphicon-inbox:before {
	content: "\e028";
}
.glyphicon-play-circle:before {
	content: "\e029";
}
.glyphicon-repeat:before {
	content: "\e030";
}
.glyphicon-refresh:before {
	content: "\e031";
}
.glyphicon-list-alt:before {
	content: "\e032";
}
.glyphicon-lock:before {
	content: "\e033";
}
.glyphicon-flag:before {
	content: "\e034";
}
.glyphicon-headphones:before {
	content: "\e035";
}
.glyphicon-volume-off:before {
	content: "\e036";
}
.glyphicon-volume-down:before {
	content: "\e037";
}
.glyphicon-volume-up:before {
	content: "\e038";
}
.glyphicon-qrcode:before {
	content: "\e039";
}
.glyphicon-barcode:before {
	content: "\e040";
}
.glyphicon-tag:before {
	content: "\e041";
}
.glyphicon-tags:before {
	content: "\e042";
}
.glyphicon-book:before {
	content: "\e043";
}
.glyphicon-bookmark:before {
	content: "\e044";
}
.glyphicon-print:before {
	content: "\e045";
}
.glyphicon-camera:before {
	content: "\e046";
}
.glyphicon-font:before {
	content: "\e047";
}
.glyphicon-bold:before {
	content: "\e048";
}
.glyphicon-italic:before {
	content: "\e049";
}
.glyphicon-text-height:before {
	content: "\e050";
}
.glyphicon-text-width:before {
	content: "\e051";
}
.glyphicon-align-left:before {
	content: "\e052";
}
.glyphicon-align-center:before {
	content: "\e053";
}
.glyphicon-align-right:before {
	content: "\e054";
}
.glyphicon-align-justify:before {
	content: "\e055";
}
.glyphicon-list:before {
	content: "\e056";
}
.glyphicon-indent-left:before {
	content: "\e057";
}
.glyphicon-indent-right:before {
	content: "\e058";
}
.glyphicon-facetime-video:before {
	content: "\e059";
}
.glyphicon-picture:before {
	content: "\e060";
}
.glyphicon-map-marker:before {
	content: "\e062";
}
.glyphicon-adjust:before {
	content: "\e063";
}
.glyphicon-tint:before {
	content: "\e064";
}
.glyphicon-edit:before {
	content: "\e065";
}
.glyphicon-share:before {
	content: "\e066";
}
.glyphicon-check:before {
	content: "\e067";
}
.glyphicon-move:before {
	content: "\e068";
}
.glyphicon-step-backward:before {
	content: "\e069";
}
.glyphicon-fast-backward:before {
	content: "\e070";
}
.glyphicon-backward:before {
	content: "\e071";
}
.glyphicon-play:before {
	content: "\e072";
}
.glyphicon-pause:before {
	content: "\e073";
}
.glyphicon-stop:before {
	content: "\e074";
}
.glyphicon-forward:before {
	content: "\e075";
}
.glyphicon-fast-forward:before {
	content: "\e076";
}
.glyphicon-step-forward:before {
	content: "\e077";
}
.glyphicon-eject:before {
	content: "\e078";
}
.glyphicon-chevron-left:before {
	content: "\e079";
}
.glyphicon-chevron-right:before {
	content: "\e080";
}
.glyphicon-plus-sign:before {
	content: "\e081";
}
.glyphicon-minus-sign:before {
	content: "\e082";
}
.glyphicon-remove-sign:before {
	content: "\e083";
}
.glyphicon-ok-sign:before {
	content: "\e084";
}
.glyphicon-question-sign:before {
	content: "\e085";
}
.glyphicon-info-sign:before {
	content: "\e086";
}
.glyphicon-screenshot:before {
	content: "\e087";
}
.glyphicon-remove-circle:before {
	content: "\e088";
}
.glyphicon-ok-circle:before {
	content: "\e089";
}
.glyphicon-ban-circle:before {
	content: "\e090";
}
.glyphicon-arrow-left:before {
	content: "\e091";
}
.glyphicon-arrow-right:before {
	content: "\e092";
}
.glyphicon-arrow-up:before {
	content: "\e093";
}
.glyphicon-arrow-down:before {
	content: "\e094";
}
.glyphicon-share-alt:before {
	content: "\e095";
}
.glyphicon-resize-full:before {
	content: "\e096";
}
.glyphicon-resize-small:before {
	content: "\e097";
}
.glyphicon-exclamation-sign:before {
	content: "\e101";
}
.glyphicon-gift:before {
	content: "\e102";
}
.glyphicon-leaf:before {
	content: "\e103";
}
.glyphicon-fire:before {
	content: "\e104";
}
.glyphicon-eye-open:before {
	content: "\e105";
}
.glyphicon-eye-close:before {
	content: "\e106";
}
.glyphicon-warning-sign:before {
	content: "\e107";
}
.glyphicon-plane:before {
	content: "\e108";
}
.glyphicon-calendar:before {
	content: "\e109";
}
.glyphicon-random:before {
	content: "\e110";
}
.glyphicon-comment:before {
	content: "\e111";
}
.glyphicon-magnet:before {
	content: "\e112";
}
.glyphicon-chevron-up:before {
	content: "\e113";
}
.glyphicon-chevron-down:before {
	content: "\e114";
}
.glyphicon-retweet:before {
	content: "\e115";
}
.glyphicon-shopping-cart:before {
	content: "\e116";
}
.glyphicon-folder-close:before {
	content: "\e117";
}
.glyphicon-folder-open:before {
	content: "\e118";
}
.glyphicon-resize-vertical:before {
	content: "\e119";
}
.glyphicon-resize-horizontal:before {
	content: "\e120";
}
.glyphicon-hdd:before {
	content: "\e121";
}
.glyphicon-bullhorn:before {
	content: "\e122";
}
.glyphicon-bell:before {
	content: "\e123";
}
.glyphicon-certificate:before {
	content: "\e124";
}
.glyphicon-thumbs-up:before {
	content: "\e125";
}
.glyphicon-thumbs-down:before {
	content: "\e126";
}
.glyphicon-hand-right:before {
	content: "\e127";
}
.glyphicon-hand-left:before {
	content: "\e128";
}
.glyphicon-hand-up:before {
	content: "\e129";
}
.glyphicon-hand-down:before {
	content: "\e130";
}
.glyphicon-circle-arrow-right:before {
	content: "\e131";
}
.glyphicon-circle-arrow-left:before {
	content: "\e132";
}
.glyphicon-circle-arrow-up:before {
	content: "\e133";
}
.glyphicon-circle-arrow-down:before {
	content: "\e134";
}
.glyphicon-globe:before {
	content: "\e135";
}
.glyphicon-wrench:before {
	content: "\e136";
}
.glyphicon-tasks:before {
	content: "\e137";
}
.glyphicon-filter:before {
	content: "\e138";
}
.glyphicon-briefcase:before {
	content: "\e139";
}
.glyphicon-fullscreen:before {
	content: "\e140";
}
.glyphicon-dashboard:before {
	content: "\e141";
}
.glyphicon-paperclip:before {
	content: "\e142";
}
.glyphicon-heart-empty:before {
	content: "\e143";
}
.glyphicon-link:before {
	content: "\e144";
}
.glyphicon-phone:before {
	content: "\e145";
}
.glyphicon-pushpin:before {
	content: "\e146";
}
.glyphicon-usd:before {
	content: "\e148";
}
.glyphicon-gbp:before {
	content: "\e149";
}
.glyphicon-sort:before {
	content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
	content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
	content: "\e152";
}
.glyphicon-sort-by-order:before {
	content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
	content: "\e154";
}
.glyphicon-sort-by-attributes:before {
	content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
	content: "\e156";
}
.glyphicon-unchecked:before {
	content: "\e157";
}
.glyphicon-expand:before {
	content: "\e158";
}
.glyphicon-collapse-down:before {
	content: "\e159";
}
.glyphicon-collapse-up:before {
	content: "\e160";
}
.glyphicon-log-in:before {
	content: "\e161";
}
.glyphicon-flash:before {
	content: "\e162";
}
.glyphicon-log-out:before {
	content: "\e163";
}
.glyphicon-new-window:before {
	content: "\e164";
}
.glyphicon-record:before {
	content: "\e165";
}
.glyphicon-save:before {
	content: "\e166";
}
.glyphicon-open:before {
	content: "\e167";
}
.glyphicon-saved:before {
	content: "\e168";
}
.glyphicon-import:before {
	content: "\e169";
}
.glyphicon-export:before {
	content: "\e170";
}
.glyphicon-send:before {
	content: "\e171";
}
.glyphicon-floppy-disk:before {
	content: "\e172";
}
.glyphicon-floppy-saved:before {
	content: "\e173";
}
.glyphicon-floppy-remove:before {
	content: "\e174";
}
.glyphicon-floppy-save:before {
	content: "\e175";
}
.glyphicon-floppy-open:before {
	content: "\e176";
}
.glyphicon-credit-card:before {
	content: "\e177";
}
.glyphicon-transfer:before {
	content: "\e178";
}
.glyphicon-cutlery:before {
	content: "\e179";
}
.glyphicon-header:before {
	content: "\e180";
}
.glyphicon-compressed:before {
	content: "\e181";
}
.glyphicon-earphone:before {
	content: "\e182";
}
.glyphicon-phone-alt:before {
	content: "\e183";
}
.glyphicon-tower:before {
	content: "\e184";
}
.glyphicon-stats:before {
	content: "\e185";
}
.glyphicon-sd-video:before {
	content: "\e186";
}
.glyphicon-hd-video:before {
	content: "\e187";
}
.glyphicon-subtitles:before {
	content: "\e188";
}
.glyphicon-sound-stereo:before {
	content: "\e189";
}
.glyphicon-sound-dolby:before {
	content: "\e190";
}
.glyphicon-sound-5-1:before {
	content: "\e191";
}
.glyphicon-sound-6-1:before {
	content: "\e192";
}
.glyphicon-sound-7-1:before {
	content: "\e193";
}
.glyphicon-copyright-mark:before {
	content: "\e194";
}
.glyphicon-registration-mark:before {
	content: "\e195";
}
.glyphicon-cloud-download:before {
	content: "\e197";
}
.glyphicon-cloud-upload:before {
	content: "\e198";
}
.glyphicon-tree-conifer:before {
	content: "\e199";
}
.glyphicon-tree-deciduous:before {
	content: "\e200";
}
.glyphicon-cd:before {
	content: "\e201";
}
.glyphicon-save-file:before {
	content: "\e202";
}
.glyphicon-open-file:before {
	content: "\e203";
}
.glyphicon-level-up:before {
	content: "\e204";
}
.glyphicon-copy:before {
	content: "\e205";
}
.glyphicon-paste:before {
	content: "\e206";
}
.glyphicon-alert:before {
	content: "\e209";
}
.glyphicon-equalizer:before {
	content: "\e210";
}
.glyphicon-king:before {
	content: "\e211";
}
.glyphicon-queen:before {
	content: "\e212";
}
.glyphicon-pawn:before {
	content: "\e213";
}
.glyphicon-bishop:before {
	content: "\e214";
}
.glyphicon-knight:before {
	content: "\e215";
}
.glyphicon-baby-formula:before {
	content: "\e216";
}
.glyphicon-tent:before {
	content: "\26fa";
}
.glyphicon-blackboard:before {
	content: "\e218";
}
.glyphicon-bed:before {
	content: "\e219";
}
.glyphicon-apple:before {
	content: "\f8ff";
}
.glyphicon-erase:before {
	content: "\e221";
}
.glyphicon-hourglass:before {
	content: "\231b";
}
.glyphicon-lamp:before {
	content: "\e223";
}
.glyphicon-duplicate:before {
	content: "\e224";
}
.glyphicon-piggy-bank:before {
	content: "\e225";
}
.glyphicon-scissors:before {
	content: "\e226";
}
.glyphicon-bitcoin:before {
	content: "\e227";
}
.glyphicon-btc:before {
	content: "\e227";
}
.glyphicon-xbt:before {
	content: "\e227";
}
.glyphicon-yen:before {
	content: "\00a5";
}
.glyphicon-jpy:before {
	content: "\00a5";
}
.glyphicon-ruble:before {
	content: "\20bd";
}
.glyphicon-rub:before {
	content: "\20bd";
}
.glyphicon-scale:before {
	content: "\e230";
}
.glyphicon-ice-lolly:before {
	content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
	content: "\e232";
}
.glyphicon-education:before {
	content: "\e233";
}
.glyphicon-option-horizontal:before {
	content: "\e234";
}
.glyphicon-option-vertical:before {
	content: "\e235";
}
.glyphicon-menu-hamburger:before {
	content: "\e236";
}
.glyphicon-modal-window:before {
	content: "\e237";
}
.glyphicon-oil:before {
	content: "\e238";
}
.glyphicon-grain:before {
	content: "\e239";
}
.glyphicon-sunglasses:before {
	content: "\e240";
}
.glyphicon-text-size:before {
	content: "\e241";
}
.glyphicon-text-color:before {
	content: "\e242";
}
.glyphicon-text-background:before {
	content: "\e243";
}
.glyphicon-object-align-top:before {
	content: "\e244";
}
.glyphicon-object-align-bottom:before {
	content: "\e245";
}
.glyphicon-object-align-horizontal:before {
	content: "\e246";
}
.glyphicon-object-align-left:before {
	content: "\e247";
}
.glyphicon-object-align-vertical:before {
	content: "\e248";
}
.glyphicon-object-align-right:before {
	content: "\e249";
}
.glyphicon-triangle-right:before {
	content: "\e250";
}
.glyphicon-triangle-left:before {
	content: "\e251";
}
.glyphicon-triangle-bottom:before {
	content: "\e252";
}
.glyphicon-triangle-top:before {
	content: "\e253";
}
.glyphicon-console:before {
	content: "\e254";
}
.glyphicon-superscript:before {
	content: "\e255";
}
.glyphicon-subscript:before {
	content: "\e256";
}
.glyphicon-menu-left:before {
	content: "\e257";
}
.glyphicon-menu-right:before {
	content: "\e258";
}
.glyphicon-menu-down:before {
	content: "\e259";
}
.glyphicon-menu-up:before {
	content: "\e260";
}

.carousel-control .icon-prev:before {
	content: '\2039';
}
.carousel-control .icon-next:before {
	content: '\203a';
}

.fa-rotate-90 {
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.fa-rotate-180 {
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.fa-rotate-270 {
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.fa-flip-horizontal {
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.fa-flip-vertical {
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: scale(1, -1);
	-moz-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1);
}
.fa-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}
.fa-stack-1x, .fa-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}
.fa-stack-1x {
	line-height: inherit;
}
.fa-stack-2x {
	font-size: 2em;
}
.fa-inverse {
	color: #fff;
}


.fa-glass:before {
	content: "";
}
.fa-music:before {
 content: "";
}
.fa-search:before {
 content: "";
}
.fa-envelope-o:before {
 content: "";
}
.fa-heart:before {
 content: "";
}
.fa-star:before {
 content: "";
}
.fa-star-o:before {
 content: "";
}
.fa-user:before {
 content: "";
}
.fa-film:before {
 content: "";
}
.fa-th-large:before {
	content: "	";
}
.fa-th:before {
 content: " ";
}
.fa-th-list:before {
 content: " ";
}
.fa-check:before {
 content: " ";
}
.fa-times:before {
 content: " ";
}
.fa-search-plus:before {
 content: "";
}
.fa-search-minus:before {
 content: "";
}
.fa-power-off:before {
 content: "";
}
.fa-signal:before {
 content: "";
}
.fa-gear:before, .fa-cog:before {
 content: "";
}
.fa-trash-o:before {
 content: "";
}
.fa-home:before {
 content: "";
}
.fa-file-o:before {
 content: "";
}
.fa-clock-o:before {
 content: "";
}
.fa-road:before {
 content: "";
}
.fa-download:before {
 content: "";
}
.fa-arrow-circle-o-down:before {
 content: "";
}
.fa-arrow-circle-o-up:before {
 content: "";
}
.fa-inbox:before {
 content: "";
}
.fa-play-circle-o:before {
 content: "";
}
.fa-rotate-right:before, .fa-repeat:before {
 content: "";
}
.fa-refresh:before {
	content: "!";
}
.fa-list-alt:before {
	content: "";
}
.fa-lock:before {
	content: "#";
}
.fa-flag:before {
	content: "$";
}
.fa-headphones:before {
	content: "%";
}
.fa-volume-off:before {
	content: "&";
}
.fa-volume-down:before {
	content: "'";
}
.fa-volume-up:before {
	content: "(";
}
.fa-qrcode:before {
	content: ")";
}
.fa-barcode:before {
	content: "*";
}
.fa-tag:before {
	content: "+";
}
.fa-tags:before {
	content: ",";
}
.fa-book:before {
	content: "-";
}
.fa-bookmark:before {
	content: ".";
}
.fa-print:before {
	content: "/";
}
.fa-camera:before {
	content: "0";
}
.fa-font:before {
	content: "1";
}
.fa-bold:before {
	content: "2";
}
.fa-italic:before {
	content: "3";
}
.fa-text-height:before {
	content: "4";
}
.fa-text-width:before {
	content: "5";
}
.fa-align-left:before {
	content: "6";
}
.fa-align-center:before {
	content: "7";
}
.fa-align-right:before {
	content: "8";
}
.fa-align-justify:before {
	content: "9";
}
.fa-list:before {
	content: ":";
}
.fa-dedent:before, .fa-outdent:before {
	content: ";";
}
.fa-indent:before {
	content: "<";
}
.fa-video-camera:before {
	content: "=";
}
.fa-photo:before, .fa-image:before, .fa-picture-o:before {
	content: ">";
}
.fa-pencil:before {
	content: "@";
}
.fa-map-marker:before {
	content: "A";
}
.fa-adjust:before {
	content: "B";
}
.fa-tint:before {
	content: "C";
}
.fa-edit:before, .fa-pencil-square-o:before {
	content: "D";
}
.fa-share-square-o:before {
	content: "E";
}
.fa-check-square-o:before {
	content: "F";
}
.fa-arrows:before {
	content: "G";
}
.fa-step-backward:before {
	content: "H";
}
.fa-fast-backward:before {
	content: "I";
}
.fa-backward:before {
	content: "J";
}
.fa-play:before {
	content: "K";
}
.fa-pause:before {
	content: "L";
}
.fa-stop:before {
	content: "M";
}
.fa-forward:before {
	content: "N";
}
.fa-fast-forward:before {
	content: "P";
}
.fa-step-forward:before {
	content: "Q";
}
.fa-eject:before {
	content: "R";
}
.fa-chevron-left:before {
	content: "S";
}
.fa-chevron-right:before {
	content: "T";
}
.fa-plus-circle:before {
	content: "U";
}
.fa-minus-circle:before {
	content: "V";
}
.fa-times-circle:before {
	content: "W";
}
.fa-check-circle:before {
	content: "X";
}
.fa-question-circle:before {
	content: "Y";
}
.fa-info-circle:before {
	content: "Z";
}
.fa-crosshairs:before {
	content: "[";
}
.fa-times-circle-o:before {
	content: "";
}
.fa-check-circle-o:before {
	content: "]";
}
.fa-ban:before {
	content: "^";
}
.fa-arrow-left:before {
	content: "`";
}
.fa-arrow-right:before {
	content: "a";
}
.fa-arrow-up:before {
	content: "b";
}
.fa-arrow-down:before {
	content: "c";
}
.fa-mail-forward:before, .fa-share:before {
	content: "d";
}
.fa-expand:before {
	content: "e";
}
.fa-compress:before {
	content: "f";
}
.fa-plus:before {
	content: "g";
}
.fa-minus:before {
	content: "h";
}
.fa-asterisk:before {
	content: "i";
}
.fa-exclamation-circle:before {
	content: "j";
}
.fa-gift:before {
	content: "k";
}
.fa-leaf:before {
	content: "l";
}
.fa-fire:before {
	content: "m";
}
.fa-eye:before {
	content: "n";
}
.fa-eye-slash:before {
	content: "p";
}
.fa-warning:before, .fa-exclamation-triangle:before {
	content: "q";
}
.fa-plane:before {
	content: "r";
}
.fa-calendar:before {
	content: "s";
}
.fa-random:before {
	content: "t";
}
.fa-comment:before {
	content: "u";
}
.fa-magnet:before {
	content: "v";
}
.fa-chevron-up:before {
	content: "w";
}
.fa-chevron-down:before {
	content: "x";
}
.fa-retweet:before {
	content: "y";
}
.fa-shopping-cart:before {
	content: "z";
}
.fa-folder:before {
	content: "{";
}
.fa-folder-open:before {
	content: "|";
}
.fa-arrows-v:before {
	content: "}";
}
.fa-arrows-h:before {
	content: "~";
}
.fa-bar-chart-o:before {
	content: "";
}
.fa-twitter-square:before {
	content: "";
}
.fa-facebook-square:before {
	content: "";
}
.fa-camera-retro:before {
	content: "";
}
.fa-key:before {
	content: "";
}
.fa-gears:before, .fa-cogs:before {
	content: "";
}
.fa-comments:before {
	content: "";
}
.fa-thumbs-o-up:before {
	content: "";
}
.fa-thumbs-o-down:before {
	content: "";
}
.fa-star-half:before {
	content: "";
}
.fa-heart-o:before {
	content: "";
}
.fa-sign-out:before {
	content: "";
}
.fa-linkedin-square:before {
	content: "";
}
.fa-thumb-tack:before {
	content: "";
}
.fa-external-link:before {
	content: "";
}
.fa-sign-in:before {
	content: "";
}
.fa-trophy:before {
	content: "";
}
.fa-github-square:before {
	content: "";
}
.fa-upload:before {
	content: "";
}
.fa-lemon-o:before {
	content: "";
}
.fa-phone:before {
	content: "";
}
.fa-square-o:before {
	content: "";
}
.fa-bookmark-o:before {
	content: "";
}
.fa-phone-square:before {
	content: "";
}
.fa-twitter:before {
	content: "";
}
.fa-facebook:before {
	content: "";
}
.fa-github:before {
	content: "";
}
.fa-unlock:before {
	content: "";
}
.fa-credit-card:before {
	content: "";
}
.fa-rss:before {
	content: "";
}
.fa-hdd-o:before {
	content: " ";
}
.fa-bullhorn:before {
	content: "¡";
}
.fa-bell:before {
	content: "ó";
}
.fa-certificate:before {
	content: "£";
}
.fa-hand-o-right:before {
	content: "¤";
}
.fa-hand-o-left:before {
	content: "¥";
}
.fa-hand-o-up:before {
	content: "¦";
}
.fa-hand-o-down:before {
	content: "§";
}
.fa-arrow-circle-left:before {
	content: "¨";
}
.fa-arrow-circle-right:before {
	content: "©";
}
.fa-arrow-circle-up:before {
	content: "ª";
}
.fa-arrow-circle-down:before {
	content: "«";
}
.fa-globe:before {
	content: "¬";
}
.fa-wrench:before {
	content: "­";
}
.fa-tasks:before {
	content: "®";
}
.fa-filter:before {
	content: "°";
}
.fa-briefcase:before {
	content: "±";
}
.fa-arrows-alt:before {
	content: "²";
}
.fa-group:before, .fa-users:before {
	content: "À";
}
.fa-chain:before, .fa-link:before {
	content: "Á";
}
.fa-cloud:before {
	content: "Â";
}
.fa-flask:before {
	content: "Ã";
}
.fa-cut:before, .fa-scissors:before {
	content: "Ä";
}
.fa-copy:before, .fa-files-o:before {
	content: "Å";
}
.fa-paperclip:before {
	content: "Æ";
}
.fa-save:before, .fa-floppy-o:before {
	content: "Ç";
}
.fa-square:before {
	content: "È";
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	content: "É";
}
.fa-list-ul:before {
	content: "Ê";
}
.fa-list-ol:before {
	content: "Ë";
}
.fa-strikethrough:before {
	content: "Ì";
}
.fa-underline:before {
	content: "Í";
}
.fa-table:before {
	content: "Î";
}
.fa-magic:before {
	content: "Ð";
}
.fa-truck:before {
	content: "Ñ";
}
.fa-pinterest:before {
	content: "Ò";
}
.fa-pinterest-square:before {
	content: "Ó";
}
.fa-google-plus-square:before {
	content: "Ô";
}
.fa-google-plus:before {
	content: "Õ";
}
.fa-money:before {
	content: "Ö";
}
.fa-caret-down:before {
	content: "×";
}
.fa-caret-up:before {
	content: "Ø";
}
.fa-caret-left:before {
	content: "Ù";
}
.fa-caret-right:before {
	content: "Ú";
}
.fa-columns:before {
	content: "Û";
}
.fa-unsorted:before, .fa-sort:before {
	content: "Ü";
}
.fa-sort-down:before, .fa-sort-desc:before {
	content: "Ý";
}
.fa-sort-up:before, .fa-sort-asc:before {
	content: "Þ";
}
.fa-envelope:before {
	content: "à";
}
.fa-linkedin:before {
	content: "á";
}
.fa-rotate-left:before, .fa-undo:before {
	content: "â";
}
.fa-legal:before, .fa-gavel:before {
	content: "ã";
}
.fa-dashboard:before, .fa-tachometer:before {
	content: "ä";
}
.fa-comment-o:before {
	content: "å";
}
.fa-comments-o:before {
	content: "æ";
}
.fa-flash:before, .fa-bolt:before {
	content: "ç";
}
.fa-sitemap:before {
	content: "è";
}
.fa-umbrella:before {
	content: "é";
}
.fa-paste:before, .fa-clipboard:before {
	content: "ê";
}
.fa-lightbulb-o:before {
	content: "ë";
}
.fa-exchange:before {
	content: "ì";
}
.fa-cloud-download:before {
	content: "í";
}
.fa-cloud-upload:before {
	content: "î";
}
.fa-user-md:before {
	content: "ð";
}
.fa-stethoscope:before {
	content: "ñ";
}
.fa-suitcase:before {
	content: "ò";
}
.fa-bell-o:before {
	content: "¢";
}
.fa-coffee:before {
	content: "ô";
}
.fa-cutlery:before {
	content: "õ";
}
.fa-file-text-o:before {
	content: "ö";
}
.fa-building-o:before {
	content: "÷";
}
.fa-hospital-o:before {
	content: "ø";
}
.fa-ambulance:before {
	content: "ù";
}
.fa-medkit:before {
	content: "ú";
}
.fa-fighter-jet:before {
	content: "û";
}
.fa-beer:before {
	content: "ü";
}
.fa-h-square:before {
	content: "ý";
}
.fa-plus-square:before {
	content: "þ";
}
.fa-angle-double-left:before {
	content: "";
}
.fa-angle-double-right:before {
	content: "";
}
.fa-angle-double-up:before {
	content: "";
}
.fa-angle-double-down:before {
	content: "";
}
.fa-angle-left:before {
	content: "";
}
.fa-angle-right:before {
	content: "";
}
.fa-angle-up:before {
	content: "";
}
.fa-angle-down:before {
	content: "";
}
.fa-desktop:before {
	content: "";
}
.fa-laptop:before {
	content: "";
}
.fa-tablet:before {
	content: "";
}
.fa-mobile-phone:before, .fa-mobile:before {
	content: "";
}
.fa-circle-o:before {
	content: "";
}
.fa-quote-left:before {
	content: "";
}
.fa-quote-right:before {
	content: "";
}
.fa-spinner:before {
	content: "";
}
.fa-circle:before {
	content: "";
}
.fa-mail-reply:before, .fa-reply:before {
	content: "";
}
.fa-github-alt:before {
	content: "";
}
.fa-folder-o:before {
	content: "";
}
.fa-folder-open-o:before {
	content: "";
}
.fa-smile-o:before {
	content: "";
}
.fa-frown-o:before {
	content: "";
}
.fa-meh-o:before {
	content: "";
}
.fa-gamepad:before {
	content: "";
}
.fa-keyboard-o:before {
	content: "";
}
.fa-flag-o:before {
	content: "";
}
.fa-flag-checkered:before {
	content: "";
}
.fa-terminal:before {
	content: "";
}
.fa-code:before {
	content: "";
}
.fa-mail-reply-all:before, .fa-reply-all:before {
	content: "";
}
.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
	content: "";
}
.fa-location-arrow:before {
	content: "";
}
.fa-crop:before {
	content: "";
}
.fa-code-fork:before {
	content: "";
}
.fa-unlink:before, .fa-chain-broken:before {
	content: "";
}
.fa-question:before {
	content: "";
}
.fa-info:before {
	content: "";
}
.fa-exclamation:before {
	content: "";
}
.fa-superscript:before {
	content: "";
}
.fa-subscript:before {
	content: "";
}
.fa-eraser:before {
	content: "";
}
.fa-puzzle-piece:before {
	content: "";
}
.fa-microphone:before {
	content: "";
}
.fa-microphone-slash:before {
	content: "";
}
.fa-shield:before {
	content: "";
}
.fa-calendar-o:before {
	content: "";
}
.fa-fire-extinguisher:before {
	content: "";
}
.fa-rocket:before {
	content: "";
}
.fa-maxcdn:before {
	content: "";
}
.fa-chevron-circle-left:before {
	content: "";
}
.fa-chevron-circle-right:before {
	content: "";
}
.fa-chevron-circle-up:before {
	content: "";
}
.fa-chevron-circle-down:before {
	content: "";
}
.fa-html5:before {
	content: "";
}
.fa-css3:before {
	content: "";
}
.fa-anchor:before {
	content: "";
}
.fa-unlock-alt:before {
	content: "";
}
.fa-bullseye:before {
	content: "";
}
.fa-ellipsis-h:before {
	content: "";
}
.fa-ellipsis-v:before {
	content: "";
}
.fa-rss-square:before {
	content: "";
}
.fa-play-circle:before {
	content: "";
}
.fa-ticket:before {
	content: "";
}
.fa-minus-square:before {
	content: "";
}
.fa-minus-square-o:before {
	content: "";
}
.fa-level-up:before {
	content: "";
}
.fa-level-down:before {
	content: "";
}
.fa-check-square:before {
	content: "";
}
.fa-pencil-square:before {
	content: "";
}
.fa-external-link-square:before {
	content: "";
}
.fa-share-square:before {
	content: "";
}
.fa-compass:before {
	content: "";
}
.fa-toggle-down:before, .fa-caret-square-o-down:before {
	content: "";
}
.fa-toggle-up:before, .fa-caret-square-o-up:before {
	content: "";
}
.fa-toggle-right:before, .fa-caret-square-o-right:before {
	content: "";
}
.fa-euro:before, .fa-eur:before {
	content: "";
}
.fa-gbp:before {
	content: "";
}
.fa-dollar:before, .fa-usd:before {
	content: "";
}
.fa-rupee:before, .fa-inr:before {
	content: "";
}
.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
	content: "";
}
.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
	content: "";
}
.fa-won:before, .fa-krw:before {
	content: "";
}
.fa-bitcoin:before, .fa-btc:before {
	content: "";
}
.fa-file:before {
	content: "";
}
.fa-file-text:before {
	content: "";
}
.fa-sort-alpha-asc:before {
	content: "";
}
.fa-sort-alpha-desc:before {
	content: "";
}
.fa-sort-amount-asc:before {
	content: "";
}
.fa-sort-amount-desc:before {
	content: "";
}
.fa-sort-numeric-asc:before {
	content: "";
}
.fa-sort-numeric-desc:before {
	content: "";
}
.fa-thumbs-up:before {
	content: "";
}
.fa-thumbs-down:before {
	content: "";
}
.fa-youtube-square:before {
	content: "";
}
.fa-youtube:before {
	content: "";
}
.fa-xing:before {
	content: "";
}
.fa-xing-square:before {
	content: "";
}
.fa-youtube-play:before {
	content: "";
}
.fa-dropbox:before {
	content: "";
}
.fa-stack-overflow:before {
	content: "";
}
.fa-instagram:before {
	content: "";
}
.fa-flickr:before {
	content: "";
}
.fa-adn:before {
	content: "";
}
.fa-bitbucket:before {
	content: "";
}
.fa-bitbucket-square:before {
	content: "";
}
.fa-tumblr:before {
	content: "";
}
.fa-tumblr-square:before {
	content: "";
}
.fa-long-arrow-down:before {
	content: "";
}
.fa-long-arrow-up:before {
	content: "";
}
.fa-long-arrow-left:before {
	content: "";
}
.fa-long-arrow-right:before {
	content: "";
}
.fa-apple:before {
	content: "";
}
.fa-windows:before {
	content: "";
}
.fa-android:before {
	content: "";
}
.fa-linux:before {
	content: "";
}
.fa-dribbble:before {
	content: "";
}
.fa-skype:before {
	content: "";
}
.fa-foursquare:before {
	content: "";
}
.fa-trello:before {
	content: "";
}
.fa-female:before {
	content: "";
}
.fa-male:before {
	content: "";
}
.fa-gittip:before {
	content: "";
}
.fa-sun-o:before {
	content: "";
}
.fa-moon-o:before {
	content: "";
}
.fa-archive:before {
	content: "";
}
.fa-bug:before {
	content: "";
}
.fa-vk:before {
	content: "";
}
.fa-weibo:before {
	content: "";
}
.fa-renren:before {
	content: "";
}
.fa-pagelines:before {
	content: "";
}
.fa-stack-exchange:before {
	content: "";
}
.fa-arrow-circle-o-right:before {
	content: "";
}
.fa-arrow-circle-o-left:before {
	content: "";
}
.fa-toggle-left:before, .fa-caret-square-o-left:before {
	content: "";
}
.fa-dot-circle-o:before {
	content: "";
}
.fa-wheelchair:before {
	content: "";
}
.fa-vimeo-square:before {
	content: "";
}
.fa-turkish-lira:before, .fa-try:before {
	content: "";
}
.fa-plus-square-o:before {
	content: "";
}
.fa-space-shuttle:before {
	content: "";
}
.fa-slack:before {
	content: "";
}
.fa-envelope-square:before {
	content: "";
}
.fa-wordpress:before {
	content: "";
}
.fa-openid:before {
	content: "";
}
.fa-institution:before, .fa-bank:before, .fa-university:before {
	content: "";
}
.fa-mortar-board:before, .fa-graduation-cap:before {
	content: "";
}
.fa-yahoo:before {
	content: "";
}
.fa-google:before {
	content: "";
}
.fa-reddit:before {
	content: "";
}
.fa-reddit-square:before {
	content: "";
}
.fa-stumbleupon-circle:before {
	content: "";
}
.fa-stumbleupon:before {
	content: "";
}
.fa-delicious:before {
	content: "";
}
.fa-digg:before {
	content: "";
}
.fa-pied-piper-square:before, .fa-pied-piper:before {
	content: "";
}
.fa-pied-piper-alt:before {
	content: "";
}
.fa-drupal:before {
	content: "";
}
.fa-joomla:before {
	content: "";
}
.fa-language:before {
	content: "";
}
.fa-fax:before {
	content: "";
}
.fa-building:before {
	content: "";
}
.fa-child:before {
	content: "";
}
.fa-paw:before {
	content: "";
}
.fa-spoon:before {
	content: "";
}
.fa-cube:before {
	content: "";
}
.fa-cubes:before {
	content: "";
}
.fa-behance:before {
	content: "";
}
.fa-behance-square:before {
	content: "";
}
.fa-steam:before {
	content: "";
}
.fa-steam-square:before {
	content: "";
}
.fa-recycle:before {
	content: "";
}
.fa-automobile:before, .fa-car:before {
	content: "";
}
.fa-cab:before, .fa-taxi:before {
	content: "";
}
.fa-tree:before {
	content: "";
}
.fa-spotify:before {
	content: "";
}
.fa-deviantart:before {
	content: "";
}
.fa-soundcloud:before {
	content: "";
}
.fa-database:before {
	content: "";
}
.fa-file-pdf-o:before {
	content: "";
}
.fa-file-word-o:before {
	content: "";
}
.fa-file-excel-o:before {
	content: "";
}
.fa-file-powerpoint-o:before {
	content: "";
}
.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
	content: "";
}
.fa-file-zip-o:before, .fa-file-archive-o:before {
	content: "";
}
.fa-file-sound-o:before, .fa-file-audio-o:before {
	content: "";
}
.fa-file-movie-o:before, .fa-file-video-o:before {
	content: "";
}
.fa-file-code-o:before {
	content: "";
}
.fa-vine:before {
	content: "";
}
.fa-codepen:before {
	content: "";
}
.fa-jsfiddle:before {
	content: "";
}
.fa-life-bouy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
	content: "";
}
.fa-circle-o-notch:before {
	content: "";
}
.fa-ra:before, .fa-rebel:before {
	content: "";
}
.fa-ge:before, .fa-empire:before {
	content: "";
}
.fa-git-square:before {
	content: "";
}
.fa-git:before {
	content: "";
}
.fa-hacker-news:before {
	content: "";
}
.fa-tencent-weibo:before {
	content: "";
}
.fa-qq:before {
	content: "";
}
.fa-wechat:before, .fa-weixin:before {
	content: "";
}
.fa-send:before, .fa-paper-plane:before {
	content: "";
}
.fa-send-o:before, .fa-paper-plane-o:before {
	content: "";
}
.fa-history:before {
	content: "";
}
.fa-circle-thin:before {
	content: "";
}
.fa-header:before {
	content: "";
}
.fa-paragraph:before {
	content: "";
}
.fa-sliders:before {
	content: "";
}
.fa-share-alt:before {
	content: "";
}
.fa-share-alt-square:before {
	content: "";
}
.fa-bomb:before {
	content: "";
}