<div class="content-container" ng-controller="CreatePartnerController">
	<ul class="breadcrumb">
		<li><a href="#/partner" data-ng-click="reset123()">{{'label.partner'
				| translate}}</a></li>
		<li class="active">{{'label.createpartner' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h3>{{'label.createpartner' | translate}}</h3>
			</div>
			<br>
			<form name="createpartnerform" novalidate class="form-horizontal"
				data-ng-submit="submit()">
				<api-validate></api-validate>
				<fieldset>
					<div class="form-group">
						<label class="control-label col-sm-2">{{
							'label.partnername' | translate }}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="text" id="partnerName" name="partnerName"
								class="form-control" data-ng-model="formData.partnerName"
								data-ng-pattern="/^[a-zA-Z0-9\-\&\s]+$/" required
								data-ng-minlength=3 data-late-Validate /><span
								data-ng-show="createpartnerform.partnerName.$invalid"> <small
								class="error"
								data-ng-show="createpartnerform.partnerName.$error.pattern">alphanumeric
									and spaces only!</small> <small class="error"
								data-ng-show="createpartnerform.partnerName.$error.req">{{'label.required.field'
									| translate}} </small> <small class="error"
								data-ng-show="createpartnerform.partnerName.$error.minlength && !createpartnerform.partnerName.$error.req">
									Partner Name is require at least 3 characters</small>
							</span>
						</div>
						<label class="control-label col-sm-2" for="contactName">Contact
							Name</label>
						<div class="col-sm-3">
							<input type="text" class="form-control"
								data-ng-model="formData.contactName" id="contactName"
								name="contactName">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.loginname'
							|translate }}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="text" id="loginName || username" name="loginName"
								class="form-control" data-ng-model="formData.loginName"
								data-ng-pattern="/^[a-zA-Z0-9\-\&\s]+$/" required
								data-ng-minlength=3 data-late-Validate /><span
								data-ng-show="createpartnerform.loginName.$invalid"> <small
								class="error"
								data-ng-show="createpartnerform.loginName.$error.pattern">alphanumeric
									and spaces only!</small> <small class="error"
								data-ng-show="createpartnerform.loginName.$error.req">{{'label.required.field'
									| translate}} </small> <small class="error"
								data-ng-show="createpartnerform.loginName.$error.minlength && !createpartnerform.loginName.$error.req">
									Login Name is require at least 3 characters</small>
							</span>
						</div>
						<label class="control-label col-sm-2" for="officeNumber">{{'label.officephone'
							| translate}}</label>
						<div class="col-sm-3">
							<input type="text" id="officeNumber" name="officeNumber"
								class="form-control" data-ng-model="formData.officeNumber"
								maxlength="15"
								data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/"
								name="phone" />
							<div
								data-ng-show="createpartnerform.officeNumber.$dirty && createpartnerform.officeNumber.$invalid">
								<small class="error"
									data-ng-show="createpartnerform.officeNumber.$error.pattern">{{'error.invalid.phone.validation'
									| translate}}</small>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.password'
							|translate }}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="password" name="password" id="password"
								class="form-control" data-ng-model="formData.password"
								data-ng-minlength=4 data-late-Validate> <span
								data-ng-show="createpartnerform.password.$invalid"> <small
								class="error"
								data-ng-show="createpartnerform.password.$error.pattern">alphanumeric
									and spaces only!</small> <small class="error"
								data-ng-show="createpartnerform.password.$error.req">{{'label.required.field'
									| translate}} </small> <small class="error"
								data-ng-show="createpartnerform.password.$error.minlength && !createpartnerform.password.$error.req">
									Password is require at least 4 characters</small>
							</span>
						</div>
						<label class="control-label col-sm-2" for="phoneNumber">{{'label.phone'
							| translate}}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="text" id="phoneNumber" class="form-control"
								data-ng-model="formData.phoneNumber" maxlength="15"
								data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/"
								name="phoneNumber" required data-late-Validate />
							<div
								data-ng-show="createpartnerform.phoneNumber.$dirty && createpartnerform.phoneNumber.$invalid">
								<small class="error"
									data-ng-show="createpartnerform.phoneNumber.$error.pattern">{{'error.invalid.phone.validation'
									| translate}}</small>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2">{{
							'label.repeatPassword' |translate }}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="password" name="repeatPassword" id="repeatPassword"
								class="form-control" data-ng-model="formData.repeatPassword"
								data-ng-minlength=4 data-late-Validate><span
								data-ng-show="createpartnerform.repeatPassword.$invalid">
								<small class="error"
								data-ng-show="createpartnerform.repeatPassword.$error.pattern">alphanumeric
									and spaces only!</small> <small class="error"
								data-ng-show="createpartnerform.repeatPassword.$error.req">{{'label.required.field'
									| translate}} </small> <small class="error"
								data-ng-show="createpartnerform.repeatPassword.$error.minlength && !createpartnerform.repeatPassword.$error.req">
									Repeat Password is require at least 4 characters</small>
							</span>
						</div>
						<label class="control-label col-sm-2">{{ 'label.email' |
							translate }}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="email" id="email" class="form-control"
								data-ng-model="formData.email">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2">{{
							'label.parentorganization' | translate }}</label>
						<div class="col-sm-3">
							<select data-ng-model="formData.parentId" class="form-control"
								data-ng-options="office.id as office.name for office in offices  | orderBy:'id'"></select>
						</div>
						<label class="control-label col-sm-2" for="city">{{'label.city/area'
							| translate}}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="text" id="city" name="city" class="form-control"
								data-ng-model="formData.city" autocomplete="off" list="citylist"
								data-ng-change="getStateAndCountry(formData.city)" required />
						</div>
						<datalist id="citylist">
							<option data-ng-repeat="cityData in cityDatas"
								value="{{cityData}}">
						</datalist>
					</div>

					<div class="form-group">
						 <label class="control-label col-sm-2">{{ 'label.orgopenedon' | translate }}<span
    		                        class="required">*</span></label>
    		                <div class="col-sm-3">
    		                    <input id="openingDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date"
    		                           class="form-control" is-open="opened" min="minDate" max="restrictDate"/>
    		                </div> 
						
						 <label class="control-label col-sm-2" for="district">{{'label.district'
							|translate}}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="text" id="district" class="form-control"
								data-ng-model="formData.district" readonly required />
						</div>
					</div>

					<div class="form-group">
    		               <label class="control-label col-sm-2">{{ 'label.businesstype' | translate }}</label>
                  			<div class="col-sm-3">
                    			<!-- <select data-ng-model="formData.bussinessType"  class="form-control"
                    				data-ng-options="bussinessType.id as bussinessType.name for bussinessType in bussinessTypes"></select> -->
                    			<select data-ng-model="formData.businessType"  class="form-control"
                    				    data-ng-options="businessType.mCodeValue as businessType.mCodeValue for businessType in businessTypes">
                    		            <option value="">{{'label.select.one' | translate}}</option>
                    		    </select>
                    		    </div>
						
						<label class="control-label col-sm-2" for="state">{{'label.state'
							|translate}}<span class="required">*</span>
						      </label>
						    <div class="col-sm-3">
							<input type="text" id="state" class="form-control"
								data-ng-model="formData.state" readonly required />
						
					</div>
					</div>
					
					<div class="form-group">
						  <label class="control-label col-sm-2">{{ 'label.orgcode' | translate }}</label>
    		                <div class="col-sm-3">
    		                    <input id="externalId" type="text" name="externalId" class="form-control" ng-model="formData.externalId" data-ng-minlength="3" data-ng-maxlength="15">
    		                    <span data-ng-show="createofficeform.externalId.$dirty && createofficeform.externalId.$invalid">
    			                  	<small class="error" data-ng-show="createofficeform.externalId.$error.minlength">{{'org.code.require.atleast.3.characters'| translate}}</small>
    			                  	<small class="error" data-ng-show="createofficeform.externalId.$error.maxlength">{{'org.code.should.not.exceed.15.characters'| translate}}</small>
					            </span>
    		                </div>
                    		   
                    		   <label class="control-label col-sm-2" for="country">{{'label.country'|
							translate}}<span class="required">*</span>
								</label>
						<div class="col-sm-3">
							<input type="text" id="country" name="country"
								class="form-control" data-ng-model="formData.country" readonly
								required />
						</div>
					</div>
					<div class="form-group">
					<label class="control-label col-sm-2">{{ 'label.orgtype' | translate }}</label>
                  			<div class="col-sm-3">
                    			<select data-ng-model="formData.officeType"  class="form-control"
                    				data-ng-options="officeType.name as officeType.name for officeType in officeTypes"></select>
                  			</div>
    		                     <label class="control-label col-sm-2" for="file">{{'label.company.image'|
							translate}}</label>
						<div class="col-sm-3">
							<input type="file" data-ng-file-select="onFileSelect($files)">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="currency">{{'label.currency'
							| translate }}<span class="required">*</span>
						   </label>
						<div class="col-sm-3">
							<!-- <select id="currency" data-ng-model="formData.currency" class="form-control"
								data-ng-options="currencydata.code as currencydata.name for currencydata in currencydatas"
								data-value="{{currencydata.code}}"><option value="">{{'label.select.one' | translate}}</option>
							</select> -->
							<select id="currency" data-ng-model="formData.currency"
								class="form-control"
								data-ng-options="currencydata.code as currencydata.name for currencydata in currencydatas"
								data-value="{{currencydata.code}}"><option value="">{{'label.select.one'
									| translate}}</option>
							</select>
						</div>
    		        </div>
					<div class="col-md-offset-3 pull-right">
						<a href="#/offices"><button id="cancel" type="reset"
								data-ng-click="reset123()" class="btn btn-warning">{{'button.cancel'|
								translate}}</button></a>
						<button id="submit" type="submit"
							data-ng-disabled="!createpartnerform.$valid"
							class="btn btn-primary">{{'label.save' | translate }}</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>