<div class="content-container" data-ng-controller="EditPartnerController">
    <ul class="breadcrumb">
		<li><a href="#/partner" data-ng-click="reset123()">{{'label.partner' | translate}}</a></li>
		 <li><a href="#/viewpartner/{{partnerId}}/{{officeId}}">{{partnerName}}</a></li>
		<li class="active">{{'label.editpartner' | translate}}</li>
	</ul>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h3>{{'label.editpartner' | translate}}</h3>
    		</div>
    		<br>
    			<form name="editpartnerform" class="form-horizontal" novalidate  data-ng-submit="submit()">
					<api-validate></api-validate>
					<fieldset>
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.partnername' | translate }}<span class="required">*</span></label>
						<div class="col-sm-3">
							<input type="text" id=partnerName name="partnerName" class="form-control" data-ng-model="formData.partnerName" 
								data-ng-pattern="/^[a-zA-Z0-9\-\&\s]+$/" required data-ng-minlength=3 data-late-Validate/>
							 <span data-ng-show="editpartnerform.partnerName.$invalid">
								<small class="error" data-ng-show="editpartnerform.partnerName.$error.pattern">alphanumeric and spaces only!</small> 
								<small class="error" data-ng-show="editpartnerform.partnerName.$error.req">{{'label.required.field' | translate}} </small> 
								<small class="error" data-ng-show="editpartnerform.partnerName.$error.minlength && !editpartnerform.partnerName.$error.req">
									      Partner Name is required at least 3 characters</small>
							</span>
						</div>
						<label class="control-label col-sm-2">{{ 'label.email' | translate }}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="email" id="email" class="form-control" data-ng-model="formData.email">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.loginname' |translate }}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="text" id="loginName" name="loginName||username" class="form-control" data-ng-model="formData.loginName" 
								data-ng-pattern="/^[a-zA-Z0-9\-\&\s]+$/" required data-ng-minlength=3 data-late-Validate/>
						     <span data-ng-show="editpartnerform.loginName.$invalid">
								<small class="error" data-ng-show="editpartnerform.loginName.$error.pattern">alphanumeric and spaces only!</small> 
								<small class="error" data-ng-show="editpartnerform.loginName.$error.req">{{'label.required.field' | translate}} </small> 
								<small class="error" data-ng-show="editpartnerform.loginName.$error.minlength && !editpartnerform.loginName.$error.req">
									   Login Name is required at least 3 characters</small>
							</span>
						</div>
						<label class="control-label col-sm-2" for="phoneNumber">{{'label.mobilephone' | translate}}<span class="required">*</span></label>
						<div class="col-sm-3">
							<input type="text" id="phoneNumber" data-ng-model="formData.phoneNumber" maxlength="15" class="form-control"
								data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/"
								name="phone" required data-late-Validate />
							<div
								data-ng-show="editpartnerform.phoneNumber.$dirty && editpartnerform.phoneNumber.$invalid">
								<small class="error" data-ng-show="editpartnerform.phoneNumber.$error.pattern">{{'error.invalid.phone.validation' | translate}}</small>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.parentoffice' | translate }}</label>
						<div class="col-sm-3">
							<select data-ng-model="formData.parentId" class="form-control" data-ng-options="office.id as office.name for office in offices "></select>
						</div>
						<label class="control-label col-sm-2" for="officeNumber">{{'label.officephone' | translate}}</label>
						<div class="col-sm-3">
							<input type="text" id="officeNumber" class="form-control" data-ng-model="formData.officeNumber" maxlength="15"
								data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/"
								name="officeNumber"  />
							<div
								data-ng-show="editpartnerform.officeNumber.$dirty && editpartnerform.officeNumber.$invalid">
								<small class="error" data-ng-show="editpartnerform.officeNumber.$error.pattern">{{'error.invalid.phone.validation' | translate}}</small>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.contact.name' | translate }}
						</label>
						<div class="col-sm-3">
							<input type="text" id="contactName" class="form-control" data-ng-model="formData.contactName">
						</div>
						<label class="control-label col-sm-2" for="city">{{'label.city/area' | translate}}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="text" id="city" name="city" class="form-control" data-ng-model="formData.city" autocomplete="off" list="citylist"
								data-ng-change="getStateAndCountry(formData.city)" required />
						</div>
						<datalist id="citylist">
                   					<option  data-ng-repeat="cityData in cityDatas" value="{{cityData}}">
            			</datalist>
					</div>
					
					<div class="form-group">
						<!-- <label class="control-label col-sm-2">{{ 'label.orgcode' | translate }}</label>
    		                <div class="col-sm-3">
    		                    <input id="externalId" type="text" name="externalId" class="form-control" ng-model="formData.externalId" data-ng-minlength="3" data-ng-maxlength="15">
    		                    <span data-ng-show="createofficeform.externalId.$dirty && createofficeform.externalId.$invalid">
    			                  	<small class="error" data-ng-show="createofficeform.externalId.$error.minlength">{{'org.code.require.atleast.3.characters'| translate}}</small>
    			                  	<small class="error" data-ng-show="createofficeform.externalId.$error.maxlength">{{'org.code.should.not.exceed.15.characters'| translate}}</small>
					            </span>
    		                </div> -->
    		                <label class="control-label col-sm-2">{{ 'label.businesstype' | translate }}</label>
                  			<div class="col-sm-3">
                    			<!-- <select data-ng-model="formData.bussinessType"  class="form-control"
                    				data-ng-options="bussinessType.id as bussinessType.name for bussinessType in bussinessTypes"></select> -->
                    			<select data-ng-model="formData.businessType"  class="form-control"
                    				    data-ng-options="businessType.mCodeValue as businessType.mCodeValue for businessType in businessTypes">
                    		            <option value="">{{'label.select.one' | translate}}</option>
                    		    </select>
                    		    </div>
    		                
						 <label class="control-label col-sm-2" for="district">{{'label.district'
							|translate}}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="text" id="district" class="form-control"
								data-ng-model="formData.district" readonly required />
						</div>
					</div>
						
					<div class="form-group">
						 <label class="control-label col-sm-2">{{ 'label.orgopenedon' | translate }}<span
    		                        class="required">*</span></label>
    		                <div class="col-sm-3">
    		                    <input id="openingDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date"
    		                           class="form-control" is-open="opened" min="minDate" max="restrictDate"/>
    		                </div>
						<label class="control-label col-sm-2" for="state">{{'label.state' |translate}}<span class="required">*</span></label>
						<div class="col-sm-3">
							<input type="text" id="state" class="form-control" data-ng-model="formData.state" readonly required />
						</div> 
					</div>	
					<div class="form-group">
						  <label class="control-label col-sm-2">{{ 'label.orgcode' | translate }}</label>
    		                <div class="col-sm-3">
    		                    <input id="externalId" type="text" name="externalId" class="form-control" ng-model="formData.externalId" data-ng-minlength="3" data-ng-maxlength="15">
    		                    <span data-ng-show="createofficeform.externalId.$dirty && createofficeform.externalId.$invalid">
    			                  	<small class="error" data-ng-show="createofficeform.externalId.$error.minlength">{{'org.code.require.atleast.3.characters'| translate}}</small>
    			                  	<small class="error" data-ng-show="createofficeform.externalId.$error.maxlength">{{'org.code.should.not.exceed.15.characters'| translate}}</small>
					            </span>
    		                </div> 
                        <label class="control-label col-sm-2" for="country">{{'label.country'| translate}}<span class="required">*</span>
						</label>
						<div class="col-sm-3">
							<input type="text" id="country" name="country" class="form-control" data-ng-model="formData.country" readonly required />
						</div> 
					</div>
					
					<div class="form-group">
					<label class="control-label col-sm-2">{{ 'label.orgtype' | translate }}</label>
                  			<div class="col-sm-3">
                    			<select data-ng-model="formData.officeType"  class="form-control"
                    				data-ng-options="officeTyp.name as officeTyp.name for officeTyp in officeTypes"></select>
                  			</div>
    		                <label class="control-label col-sm-2" for="file">{{'label.company.image'| translate}}</label>
						   <div class="col-sm-3">
							<input type="file" data-ng-file-select="onFileSelect($files)">
						  </div>
					</div>
					
					
					<div class="form-group">
    		                <label class="control-label col-sm-2" for="currency">{{'label.currency' | translate }}<span class="required">*</span></label>
						<div class="col-sm-3">
							<select id="currency" data-ng-model="formData.currency" class="form-control"
								data-ng-options="currencydata.code as currencydata.name for currencydata in currencydatas"
								data-value="{{currencydata.code}}"><option value="">{{'label.select.one'| translate}}</option></select>
						</div>
    		        </div>
					
					<div class="col-md-offset-3 pull-right">
						<button id="cancel" data-ng-click="reset123(partnerId,officeId)"type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button>
						<button id="submit" type="submit" data-ng-disabled="!editpartnerform.$valid" class="btn btn-primary">{{'label.save' | translate }}</button>
					</div>
				</fieldset>
			</form>
    	</div>
    </div>
</div>

