<div class="content-container" data-ng-controller="EditPartnerAgreementController">
    <ul class="breadcrumb">
	    <li><a href="#/partner" data-ng-click="partnersTab()">{{'label.partner' | translate}}</a></li>
	    <li><a href="#/viewpartner/{{partnerId}}/{{officeId}}">{{partnerName}}</a></li>
	    <li class="active">{{'label.editpartneragreement' | translate}}</li>
    </ul>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h3>{{'label.editpartneragreement' | translate}}</h3>
    		</div>
    		<br>
    			<form name="partneragreement" novalidate class="form-horizontal"   data-ng-submit="submit()">
  					<api-validate></api-validate>
	 				<fieldset>
	 					<div>
	       	   				<div class="form-group">
	            				<label class="control-label col-sm-2" for="agreementStatus">{{'label.agreementstatus' | translate}}&nbsp;<span class="required">*</span></label>
	            				<div class="col-sm-3">
	              					<select id="agreementStatus" data-ng-model="formData.agreementStatus"  class="form-control"
	              						data-ng-options="agreementType.mCodeValue as agreementType.mCodeValue for agreementType in agreementTypes">
	              					</select>
	            				</div>
	       					</div>
	       					<div class="form-group">
            					<label class="control-label col-sm-2" for="startDate">{{'label.contreffectdate' | translate}}&nbsp;<span class="required">*</span></label>
            					<div class="col-sm-3">
              						<input type="text" id="startDate" data-datepicker-pop="dd MMMM yyyy" class="form-control" 
              							data-ng-model="formData.startDate" data-is-open="opened2" data-date-disabled="disabled(date, mode)"required 
              								data-late-Validate style="background-color:#FFFFFF;"  readonly/>
            					</div>	
          					</div>
      						<div class="form-group">
            					<label class="control-label col-sm-2" for="endDate">{{'label.contrenddate' | translate}}&nbsp;<span class="required">*</span></label>
            					<div class="col-sm-3">
              						<input type="text" id="endDate" data-datepicker-pop="dd MMMM yyyy" class="form-control"  
              							data-ng-model="formData.endDate" data-is-open="opened2" min="minDate" data-date-disabled="disabled(date, mode)"required 
              								data-late-Validate style="background-color:#FFFFFF;"  readonly/>
            					</div>	
          					</div>
     					</div>      
        				<div class="form-group">
                    		<div class="col-sm-4">
                				<h3>Add Source Category Data</h3>
                  					<button type="button" id="sourceData" data-ng-click="addSourceCategories()" class="btn btn-primary">
                  						<i class="fa fa-plus"></i></button>
                			</div>
           						<table class="table table-striped" data-ng-show="exitSourceData.length>0">
                    				<tr class="graybg">
					                      <th>{{'label.source' | translate}}</th>
					                      <th>{{'label.commissiontype' | translate}}</th>
					                      <th>{{'label.commissionrate' | translate}}</th>
                    				</tr>
                    				<tr data-ng-repeat="gd in exitSourceData track by $index" >
										  <td><select class="input-medium form-control" id="source" data-ng-model="gd.source" 
										  		data-ng-options="sourceData.id as sourceData.mCodeValue for sourceData in sourceDatas"></select></td>
										  <td><select class="input-medium form-control" id="shareType"  data-ng-model="gd.shareType" 
										  		data-ng-options="shareType.mCodeValue as shareType.mCodeValue for shareType in shareTypes"></select></td>
					                      <td><input  class="input-medium form-control" name="shareAmount" id="shareAmount" 
					                      		data-ng-model="gd.shareAmount" type="text"  maxlength="5" required ></td>
					                      <td><a data-ng-click="removeSourceCategories(gd.detailId,$index)"><i class="fa fa-times"></i></a></td>
                    				</tr>
                  				</table>
    					</div>           
			           <div class="col-md-offset-9 pull-right" >
				            <a href="#/viewpartner/{{partnerId}}/{{officeId}}" ><button type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a>
				            <button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
			          </div>
	 			</fieldset>
			</form>
    	</div>
    </div>
</div>

