<div class="content-container" ng-controller="CreateDiscountsController">
    <ul class="breadcrumb">
        <li>
            <a href="#/organization">{{'label.anchor.masters' | translate}}</a>
        </li>
        <li>
            <a href="#/discounts">{{'label.managediscounts' | translate}}</a>
        </li>
        <li class="active">{{'label.creatediscount' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.heading.creatediscount' | translate}}</h3>
        <form name="creatediscountsform" novalidate="" class="form-horizontal" rc-submit="submit()">
            <api-validate></api-validate>
            <div class="error" data-ng-show="errorStatus || errorDetails">
                <label data-ng-show="errorStatus">{{errorStatus}}</label>
                <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="discountCode">{{ 'label.discountCode' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="discountCode" name="discountCode" data-ng-model="formData.discountCode" class="form-control">
                            <span data-ng-show="creatediscountsform.discountCode.$dirty && creatediscountsform.discountCode.$invalid">
                                <small class="error-row" >{{'error.code.definition.length.validation'| translate}}</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="discountType">{{ 'label.discountType' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="discountType" class="form-control" data-ng-model="formData.discountType" data-ng-options="discounTypeData.mCodeValue as discounTypeData.mCodeValue for discounTypeData in discountTypeDatas">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="discountCode">{{ 'label.discountCode' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="discountDescription" data-ng-model="formData.discountDescription" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="discountStatus">{{ 'label.status' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="discountStatus" data-ng-model="formData.discountStatus" data-ng-options="discountStatus.value as discountStatus.value for discountStatus in statusDatas" class="form-control">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">{{ 'label.startDate' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="start.date" data-is-open="opened2" min="minDate" max="'2020-06-22'" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" class="form-control" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <h4>{{'label.discountdetails' | translate}}</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <select class="form-control" data-ng-model="discountPricesFormData.categoryId" data-ng-options="clientCategoryData.id as clientCategoryData.mCodeValue for clientCategoryData in clientCategoryDatas">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="discountRate" data-ng-model="discountPricesFormData.discountRate" placeholder="Discount Rate">
                        </td>
                        <td>
                            <a data-ng-click="addDiscountPrice()">&nbsp;<i class="fa fa-plus"></i></a>
                            <span data-ng-show="creatediscountsform.discountRate.$dirty && creatediscountsform.discountRate.$invalid">
                                <small class="error-row">{{'error.not.decimal.validation' | translate}}</small>
                            </span>
                        </td>
                    </tr>
                    <div class="table-responsive">
                        <table class="table table-striped" data-ng-show="discountPrices.length>0">
                            <tr class="graybg">
                                <th>{{'table.heading.customerCategory' | translate}}</th>
                                <th>{{'label.discountrate' | translate}}</th>
                            </tr>
                            <tr data-ng-repeat="discountPrice in discountPrices">
                                <td>
                                    <select class="form-control" data-ng-model="discountPrice.categoryId" data-ng-options="clientCategoryData.id as clientCategoryData.mCodeValue for clientCategoryData in clientCategoryDatas"></select>
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-ng-model="discountPrice.discountRate" placeholder="Price">
                                </td>
                                <td>
                                    <a data-ng-click="removeDiscountPrices($index)"><i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                 </div>
                </table>
            </div>
            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/discounts">
                        <button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" data-ng-disabled="creatediscountsform.$dirty && creatediscountsform.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
                </li>
            </ul>
        </form>
    </div>
</div>