<div class="content-container" ng-controller="EditDiscountsController">
    <ul class="breadcrumb">
        <li>
            <a href="#/organization">{{'label.anchor.masters' | translate}}</a>
            <span class="divider"></span>
        </li>
        <li>
            <a href="#/discounts">{{'label.managediscounts' | translate}}</a>
            <span class="divider"></span>
        </li>
        <li>
            <a href="#/viewdiscounts/{{discountdetail.id}}">{{discountdetail.discountCode}}</a>
            <span class="divider"></span>
        </li>
        <li class="active">{{'label.editdiscounts' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.heading.editdiscount' | translate}}</h3>

        <form name="editdiscountsform" novalidate="" class="form-horizontal" rc-submit="submit()">
            <api-validate></api-validate>
            <div class="error" data-ng-show="errorStatus || errorDetails">
                <label data-ng-show="errorStatus">{{errorStatus}}</label>
                <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate : error.args}}</label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="discountCode">{{'label.discountCode' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="discountCode" class="form-control" name="discountCode" data-ng-model="discountdetail.discountCode" data-ng-maxlength="{{'code' | CodeValidate}}">
                            <span data-ng-show="editdiscountsform.discountCode.$dirty && editdiscountsform.discountCode.$invalid">
									<small class="error-row" >{{'error.code.definition.length.validation'| translate}}</small>
								</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="discountType">{{'label.discountType' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="discountdetail.discountType" class="form-control" data-ng-options="discountTypeData.mCodeValue as discountTypeData.mCodeValue for discountTypeData in discountTypeDatas">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="discountDescription">{{'label.discountDescription' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="discountDescription" class="form-control" data-ng-model="discountdetail.discountDescription">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="discountStatus">{{ 'label.status' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="discountStatus" class="form-control" data-ng-model="formData.discountStatus" data-ng-options="discountStatus.value as discountStatus.value for discountStatus in statusDatas">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="discountStartDate">{{'label.startDate' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" data-datepicker-pop="dd MMMM yyyy" class="form-control" data-ng-model="start.startDate" data-is-open="opened2" min="minDate" max="'2020-06-22'" data-date-disabled="disabled(date, mode)" />
                        </div>
                    </div>
                </div>
            </div>

            <h4>{{'label.discountdetails' | translate}}</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <select class="form-control" data-ng-model="discountPricesFormData.categoryId" data-ng-options="clientCategoryData.id as clientCategoryData.mCodeValue for clientCategoryData in clientCategoryDatas">
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="discountRate" data-ng-model="discountPricesFormData.discountRate" placeholder="Discount Rate" data-ng-pattern="{{'decimal' | CodeValidate}}">
                        </td>
                        <td>
                            <a data-ng-click="addDiscountPrice()"><i class="fa fa-plus"></i></a>
                            <span data-ng-show="creatediscountsform.discountRate.$dirty && creatediscountsform.discountRate.$invalid"> <small class="error-row">{{'error.not.decimal.validation' | translate}}</small></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-width" data-ng-show="discountPrices.length>0">
                    <tr class="graybg">
                        <th>{{'table.heading.customerCategory' | translate}}</th>
                        <th colspan="2">{{'label.discountrate' | translate}}</th>
                    </tr>
                    <tr data-ng-repeat="discountPrice in discountPrices">
                        <td>
                            <select class="form-control" data-ng-model="discountPrice.categoryId" data-ng-options="clientCategoryData.id as clientCategoryData.mCodeValue for clientCategoryData in clientCategoryDatas">
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="text" data-ng-model="discountPrice.discountRate" placeholder="Price">
                        </td>
                        <td><a data-ng-click="removeDiscountPrices($index)"><i class="fa fa-times"></i></a></td>
                    </tr>
                </table>
            </div>

            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/viewdiscounts/{{discountIdForCancel}}">
                        <button id="cancel" type="reset" class="btn btn-warning">{{'label.cancel' |translate}}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" data-ng-disabled="editdiscountsform.$dirty && editdiscountsform.$invalid" class="btn btn-primary">{{'label.save'| translate}}</button>
                </li>
            </ul>
        </form>
    </div>
</div>