<div class="content-container" ng-controller="CreateItemController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.masters' | translate}}</a></li>
        <li><a href="#/items">{{'label.items' | translate}}</a>
            <li class="active">{{'label.create.new.item' | translate}}</li>
    </ul>
    <div class="widget">

        <h3>{{'label.create.new.item' | translate}}</h3>

        <form name="createitemform" class="form-horizontal" ng-submit="submit()">
            <api-validate></api-validate>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="itemCode">{{'label.itemcode' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="itemCode" name="itemCode" class="form-control" ng-model="formData.itemCode" data-ng-maxlength="10" />
                            <div data-ng-show="createitemform.itemCode.$dirty && createitemform.itemCode.$invalid">
                                <small class="error" data-ng-show="createitemform.itemCode.$error.maxlength">{{'error.itemcode.definition.length.validation'| translate}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="itemDescription">{{'label.itemdescription' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="itemDescription" class="form-control" ng-model="formData.itemDescription">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="itemClass">{{'label.itemclass' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="itemClass" ng-model="formData.itemClass" class="form-control" ng-options="itemClassData.id as itemClassData.value for itemClassData in itemClassDatas" value="{{itemClassData.value}}">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="units">{{'label.units' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="units" ng-model="formData.units" class="form-control" ng-options="unitData.value as unitData.value for unitData in unitDatas" value="{{unitData.value}}">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="chargeCode">{{'label.chargecode' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="chargeCode" ng-model="formData.chargeCode" class="form-control" ng-options="chargesData.chargeCode as getBothCharge(chargesData.chargeCode, chargesData.chargeDescription) for chargesData in chargesDatas" value="{{chargesData.chargeCode}}">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="reorderLevel">{{'label.reorderlevel' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="reorderLevel" name="reorderLevel" class="form-control" data-ng-model="formData.reorderLevel" data-ng-pattern="/^[0-9]/" />
                            <div data-ng-show="createitemform.reorderLevel.$dirty && createitemform.reorderLevel.$invalid">
                                <small class="error" data-ng-show="createitemform.reorderLevel.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="warranty">{{'label.warrantyperiod' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="warranty" name="warranty" class="form-control" data-ng-model="formData.warranty" data-ng-pattern="/^[0-9]/">
                            <span data-ng-show="createitemform.warranty.$dirty && createitemform.warranty.$invalid">
							<small class="error" data-ng-show="createitemform.warranty.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
						</span>
                        </div>
                        <div class="col-md-12">
                            <span><img src="../app/images/slash.jpg" width="8">{{'label.Month(s)' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="currencyId">{{'label.currencyid' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="currencyId" ng-model="formData.currencyId" ng-options="currencyData.id as getBothCurrency(currencyData.code,currencyData.name) for currencyData in currencyDatas" class="form-control">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="control-group">
					<label class="control-label" style="margin-top:10px" for="isProvisioning">{{ 'label.isprovisioning' | translate }}</label>
					<div class="col-sm-3">
							<label class="checkbox">
									<input type="checkbox" id="isProvisioning"  data-ng-model="formData.isProvisioning">
							</label>
					</div>
		</div> -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="defaultPrice">{{'label.defaultprice' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="defaultPrice" name="defaultPrice" class="form-control" data-ng-model="formData.unitPrice" data-ng-pattern="/^[0-9]/">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="isSelector">{{ 'label.isselector' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <label class="checkbox">
                                <input type="checkbox" id="isSelector" data-ng-model="formData.isSelector">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div ng-if="formData.isSelector">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="isSelectordesc">{{ 'label.selector' | translate }}</label>
                            </div>
                            <div class="col-md-8">
                                <textarea id="isSelectordesc" ng-model="formData.selectorDescription" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                                <a ng-click="selectorHelpPopup()" uib-popover="Help" data-popover-trigger="mouseenter" class="fa fa-question-circle-o fa-2x">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div ng-if="configurationData.enabled">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="supplierId">{{'label.supplier' | translate }}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <select id="supplierId" ng-model="formData.supplierId" ng-options="supplierData.id as getBothSup(supplierData.supplierCode,supplierData.supplierDescription) for supplierData in supplierDatas" value="{{supplierData.id}}">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>{{'label.valueprice' | translate}}</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <!-- <div class="col-sm-3"> -->
                        <td>
                            <input type="text" name="itemModel" data-ng-model="itemPricesFormData.regionId" class="form-control" placeholder="Item Model">
                        </td>
                        <!-- </div> -->
                        <!-- <div class="col-sm-3"> -->
                        <td>
                            <input type="text" name="price" data-ng-model="itemPricesFormData.price" class="form-control" placeholder="Price" data-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                        </td>
                        <!-- </div> -->
                        <!-- <div class="col-sm-1"> -->
                        <td><a data-ng-click="addItemPrice()"><i class="fa fa-plus"></i></a></td>
                        <!-- </div> -->
                        <!-- <div class="col-sm-3"> -->
                        <td>
                            <span data-ng-show="createitemform.price.$dirty && createitemform.price.$invalid">
							<small class="error" data-ng-show="createitemform.price.$error.pattern">{{'error.not.decimal.validation' | translate}}</small>
						</span>
                        </td>
                        <!-- </div> -->
                        <!-- </form> -->
                        <table class="table fullwidth table-striped" data-ng-show="itemPrices.length>0">
                            <tr class="graybg">
                                <th>{{'table.heading.regionName' | translate}}</th>
                                <th>{{'label.price' | translate}}</th>
                            </tr>
                            <tr data-ng-repeat="itemPrice in itemPrices">
                                <td>
                                    <input type="text" name="itemModel" data-ng-model="itemPrice.regionId" class="form-control" placeholder="Item Model">
                                </td>
                                <td>
                                    <input type="text" data-ng-model="itemPrice.price" class="form-control" placeholder="Price">
                                </td>
                                <td><a data-ng-click="removeItemPrices($index)"><i class="fa fa-times"></i></a></td>
                            </tr>
                        </table>
                    </tr>
                </table>
            </div>
            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/items">
                        <button id="cancel" type="reset" class="btn btn-warning" ng-click="reset123()">{{'button.cancel' | translate}}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" data-ng-disabled="createitemform.$dirty && createitemform.$invalid" class="btn btn-primary">{{'button.save' | translate}}</button>
                </li>
            </ul>

        </form>

    </div>
    <script type="text/ng-template" id="selectorHelpPopup.html">
        <div class="modal-header silver">
            <h3 class="bolder">Selector Details</h3>
        </div>
        <div class="modal-body modal-small">
            <form>
                <label class="control-label">
                    <input type="radio" ng-model="selector" value="selectorService" ng-change="selectorFun()"> {{'label.itemtype' | translate }}
                </label>
                <br/>
                <label class="control-label">
                    <input type="radio" ng-model="selector" value="selectorClient" ng-change="selectorFun()"> {{'label.clientcategory' | translate }}
                </label>
                <br/>
                <label class="control-label">
                    <input type="radio" ng-model="selector" value="selectorCity" ng-change="selectorFun()"> {{'label.city' | translate }}
                </label>
                <br/>
            </form>
        </div>
    </script>
</div>