<div class="content-container" ng-controller="CreateMessageController">
    <ul class="breadcrumb">
        <li>
            <a href="#/message">{{'label.managemessage' | translate}}</a>
            <span class="divider"></span>
        </li>
        <li class="active">{{'label.createmessage' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.heading.createmessage' | translate}}</h3>
        <form name="createmessage" novalidate="" class="form-horizontal" rc-submit="submit()">
            <api-validate></api-validate>
            <div class="error" data-ng-show="errorStatus || errorDetails">
                <label data-ng-show="errorStatus">{{errorStatus}}</label>
                <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="messageType">{{ 'label.message.messageType' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select id="messageType" data-ng-model="formData.messageType" class="form-control" data-ng-options="message.id as message.value for message in messageTypee">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="templateDescription">{{'label.message.templateDescription' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="templateDescription" class="form-control" data-ng-model="formData.templateDescription">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="subject"> {{ 'label.message.subject' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="subject" class="form-control" data-ng-model="formData.subject">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row " data-ng-hide="formData.messageType !='E'">
                        <div class="col-md-4">
                            <label class="control-label" for="header">{{'label.message.header' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="header" class="form-control" data-ng-model="formData.header">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row" data-ng-hide="formData.messageType !='E'">
                        <div class="col-md-4">
                            <label class="control-label" for="footer">{{ 'label.message.footer' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="footer" class="form-control" data-ng-model="formData.footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="body">{{ 'label.message.body' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <textarea data-ng-model="formData.body" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <h4>{{ 'label.message.addMessageParams' | translate }}</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                	<tbody>
                    <tr>
                        <td style="width: 30%">
                            <input class="form-control" type="text" data-ng-model="messageFormData.parameter">
                        </td>

                        <td><a data-ng-click="addMessage()"><i class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                  </tbody>
                </table>
     
                   <table class="table table-striped" data-ng-show="formData.messageParams.length>0">
                      	<tbody>
                            <tr>
                                <th>{{ 'label.message.Parametervalue' | translate }}</th>
                            </tr>
                            <tr data-ng-repeat="messageFormDatas in formData.messageParams">
                                <td style="width: 30%">
                                    <input type="text" class="form-control" data-ng-model="messageFormDatas.parameter">
                                </td>
                                <td><a data-ng-click="deleteMessageParam($index)"><i class="fa fa-times"></i></a></td>
                            </tr>
                        </tbody>
                      </table>
                </div>

            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/message">
                        <button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
                </li>
            </ul>
        </form>
    </div>
</div>