<div class="content-container" ng-controller="PartnerController">
	<ul class="breadcrumb">
		<li class="active">{{'label.partner' | translate}}</li>
	</ul>
	<div class="card">
	
		<div class="content">
		<div class="col-md-3">
						<input ng-autofocus="true" ng-model="filterText" type="text"
							ng-keyup="onFilter()" class="form-control"
							placeholder="{{'label.input.filterbyname' | translate}}">
					</div>
			<!-- <div class="toolbar">
				<h4>{{ 'label.partner' | translate }}</h4>
			</div> -->
			<div class=" col-ma-4 pull-right">
						<a has-permission='CREATE_PARTNER' href="#/createpartner"
							class="btn primary_btn pull-right"> <i class="fa fa-plus"></i>{{'label.createpartner'
							| translate}}
						</a>
					</div>
			<uib-tabset tabset-name="partnerTabset"> 
			<uib-tab
				heading="{{'label.heading.partners' | translate}}"
				select="getPartners()"> <br>
				
			<div class="toolbar" style="margin-top:12px;">
			
				<div class="row">
					
					
				</div>
			</div>
			<div>
				<table class="table">
					<thead>
						<tr class="graybg">
							<th>{{ 'label.name' | translate }}</th>
							<th>{{ 'label.AccountType' | translate }}</th>
							<th>{{ 'label.parentorganization' | translate }}</th>
							<th>{{ 'label.currency' | translate }}</th>
							<th>{{ 'label.openedon' | translate }}</th>
							<th>{{ 'label.balance.amount' | translate }}</th>
							<th>{{ 'label.actions' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr class="pointer-main"
							data-ng-repeat="partner in partners  | filter:filterText">
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">{{partner.nameDecorated}}</td>
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">{{partner.AccountType}}</td>
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">{{partner.parentName}}</td>
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">{{partner.currency}}</td>
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">
								{{partner.openingDate | DateFormat}}</td>
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">{{partner.balanceAmount}}</td>
							<td><a has-permission='UPDATE_PARTNER'
								href="#/editpartner/{{partner.id}}" uib-popover="Edit Partner"
								data-popover-trigger="mouseenter"><i class="fa fa-edit"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			</uib-tab> <uib-tab heading="{{'tab.partnersDisbursements' | translate}}"
				select="getPartnerDisbursements()" active="PartnersDisbursementTab">
			<br>
			<div class="toolbar">
				<div class="row">
					<div>
						<table class="table ">
							<tr>
								<td>
									<form style="margin: 30px 15px;">
										<input ng-autofocus="true" ng-model="filterText"
											class="form-control" type="text" ng-keyup="onFilter()"
											class="form-control"
											placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</td>
								<td><label for="sourceType">{{'label.sourceType' |
										translate }}</label> <select id="sourceDatas"
									data-ng-model="searchData.sourceType" class="form-control"
									data-ng-options="sourceData.mCodeValue as sourceData.mCodeValue for sourceData in sourceDatas track by sourceData.id"
									value="{{sourceData.mCodeValue}}">
										<option class="displaynone" value="">---Source
											Type---</option>
								</select></td>
								<td><label for="partnerType">{{'label.partnerType'
										| translate }}</label> <select id="patnerDatas"
									data-ng-model="searchData.partnerType" class="form-control"
									data-ng-options="patnerData.partnerName as patnerData.partnerName for patnerData in patnerDatas"
									value="{{patnerData.partnerName}}">
										<option class="displaynone" value="">---Partner
											Type---</option>
								</select></td>
								<td>
									<button data-ng-click="search()"
										class="btn primary_btn control" valign="bottom" align="right"
										type="submit">{{'label.button.search' | translate}}</button> <!-- <a data-ng-click="search()" class="btn btn-primary control" uib-popover="Search" data-popover-placement="bottom"  
						    	data-popover-trigger="mouseenter"><i class="fa fa-search"></i></a> -->
								</td>
								<td>
									<button data-ng-click="clearFilters()"
										class="btn primary_btn control" valign="bottom" align="right"
										type="cancel">{{'label.button.clear' | translate}}
										<!-- <a data-ng-click="clearFilters()" class="btn btn-primary control" uib-popover="Clear" data-popover-placement="bottom"  
						    	       data-popover-trigger="mouseenter"><i class="fa fa-times-circle-o"></i></a> -->
									</button>
								</td>
							</tr>
							<!--  <div class="col-md-2">
								<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
							</div>
							<div class="col-md-2">
								<select id="sourceDatas" data-ng-model="searchData.sourceType"
									chosen="sourceDatas" data-ng-autofocus="true"
									data-ng-options="sourceData.mCodeValue as sourceData.mCodeValue for sourceData in sourceDatas track by sourceData.id"
									data-placeholder="Source Type" value="{{sourceData.mCodeValue}}">
									<option class="displaynone" value="">---Source Type---</option>
								</select>
							</div>
							<div class="col-md-2">
								<select id="patnerDatas" data-ng-model="searchData.partnerType"
									chosen="patnerDatas" data-ng-autofocus="true"
									data-ng-options="patnerData.partnerName as patnerData.partnerName for patnerData in patnerDatas"
									data-placeholder="Partner Type"
									value="{{patnerData.partnerName}}">
									<option class="displaynone" value="">---Partner Type---</option>
								</select>
							</div> -->
						</table>
					</div>
				</div>
			</div>
			<div class="borderMain">
				<div class="borderBottom" ></div>
				<div class="borderTop"></div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr class="graybg">
						<th>{{'label.id' | translate}}</th>
						<th>{{'label.partnername' | translate}}</th>
						<th>{{'label.transactiondate' | translate}}</th>
						<th>{{'label.source' | translate}}Source</th>
						<th>{{'label.chargeamount' | translate}}</th>
						<th>{{'label.commissiontype' | translate}}</th>
						<th>{{'label.commissionrate' | translate}}</th>
						<th>{{'label.commissionamount' | translate}}</th>

					</tr>
				</thead>
				<tbody>
					<tr
						data-ng-repeat="patnerDisbursementData in patnerDisbursementData.currentPageItems | filter:filterText">
						<td>{{patnerDisbursementData.id}}</td>
						<td>{{patnerDisbursementData.partnerName}}</td>
						<td>{{patnerDisbursementData.transDate |DateFormat}}</td>
						<td>{{patnerDisbursementData.source}}</td>
						<td>{{patnerDisbursementData.netAmount}}</td>
						<td>{{patnerDisbursementData.percentage}}</td>
						<td>{{patnerDisbursementData.shareAmount}}</td>
						<td>{{patnerDisbursementData.commissionAmount}}</td>

					</tr>
				</tbody>
			</table>
			<ul class="pager">
	   			<li class="previous"><a data-ng-click="patnerDisbursementData.previous()" href="" 
	   				data-ng-disabled="!patnerDisbursementData.hasPrevious()">&larr; Prev</a></li>
	   			<li class="next" ><a data-ng-click="patnerDisbursementData.next()" href="" 
	   				data-ng-disabled="!patnerDisbursementData.hasNext()">Next &rarr;</a></li>
			</ul>
			</uib-tab> 
			<!-- <uib-tab heading="{{'label.heading.financialtransactions' | translate}}" select="getfinancialtransactions()">
			
			<table class="table">
					<thead>
						<tr class="graybg">
							<th>{{ 'label.transactionId' | translate }}</th>
							<th>{{ 'label.transactionType' | translate }}</th>
							<th>{{ 'label.amount' | translate }}</th>
							<th>{{ 'label.transDate' | translate }}</th>
							<th>{{ 'label.transactionCategory' | translate }}</th>
							<th>{{ 'label.actions' | translate }}</th>
						</tr>
					</thead> -->
					<!-- <tbody>
						<tr class="pointer-main"
							data-ng-repeat="partner in partners  | filter:filterText">
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">{{partner.partnerName}}</td>
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">{{partner.parentName}}</td>
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">{{partner.currency}}</td>
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">
								{{partner.openingDate | DateFormat}}</td>
							<td class="pointer"
								data-ng-click="routeToPartner(partner.id,partner.officeId)">{{partner.balanceAmount}}</td>
							<td><a has-permission='UPDATE_PARTNER'
								href="#/editpartner/{{partner.id}}" uib-popover="Edit Partner"
								data-popover-trigger="mouseenter"><i class="fa fa-edit"></i></a></td>
						</tr>
					</tbody> -->
					<tbody>
			             <tr ng-repeat="officeFinTran in officeFinanceTrans | filter:filterText">
			                <td>{{officeFinTran.transactionId}}</td>       
			                <td>{{officeFinTran.transactionType}}</td>
			                <td>{{officeFinTran.amount}}</td>
			                <td>{{officeFinTran.transDate | DateFormat}}</td>         
			                <td>{{officeFinTran.transactionCategory}}</td>        
			                <td>{{officeFinTran.actions}}</td>         
			                             
			             </tr>
          			</tbody>
				</table>
			<uib-tab heading="Customers" select = "getClients()"><br><br>
			<div class="row">
                <div class="col-sm-12">
			<form ng-submit="searchItemDetails(filterText)" >
			        	<div class="col-md-3">
				        	<input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text"
                                       class="form-control unstyled"
                                       placeholder="{{'label.input.filterbynameaccno' | translate}}">
				        </div>
				          <div class="col-sm-4">
				          <button id="Renewal" class="btn primary_btn pull-right" data-ng-click="RenewalSubmit()" ><i
                            		class="fa fa-plus"></i>{{'button.renewal' | translate}}</button>
                    			<!-- <a href="" class="btn primary_btn" ng-click="RenewalSubmit()"><i
                            		class="fa fa-plus"></i>Renewal</a> -->
                		  </div>
				    	  
					</form>
					</div>
					</div>
					
					<table class="table">
			        <thead>
			            <tr class="graybg">
			            <th><input type="checkbox" ng-model="activeall" ng-true-value="true" ng-false-value="false"
			                     ng-change="selectAll(activeall)"></th>
			            	<th>Stb Number</th>
			                <th>Customer Number</th>
			                <th>Name</th>
			                <th>Mobile Number</th>
			                <th>Order Number</th>
			                <th>Active Date</th> 
			                <th>Expiry Date</th>
			                <th>Balance Amount</th>
			                <!-- <th>Balance Check</th> -->
			                 	   
			            </tr>
			        </thead>
			        <tbody>
			            <tr class="pointer-main" ng-repeat="client in clientsData.currentPageItems  | filter:filterText" > <!-- ng-hide="client.status.value == 'Closed'" --> 
			                <td><input type="checkbox" ng-checked="activeall" ng-model="active" ng-true-value="true" ng-false-value="false"  ng-change="clientSelected(client, active)">
			                <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.stbId}}</td>
			                <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.accountNo}}</td>
			                <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.displayName}}</td>
			                <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.phone}}</td>
			                <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.orderId}}</td>
			                <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.startDate | DateFormat}}</td>
			                <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.endDate | DateFormat}}</td>
			                <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.balanceAmount}}</td>
			                <!-- <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.balanceCheck}}</td>
			                 -->
			                
			            </tr>
			        </tbody>
			    </table>
			 </uib-tab>
			
			
			</uib-tabset> 
		</div>
	</div>
</div>


