<div class="content-container" ng-controller="EditPaymentGatewayController">
	<ul class="breadcrumb">
		<li>
		<a href="#/system">{{'link.admin.system' | translate}}</a> 
			</li>
		<li>
		<a href="#/paymentGateway">{{'link.paymentgateway' | translate}}</a> 
		</li>
		<li class="active">{{'label.editpaymentgateway' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.editpaymentgateway' | translate}}</h4>
			</div>
			<hr>
				<form name="editpaymentgateway" novalidate="" class="form-horizontal" rc-submit="submit()">
					<api-validate></api-validate>
					<fieldset>
						<div class="form-group">
						    <label class="control-label col-sm-2" for="status">{{'label.paymentgateway.status' | translate }}</label>
							    <div class="col-sm-3">
									<select data-ng-model="formData.paymentdata" class="form-control"
											data-ng-options="statusdata.code as statusdata.value for statusdata in statusData" data-value="{{statusdata.code}}">
									</select>
								</div>
						</div>
					
						<div class="form-group">
							<label class="control-label col-sm-2" for="remarks"> {{'label.paymentgateway.remarks' | translate }} </label>
								<div class="col-sm-3">
									<select data-ng-model="formData.remarks" class="form-control">
										<option> {{'label.active' | translate }} </option>
										<option> {{'label.done' | translate }} </option>
									</select>
								</div>
						</div>
						<div class="col-md-offset-10">
							<a href="#/paymentGateway"><button type="reset" class="btn btn-warning">{{'button.cancel' | translate }}</button></a>
							<button type="submit" class="btn btn-primary"> {{'button.save' | translate }} </button>
						</div>
					</fieldset>
				</form>
		</div>
	</div>
</div>