<div class="content-container" ng-controller="PaymentGatewayController">
	<ul class="breadcrumb">
		<!-- <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li> -->
		<li class="active">{{'label.managepaymentgateway' | translate}}</li>
	</ul>
	<div class="widget mb30">
		<!-- <uib-tabset tabset-name="paymentGatewayTabset">
			<div class="toolbar ptb15 mrl15 bb1 mb20">
				<h4>{{'label.managepaymentgateway' | translate}}
					<button id="pgconfig" class="col-md-" data-ng-click="pgconfig()">{{'button.pgconfig' |
						translate}}</button>
					<button id="download" class="btn primary_btn pull-right"
						data-ng-click="download()">{{'button.downloadtocsv' | translate}}</button>
				</h4>
			</div>
		<uib-tab heading="{{'label.heading.All' | translate}}" select="getPaymentGateway()"> -->
		<div class="row">
			<div class="col-md-3">
				<form rc-submit="searchPaymentId(filterText)">
					<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()"
						class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
				</form>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-3">
						<select data-ng-model="formData.source" class="form-control"
							data-ng-change="changeSource(formData.source)">
							<option value="all">{{'label.paymentgateway.all' | translate}}</option>
							<option value="mpesa">{{'label.paymentgateway.mpesa' | translate}}</option>
							<option value="tigo">{{'label.paymentgateway.tigo' | translate}}</option>
						</select>
					</div>
					<div class="col-md-3">
						<select data-ng-model="formData.tabType" class="form-control"
							data-ng-change="changeSource(formData.tabType)">
							<option value="all">{{'label.heading.All' | translate}}</option>
							<option value="failed">{{'label.heading.Failed' | translate}}</option>
							<option value="success">{{'label.heading.Success' | translate}}</option>
							<option value="finished">{{'label.heading.Finished' | translate}}</option>
							<option value="invalid">{{'label.heading.Invalid' | translate}}</option>
							<option value="processed">{{'label.heading.Processed' | translate}}</option>
						</select>
					</div>
					<div class="col-md-6">
						<ul class="btn-group-list text-right">
							<li>
								<button id="search" type="submit" class="btn primary_btn"
									data-ng-click="getAll(source,tabType)">{{'label.button.search' |
									translate}}</button>
							</li>
							<li>
								<button id="download" class="btn primary_btn"
									data-ng-click="download()">{{'button.downloadtocsv' | translate}}</button>
							</li>
							<li>
								<button id="ravepay" class="btn primary_btn pull-right"
									data-ng-click="ravepayReprocess()">
									<i class="fa fa-tasks"></i>{{'button.ravepayreprocess' | translate}}</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="widget">
	<table class="table table-striped">
		<thead>
			<tr class="graybg">
				<th>{{'table.paymentgateway.paymentId' | translate}}</th>
				<th>{{'table.paymentgateway.paymentdate' | translate}}</th>
				<th>{{'table.paymentgateway.phoneno' | translate}}</th>
				<th>{{'table.paymentgateway.serialNo' | translate}}</th>
				<th>{{'table.paymentgateway.receiptNo' | translate}}</th>
				<th>{{'table.paymentgateway.amountPaid' | translate}}</th>
				<th>{{'table.paymentgateway.status' | translate}}</th>
				<th>{{'table.paymentgateway.remarks' | translate}}</th>
				<th>{{'table.action' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText">

				<td>{{paymentgatewaydata.paymentId}}</td>
				<td>{{paymentgatewaydata.paymentDate | DateTimeFormat}}</td>
				<td>{{paymentgatewaydata.phoneNo}}</td>
				<td>{{paymentgatewaydata.serialNo}}</td>
				<td>{{paymentgatewaydata.receiptNo}}</td>
				<td>{{paymentgatewaydata.amountPaid}}</td>
				<td>{{paymentgatewaydata.status}}</td>
				<td>{{paymentgatewaydata.remarks}}</td>
				<td>
					<a has-permission=U PDATE_PAYMENTGATEWAY data-ng-show="(paymentgatewaydata.status !='Finished')"
						data-ng-show="(paymentgatewaydata.status !='Invalid')"
						data-ng-click="edit(paymentgatewaydata.id)" uib-popover="Edit"
						data-popover-trigger="mouseenter">
						<i class="fa fa-edit"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<ul class="pager">
		<li class="previous">
			<a id="prev" data-ng-click="paymentgatewaydatas.previous()" href=""
				data-ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; {{'label.prev' | translate}}
			</a>
		</li>
		<li class="next">
			<a id="next" data-ng-click="paymentgatewaydatas.next()" href=""
				data-ng-disabled="!paymentgatewaydatas.hasNext()"> {{'label.next' | translate}} &rarr;
			</a>
		</li>
	</ul>
</div>
<!-- </uib-tab> -->
<!-- <uib-tab heading="{{'label.heading.Failed' | translate}}" select="getPaymentGatewayFailure()">
					<div class="toolbar">
						<div class="row">
							<div>
								<div class="col-md-6">
									<form rc-submit="searchFailedPaymentId(filterText)">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div>
							    <div class="col-md-2">
									<select data-ng-model="formData.source" class="form-control"  data-ng-change="changeSource(formData.source)">
										<option value="all">{{'label.paymentgateway.all' | translate}}</option>
										<option value="mpesa">{{'label.paymentgateway.mpesa' | translate}}</option>
										<option value="tigo">{{'label.paymentgateway.tigo' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<table class="table">
						<thead>
							<tr class="graybg">
								<th>{{'table.paymentgateway.paymentId' | translate}}</th>
								<th>{{'table.paymentgateway.paymentdate' | translate}}</th>
								<th>{{'table.paymentgateway.phoneno' | translate}}</th>
								<th>{{'table.paymentgateway.serialNo' | translate}}</th>
								<th>{{'table.paymentgateway.receiptNo' | translate}}</th>
								<th>{{'table.paymentgateway.amountPaid' | translate}}</th>
								<th>{{'table.paymentgateway.status' | translate}}</th>
								<th>{{'table.paymentgateway.remarks' | translate}}</th>
								<th>{{'table.action' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText"
								data-ng-show="paymentgatewaydata.status=='Failure'">
								<td>{{paymentgatewaydata.paymentId}}</td>
								<td>{{paymentgatewaydata.paymentDate | DateTimeFormat}}</td>
								<td>{{paymentgatewaydata.phoneNo}}</td>
								<td>{{paymentgatewaydata.serialNo}}</td>
								<td>{{paymentgatewaydata.receiptNo}}</td>
								<td>{{paymentgatewaydata.amountPaid}}</td>
								<td>{{paymentgatewaydata.status}}</td>
								<td>{{paymentgatewaydata.remarks}}</td>
								<td>
									<a has-permission = UPDATE_PAYMENTGATEWAY data-ng-show ="(paymentgatewaydata.status !='Finished')" data-ng-show ="(paymentgatewaydata.status !='Invalid')" data-ng-click="edit(paymentgatewaydata.id)" 
									   uib-popover="Edit" data-popover-trigger="mouseenter"><i class="fa fa-edit"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous">
							<a id="prev" data-ng-click="paymentgatewaydatas.previous()" href=""
							data-ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; {{'label.prev' | translate}}</a>
						</li>
						<li class="next">
							<a id="next" data-ng-click="paymentgatewaydatas.next()" href=""
							   data-ng-disabled="!paymentgatewaydatas.hasNext()"> {{'label.next' | translate}} &rarr;</a>
					    </li>
					</ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.Success' | translate}}" select="getPaymentGatewaySuccess()">
					<div class="toolbar">
						<div class="row">
							<div>
								<div class="col-md-6">
									<form rc-submit="searchSuccessPaymentId(filterText)">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div>
							    <div class="col-md-2">
									<select data-ng-model="formData.source" class="form-control"  data-ng-change="changeSource(formData.source)">
										<option value="all">{{'label.paymentgateway.all' | translate}}</option>
										<option value="mpesa">{{'label.paymentgateway.mpesa' | translate}}</option>
										<option value="tigo">{{'label.paymentgateway.tigo' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<table class="table">
						<thead>
							<tr class="graybg">
								<th>{{'table.paymentgateway.paymentId' | translate}}</th>
								<th>{{'table.paymentgateway.paymentDate' | translate}}</th>
								<th>{{'table.paymentgateway.phoneno' | translate}}</th>
								<th>{{'table.paymentgateway.serialNo' | translate}}</th>
								<th>{{'table.paymentgateway.receiptNo' | translate}}</th>
								<th>{{'table.paymentgateway.amountPaid' | translate}}</th>
								<th>{{'table.paymentgateway.status' | translate}}</th>
								<th>{{'table.paymentgateway.remarks' | translate}}</th>
								<th>{{'table.action' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText" ng-show="paymentgatewaydata.status=='Success'">
								<td>{{paymentgatewaydata.paymentId}}</td>
								<td>{{paymentgatewaydata.paymentDate | DateTimeFormat}}</td>
								<td>{{paymentgatewaydata.phoneNo}}</td>
								<td>{{paymentgatewaydata.serialNo}}</td>
								<td>{{paymentgatewaydata.receiptNo}}</td>
								<td>{{paymentgatewaydata.amountPaid}}</td>
								<td>{{paymentgatewaydata.status}}</td>
								<td>{{paymentgatewaydata.remarks}}</td>
								<td>
									<a has-permission = UPDATE_PAYMENTGATEWAY data-ng-show ="(paymentgatewaydata.status !='Finished')" data-ng-show ="(paymentgatewaydata.status !='Invalid')" data-ng-click="edit(paymentgatewaydata.id)" 
									   uib-popover="Edit" data-popover-trigger="mouseenter"><i class="fa fa-edit"></i>
								    </a>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous">
							<a id="prev" data-ng-click="paymentgatewaydatas.previous()" href=""
							   data-ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; {{'label.prev' | translate}} </a>
						</li>
						<li class="next">
							<a id="next" data-ng-click="paymentgatewaydatas.next()" href=""
							   data-ng-disabled="!paymentgatewaydatas.hasNext()"> {{'label.next' | translate}} &rarr;</a>
						</li>
					</ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.Finished' | translate}}" select="getFinishedPaymentGateway()">
					<div class="toolbar">
						<div class="row">
							<div>
								<div class="col-md-6">
									<form rc-submit="searchFinishedPaymentId(filterText)">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div>
							    <div class="col-md-2">
									<select data-ng-model="formData.source" class="form-control"  data-ng-change="changeSource(formData.source)">
										<option value="all">{{'label.paymentgateway.all' | translate}}</option>
										<option value="mpesa">{{'label.paymentgateway.mpesa' | translate}}</option>
										<option value="tigo">{{'label.paymentgateway.tigo' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<table class="table">
						<thead>
							<tr class="graybg">
								<th>{{'table.paymentgateway.paymentId' | translate}}</th>
								<th>{{'table.paymentgateway.paymentdate' | translate}}</th>
								<th>{{'table.paymentgateway.phoneno' | translate}}</th>
								<th>{{'table.paymentgateway.serialNo' | translate}}</th>
								<th>{{'table.paymentgateway.receiptNo' | translate}}</th>
								<th>{{'table.paymentgateway.amountPaid' | translate}}</th>
								<th>{{'table.paymentgateway.status' | translate}}</th>
								<th>{{'table.paymentgateway.remarks' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText"
								data-ng-show="paymentgatewaydata.status=='Finished'">
								<td>{{paymentgatewaydata.paymentId}}</td>
								<td>{{paymentgatewaydata.paymentDate | DateTimeFormat}}</td>
								<td>{{paymentgatewaydata.phoneNo}}</td>
								<td>{{paymentgatewaydata.serialNo}}</td>
								<td>{{paymentgatewaydata.receiptNo}}</td>
								<td>{{paymentgatewaydata.amountPaid}}</td>
								<td>{{paymentgatewaydata.status}}</td>
								<td>{{paymentgatewaydata.remarks}}</td>
							</tr>
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous">
							<a id="prev" data-ng-click="paymentgatewaydatas.previous()" href=""
							   data-ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; {{'label.prev' | translate}} 
							</a>
						</li>
						<li class="next">
							<a id="next" data-ng-click="paymentgatewaydatas.next()" href=""
							   data-ng-disabled="!paymentgatewaydatas.hasNext()"> {{'label.next' | translate}} &rarr;
							</a>
						</li>
					</ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.Invalid' | translate}}" select="getInvalidPaymentGateway()">
					<div class="toolbar">
						<div class="row">
							<div>
								<div class="col-md-6">
									<form rc-submit="searchInvalidPaymentId(filterText)">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div>
							    <div class="col-md-2">
									<select data-ng-model="formData.source" class="form-control"  data-ng-change="changeSource(formData.source)">
										<option value="all">{{'label.paymentgateway.all' | translate}}</option>
										<option value="mpesa">{{'label.paymentgateway.mpesa' | translate}}</option>
										<option value="tigo">{{'label.paymentgateway.tigo' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<table class="table">
						<thead>
							<tr class="graybg">
								<th>{{'table.paymentgateway.paymentId' | translate}}</th>
								<th>{{'table.paymentgateway.paymentdate' | translate}}</th>
								<th>{{'table.paymentgateway.phoneno' | translate}}</th>
								<th>{{'table.paymentgateway.serialNo' | translate}}</th>
								<th>{{'table.paymentgateway.receiptNo' | translate}}</th>
								<th>{{'table.paymentgateway.amountPaid' | translate}}</th>
								<th>{{'table.paymentgateway.status' | translate}}</th>
								<th>{{'table.paymentgateway.remarks' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText"
								data-ng-show="paymentgatewaydata.status=='Invalid'">
								<td>{{paymentgatewaydata.paymentId}}</td>
								<td>{{paymentgatewaydata.paymentDate | DateTimeFormat}}</td>
								<td>{{paymentgatewaydata.phoneNo}}</td>
								<td>{{paymentgatewaydata.serialNo}}</td>
								<td>{{paymentgatewaydata.receiptNo}}</td>
								<td>{{paymentgatewaydata.amountPaid}}</td>
								<td>{{paymentgatewaydata.status}}</td>
								<td>{{paymentgatewaydata.remarks}}</td>
							</tr>
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous">
							<a id="prev" data-ng-click="paymentgatewaydatas.previous()" href=""
							   data-ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; {{'label.prev' | translate}} 
							</a>
						</li>
						<li class="next">
							<a id="next" data-ng-click="paymentgatewaydatas.next()" href=""
							   data-ng-disabled="!paymentgatewaydatas.hasNext()"> {{'label.next' | translate}} &rarr;
							</a>
						</li>
					</ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.Processed' | translate}}" select="getProcessedPaymentGateway()">
					<div class="toolbar">
						<div class="row">
							<div>
								<div class="col-md-6">
									<form rc-submit="searchProcessedPaymentId(filterText)">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div>
							    <div class="col-md-2">
									<select data-ng-model="formData.source" class="form-control"  data-ng-change="changeSource(formData.source)">
										<option value="all">{{'label.paymentgateway.all' | translate}}</option>
										<option value="mpesa">{{'label.paymentgateway.mpesa' | translate}}</option>
										<option value="tigo">{{'label.paymentgateway.tigo' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<table class="table">
						<thead>
							<tr class="graybg">
								<th>{{'table.paymentgateway.paymentId' | translate}}</th>
								<th>{{'table.paymentgateway.paymentdate' | translate}}</th>
								<th>{{'table.paymentgateway.phoneno' | translate}}</th>
								<th>{{'table.paymentgateway.serialNo' | translate}}</th>
								<th>{{'table.paymentgateway.receiptNo' | translate}}</th>
								<th>{{'table.paymentgateway.amountPaid' | translate}}</th>
								<th>{{'table.paymentgateway.status' | translate}}</th>
								<th>{{'table.paymentgateway.remarks' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText"
								data-ng-show="paymentgatewaydata.status=='Processed'">
								<td>{{paymentgatewaydata.paymentId}}</td>
								<td>{{paymentgatewaydata.paymentDate | DateTimeFormat}}</td>
								<td>{{paymentgatewaydata.phoneNo}}</td>
								<td>{{paymentgatewaydata.serialNo}}</td>
								<td>{{paymentgatewaydata.receiptNo}}</td>
								<td>{{paymentgatewaydata.amountPaid}}</td>
								<td>{{paymentgatewaydata.status}}</td>
								<td>{{paymentgatewaydata.remarks}}</td>
							</tr>
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous">
							<a id="prev" data-ng-click="paymentgatewaydatas.previous()" href=""
							   data-ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; {{'label.prev' | translate}} 
							</a>
						</li>
						<li class="next">
							<a id="next" data-ng-click="paymentgatewaydatas.next()" href=""
							   data-ng-disabled="!paymentgatewaydatas.hasNext()"> {{'label.next' | translate}} &rarr;
							</a>
						</li>
					</ul>
				</uib-tab> -->
<!-- </uib-tabset> -->
</div>
<script type="text/ng-template" id="editpaymentgateway.html">
    <form class="form-horizontal well" ng-submit="submit()">
        <div class="error" ng-show="errorStatus || errorDetails">
            <label>{{'label.contract.error' | translate}}</label>
            <label ng-show="errorStatus">{{errorStatus}}</label>
            <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
        </div>
        <fieldset>
            <legend>{{'label.editpaymentgateway' | translate}}</legend>
            <table width="100%">

                <tr>
                    <td width="50%">
                        <div class="control-group">
                            <label class="control-label" for="status">{{ 'label.paymentgateway.status' | translate }}</label>
                            <div class="controls">
                                <select ng-model="formData.paymentdata" ng-options="statusdata.code as statusdata.value for statusdata in statusData" value="{{statusdata.code}}">
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div class="control-group">
                            <label class="control-label" for="remarks"> {{ 'label.paymentgateway.remarks' | translate }} </label>
                            <div class="controls">
                                <select ng-model="formData.remarks">
                                    <option value="all">{{'label.paymentgateway.active' | translate}}</option>
                                    <option value="mpesa">{{'label.paymentgateway.done' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <div class="modal-footer">
        <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
        <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="flag">{{'label.save' | translate}}</button>
    </div>
</script>
<script type="text/ng-template" id="downloadpaymentgatewaydata.html">
   <form class="form-horizontal widget" ng-submit="download()">
    <div class="error" ng-show="errorStatus || errorDetails">
        <label>{{'label.contract.error' | translate}}</label>
        <label ng-show="errorStatus">{{errorStatus}}</label>
        <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
    </div>
    <h3>{{'label.downloadpaymentgateway' | translate}}</h3>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="status">{{ 'label.paymentgateway.category' | translate }}</label>
                </div>
                <div class="col-md-8">
                    <select ng-model="formData.source" class="form-control">
                        <option value="all">{{'label.paymentgateway.all' | translate}}</option>
                        <option value="mpesa">{{'label.paymentgateway.mpesa' | translate}}</option>
                        <option value="tigo">{{'label.paymentgateway.tigo' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label " for="status">{{ 'label.paymentgateway.status' | translate }}</label>
                </div>
                <div class="col-md-8">
                    <select ng-model="formData.status" class="form-control">
                        <option value="all">{{'label.paymentgateway.all' | translate}}</option>
                        <option value="Failure">{{'label.paymentgateway.failed' | translate}}</option>
                        <option value="Success">{{'label.paymentgateway.success' | translate}}</option>
                        <option value="Finished">{{'label.paymentgateway.finished' | translate}}</option>
                        <option value="Invalid">{{'label.paymentgateway.invalid' | translate}}</option>
                        <option value="Processed">{{'label.paymentgateway.processed' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">{{ 'label.fromdate' | translate }}</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;" readonly/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">{{ 'label.todate' | translate }}</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" datepicker-pop="dd MMMM yyyy" ng-model="to.date" is-open="opened" min="minDate" max="maxDate" date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;" readonly/>
                </div>
            </div>
    <ul class="btn-group-list text-right mt20 mb20">
        <li>
            <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
        </li>
        <li>
            <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="flag">{{'label.confirm' | translate}}</button>
        </li>
    </ul>
</form>
</script>
<script type="text/ng-template" id="ravepayreprocess.html">
	<form class="form-horizontal widget" ng-submit="ravepayReprocess()">
		<!-- <div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
		</div> -->
		<h3>{{'label.ravepayreprocess' | translate}}</h3>
		<div class="form-group row">
			<div class="col-md-4">
				<label class="control-label">{{ 'label.transactionId' | translate }}</label>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" ng-model="transactionId"  required style="background-color:#FFFFFF;"/>
			</div>
		</div>
		<ul class="btn-group-list text-right mt20 mb20">
			<li> <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button></li>
			<li><button id="submit" class="btn btn-primary" ng-click="accept(transactionId)" ng-disabled="flag">{{'label.reprocess' | translate}}</button></li>
		</ul>
	</form>	
</script>
</div>