<div class="content-container" ng-controller="EventActionController">
    <ul class="breadcrumb">
        <!-- <li><a href="#/system">{{'link.admin.system' | translate}}</a></li> -->
        <li class="active">{{'label.eventaction' | translate}}</li>
    </ul>
    <div class="widget mb30">
        <!-- <div class="toolbar ptb15 mrl15 bb1 mb20">
    	<h4>{{'label.eventaction' | translate}}</h4>
	</div>  -->
        <!-- <uib-tabset tabset-name="eventActionTabset">
          <uib-tab heading="{{'label.heading.All' | translate}}" select="getEventAction()"> -->
        <div class="row">
            <div class="col-md-3">
                <form data-ng-submit="searchEventActions(filterText,'all')">
                    <input ng-autofocus="true" data-ng-model="filterText" type="text" class="form-control" placeholder="Filter by Event Action">
                </form>
            </div>
            <div class="col-md-3">
                <select data-ng-model="formData.source" class="form-control" data-ng-change="changeSource(formData.source)">
                    <option value="all">{{'label.heading.All' | translate}}</option>
                    <option value="processed">{{'label.heading.Processed' | translate}}</option>
                    <option value="unProcessed">{{'label.heading.UnProcessed' | translate}}</option>
                    <option value="canceled">{{'label.heading.Canceled' | translate}}</option>
                    <option value="failed">{{'label.heading.Failed' | translate}}</option>
                    <option value="processed">{{'label.heading.Processed' | translate}}</option>
                </select>
            </div>
            <!--   <div class="col-md-2">
            			<a href="#/hookeventaction" class="btn primary_btn pull-right" has-permission='CREATE_HOOKS'>{{'button.hook' | translate}}</a>
	     			</div>  -->
        </div>
    </div>

    <div class="widget ">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{'table.transactiondate' | translate}}</th>
                    <th>{{'table.eventaction' | translate}}</th>
                    <th>{{'table.action' | translate}}</th>
                    <th>{{'table.status' | translate}}</th>
                    <th>{{'table.command' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="eventactiondata in eventactionDatas.currentPageItems  | filter:filterText">
                    <td>{{eventactiondata.transactionDate | DateTimeFormat}}</td>
                    <td>{{eventactiondata.eventAction}} {{eventactiondata.entityName}}</td>
                    <td>{{eventactiondata.actionName}}</td>
                    <td>{{eventactiondata.status}}</td>
                    <!-- <td>{{eventactiondata.jsonData}}</td> -->
                    <td>
                        <button class="btn btn-primary" data-ng-hide="eventactiondata.jsonData == '{}'" data-ng-click="messagePopup(eventactiondata.jsonData)" data-popover-trigger="mouseenter" data-popover="To See Click on Me">
                            <i class="icon-envelope icon-white"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li class="previous"><a id="prev" data-ng-click="eventactionDatas.previous()" href="" data-ng-disabled="!eventactionDatas.hasPrevious()">&larr; {{'label.prev' | translate}} </a>
            </li>
            <li class="next"><a id="next" data-ng-click="eventactionDatas.next()" href="" data-ng-disabled="!eventactionDatas.hasNext()"> {{'label.next' | translate}} &rarr;</a>
            </li>
        </ul>
        <!-- </uib-tab> -->
        <!-- <uib-tab heading="{{'label.heading.Processed' | translate}}" select="getEventActionForProcessed()">
            <div class="toolbar">
             <div class="row">
	             <div class="col-md-6">
	             	<form data-ng-submit="searchEventActions(filterText,'Y')">		
						<input data-ng-model="filterText" type="text" class="form-control" placeholder="Filter by Event Action">
					</form>
	             </div>
	            </div>
             </div>
             <table class="table">
				<thead>
					<tr class="graybg">
						<th>{{'table.transactiondate' | translate}}</th>
						<th>{{'table.eventaction' | translate}}</th>
						<th>{{'table.action' | translate}}</th>
						<th>{{'table.status' | translate}}</th>
						<th>{{'table.command' | translate}}</th>
					</tr>
				</thead>
				<tbody>

					<tr data-ng-repeat="eventactiondata in eventactionDatas.currentPageItems  | filter:filterText">
						<td>{{eventactiondata.transactionDate | DateTimeFormat}}</td>
						<td>{{eventactiondata.eventAction}} {{eventactiondata.entityName}}</td>
						<td>{{eventactiondata.actionName}}</td>
						<td>{{eventactiondata.status}}</td>
						<td>{{eventactiondata.jsonData}}</td>
						<td>
							<button style="padding:3px 5px;" class="btn btn-primary" data-ng-hide="eventactiondata.jsonData == '{}'"
								data-ng-click="messagePopup(eventactiondata.jsonData)" data-popover-trigger="mouseenter" data-popover="To See Click on Me">
								<i class="icon-envelope icon-white"></i>
							</button>
						</td> 
					</tr>
				</tbody>
			</table>
			<ul class="pager">
				<li class="previous"><a id="prev" data-ng-click="eventactionDatas.previous()" href=""
					data-ng-disabled="!eventactionDatas.hasPrevious()">&larr; {{'label.prev' | translate}}</a></li>
				<li class="next"><a id="next" data-ng-click="eventactionDatas.next()" href=""
					data-ng-disabled="!eventactionDatas.hasNext()"> {{'label.next' | translate}} &rarr;</a></li>
			</ul>
           </uib-tab>
           <uib-tab heading="{{'label.heading.UnProcessed' | translate}}" select="getEventActionForUnProcessed()">
            <div class="toolbar">
             <div class="row">
                <div class="col-md-6">
	             	<form data-ng-submit="searchEventActions(filterText,'N')">		
						<input data-ng-model="filterText" type="text" class="form-control" placeholder="Filter by Event Action">
					</form>
	             </div>
             </div>
            </div>
            <table class="table">
				<thead>
					<tr class="graybg">
						<th>{{'table.transactiondate' | translate}}</th>
						<th>{{'table.eventaction' | translate}}</th>
						<th>{{'table.action' | translate}}</th>
						<th>{{'table.status' | translate}}</th>
						<th>{{'table.command' | translate}}</th>
					</tr>
				</thead>
				<tbody>

					<tr data-ng-repeat="eventactiondata in eventactionDatas.currentPageItems  | filter:filterText">
						<td>{{eventactiondata.transactionDate | DateTimeFormat}}</td>
						<td>{{eventactiondata.eventAction}} {{eventactiondata.entityName}}</td>
						<td>{{eventactiondata.actionName}}</td>
						<td>{{eventactiondata.status}}</td>
						<td>{{eventactiondata.jsonData}}</td>
						<td>
							<button style="padding:3px 5px;" class="btn btn-primary" data-ng-hide="eventactiondata.jsonData == '{}'"
								data-ng-click="messagePopup(eventactiondata.jsonData)" data-popover-trigger="mouseenter" data-popover="To See Click on Me">
								<i class="icon-envelope icon-white"></i>
							</button>
						</td> 
					</tr>
				</tbody>
			</table>
			<ul class="pager">
				<li class="previous"><a id="prev" data-ng-click="eventactionDatas.previous()" href=""
					data-ng-disabled="!eventactionDatas.hasPrevious()">&larr; {{'label.prev' | translate}}</a></li>
				<li class="next"><a id="next" data-ng-click="eventactionDatas.next()" href=""
					data-ng-disabled="!eventactionDatas.hasNext()"> {{'label.next' | translate}} &rarr;</a></li>
			</ul>
           </uib-tab>
           <uib-tab heading="{{'label.heading.Canceled' | translate}}" select="getEventActionForCanceled()">
           <div class="toolbar">
             <div class="row">
                <div class="col-md-6">
	             	<form data-ng-submit="searchEventActions(filterText,'C')">		
						<input data-ng-model="filterText" type="text" class="form-control" placeholder="Filter by Event Action">
					</form>
	             </div>
             </div>
            </div>
            <table class="table">
				<thead>
					<tr class="graybg">
						<th>{{'table.transactiondate' | translate}}</th>
						<th>{{'table.eventaction' | translate}}</th>
						<th>{{'table.action' | translate}}</th>
						<th>{{'table.status' | translate}}</th>
						<th>{{'table.command' | translate}}</th>
					</tr>
				</thead>
				<tbody>

					<tr data-ng-repeat="eventactiondata in eventactionDatas.currentPageItems  | filter:filterText">
						<td>{{eventactiondata.transactionDate | DateTimeFormat}}</td>
						<td>{{eventactiondata.eventAction}} {{eventactiondata.entityName}}</td>
						<td>{{eventactiondata.actionName}}</td>
						<td>{{eventactiondata.status}}</td>
						<td>{{eventactiondata.jsonData}}</td>
						<td>
							<button style="padding:3px 5px;" class="btn btn-primary" data-ng-hide="eventactiondata.jsonData == '{}'"
								data-ng-click="messagePopup(eventactiondata.jsonData)" data-popover-trigger="mouseenter" data-popover="To See Click on Me">
								<i class="icon-envelope icon-white"></i>
							</button>
						</td> 
					</tr>
				</tbody>
			</table>
			<ul class="pager">
				<li class="previous"><a id="prev" data-ng-click="eventactionDatas.previous()" href=""
					data-ng-disabled="!eventactionDatas.hasPrevious()">&larr; {{'label.prev' | translate}}</a></li>
				<li class="next"><a id="next" data-ng-click="eventactionDatas.next()" href=""
					data-ng-disabled="!eventactionDatas.hasNext()"> {{'label.next' | translate}} &rarr;</a></li>
			</ul>
           </uib-tab>

           <uib-tab heading="{{'label.heading.Failed' | translate}}" select="getEventActionForFailed()">
           <div class="toolbar">
             <div class="row">
                <div class="col-md-6">
	             	<form data-ng-submit="searchEventActions(filterText,'F')">		
						<input data-ng-model="filterText" type="text" class="form-control" placeholder="Filter by Event Action">
					</form>
	             </div>
             </div>
            </div>
            <table class="table">
				<thead>
					<tr class="graybg">
						<th>{{'table.transactiondate' | translate}}</th>
						<th>{{'table.eventaction' | translate}}</th>
						<th>{{'table.action' | translate}}</th>
						<th>{{'table.status' | translate}}</th>
						<th>{{'table.command' | translate}}</th>
					</tr>
				</thead>
				<tbody>

					<tr data-ng-repeat="eventactiondata in eventactionDatas.currentPageItems  | filter:filterText">
						<td>{{eventactiondata.transactionDate | DateTimeFormat}}</td>
						<td>{{eventactiondata.eventAction}} {{eventactiondata.entityName}}</td>
						<td>{{eventactiondata.actionName}}</td>
						<td>{{eventactiondata.status}}</td>
						<td>{{eventactiondata.jsonData}}</td>
						<td>
							<button style="padding:3px 5px;" class="btn btn-primary" data-ng-hide="eventactiondata.jsonData == '{}'"
								data-ng-click="messagePopup(eventactiondata.jsonData)" data-popover-trigger="mouseenter" data-popover="To See Click on Me">
								<i class="icon-envelope icon-white"></i>
							</button>
						</td> 
					</tr>
				</tbody>
			</table>
			<ul class="pager">
				<li class="previous"><a id="prev" data-ng-click="eventactionDatas.previous()" href=""
					data-ng-disabled="!eventactionDatas.hasPrevious()">&larr; {{'label.prev' | translate}}</a></li>
				<li class="next"><a id="next" data-ng-click="eventactionDatas.next()" href=""
					data-ng-disabled="!eventactionDatas.hasNext()"> {{'label.next' | translate}} &rarr;</a></li>
			</ul>
           </uib-tab>
           <uib-tab heading="{{'label.heading.eventaction' | translate}}" select="getEventActionMappingData()" active="eventActionTab">
					<div>
						<div class="toolbar">
						    <div class="row">
								<div class="col-md-6">
									<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
								</div>
					            <div class="col-md-6">
						       		<a has-permission = CREATE_EVENTACTIONMAP href="#/createeventactionmapping" class="btn primary_btn pull-right"><i class="fa fa-plus"></i>{{ 'button.add' | translate }}</a>
								</div>
							</div>
						</div>
			        </div>
					<table class="table">
						<thead>
		              		<tr class="graybg">
			                	<th>{{'table.eventactionmapping.event' | translate}}</th>
			                	<th>{{'table.eventactionmapping.action' | translate}}</th>
			                	<th>{{'table.eventactionmapping.process' | translate}}</th>
			                	<th>{{'table.eventactionmapping.orderby' | translate}}</th>
			                	<th>{{'table.eventactionmapping.prepost' | translate}}</th>
			                	<th>{{'table.eventactionmapping.processparams' | translate}}</th>
			                	<th>{{'label.enabled' | translate}}</th>
			                	<th>{{ 'table.heading.actions' | translate }}</th>
		              		</tr>
	            		</thead>
	            		<tbody>
		              		<tr data-ng-repeat="data in datas  | filter:filterText">
			                	<td><a href="#/vieweventactionmapping/{{data.id}}">{{data.eventName}}</a></td>
			                	<td>{{data.actionName}}</td>
			                	<td>{{data.process}}</td>
			                	<td>{{data.orderBy}}</td>
			                	<td>{{data.prePost}}</td>
			                	<td neventactiong-if="data.prePost">Post</td>
			                	<td ng-if="!data.prePost">Pre</td>
			                	<td>{{data.processParams}}</td>
			                 	<td data-ng-show = "data.isDeleted == 'N'">true</td>
			                	<td data-ng-show = "data.isDeleted == 'Y'">false</td>
			                	<td data-ng-show="data.isDeleted=='Y'">
			                		<button type="button" class="btn btn-success" data-ng-click="isDeletedEventAction(data.id,data.isDeleted)">
			                			<i class="fa fa-flag-o"></i></button></td>
			                	<td data-ng-show="data.isDeleted=='N'">
			                		<button type="button" class="btn btn-danger" data-ng-click="isDeletedEventAction(data.id,data.isDeleted)">
			                			<i class="fa fa-flag-o"></i></button></td>
		     		 		</tr>
	     		 		</tbody>
					</table>
				</uib-tab>
         </uib-tabset> -->
    </div>
<script type="text/ng-template" id="message.html">
    <div class="modal-header silver">
        <h3 class="bolder">Details</h3>
    </div>
    <div class="modal-body modal-medium">
        <table style="margin-left:50px;">
            <tr ng-repeat="messageData in messageData">
                <td width="30%">{{messageData.key}}</td>
                <td width="80%" style="color:#800080;">:&nbsp;&nbsp;{{messageData.value}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button id="cancel" class="btn btn-primary" ng-click="cancel()">{{'button.done' | translate}}</button>
    </div>
</script>
</div>