<div class="content-container" ng-controller="ViewMovedMrnController">
		<ul class="breadcrumb">
	        <li><a href="#/inventory">{{'link.admin.inventory' | translate}}</a></li>
	        <li><a href="#/stocktransfer">{{'link.stocktransfer' | translate}}</a></li>
	        <li class="active">{{mrn.id}}&nbsp;&nbsp;</li>
	    </ul>
	     <div class="widget ">
			<h3>{{mrn.id}}</h3>
		      <table class="table table-striped">
				<tr>
					<td>{{'label.refid' | translate}}</td>
					<td>{{mrn.mrnId}}</td>
				</tr>
				<tr>
					<td>{{'label.reftype' | translate }}</td>
					<td>{{mrn.refType}}</td>
				</tr>
				<tr>
					<td>{{'label.itemdescription' | translate }}</td>
					<td>{{mrn.itemDescription}}</td>
				</tr>
				<tr>
					<td>{{'label.mrn.serialnumber' | translate }}</td>
					<td>{{mrn.serialNumber}}</td>
				</tr>
				<tr>
					<td>{{'label.moveddate' | translate }}</td>
					<td>{{mrn.transactionDate | DateFormat}}</td>
				</tr>
				<tr>
					<td>{{'label.movement' | translate }}</td>
					<td>{{mrn.movement}}</td>
				</tr>
				<tr>
					<td>{{'label.movedfrom' | translate }}</td>
					<td>{{mrn.fromOffice}}</td>
				</tr>
				<tr>
					<td>{{'label.movedto' | translate }}</td>
					<td>{{mrn.toOffice}}</td>
				</tr>
			 </table>
	</div>
</div>
          