<div class="content-container view-client-page" ng-controller="CreateTicketController">
      <ul class="breadcrumb">
	     <li><a href="#/tickets" class="colorwhite">{{'link.tickets' | translate}}</a> <span class="divider colorwhite">/</span></li>
		 <li class="active colorwhite">{{'label.ticket.add.newticket' | translate}}</li>
	  </ul>
      <div class="card">
		   <div class="content">
			    <div class="toolbar">
					 
		       <form name="createticketform" class="form-horizontal well"  data-ng-submit="submit()"></br>
		 	        <div class="error" data-ng-show="errorStatus || errorDetails">
				      <label>{{'label.contract.error' | translate}}</label>
				      <label data-ng-show="errorStatus">{{errorStatus}}</label>
				      <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
		            </div>
		            <api-validate></api-validate>
				        <fieldset>
				           <div class="control-group">
					          <label class="control-label" for="Date">{{'label.ticket.date' | translate }}</label>
					          <div class = "controls">
							      <input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="start.date" data-is-open="opened" min="minDate" max="maxDate" 
							      data-date-disabled="disabled(date, mode)" required data-late-Validate style="background-color:#FFFFFF;"  readonly/>
					          </div>
				           </div>
				    
				          <div class="control-group">
						     <label class="control-label" for="description" style="margin-top:15px;">{{ 'label.ticket.description' | translate }}<span class="required">*</span></label>
						     <div class="col-sm-9">
						         <i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'label.ticket.tooltip.description' | translate }}</i><span class="required">*</span>
						         <textarea data-ng-model="formData.description" name="description" style="width:77%; height:5.5em;" required data-late-Validate></textarea>
						    </div>
				         </div>
				         <div class="control-group">
						     <label class="control-label" for="Attachments"> {{'label.ticket.file' | translate }}</label>
						     <div class="col-sm-3">
							    <input type= "file" ng-file-select="onFileSelect($files)">
						     </div>
					    </div>
				           <div class="col-md-offset-9">
				              <a id="cancel" href="#/tickets"><button type="reset" class="btn">{{'btn.cancel' | translate}}</button></a>
			                  <button id="submit" type="submit" data-ng-disabled="!createticketform.$valid" class="btn btn-primary">{{'btn.save' | translate}}</button>
				           </div>
				         
				      </fieldset>
		      </form>
	       </div>
	    </div>
     </div>
</div>
		 
						
						