<div class="content-container">
    <div class="widget">
     <h3 class="full-bg-title">{{'label.anchor.masters' | translate}}</h3>
     <div class="master-wrap">
        <div class="row">
            <div class="col-md-6">
                <ul class="master-list">
                     <li>
                        <a class="list-group-item" href="#/addressmanage" has-permission='READ_LOCATION'>
                            <div class="icon-box">
                                <i id="iconfa" class="fa fa-building fa fa-large"></i>
                            </div>
                            <div class="right-box">
                                <h4 id="iconh4" class="list-group-item-heading">
                                    {{'label.anchor.addressmaster' | translate}}</h4>
                                    <p class="list-group-item-text">{{'label.managegeographicaladdressheirarchy' | translate}}</p>
                            </div>
                        </a>
                    </li>
                     <li>
                           <a class="list-group-item" href="#/ticketteamusers" has-permission='READ_TICKETTEAM'>
                            <div class="icon-box">
                               <i id="iconfa" class="fa fa-user fa fa-large"></i>
                            </div>
                            <div class="right-box">
                               <h4 id="iconh4" class="list-group-item-heading">
                             {{'label.anchor.teamteamusers' | translate}}</h4>
                               <p class="list-group-item-text">{{'label.createticketteamandteamusers' |
                                translate}}</p>
                            </div>
                        </a>
                     </li>
                     <li>
                        <a class="list-group-item" href="#/property" has-permission='READ_PROPERTY'>
                            <div class="icon-box">
                               <i id="iconfa" class="fa fa-sitemap fa fa-large"></i>
                            </div>
                             <div class="right-box">
                                <h4 id="iconh4" class="list-group-item-heading">Property Definition</h4>
                               <p class="list-group-item-text">Define Property masters </p>
                           </div>
                        </a>
                     </li>
                     <li>
                         <a class="list-group-item" href="#/groupsDetails" has-permission ='READ_GROUPSDETAILS'>
                             <div class="icon-box">
                               <i id="iconfa" class="fa fa-gift fa fa-large"></i>
                            </div>
                            <div class="right-box">
                              <h4 id="iconh4" class="list-group-item-heading">  {{'label.anchor.closedusergroup' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.managecuginnformation' | translate}}</p>
                        </div>
                        </a>
                     </li>
                     <li>
                         <a class="list-group-item" href="#/message" has-permission ='READ_MESSAGE'>
                              <div class="icon-box">
                               <i id="iconfa" class="fa fa-book fa fa-large"></i>
                            </div>
                            <div class="right-box">
                              <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.messagetemplate' | translate}}</h4>
                              <p class="list-group-item-text">{{'label.definethemessagetemplates' | translate}}</p>
                          </div>
                        </a>
                     </li>
                     <li>
                         <a class="list-group-item" href="#/broadcasterchannelmapping" has-permission ='READ_BROADCASTERCHANNELMAPPING'>
                              <div class="icon-box">
                               <i id="iconfa" class="fa fa-eye fa fa-large"></i>
                            </div>
                            <div class="right-box">
                            <h4 id="iconh4" class="list-group-item-heading"> {{'label.anchor.broadcasterchannelmapping' | translate}}</h4>
                             <p class="list-group-item-text">{{'label.definebroadcasterchannelmapping' | translate}}</p>
                         </div>
                       </a>
                     </li>
                     <li>
                         <a class="list-group-item" href="#/vendormanagement" has-permission ='READ_VENDORMANAGEMENT'>
                            <div class="icon-box">
                              <i id="iconfa" class="fa fa-globe fa fa-large"></i>
                            </div>
                            <div class="right-box">
                            <h4 id="iconh4" class="list-group-item-heading">Vendor Management</h4>
                             <p class="list-group-item-text">Vendor Management and Agreements</p>
                         </div>
                        </a>
                     </li>
                     <li>
                          <a class="list-group-item" href="#/voucherpins" has-permission ='READ_RANDAMGENERATOR'>
                            <div class="icon-box">
                              <i id="iconfa" class="fa fa-gift fa fa-large"></i>
                            </div>
                            <div class="right-box">
                            <h4 id="iconh4" class="list-group-item-heading">Voucher Pins</h4>
                            <p class="list-group-item-text">Generate Voucher Pins for Redemption</p>
                        </div>
                       </a>
                     </li>
                     <li> 
                        <a class="list-group-item" href="#/items" has-permission ='READ_ITEM'>
                            <div class="icon-box">
                              <i id="iconfa" class="fa fa-bars"></i>
                            </div>
                            <div class="right-box">
                              <h4 id="iconh4" class="list-group-item-heading">Item</h4>
                            <p class="list-group-item-text">Define Items</p>
                        </div>
                       </a>
                     </li>
                     <li>
                          <a class="list-group-item" href="#/supplier" has-permission ='READ_SUPPLIER'>
                            <div class="icon-box">
                              <i id="iconfa" class="fa fa-rocket"></i>
                            </div>
                            <div class="right-box">
                            <h4 id="iconh4" class="list-group-item-heading">Supplier</h4>
                            <p class="list-group-item-text">Define Suppliers</p>
                        </div>
                       </a>
                     </li>

<!--                      
			<li>
                         <a class="list-group-item" href="#/radius" has-permission ='READ_SUPPLIER'>
                              <div class="icon-box">
                                <i id="iconfa" class="fa fa-globe fa fa-large"></i>
                            </div>
                            <div class="right-box">
                            <h4 id="iconh4" class="list-group-item-heading">Radius</h4>
                            <p class="list-group-item-text">Define AAA for Users</p>
                        </div>
                       </a>
                     </li>
 -->
                     <li>
                        <a class="list-group-item" href="#/rating" has-permission ='READ_RATING'>
                              <div class="icon-box">
                               <i id="iconfa" class="fa fa-globe fa fa-large"></i>
                            </div>
                            <div class="right-box">
                              <h4 id="iconh4" class="list-group-item-heading">Rating</h4>
                            <p class="list-group-item-text">Define Rating</p>
                         </div>
                       </a>
                     </li>
                 </ul>
              </div>
              <div class="col-md-6">
                   <ul class="master-list">
                       <li>
                            <a class="list-group-item" href="#/contract" has-permission ='READ_CONTRACT'>
                            <div class="icon-box">
                               <i id="iconfa" class="fa fa-calendar fa fa-large"></i>
                            </div>
                            <div class="right-box">
                            <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.contractperiod' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.defineordercontractperiod' | translate}}</p>
                         </div>
                        </a>
                       </li>
                       <li>
                           <a class="list-group-item" href="#/chargecode" has-permission ='READ_CHARGECODE'>
                            <div class="icon-box">
                             <i id="iconfa" class=" fa fa-th-list fa fa-large"></i>
                            </div>
                            <div class="right-box">
                            <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.chargecode&taxmapping' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.definethebillingchargecodes' | translate}}</p>
                        </div>
                        </a>
                       </li>
                       <li>
                           <a class="list-group-item" href="#/discounts" has-permission= "(READ_DISCOUNT,READ_PROMOTIONCODE)">
                             <div class="icon-box">
                              <i id="iconfa" class="fa fa-tags fa fa-large"></i>
                            </div>
                            <div class="right-box">
                          <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.discount&promotions' | translate}}</h4>
                           <p class="list-group-item-text">{{'label.managediscountandpromotiondefinitions' | translate}}</p>
                        </div>
                        </a>
                       </li>
                       <li> 
                        <a class="list-group-item" href="#/regions" has-permission ='READ_REGIONS'>
                            <div class="icon-box">
                               <i id="iconfa" class="fa fa-globe fa fa-large"></i>
                            </div>
                            <div class="right-box">
                             <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.priceregion' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.definetheregionforpricevariations' | translate}}</p>
                         </div>
                        </a>
                       </li>
                       <li>
                           <a class="list-group-item" href="#/services" has-permission ='READ_SERVICES'>
                             <div class="icon-box">
                               <i id="iconfa" class="fa fa-large fa fa-cogs"></i>
                            </div>
                            <div class="right-box">
                              <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.services&products' | translate}}</h4>
                             <p class="list-group-item-text">{{'label.definevarioustypesofservices' | translate}}</p>
                         </div>
                        </a>
                       </li>
                       <li>
                            <a class="list-group-item" href="#/plans" has-permission ='READ_PLANS'>
                            <div class="icon-box">
                              <i id="iconfa" class="fa fa-certificate fa fa-large"></i>
                            </div>
                            <div class="right-box">
                             <h4 id="iconh4" class="list-group-item-heading">
                              {{'label.planandpricing' | translate}}</h4>
                           <p class="list-group-item-text">{{'label.defineplansforcustomersservice' | translate}}</p>
                        </div>
                       </a> 
                       </li>
                       <li>
                        <a class="list-group-item" href="#/mediadetailseventpricing" has-permission ='READ_MEDIADETAILSEVENTPRICING'>
                            <div class="icon-box">
                               <i id="iconfa" class="fa fa-film"></i>
                            </div>
                            <div class="right-box">
                              <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.mediadetails&event&pricing' | translate}}</h4>
                                <p class="list-group-item-text">{{'label.managevariousmediaassetinformation' | translate}}</p>
                          </div>
                        </a>
                       </li>
                       <li>
                           <a class="list-group-item" href="#/catalogemapping" has-permission ='READ_CATALOGEMAPPING'>
                              <div class="icon-box">
                              <i id="iconfa" class="fa fa-eye fa fa-large"></i>
                            </div>
                            <div class="right-box">
                           <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.catalogemapping' | translate}}</h4>
                           <p class="list-group-item-text">{{'label.definecatalogemapping' | translate}}</p>
                        </div>
                        </a>
                       </li>
                       <li>
                        <a class="list-group-item" href="#/itemmodel" has-permission ='READ_MODELPROVISIONMAPPING'>
                            <div class="icon-box">
                              <i id="iconfa" class="fa fa-mobile-phone"></i>
                            </div>
                            <div class="right-box">
                             <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.itemmodel' | translate}}</h4>
                           <p class="list-group-item-text">{{'label.defineitemmodel' | translate}}</p>
                         </div>
                       </a>
                       </li>
                       <li>
                           <a class="list-group-item" href="#/feemaster" has-permission ='READ_FEEMASTER'>
                             <div class="icon-box">
                              <i id="iconfa" class="fa fa-book fa fa-large"></i>
                            </div>
                            <div class="right-box">
                            <h4 id="iconh4" class="list-group-item-heading">{{'label.anchor.feemaster' | translate}}</h4>
                           <p class="list-group-item-text">Charge additional fees to customer on adhoc services</p>
                        </div>
                       </a>
                       </li>
                       <li>
                           <a class="list-group-item" href="#/ipPooling" has-permission ='READ_IPMANAGEMENT'>
                            <div class="icon-box">
                             <i id="iconfa"  class="fa fa-list fa fa-large"></i>
                            </div>
                            <div class="right-box">
                             <h4 id="iconh4" class="list-group-item-heading">IP Management</h4>
                             <p class="list-group-item-text">Create the IP Address Pools</p>
                         </div>
                        </a>
                       </li>
                   </ul>
              </div>
            </div>
        </div>
    </div>
</div>
        
