<div class="content-container" ng-controller="PropertyController">
	<ul class="breadcrumb">
		<li>
		<a href="#/organization">{{'label.anchor.masters' | translate}}</a> 
		<span class="divider"></span>
		</li>
		<li class="active">Property Definition</li>
	</ul>
	<div class="widget mb30">
		<div class="row">
			<div class="col-md-3">
				<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
			</div>
		</div>
	</div>

	<div class="widget">
		<uib-tabset tabset-name="propertyTabset" >
			<uib-tab heading="{{'label.heading.properties' | translate}}"><br>
				<ul class="btn-group-list text-right mb20">
                <li>
					<a has-permission = CREATE_PROPERTY data-ng-click="uploadProperty()" class="btn primary_btn"><i class="fa fa-cloud-upload"></i>Property Data Upload</a></li>
					<li>
						<a has-permission = CREATE_PROPERTY href="#/createproperty" class="btn primary_btn"><i class="fa fa-plus"></i> {{ 'label.create.new.property' | translate }}</a>
					</li>
				</ul>
				    <div class="table-resposive">
					    <table class="table table-striped">
						    <thead>
								<tr class="graybg">
									<th>{{ 'table.heading.propertycode' | translate }}</th>
									<th>{{ 'table.heading.propertytype' | translate }}</th>
									<th>{{ 'table.heading.parcel' | translate }}</th>
									<th>{{ 'table.heading.buildingcode' | translate }}</th>
									<th>{{ 'table.heading.precinct' | translate }}</th>
									<th>{{ 'table.heading.allocated' | translate }}</th>
									<th>{{ 'table.heading.actions' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr class="pointer-main" data-ng-repeat="propertyCode in propertyCodes.currentPageItems  | filter:filterText">
									<td class="pointer" data-ng-click="routeToProperty(propertyCode.id)">{{propertyCode.propertyCode}}</td>
									<td class="pointer" data-ng-click="routeToProperty(propertyCode.id)">{{propertyCode.propertyType}}</td>
									<td class="pointer" data-ng-click="routeToProperty(propertyCode.id)">{{propertyCode.parcel}}</td>	
				                    <td class="pointer" data-ng-click="routeToProperty(propertyCode.id)">{{propertyCode.buildingCode}}</td>	
									<td class="pointer" data-ng-click="routeToProperty(propertyCode.id)">{{propertyCode.precinct}}</td>
									<td class="pointer" data-ng-click="routeToProperty(propertyCode.id)">{{propertyCode.clientId}}</td>
									<td>
										<ul class="table-icon-list">
                                             <li><a has-permission = READ_PROPERTY data-ng-click="propertyHistoryPopup(propertyCode.propertyCode)" uib-popover="View Track" data-popover-trigger="mouseenter" >
					                    	<i class="icon-list"></i>
					                    </a></li>
					                    <li>
					                    	 <a has-permission = UPDATE_PROPERTY  data-ng-show = "propertyCode.clientId == 'VACANT'"
										   href="#/editproperty/{{propertyCode.id}}" uib-popover="{{'label.editproperty' | translate}}" data-popover-trigger="mouseenter">
					                    	<i  class="fa fa-edit"></i>
					                    </a>
					                    </li>
					                    <li>
					                    	<a has-permission = DELETE_PROPERTY data-ng-show="propertyCode.status=='VACANT'"
					                       data-ng-click="deleteProperty(propertyCode.id)" uib-popover="{{'label.deleteproperty' | translate}}" data-popover-trigger="mouseenter">
					                    <i class="fa fa-times"></i>
					                   </a>
					                    </li>
								   </td>
							   </tr>
					       </tbody>
					   </table>
					</div>
				</uib-tab>
				<uib-tab heading="{{'label.heading.propertymaster' | translate}}">
						 <ul class="btn-group-list text-right mb20">
			                <li>
								 <a has-permission = CREATE_PROPERTYMASTER data-ng-click="uploadPropertyDefinitions()" class="btn primary_btn"><i class="fa fa-cloud-upload"></i>Property Master Upload</a></li>
								<li>
									 <a has-permission = CREATE_PROPERTYMASTER href="#/createpropertydefinition" class="btn btn primary_btn"><i class="fa fa-plus"></i> {{ 'label.create.new.property.master' | translate }}</a>
								</li>
							</ul>
					<div class="table-resposive">
					<table class="table table-striped" >
						<thead>
							<tr class="graybg">
								<th>{{ 'table.heading.propertytype' | translate }}</th>
								<th>{{ 'table.heading.code' | translate }}</th>
								<th>{{ 'table.heading.codedescription' | translate }}</th>
								<th>{{ 'table.heading.referencevalue' | translate }}</th>
								<th>{{ 'table.heading.actions' | translate }}</th>
							</tr>
						</thead>
						<tbody>
							<tr class="pointer-main" data-ng-repeat="propertyMaster in propertyMasters.currentPageItems  | filter:filterText">
								<td class="pointer"  data-ng-click="routeToPropertyMaster(propertyMaster.id)">{{propertyMaster.propertyCodeType}}</td>
								<td class="pointer"  data-ng-click="routeToPropertyMaster(propertyMaster.id)">{{propertyMaster.code}}</td>
								<td class="pointer"  data-ng-click="routeToPropertyMaster(propertyMaster.id)">{{propertyMaster.description}}</td>
								<td class="pointer"  data-ng-click="routeToPropertyMaster(propertyMaster.id)">{{propertyMaster.referenceValue}}</td>
								<td>
									<ul class="table-icon-list">
                                             <li><a has-permission = UPDATE_PROPERTYMASTER href="#/editpropertydefinition/{{propertyMaster.id}}" uib-popover="Edit PropertyMaster" data-popover-trigger="mouseenter">
					                	<i class="fa fa-edit"></i>
					                </a></li>
					                <li>
					                	 <a has-permission = DELETE_PROPERTYMASTER data-ng-click="deletePropertyMaster(propertyMaster.id)" uib-popover="Delete PropertyMaster" data-popover-trigger="mouseenter">
					                	<i class="fa fa-times"></i>
					                </a>
					                </li>
                                 </ul>
							    </td>	
							</tr>
					    </tbody>
			        </table> 
			      </div>
				</uib-tab>
			</uib-tabset>
		    <ul class="pager">
			    <li class="previous"><a ng-click="propertyMasters.previous()" href="" ng-disabled="!propertyMasters.hasPrevious()">&larr; Prev</a></li>
			    <li class="next" ><a ng-click="propertyMasters.next()" href="" ng-disabled="!propertyMasters.hasNext()">Next &rarr;</a></li>
			</ul>
		</div>
	</div>
	<script type="text/ng-template" id="uploadProperty.html">

    	<div class="modal-header silver">
        	<h3 class="bolder">{{'dialog.upload.property.data' | translate}}</h3>
        </div>
         <div class="modal-body">
	 		<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	   		</div>
                <div class="form-group row">
                   <div class="col-md-4">
                       <label class="control-label" for="file">{{'label.client.select.file' | translate}}</label>
                   </div> 
                    <div class="col-md-8">
                         <input type="file" class="form-control" ng-file-select="onFileSelect($files)">
                    </div>
                </div>
                <div class="form-group ">
                    <a ng-click="downloadFile()" data-popover-placement="right" data-popover="Download Sample File" data-popover-trigger="mouseenter"><i class="icon-download-alt icon-white"></i></a>
                </div>
            </div>
                <div class="modal-footer">
                    <ul class="btn-group-list text-right">
                        <li>
                            <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        </li>
                        <li>
                            <button id="submit" class="btn btn-primary" data-ng-disabled="!value" ng-click="approve()">{{'label.confirm' | translate}}</button> 
                        </li>
                    </ul>
                </div> 
	</script>
	
	
	<script type="text/ng-template" id="deletePopupForProperty.html">
    	<div class="modal-header silver">
            <h3 class="bolder">Delete Property Definition</h3>
        </div>
        <div class="error" ng-show="errorStatus || errorDetails">
                <label>{{'label.contract.error' | translate}}</label>
                <label ng-show="errorStatus">{{errorStatus}}</label>
                <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
            </div>
        <div class="modal-body">
            <h4>Are you sure?</h4>
        </div>

        <div class="modal-footer">
            <ul class="btn-group-list text-right">
                        <li><button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button></li>
                        <li>
                             <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                        </li>
                    </ul>
        </div>
   </script>
   
      <script type="text/ng-template" id="propertyhistory.html">
      <div class="modal-header silver">
           <h3 class="bolder">Track History</h3>
       </div>
       <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped">
                <thead>
                  <tr >
                    <th>{{'table.property.refType' | translate}}</th>
                     <th>{{'table.property.propertycode' | translate}}</th>
                    <th>{{'table.property.transactionDate' | translate}}</th>
                    <th>{{'table.property.status' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="ph in propertyhistory.currentPageItems  | filter:filterText">
                    <td>{{ph.description}}</td>
                    <td>{{ph.propertyCode}}</td>
                    <td>{{ph.transactionDate | DateFormat}}</td>
                    <td>
                     <span>{{ph.status}}</span> 
                     <span ng-show="ph.status=='OCCUPIED'"> By {{ph.clientName}}-->{{ph.clientId}}</span></td>
                    <tr/>
                  <tr><td colspan="5"><div data-ng-show="blockUI" class="offset3"><i class="icon-refresh icon-spin icon-large"></i>
                    </div></td></tr>
                </tr>
                 </tbody>
               </table>
           </div>
       </div>
       <div class="modal-footer">
            <button class="btn btn-primary" ng-click="accept()">Done</button>
        </div>
	</script> 
	
    <script type="text/ng-template" id="uploadPropertyDefinition.html">
<div class="modal-header silver">
            <h3 class="bolder">{{'dialog.upload.property.master' | translate}}</h3>
        </div>
            <div class="error" ng-show="errorStatus || errorDetails">
                <label>{{'label.contract.error' | translate}}</label>
                <label ng-show="errorStatus">{{errorStatus}}</label>
                <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
            </div>
<div class="modal-body">
    <div class="form-group row">
       <div class="col-md-4">
           <label class="control-label" for="file">{{'label.client.select.file' | translate}}</label>
       </div> 
        <div class="col-md-8">
             <input type="file" class="form-control" ng-file-select="onFileSelect($files)">
        </div>
    </div>
    <div class="form-group ">
         <a ng-click="downloadFile()" data-popover-placement="right" data-popover="Download Sample File" data-popover-trigger="mouseenter"><i class="icon-download-alt icon-white"></i></a>
    </div>
</div>
<div class="modal-footer">
     <ul class="btn-group-list text-right">
                <li><button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button></li>
                <li>
                    <button id="submit" class="btn btn-primary" data-ng-disabled="!value" ng-click="approve()">{{'label.confirm' | translate}}</button>
                </li>
            </ul>
        </div> 
	</script>
	
	
		<script type="text/ng-template" id="deletePopupForPropertyMaster.html">
    	<div class="modal-header silver">
            <h3 class="bolder">Delete Property Master</h3>
        </div>
        <div class="error" ng-show="errorStatus || errorDetails">
                <label>{{'label.contract.error' | translate}}</label>
                <label ng-show="errorStatus">{{errorStatus}}</label>
                <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
            </div>
        <div class="modal-body">
            <h4>Are you sure?</h4>
        </div>

        <div class="modal-footer">
             <ul class="btn-group-list text-right">
                <li>
                    <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                </li>
                <li>
                      <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                </li>
             </ul>
        </div>
   </script>
</div>