<div class="content-container" ng-controller="SalesCatalogeController">
	<ul class="breadcrumb">
		<li>
			<a href="#/organization">{{'label.anchor.masters' | translate}}</a>
		</li>
		<li class="active">{{'label.salescataloge' | translate}}&nbsp;&nbsp;</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<div class="row">
					<div class="col-md-6">
		            	<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
		            </div>
		            <div class="col-md-6">
		            	<a href="#/CreateSalesCataloge" class="btn btn-primary pull-right" has-permission ='CREATE_SALESCATALOGE'><i class="fa fa-plus "></i>{{'label.button.createsalescataloge' | translate }}</a>
		            </div>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr class="graybg">
					<th>{{ 'label.id' | translate }}</th>
	                <th>{{ 'label.name' | translate }}</th>
	                <th>{{ 'label.actions' | translate }}</th>
	            	</tr>
				</thead>
				<tbody>
					<tr class="pointer-main" data-ng-repeat="salescataloge in salescataloges.currentPageItems | filter:filterText">
		                <td class="pointer" data-ng-click="routeTo(salescataloge.id)">{{salescataloge.id}}</td>
		                <td class="pointer" data-ng-click="routeTo(salescataloge.id)">{{salescataloge.name}}</td>
		                <td><a has-permission = UPDATE_SALESCATALOGE href="#/editsalescataloge/{{salescataloge.id}}" uib-popover="Edit SalesCataloge" title="Edit SalesCataloge"
		                       data-popover-trigger="mouseenter" class="fa fa-edit"></a>&nbsp; 
		                <a has-permission = DELETE_SALESCATALOGE  data-ng-click="deletesalescataloge(salescataloge.id)" uib-popover="Delete SalesCataloge" title="Delete SalesCataloge"
		                       data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a>&nbsp;
		            	</td>
	            	</tr>
				</tbody>
			</table>
		</div>
	</div>
	 <script type="text/ng-template" id="deletesalescataloge.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'label.delete.salescataloge' | translate}}</h3>
                    </div>
                    <div class="modal-body" style="height:60px;">
                       <api-validate></api-validate>
                       <div class="form-group">
				           <div class="col-sm-3">
					           <label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
				           </div>	
			           </div>
                         <h3 align="center">{{'label.confirm.msg' | translate}}</h3>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
 	</script>
</div>