<div class="content-container" ng-controller="ClientNewDocumentController">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
		<li><a href='#/viewclient/id/{{clientId}}'>{{'label.anchor.viewcustomer' | translate}}</a></li>
        <li class="active">{{'label.anchor.uploaddocument' | translate}}</li>
    </ul>
    <div class="widget">
    <form name="clientdocumentform" novalidate="" class="card form-horizontal"
    rc-submit="submit()">
    <api-validate></api-validate>
        <h3>{{'label.heading.uploadclientdocument' | translate}}</h3>
        <div class="row">
           <div class="col-md-6">
             <div class="form-group row">
                <div class="col-md-4">
                  <label class="control-label" for="name">{{'label.input.name' | translate}}<span
                    class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input ng-autofocus="true" type="text" id="name" name="name" ng-model="formData.name" class="form-control" required
                    late-Validate/>
                </div>
                    <!-- <div class="col-sm-3">
                        <form-validate valattributeform="clientdocumentform" valattribute="name"/>
                    </div> -->
                </div>
           </div>
           <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">
                    <label class="control-label" for="file">{{'label.input.selectfile' | translate}}<span
                    class="required">*</span></label>
                    </div>
                       <div class="col-md-8">
                        <input type="file" id="file" ngf-select="onFileSelect($files)">
                        </div>
                    </div>
                </div>
        
        </div>

          <div class="row">
             <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">
                         <label class="control-label">{{'label.input.description' | translate}}</label>
                    </div>
                       <div class="col-md-8">
                            <textarea rows="2" ng-model="formData.description" class="form-control"></textarea>
                        </div>
                    </div>
            </div>
            </div>
                <ul class="btn-group-list text-right mt20 mb20">
                    <li>
                         <a id="cancel" href="#/viewclient/id/{{clientId}}">
                        <button type="reset" class="btn btn-warning">{{'label.button.cancel' | translate}}</button>
                    </a>
                    </li>
                    <li>
                         <button id="save" type="submit" has-permission='CREATE_DOCUMENT' class="btn btn-primary">{{'label.button.save' | translate}}</button>
                    </li>
                </ul>
        </form>
</div>
