<div class="content-container" ng-controller="ClientController">
    <ul class="breadcrumb">
        <li class="active">{{'label.anchor.customers' | translate}}</li>
    </ul>

    <div class="widget card mb30">
        <!-- <div class="toolbar ptb15 mrl15 bb1 mb20">
                    <h4 class="ptrbl0">{{'label.listofcustomers' | translate}}</h4>
                </div> -->
        <form ng-submit="searchClient(columnName,columnValue)">
            <!-- <div class="col-md-4">
                            <input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text"
                                       class="form-control unstyled"
                                       placeholder="{{'label.input.filterbynameaccno' | translate}}">
                        </div>
                        <div class="col-md-2">
                            <ng-form ng-submit="search(filterText)">
                                <select ng-model="status" ng-change="searchSource(status)" class="form-control">
                                          <option value="ALL">ALL</option>
                                          <option value="NEW">NEW</option>
                                          <option value="ACTIVE">ACTIVE</option>
                                          <option value="DEACTIVE">DEACTIVE</option>
                                          <option value="CLOSED">CLOSED</option>
                                </select>
                            </ng-form>
                          </div> -->
            <div class="row align-items-center">
                <div class="col-lg-3">
                  <input ng-autofocus="true" id="search" type="text" class="form-control" data-ng-model="columnValue" placeholder="{{'label.input.searchforclients' | translate}}">
                </div>
                <!-- <div class="row"> -->
                <div class="col-lg-2">
                       <select class="form-control" data-ng-model="columnName">
                        <!-- <option value="">Account No</option> -->
                        <option value="serial_no">{{'label.Serial No' | translate}}
                        </option>
                        <option value="provisioning_serialno">{{'label.Chip Id' | translate}}
                        </option>
                        <option value="phone">{{'label.Mobile No' | translate}}</option>
                        <option value="email">{{'label.Email Id' | translate}}</option>
                        <option value="account_no">{{'label.Account No' | translate}}
                        </option>
                        <option value="external_id">{{'label.Legacy No' | translate}}
                        </option>
                    </select>
                   
                </div>

                <div class="col-lg-7">
                    <ul class="btn-group-list text-right">
                        <li><a class="btn primary_btn" data-ng-click="advancesearch()"><i class="fa fa-plus"></i>
                                {{'label.button.advancesearch' | translate}}</a></li>
                        <li><a href="#/createclient" class="btn primary_btn " has-permission='CREATE_CLIENT'><i class="fa fa-plus"></i>
                                {{'label.button.createcustomer' | translate}}</a></li>
                        <li><a href="#/customerActivation" class="btn primary_btn " has-permission='ACTIVATIONPROCESS_ACTIVATE'><i class="fa fa-tasks"></i>{{'label.Customer Activation' | translate}}</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <!-- <div class="col-sm-5">
                    <a href="#/createclient" class="btn btn-primary" has-permission='CREATE_CLIENT'><i
                                    class="fa fa-plus"></i> {{'label.button.createcustomer' | translate}}</a>
                    <span ng-show="PermissionService.showMenu('ALL_FUNCTIONS')" style="padding:1.5em; font-style: oblique;">
                        <img src="./images/Icons-users.png" alt="TotalClients" width="28px" height="15px"/>{{totalClients}}&nbsp;Total</span>
                    <span has-permission='ALL_FUNCTIONS' style="padding:1.5em; font-style: oblique;">
                        <i class="fa fa-users fa-2x" style="color:#959595;"></i>&nbsp;{{totalClients}}&nbsp;&nbsp;Total</span>&nbsp;
                    <span has-permission='ALL_FUNCTIONS' style="padding:1.5em; font-style: oblique;">
                        <i class="fa fa-users fa-2x" style="color:#ffd145;"></i>&nbsp;{{newClients}}&nbsp;&nbsp;New</span>&nbsp;
                </div> -->
    <!-- <div class="col-sm-5">
                    <span has-permission='ALL_FUNCTIONS' style="padding:1.5em; font-style: oblique;">
                        <i class="fa fa-users fa-2x" style="color:#39b54a;"></i>&nbsp;{{activeClients}}&nbsp;&nbsp;Active</span>&nbsp;
                    <span has-permission='ALL_FUNCTIONS' style="padding:1.5em; font-style: oblique;">
                        <i class="fa fa-users fa-2x" style="color:#f45656;"></i>&nbsp;{{InActiveClients}}&nbsp;&nbsp;Inactive</span>&nbsp;
                    <a href="#/simpleActivation" class="btn btn-primary" has-permission='ACTIVATIONPROCESS_ACTIVATE'><i
                           class="fa fa-tasks"></i> {{'label.button.activation' | translate}}</a>
                </div>  data-ng-show="isVisible"-->

    <div class="widget mb30" data-ng-show="!isVisible">
        <h3>Advanced Search</h3>
        <!-- <div class="row" ng-show="clientconfig()">
                <div class="col-sm-3">
                    <div style="background-color:#FFC40D;padding:40px">
                            <i class="icon-group icon-5x icon-white1 icon-center" style="padding-left: 17px;"></i>
                            <span class="badge cssboxcount">{{totalClients}}</span><br>
                            <p class="cssboxtext">Total</p>
                    </div>
                 </div>
                 <div class="col-sm-3">
                    <div style="background-color:#9F00A7;padding:40px">
                            <i class="icon-user icon-5x icon-white1 icon-center" style="padding-left: 37px;"></i>
                            <span class="badge cssboxcount">{{newClients}}</span>
                            <p class="cssboxtext">New</p>
                    </div>
                 </div>
                 <div class="col-sm-3">
                    <div style="background-color:#00A300;padding:40px">
                            <i class="icon-check icon-5x icon-white1 icon-center" style="padding-left: 27px;"></i>
                            <span class="badge cssboxcount">{{activeClients}}</span>
                            <p class="cssboxtext">Active</p>
                    </div>
                 </div>
                 <div class="col-sm-3">
                    <div style="background-color:#EB3C00;padding:40px">
                            <i class="icon-remove icon-5x icon-white1 icon-center" style="padding-left: 37px;"></i>
                            <span class="badge cssboxcount">{{InActiveClients}}</span>
                            <p class="cssboxtext">Inactive</p>
                    </div>
                 </div>
            </div> -->

        <!-- <div ng-show="clientconfigfalse()"> -->

        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="firstname">{{'label.firstname' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="w280" name="firstname" data-ng-model="formData.firstname" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="city">{{'label.city/area' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <span class="" data-ng-hide="propertyMaster"> <input type="text" id="w280" name="city" class="form-control" data-ng-model="city" autocomplete="off" list="citylist" data-ng-change="getStateAndCountry(city,'primary')" />
                            </span> <span class="" data-ng-show="propertyMaster"> <input type="text" id="city" name="city" class="form-control" data-ng-model="city" />
                            </span>
                            <datalist id="citylist">
                                <option data-ng-repeat="city in cities" value="{{city}}"></option>
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="email">{{'label.email' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="w280" class="form-control" data-ng-model="formData.email" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="lastname">{{'label.lastname' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="w280" name="lastname" class="form-control" data-ng-model="formData.lastname" data-ng-pattern="/^[a-zA-Z0-9\s]+$/">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="phone">{{'label.phone' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="w280" data-ng-model="formData.phone" class="form-control" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" name="phone" maxlength="15" /> <span data-ng-show="createclientform.phone.$dirty && createclientform.phone.$invalid">
                                <small class="error" data-ng-show="createclientform.phone.$error.pattern">{{'label.prospect.error.mobileno'
                                    | translate}}</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.organization' | translate}}
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input id="w280" type="text" placeholder="Enter Entity Code" data-ng-model="formData.officeId" name="serialNumber" class="form-control" uib-typeahead="officeDetails.id as groupByOffice(officeDetails.externalId, officeDetails.name) for officeDetails in getData($viewValue)" autocomplete="off" data-typeahead-min-length="0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.categeory' | translate}}
                            </label>
                        </div>
                        <div class="col-md-8">
                            <select id="w280" data-ng-model="formData.clientCategory" class="form-control" data-ng-options="clientCategoryData.id as clientCategoryData.categoryType for clientCategoryData in clientCategoryDatas">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{ 'label.cafid' | translate }}
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input id="w280" type="text" class="form-control" data-ng-model="formData.externalId" />
                        </div>
                    </div>
                </div>
            </div>
            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/clients">
                        <button id="clear" type="clear" class="btn btn-warning" data-ng-click="clear()">{{'button.clear' | translate}}</button>
                    </a>
                </li>
                <li>
                    <a href="#/clients">
                        <button id="search" type="search" class="btn btn btn-primary" data-ng-click="advancedSearchSubmit()">{{'button.search' | translate}}</button>
                    </a>
                </li>
            </ul>
        </form>
        <span data-ng-show="clients !=null">
            <div class="widget">
                <h3>{{'Searched Customer' | translate}}</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{'label.Account #' | translate}}</th>
                            <th>{{'label.Customer Name' | translate}}</th>
                            <th>{{'label.Entity' | translate}}</th>
                            <th>{{'label.Serial No' | translate}}</th>
                            <th>{{'label.Status' | translate}}</th>
                            <!-- <th data-ng-show="config['group/parentId']">Group</th> -->
                            <th>{{'label.Balance' | translate}}</th>
                            <!-- <th data-ng-show="config.userName">UserName</th>
                        <th data-ng-show="config.password">Password</th>
                        <th data-ng-show="config.externalId">ExternalId</th>
                        <th data-ng-show="config.customerCategory">Customer Category</th>
                        <th data-ng-show="config['group/parentId']">ParentId </th>
                        <th data-ng-show="configValues.clientonlinecheck">Online</th>  -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pointer-main" ng-repeat="client in clients | filter:columnValue">
                            <td class="pointer" data-ng-click="routeTo(client.id)">{{client.accountNo}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)">{{client.displayName}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)">{{client.officeName}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)">{{client.hwSerialNumber}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)"><i class="fa fa-stop {{client.status.code | StatusLookup}}"></i>&nbsp;{{client.status.value}}</td>
                            <!-- <td data-ng-show="config['group/parentId']" class="pointer" data-ng-click="routeToGroup(client.groupName)" >{{client.groupName}}</td>
                 -->
                            <td class="pointer" data-ng-click="routeTo(client.id)">{{client.balanceAmount}}</td>
                            <!-- <td data-ng-show="config.userName" class="pointer" data-ng-click="routeTo(client.id)" >{{client.userName}}</td>
                <td><a data-ng-show="config.password" class="pointer" data-ng-click="routeTo(client.id)" popover-placement="top" 
                              popover="{{client.password}}" popover-trigger="mouseenter" >{{client.clientPassword}}</a></td>
                <td data-ng-show="config.externalId" class="pointer" data-ng-click="routeTo(client.id)" >{{client.externalId}}</td>
                <td data-ng-show="config.customerCategory" class="pointer" data-ng-click="routeTo(client.id)" >{{client.categoryType}}</td>
                <td data-ng-show="config['group/parentId']" class="pointer" data-ng-click="routeTo(client.id)" >{{client.parentId}}</td> 
                <td data-ng-show="configValues.clientonlinecheck" class="pointer" >
                    <a ng-hide="isOnline== 'Online{{client.id}}' || isOnline== 'Offline{{client.id}}'" id='pop-over-link' class = "btn-disable" ng-click="routeToCheckOnline(client.userName,client.id)"> data-popover-trigger="focus" popover="{{isOnline}}"
                    <i><img src="./images/Query.png" width="45px" height="15px"/></i>
                    </a>
                    <a ng-show="isOnline== 'Online{{client.id}}'" id='pop-over-link'  ng-click="routeToCheckOnline(client.userName,client.id)" >
                    <i><img src="./images/Online.png" width="45px" height="15px"/></i>
                    </a>
                    <a ng-show="isOnline== 'Offline{{client.id}}'" id='pop-over-link'  ng-click="routeToCheckOnline(client.userName,client.id)" >
                    <i><img src="./images/Untitled.png" width="45px" height="15px"/></i>
                    </a> 
                 -->
                            <!-- </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </span>
    </div>
    <!-- data-ng-show="isVisible=='false'" -->
    <div class="widget" data-ng-show="isVisible">
        <h3>Searched Customer</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{'label.Account #' | translate}}</th>
                    <th>{{'label.Customer Name' | translate}}</th>
                    <th>{{'label.Entity' | translate}}</th>
                    <th>{{'label.Serial No' | translate}}</th>
                    <th>{{'label.Status' | translate}}</th>
                    <!-- <th data-ng-show="config['group/parentId']">Group</th> -->
                    <th>{{'label.Balance' | translate}}</th>
                    <!-- <th data-ng-show="config.userName">UserName</th>
                <th data-ng-show="config.password">Password</th>
                <th data-ng-show="config.externalId">ExternalId</th>
                <th data-ng-show="config.customerCategory">Customer Category</th>
                <th data-ng-show="config['group/parentId']">ParentId </th>
                <th data-ng-show="configValues.clientonlinecheck">Online</th>  -->
                </tr>
            </thead>

            <tbody>
                <tr class="pointer-main" data-ng-show="searchedClient !=null">
                    <td class="pointer" data-ng-click="routeTo(searchedClient.id)">{{searchedClient.accountNo}}</td>
                    <td class="pointer" data-ng-click="routeTo(searchedClient.id)">{{searchedClient.displayName}}</td>
                    <td class="pointer" data-ng-click="routeTo(searchedClient.id)">{{searchedClient.officeName}}</td>
                    <td class="pointer" data-ng-click="routeTo(searchedClient.id)">{{searchedClient.hwSerialNumber}}</td>
                    <td class="pointer" data-ng-click="routeTo(searchedClient.id)"><i class="fa fa-stop {{searchedClient.status.code | StatusLookup}}"></i>&nbsp;{{searchedClient.status.value}}</td>
                    <td class="pointer" data-ng-click="routeTo(searchedClient.id)">{{searchedClient.balanceAmount}}</td>
                </tr>
            </tbody>
        </table>
        <ul class="pager ">
            <li class="previous" ng-if="clients.hasFirstPage()" ng-click="firstPageNo()"><a ng-click="clients.firstPage()" href="" ng-disabled="!clients.hasFirstPage()">{{ 'label.First' |
                    translate }}</a></li>
            <li class="previous" ng-if="clients.hasPrevious()" ng-click="previousPageNo()"><a id="prev" ng-click="clients.previous()" href="" ng-disabled="!clients.hasPrevious()">&larr; {{ 'label.prev' |
                    translate }}</a></li>
            <!-- <strong>{{ 'label.Page No' | translate }}:&nbsp;&nbsp;pageNo/{{ 'label.totalPages' | translate }}</strong> -->
            <li class="next" ng-if="clients.hasLastPage()" ng-click="lastPageNo()"><a ng-click="clients.lastPage()" href="" ng-disabled="!clients.hasLastPage()">{{ 'label.Last' |
                    translate }}</a></li>
            <li class="next" ng-if="clients.hasNext()" ng-click="nextPageNo()"><a id="next" ng-click="clients.next()" href="" ng-disabled="!clients.hasNext()">{{ 'label.next' | translate }}
                    &rarr;</a></li>
        </ul>
    </div>

    <!-- <div class="toolbar">
                <h3>Recent Actions Performed</h3>
                 </div>
                <table class="table table-striped">
                    <thead>
                        <tr class="graybg">
                            <th>Account #</th>
                            <th>Customer Name</th>
                            <th>Entity</th>
                            <th>Serial No</th>
                            <th>Status</th>
                            <th data-ng-show="config['group/parentId']">Group</th>
                            <th>Balance</th>       
                            <th data-ng-show="config.userName">UserName</th>
                            <th data-ng-show="config.password">Password</th>
                            <th data-ng-show="config.externalId">ExternalId</th>
                            <th data-ng-show="config.customerCategory">Customer Category</th>
                            <th data-ng-show="config['group/parentId']">ParentId </th>
                            <th data-ng-show="configValues.clientonlinecheck">Online</th> 
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="pointer-main" ng-repeat="client in clients | filter:columnValue" >  
                            <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.accountNo}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.displayName}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.officeName}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.hwSerialNumber}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)" ><i class="fa fa-stop {{client.status.code | StatusLookup}}"></i>&nbsp;{{client.status.value}}</td>
                            <td data-ng-show="config['group/parentId']" class="pointer" data-ng-click="routeToGroup(client.groupName)" >{{client.groupName}}</td>

                             <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.balanceAmount}}</td>
                            <td data-ng-show="config.userName" class="pointer" data-ng-click="routeTo(client.id)" >{{client.userName}}</td>
                            <td><a data-ng-show="config.password" class="pointer" data-ng-click="routeTo(client.id)" popover-placement="top" 
                                          popover="{{client.password}}" popover-trigger="mouseenter" >{{client.clientPassword}}</a></td>
                            <td data-ng-show="config.externalId" class="pointer" data-ng-click="routeTo(client.id)" >{{client.externalId}}</td>
                            <td data-ng-show="config.customerCategory" class="pointer" data-ng-click="routeTo(client.id)" >{{client.categoryType}}</td>
                            <td data-ng-show="config['group/parentId']" class="pointer" data-ng-click="routeTo(client.id)" >{{client.parentId}}</td> 
                            <td data-ng-show="configValues.clientonlinecheck" class="pointer" >
                                <a ng-hide="isOnline== 'Online{{client.id}}' || isOnline== 'Offline{{client.id}}'" id='pop-over-link' class = "btn-disable" ng-click="routeToCheckOnline(client.userName,client.id)"> data-popover-trigger="focus" popover="{{isOnline}}"
                                <i><img src="./images/Query.png" width="45px" height="15px"/></i>
                                </a>
                                <a ng-show="isOnline== 'Online{{client.id}}'" id='pop-over-link'  ng-click="routeToCheckOnline(client.userName,client.id)" >
                                <i><img src="./images/Online.png" width="45px" height="15px"/></i>
                                </a>
                                <a ng-show="isOnline== 'Offline{{client.id}}'" id='pop-over-link'  ng-click="routeToCheckOnline(client.userName,client.id)" >
                                <i><img src="./images/Untitled.png" width="45px" height="15px"/></i>
                                </a> 

                            </td>
                        </tr>
                    </tbody>
                </table> -->

    <!--         <span ng-show="clients.currentPageItems !=0">
            <table class="table table-striped">
                    <thead>
                        <tr class="graybg">
                            <th>Account #</th>
                            <th>Customer Name</th>
                            <th>Organization</th>
                            <th>Serial Number</th>
                            <th>Status</th>
                            <th>Action Performed</th>
                        </tr>
                    </thead>
                 <tbody>
                        <tr class="pointer-main" ng-repeat="client in clients.currentPageItems  | filter:filterText" > 
                            <td class="pointer" data-ng-click="routeTo(client.clientId)" >{{client.accountNo}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.clientId)" >{{client.customerName}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.clientId)" >{{client.officeName}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.clientId)" >{{client.serialNo}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.clientId)" ><i class="fa fa-stop {{client.status.code | StatusLookup}}"></i>&nbsp;{{client.status.value}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.clientId)" >{{client.actionPerformed}}</td>
                        </tr>
                </tbody>
            </table>    
            </span>
     -->

    <!--     
            <span clients.currentPageItems==0>
          <div align="center"><h4>There are no recent activities to display</h4><div>
            </span>
             -->
    <!-- 

                        <tr class="pointer-main" ng-repeat="client in clients.currentPageItems  | filter:filterText" > ng-hide="client.status.value == 'Closed'" 
                            <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.accountNo}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.displayName}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.officeName}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.hwSerialNumber}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)" ><i class="fa fa-stop {{client.status.code | StatusLookup}}"></i>&nbsp;{{client.status.value}}</td>
                            <td data-ng-show="config['group/parentId']" class="pointer" data-ng-click="routeToGroup(client.groupName)" >{{client.groupName}}</td>
                            <td class="pointer" data-ng-click="routeTo(client.id)" >{{client.balanceAmount}}</td>
                            <td data-ng-show="config.userName" class="pointer" data-ng-click="routeTo(client.id)" >{{client.userName}}</td>
                            <td><a data-ng-show="config.password" class="pointer" data-ng-click="routeTo(client.id)" popover-placement="top" 
                                          popover="{{client.password}}" popover-trigger="mouseenter" >{{client.clientPassword}}</a></td>
                            <td data-ng-show="config.externalId" class="pointer" data-ng-click="routeTo(client.id)" >{{client.externalId}}</td>
                            <td data-ng-show="config.customerCategory" class="pointer" data-ng-click="routeTo(client.id)" >{{client.categoryType}}</td>
                            <td data-ng-show="config['group/parentId']" class="pointer" data-ng-click="routeTo(client.id)" >{{client.parentId}}</td> 
                            <td data-ng-show="configValues.clientonlinecheck" class="pointer" >
                                <a ng-hide="isOnline== 'Online{{client.id}}' || isOnline== 'Offline{{client.id}}'" id='pop-over-link' class = "btn-disable" ng-click="routeToCheckOnline(client.userName,client.id)"> data-popover-trigger="focus" popover="{{isOnline}}"
                                <i><img src="./images/Query.png" width="45px" height="15px"/></i>
                                </a>
                                <a ng-show="isOnline== 'Online{{client.id}}'" id='pop-over-link'  ng-click="routeToCheckOnline(client.userName,client.id)" >
                                <i><img src="./images/Online.png" width="45px" height="15px"/></i>
                                </a>
                                <a ng-show="isOnline== 'Offline{{client.id}}'" id='pop-over-link'  ng-click="routeToCheckOnline(client.userName,client.id)" >
                                <i><img src="./images/Untitled.png" width="45px" height="15px"/></i>
                                </a> 

                            </td>
                        </tr>
-->
    <!-- </tbody> -->

    <!-- </div> -->
    <!-- <dir-pagination-controls align="center" boundary-links="true"
    template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
        on-page-change="getResultsPage(newPageNumber)">
</dir-pagination-controls> -->
</div>