<div class="content-container" data-ng-controller="CloseClientController">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
        <li><a href='#/viewclient/id/{{clientId}}'>{{'label.anchor.viewcustomer' | translate}}</a></li>
        <li class="active">{{'label.closecustomer' | translate}}</li>
    </ul>
    <div data-ng-include="'views/clients/viewclienttopinfo.html'"></div>
    <div class="widget ">
        <h3>{{'label.closecustomer' | translate}}</h3>
        <form name="closeclientform" novalidate class="form-horizontal" data-ng-submit="submit()">
            <api-validate></api-validate>
            <!-- <div class="error" data-ng-show="errorStatus || errorDetails">
							<label data-ng-show="errorStatus">{{errorStatus}}</label>
							<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
					 </div> -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="Date"> Closure Date<span class="required">*</span> </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="close.date" data-is-open="opened" min="minDate" max="maxDate" class="form-control" data-date-disabled="disabled(date, mode)" required data-late-Validate style="background-color:#FFFFFF;" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label"> Closure Reason<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.closureReasonId" class="form-control" data-ng-options="closureReason.id as closureReason.name for closureReason in closureReasons">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a id="cancel" href='#/viewclient/id/{{clientId}}'>
                        <button type="reset" class="btn btn-warning">{{'button.cancel' | translate}}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
                </li>
            </ul>
        </form>
    </div>
</div>