<div class="content-container" ng-controller="CreateSimpleActivationController">
	<div class="card">
    	<div class="content">
    		<div class="toolbar"> 
			 	<h3>{{'label.button.activation' | translate}}</h3>
		 	</div><br><br><br>
    		<form class="form-horizontal"  rc-submit="submit()">
    			<api-validate></api-validate>
				<wizard> 
				    <wz-step wz-title="Client Info">
				    	<ng-form name="clientinfoform" novalidate="" class="form-horizontal">
					        <div class="form-group">
			            		<label class="control-label col-sm-2">{{'label.office' | translate}}<span class="required">*</span></label>
				            	<div class="col-sm-3">
				                	<!-- <select data-ng-model="formData.officeId"  data-ng-options="office.id as office.name for office in offices" 
				                		class="form-control" data-ng-change="changeOffice(formData.officeId)"></select> -->
						            	<input type="text"  
						            		placeholder="Enter Office Code"
						            		data-ng-model="formData.officeId" 
						            		name="serialNumber" 
						            		class="form-control"
											uib-typeahead=" officeDetails.externalId as groupByOffice(officeDetails.externalId, officeDetails.name) for officeDetails in getOfficeData($viewValue)" 
											autocomplete="off" data-typeahead-min-length="1">
				              	</div>
				              	<label class="control-label col-sm-2">{{'label.clientcategeory' | translate}}<span class="required">*</span></label>
				              	<div class="col-sm-3">
				               		<select data-ng-model="formData.clientCategory"  class="form-control"
				               			    data-ng-options="clientCategoryData.id as clientCategoryData.categoryType for clientCategoryData in clientCategoryDatas" >
				               			    <option value="">{{'label.select.one' | translate}}</option>
				               		</select>
				              	</div>
			              	</div>
			              	<div class="form-group">
	           		 			<label class="control-label col-sm-2" for="firstname">{{'lable.fullname' | translate}}<span class="required">*</span></label>
		           		 		<div class="col-sm-3">
			                		<input type="text" id="firstname" name="firstname" data-ng-model="fullname" class="form-control"
			                			data-ng-change="formName(fullname)" data-ng-pattern="/^[a-zA-Z0-9\s]+$/" required data-ng-minlength=3 data-late-Validate/>
			                		<span  data-ng-show="clientinfoform.firstname.$invalid">
			                			<span class="error" data-ng-show="clientinfoform.firstname.$error.pattern">alphanumeric and spaces only!</span>
			                   			 <span class="error" data-ng-show="clientinfoform.firstname.$error.req">
			                       			 Required Field
			                    		</span>
			                    		<span class="error" data-ng-show="clientinfoform.firstname.$error.minlength && !clientinfoform.firstname.$error.req">
			                    			Name is required at least 3 characters</span>
			                		</span>
			              		</div>
			              		<label class="control-label col-sm-2" for="city">{{'label.city/area' | translate}}<span class="required">*</span></label>
		           		 		<div class="col-sm-3">
			               			 <select data-ng-model="formData.city"  data-ng-options="citi for citi in  cities" class="form-control"
			               			 	     data-ng-change="getStateAndCountry(formData.city)" >
			               			 	     <option value="">{{'label.select.one' | translate}}</option>
			               			 </select>
			              		</div>
			              	</div>
	           		 		<div class="form-group">
		           		 		<label class="control-label col-sm-2" for="phone">{{'label.activation.phone' | translate}}<span class="required">*</span></label>
		           		 		<div class="col-sm-3">
			               			 <input type="text" id="phone" data-ng-model="formData.phone" data-ng-pattern="/^(?!0+$)\d{1,19}$/" class="form-control"
			               			 	data-ng-maxlength="10" name="phone" required  data-late-Validate/>
			               			 <span data-ng-show="clientinfoform.phone.$invalid">
				                		 <span class="error" data-ng-show="clientinfoform.phone.$error.req">Required Field</span>
			                		</span>
			           				<span data-ng-show="clientinfoform.phone.$dirty && clientinfoform.phone.$invalid">
			               				<span class="error" data-ng-show="clientinfoform.phone.$error.pattern">digits only !</span>
			              			 	<span class="error" data-ng-show="clientinfoform.phone.$error.maxlength">Exceeded max limit!</span>
			           				</span>
			              		</div>
			              		<label class="control-label col-sm-2" for="email">{{'label.email' | translate}}</label>
		           		 		<div class="col-sm-3">
			               			<input type="text" id="email" class="form-control" data-ng-model="formData.email"/>
			              		</div>
			              	</div><br><br>
			              	<div class="pull-right">
				        		<a href="#/clients"><button id="cancel" type="reset" class="btn btn-warning">Cancel</button></a>
				        		<button id="submit" wz-next data-ng-disabled="!clientinfoform.$valid" class="btn btn-primary" ng-click="getClientServices()">Next</button>
			        		</div>
				        </ng-form>
				    </wz-step>
				    <wz-step wz-title="Client Service Info">
				    	<ng-form name="clientserviceinfoform" novalidate="" class="form-horizontal">
					    	<div class="form-group">
								<label class="control-label col-sm-2" for="serviceId">{{'label.addservice' | translate }}&nbsp;
									<span class="required">*</span></label>
							    <div class="col-sm-3">
							    	<!-- <select id="serviceId" data-ng-model="formData.serviceId" class="form-control" name="serviceId"
							    			data-ng-options="serviceDatas.id as getBothService(serviceDatas.serviceCode, serviceDatas.serviceDescription) for serviceDatas in serviceData" 
							    		    ng-change="changeServiceFun()" required>
							    			<option value="">{{'label.select.one' | translate}}</option>
									 </select> -->
									 <select id="serviceId" data-ng-model="formData.serviceId" class="form-control" name="serviceId"
							    			data-ng-options="serviceDatas.id as getBothService(serviceDatas.serviceCode, serviceDatas.serviceDescription) for serviceDatas in serviceData" 
							    		    ng-change="changeServiceFun()" required>
							    			<option value="">{{'label.select.one' | translate}}</option>
									 </select>
									 <span data-ng-show="clientserviceinfoform.serviceId.$invalid">
				                		 <span class="error" data-ng-show="clientserviceinfoform.serviceId.$error.req">Required Field</span>
			                		</span>
								</div>
							</div>
							<fieldset ng-if="formData.serviceId">
				           		<h3>{{'label.details' | translate}}</h3>
	                           	<!-- <div class="form-group" data-ng-repeat="serviceDetails in serviceDetail">
                             		<label class="control-label col-sm-2">{{serviceDetails.codeParamName}}</label>
                             		<div class="col-sm-3">
	                              		<span>
	                              			<input ng-if="serviceDetails.paramType != 'Combo' && serviceDetails.paramType != 'Boolean' && serviceDetails.paramType != 'Date'" 
	                              				class="form-control" type="text" name="paramValue" data-ng-model="serviceDetails.paramValue" required/>
	                            			<select ng-if="serviceDetails.paramType == 'Combo'" id="paramValue" data-ng-model="serviceDetails" 
									    			class="form-control" name="paramValue" 
									    		    data-ng-options="detail.id as detail.systemcode for detail in serviceDetails.details" required>
									    			<option value="">{{'label.select.one' | translate}}</option>		
											</select>
											<select ng-if="serviceDetails.paramType == 'Boolean'" id="paramValue" data-ng-model="serviceDetails" 
									    			class="form-control" name="paramValue" data-ng-options="paramValue for paramValue in paramValues" required>
											</select>
											<input type="text" ng-if="serviceDetails.paramType == 'Date'" data-datepicker-pop="yyyy-MM-dd" id="paramValue" 
												data-ng-model="serviceDetails.paramValue"  data-is-open="opened2" min="minDate" max="'2020-06-22'" 
													class="form-control" name="paramValue" data-date-disabled="disabled(date, mode)" 
														style="background-color:#FFFFFF;" required/>
											<span data-ng-show="clientserviceinfoform.paramValue.$invalid">
						                		 <span class="error" data-ng-show="clientserviceinfoform.paramValue.$error.req">Required Field</span>
					                		</span>
	                            		</span>
	                            	</div>
	                           	</div> -->
	                            <div class="form-group" data-ng-repeat="serviceDetails in serviceDetail">
				                    <label class="control-label col-sm-2">{{serviceDetails.codeParamName}}</label>
				                    <div class="col-sm-3">
					                    <span>
						                    <input ng-if="serviceDetails.paramType != 'Combo' && serviceDetails.paramType != 'Boolean' && serviceDetails.paramType != 'Date'" 
						                       	   class="form-control" type="text" name="paramValue" data-ng-model="serviceDetails.paramValue" required/>
						                    <select ng-if="serviceDetails.paramType == 'Combo'" id="paramValue" data-ng-model="serviceDetails.paramValue" 
							    			        class="form-control" name="paramValue" 
							    		            data-ng-options="detail.id as detail.systemcode for detail in serviceDetails.details" required>
							    				<option value="">{{'label.select.one' | translate}}</option>		
									        </select>
											<select ng-if="serviceDetails.paramType == 'Boolean'" id="paramValue" data-ng-model="serviceDetails.paramValue" 
													class="form-control" name="paramValue" data-ng-options="paramValue for paramValue in paramValues" required>
										    </select>
										    <input type="text" ng-if="serviceDetails.paramType == 'Date'" data-datepicker-pop="yyyy-MM-dd" id="paramValue" 
												   data-ng-model="serviceDetails.paramValue"  data-is-open="opened2" min="minDate" max="'2020-06-22'" 
												   class="form-control" name="paramValue" data-date-disabled="disabled(date, mode)" 
												   style="background-color:#FFFFFF;" required/>
											<span data-ng-show="clientserviceinfoform.paramValue.$invalid">
										    	<span class="error" data-ng-show="clientserviceinfoform.paramValue.$error.req">Required Field</span>
									        </span>
					                    </span>
				                    </div>
	                    		</div>
							</fieldset><br><br>
							<div>
								<div>
									<button id="previous" type="reset" wz-previous class="btn btn-primary col-sm-1">Previous</button>
								</div>
								<div class="pull-right">
					        		<a href="#/clients"><button id="cancel" type="reset" class="btn btn-warning">Cancel</button></a>
					        		<button  wz-next data-ng-disabled="!clientserviceinfoform.$valid" class="btn btn-primary" ng-click="getOneTimeSale()">Next</button>
				        		</div>
			        		</div>
						</ng-form>
				    </wz-step>
				    <wz-step wz-title="Device Info">
				    	<ng-form name="deviceinfoform" novalidate="" class="form-horizontal">
					    	<div class="form-group">
								<label class="control-label col-sm-2">{{ 'label.saleDate' | translate }}&nbsp;<span class="required">*</span></label>
								<div class="col-sm-3">
								  <input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="saleDate" data-is-open="opened2" 
								  		min="minDate" class="form-control" max="maxDate" data-date-disabled="disabled(date, mode)" 
								  			style="background-color: #FFFFFF;" readonly required/>
								  	<span data-ng-show="deviceinfoform.saleDate.$invalid">
			                		 	<span class="error" data-ng-show="deviceinfoform.saleDate.$error.req">Required Field</span>
		                			</span>
								</div>
							 </div>
							 <table class="table table-striped" style="margin-left:80px;width:78%">
	                 			<tr>
	                    			<td>
	                    				<label class="control-label" for="serialNumber">{{'label.serialNumber' | translate }}&nbsp;
						    				<span class="required">*</span></label>
	                    				<input type="text" data-ng-model="itemDetail" name="serialNumber" class="input-small form-control"
											uib-typeahead="itemDetail as itemDetail for itemDetail in getData($viewValue)" 
												autocomplete="off" data-typeahead-on-select="getItemData($item, $model, $label)" 
													data-typeahead-min-length="0" required>
										<span data-ng-show="deviceinfoform.serialNumber.$invalid">
				                		 	<span class="error" data-ng-show="deviceinfoform.serialNumber.$error.req">Required Field</span>
			                			</span>
	                    			</td>
	                    			<td>
	                    				<label class="control-label" for="itemId">{{'label.item' | translate }}&nbsp;<span class="required">*</span></label>
								    	<select id="itemId" data-ng-model="formData.itemId" disabled class="input-small form-control"
								    			data-ng-options="itemData.id as itemData.itemCode for itemData in itemDatas">
										 </select>
	                    			</td>
	                   				<td>
	                   					<label class="control-label" for="discountId">{{'label.discountCode' | translate }}</label>
	                   					<select data-ng-model="formData.discountId" class="input-small form-control"
											data-ng-options="discountMasterData.id as discountMasterData.discountDescription for discountMasterData in discountMasterDatas">
										</select>
	                   				</td>
	                   				<td>
	                   					<label class="control-label" for="totalPrice">{{'label.totalPrice' | translate }}</label>
	                   					<input type="text" id="totalPrice" class="input-small form-control" name="totalPrice"
	                   						data-ng-model="formData.totalPrice" style="background-color: #FFFFFF;" required/>
										<span data-ng-show="deviceinfoform.totalPrice.$invalid">
				                		 	<span class="error" data-ng-show="deviceinfoform.totalPrice.$error.req">Required Field</span>
			                			</span>
	                   				</td>
	                  			</tr>
	        				</table>
        				<!-- pairable -->
	        				<table class="table table-striped" ng-if="isPairable" style="margin-left:80px;width:78%">
	                 			<tr>
	                    			<td>
	                    				<label class="control-label" for="pairableSerialNo">{{'label.pairedserialnumber' | translate}}<span class="required">*</span></label>
	                    				<input type="text" id="pairableSerialNo" name="pairableSerialNo" data-ng-model="pairableSerialNo" class="input-small form-control"
			          						autocomplete="off" list ="pairableItemlist" data-ng-change="selectPairableItemDetails(pairableSerialNo)" required /> 
			          						<datalist id="pairableItemlist">
			             						<option  data-ng-repeat="pairableItemDetail in pairableItemDetails" value="{{pairableItemDetail}}">
			      							</datalist>
			      						<span data-ng-show="deviceinfoform.pairableSerialNo.$invalid">
				                		 	<span class="error" data-ng-show="deviceinfoform.pairableSerialNo.$error.req">Required Field</span>
			                			</span>
	                    			</td>
	                    			<td>
	                    				<label class="control-label" for="pairableItemId">{{'label.paireditem' | translate }}&nbsp;<span class="required">*</span></label>
								    	<select id="pairableItemId" data-ng-model="pairableFormData.itemId" disabled class="input-small form-control"
							    			data-ng-options="pairableItemData.id as pairableItemData.itemCode for pairableItemData in itemDatas">
									 	</select>
	                    			</td>
	                   				<td>
	                   					<label class="control-label" for="pairableDiscountId">{{'label.discountCode' | translate }}</label>
	                   					<select data-ng-model="pairableFormData.discountId" class="input-small form-control"
											data-ng-options="discountMasterData.id as discountMasterData.discountDescription for discountMasterData in discountMasterDatas">
										</select>
	                   				</td>
	                   				<td>
	                   					<label class="control-label" for="totalPrice">{{'label.totalPrice' | translate }}</label>
	                   					<input type="text" id="totalPrice" class="form-control" 
												data-ng-model="pairableFormData.totalPrice" style="background-color: #FFFFFF;" required/>
										<span data-ng-show="deviceinfoform.pairableSerialNo.$invalid">
				                		 	<span class="error" data-ng-show="deviceinfoform.pairableSerialNo.$error.req">Required Field</span>
			                			</span>
	                   				</td>
	                  			</tr>
	        				</table><br><br>
	        				<div>
								<div>
									<button id="previous" type="reset" wz-previous class="btn btn-primary col-sm-1">Previous</button>
								</div>
								<div class="pull-right">
					        		<a href="#/clients"><button id="cancel" type="reset" class="btn btn-warning">Cancel</button></a>
					        		<button  wz-next data-ng-disabled="!deviceinfoform.$valid" class="btn btn-primary" ng-click="getPlans()">Next</button>
				        		</div>
			        		</div>
	        			</ng-form>
				    </wz-step>
				    <wz-step wz-title="Plan Info">
				    	<ng-form name="planinfoform" novalidate="" class="form-horizontal">
					    	<div class="form-group" >
			                   <label class="control-label col-sm-2" for="paytermCode">{{ 'label.activation.plan' | translate }}</label>
			                     <div class="col-sm-3">
			                        <select data-ng-model="formData.planCode"  class="form-control" name="planCode"
			                        		data-ng-options="plandata.id as getPlan(plandata.planCode, plandata.planDescription) for plandata in plandatas" 
			                        		data-ng-change='setBillingFrequency(formData.planCode)' required>
			                        		<option value="">{{'label.select.one' | translate}}</option>
			                        		</select>
			                        	<span data-ng-show="planinfoform.planCode.$invalid">
				                		 	<span class="error" data-ng-show="planinfoform.planCode.$error.req">Required Field</span>
			                			</span>
			                    </div>
			             		 <label class="control-label col-sm-2" for="startDate">{{ 'label.order.startdate' | translate }}</label>
			              		 <div class="col-sm-3">
			                		<input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="start.date" class="form-control"
			                			data-is-open="opened" min="minDate" max="maxDate" data-date-disabled="disabled(date, mode)" 
			                				required data-late-Validate style="background-color:#FFFFFF;"  readonly/>
			                		
			             		</div>
			           		</div>
			           		<div class="form-group">
			               		<label class="control-label col-sm-2" for="contractPeriod">{{ 'label.order.contractperiod' | translate }}</label>
			                	 <div class="col-sm-3" ng-if="formData.isPrepaid == Y">
			                     		<select ng-model="formData.contractPeriod" class="form-control" name="contractPeriod"
			                     			    ng-options="subscriptiondata.id as subscriptiondata.Contractdata for subscriptiondata in subscriptiondatas" 
			                     				value="{{billRuleData.id}}" required>
			                     				<option value="">{{'label.select.one' | translate}}</option>
			                     				</select>
			                     		<span data-ng-show="planinfoform.contractPeriod.$invalid">
			                		 		<span class="error" data-ng-show="planinfoform.contractPeriod.$error.req">Required Field</span>
		                				</span>
			                      </div>
		                           <div class="controls col-sm-3" ng-if="formData.isPrepaid != Y">
		                              <select ng-model="formData.contractPeriod"  class="form-control" name="contractPeriod1"
		                              		  ng-options="paytermdata.duration as paytermdata.duration for paytermdata in paytermdatas" 
		                              		  value="{{billRuleData.id}}" required>
		                              		  <option value="">{{'label.select.one' | translate}}</option>
		                              		  </select>
		                              	<span data-ng-show="planinfoform.contractPeriod1.$invalid">
			                		 		<span class="error" data-ng-show="planinfoform.contractPeriod1.$error.req">Required Field</span>
		                				</span>
		                           </div>
		                           <label class="control-label col-sm-2" for="paytermCode">{{ 'label.order.billingfrequency' | translate }}</label>
			                     	<div class="col-sm-3">
				                        <select data-ng-model="formData.paytermCode"  class="form-control" name="paytermCode"
				                        	    data-ng-options="paytermdata.paytermtype as paytermdata.paytermtype for paytermdata in paytermdatas" >
				                                <option value="">{{'label.select.one' | translate}}</option>
				                        </select>
				                        <span data-ng-show="planinfoform.paytermCode.$invalid">
			                		 		<span class="error" data-ng-show="planinfoform.paytermCode.$error.req">Required Field</span>
		                				</span>
			                    	</div>
			             	</div><br><br>
			             	<div>
								<div>
									<button id="previous" type="reset" wz-previous class="btn btn-primary col-sm-1">Previous</button>
								</div>
								<div class="pull-right">
					        		<a href="#/clients"><button id="cancel" type="reset" class="btn btn-warning">Cancel</button></a>
					        		<button  type="submit" data-ng-disabled="!planinfoform.$valid" class="btn btn-primary">Save</button>
				        		</div>
			        		</div>
			             </ng-form>
				    </wz-step>
				</wizard>
        	</form>
		</div>
	</div>
</div>