<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
        <li><a href="#/viewclient/id/{{clientId}}">{{'label.anchor.viewcustomer' | translate}}</a></li>
        <li class="active">{{'label.createclientadditionalinfo' | translate}}</li>
    </ul>
    <div ng-include="'views/clients/viewclienttopinfo.html'"></div>
    <div class="widget">
        <h3>{{'label.createclientadditionalinfo' | translate}}</h3>
        <form name="createclientadditionalform" novalidate class="form-horizontal" data-ng-controller="CreateClientAdditionalController" data-ng-submit="submit()">
            <api-validate></api-validate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.gender' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.gender" class="form-control" data-ng-options="genderData.id as genderData.mCodeValue for genderData in genderDatas"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.idType' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.idType" class="form-control" data-ng-options="customeridentificationData.id as customeridentificationData.mCodeValue for customeridentificationData in  customeridentificationDatas">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.nationality' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.nationality" class="form-control" data-ng-options="nationalityData.id as nationalityData.mCodeValue for nationalityData in nationalityDatas"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.idNumber' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="idNumber" name="idNumber" class="form-control" data-ng-model="formData.idNumber" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="jobTitle">{{'label.jobTitle' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="jobTitle" name="jobTitle" class="form-control" data-ng-model="formData.jobTitle" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.ageGroup' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.ageGroup" class="form-control" data-ng-options="ageGroupData.id as ageGroupData.mCodeValue for ageGroupData in ageGroupDatas"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="middlename">{{'label.dateOfBirth' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="date.dateOfBirth" is-open="opened" min="minDate" max="'2020-06-22'" class="form-control" date-disabled="disabled(date, mode)" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="utsCustomerId">{{'label.utsCustomerId' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="utsCustomerId" class="form-control" data-ng-model="formData.utsCustomerId" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.preferredLang' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.preferredLang" class="form-control" data-ng-options="languagesData.id as languagesData.mCodeValue for languagesData in languagesDatas"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="financeId">{{'label.financeId' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="financeId" class="form-control" data-ng-model="formData.financeId" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="homePhoneNumber">{{ 'label.remarks' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="remarks" id="remarks" class="form-control" data-ng-model="formData.remarks" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.preferredCommunication' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.preferredCommunication" class="form-control" data-ng-options="cummunitcationData.id as cummunitcationData.mCodeValue for cummunitcationData in cummunitcationDatas"> </select>
                        </div>
                    </div>
                </div>
            </div>

            <ul class=" btn-group-list text-right mb20 mt20">
                <li>
                    <a href="#/viewclient/id/{{clientId}}">
                        <button type="reset" class="btn btn-warning" ng-click="reset123()">
                            {{'button.cancel' | translate}}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" class="btn btn-primary">Save</button>
                </li>
            </ul>
        </form>
    </div>
</div>