<div class="content-container" data-ng-controller="CreateClientServiceController">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
		<li><a href='#/viewclient/id/{{clientId}}'>{{'label.anchor.viewcustomer' | translate}}</a></li>
		<li class="active">{{'label.client.service' | translate}}</li>
    </ul>
    <div data-ng-include="'views/clients/viewclienttopinfo.html'"></div>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h3>{{'label.client.service' | translate}}</h3>
    		</div>
    		<br>
    			<form class="form-horizontal">
    				<api-validate></api-validate>
					<div class="error" data-ng-show="errorStatus || errorDetails">
						<label>{{'label.contract.error' | translate}}</label> 
						<label data-ng-show="errorStatus">{{errorStatus}}</label> 
						<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate:error.args}}</label>
					</div>
					<fieldset>
						<div class="form-group">
							<label class="control-label col-sm-2" for="serviceId">{{'label.addservice' | translate }}&nbsp;
								<span class="required">*</span></label>
						    <div class="col-sm-3">
						    	<select id="serviceId" data-ng-model="formData.serviceId" class="form-control"
						    			data-ng-options="serviceDatas.id as getBothService(serviceDatas.serviceCode, serviceDatas.serviceDescription) for serviceDatas in serviceData" 
						    				ng-change="changeServiceFun()">
								 </select>
							</div>
						</div>
           			</fieldset>
           			<fieldset ng-if="formData.serviceId">
           				<legend>{{'label.details' | translate}}</legend>
                            		<div data-ng-repeat="serviceDetails in serviceDetail" class="form-group">
                              			<label class="control-label col-sm-2" style="margin-top:19px;">{{serviceDetails.codeParamName}}</label>
                              			<div class="col-sm-3"><br/>
		                              		<span>
		                              			<input ng-if="serviceDetails.paramType != 'Combo' && serviceDetails.paramType != 'Boolean' && serviceDetails.paramType != 'Date'" 
		                              				class="form-control" type="text" name="paramValue" data-ng-model="serviceDetails.paramValue"/>
		                            			<select ng-if="serviceDetails.paramType == 'Combo'" id="paramValue" data-ng-model="serviceDetails.paramValue" 
										    			class="form-control" data-ng-options="detail.id as detail.systemcode for detail in serviceDetails.details">
												</select>
												<select ng-if="serviceDetails.paramType == 'Boolean'" id="paramValue" data-ng-model="serviceDetails.paramValue" 
										    			class="form-control" data-ng-options="paramValue for paramValue in paramValues">
												</select>
												<input type="text" ng-if="serviceDetails.paramType == 'Date'" class="form-control" data-datepicker-pop="dd-MMM-yyyy" id="paramValue" 
													data-ng-model="serviceDetails.paramValue"  data-is-open="opened2" min="minDate" max="'2020-06-22'" 
														data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;"/>
		                            		</span>
                            			</div>
                            		</div>
	                  	<div class="col-md-offset-9">
			               	<a href='#/viewclient/id/{{clientId}}' ng-click="reset123()"class="btn btn-warning">Cancel</a>
			           	  	<button id="submit" ng-click="submit()" class="btn btn-primary">Save</button>
	          			</div>
					</fieldset>
				</form>
    	</div>
    </div>
</div>

