<div class="content-container" ng-controller="CreateCustomerActivationController">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
        <li class="active">{{'label.button.activation' | translate}}</li>
    </ul>

    <div class="widget">
        <h3 class="full-bg-title">{{'label.button.activation' | translate}}</h3>
        <form class="form-horizontal" rc-submit="submit()">
            <api-validate></api-validate>
            <h3>{{'label.customer.details' | translate}}</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.office' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Enter Entity Code" data-ng-model="formData.officeId" name="serialNumber" class="form-control" uib-typeahead=" officeDetails.externalId as groupByOffice(officeDetails.externalId, officeDetails.name) for officeDetails in getOfficeData($viewValue)" autocomplete="off" data-typeahead-min-length="1">
                        </div>
                    </div>
                </div>
                <h4><span style="color:red" data-ng-show="error" > Enter Entity Code </span> </h4>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{ 'label.cafid' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" data-ng-model="customerData.externalId" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="firstname">{{'lable.fullname' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="firstname" name="firstname" data-ng-model="customerData.firstname" class="form-control" data-ng-change="formName(fullname)" data-ng-pattern="/^[a-zA-Z0-9\s]+$/" required data-ng-minlength=3 data-late-Validate/> <span data-ng-show="clientinfoform.firstname.$invalid"> <span class="error" data-ng-show="clientinfoform.firstname.$error.pattern">alphanumeric and spaces only!</span> <span class="error" data-ng-show="clientinfoform.firstname.$error.req"> Required Field </span>
                            <span class="error" data-ng-show="clientinfoform.firstname.$error.minlength && !clientinfoform.firstname.$error.req">
				                      Name is required at least 3 characters</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="city">{{'label.city/area' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="customerData.city" data-ng-options="citi for citi in  cities" class="form-control" data-ng-change="getStateAndCountry(formData.city)">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="phone">{{'label.activation.phone' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="phone" data-ng-model="customerData.phone" data-ng-pattern="/^(?!0+$)\d{1,19}$/" class="form-control" data-ng-maxlength="10" name="phone" />
                            <!-- <span data-ng-show="clientinfoform.phone.$invalid">
		                		<span class="error" data-ng-show="clientinfoform.phone.$error.req">Required Field</span>
		               		</span> -->
                            <span data-ng-show="clientinfoform.phone.$dirty && clientinfoform.phone.$invalid">
			              		<span class="error" data-ng-show="clientinfoform.phone.$error.pattern">digits only !</span>
                            <span class="error" data-ng-show="clientinfoform.phone.$error.maxlength">Exceeded max limit!</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="email">{{'label.email' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="email" class="form-control" data-ng-model="customerData.email" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{ 'label.IdentificationProof' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="customerData.idKey" class="form-control" data-ng-options="idProof.id as idProof.mCodeValue for idProof in idProofs">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{ 'label.IdentificationProofValue' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" data-ng-model="customerData.idValue" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.address1' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="addressNo" name="address" class="form-control" data-ng-model="customerData.addressNo" />
                            <!-- 	 <span  data-ng-show="createclientform.address.$invalid">
					             	<small class="error" data-ng-show="createclientform.address.$error.req">
					                  {{'label.required.field' | translate}}
					              	</small>
					          	</span>  -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.villege/street' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="street" class="form-control" data-ng-model="customerData.street" />
                        </div>
                    </div>
                </div>
            </div>

            <h3>{{'label.service.details' | translate}}</h3>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="serviceId">{{'label.addservice' | translate }}&nbsp;
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <select id="serviceId" data-ng-model="serviceDatas" class="form-control" name="serviceId" data-ng-options="serviceDatas as getBothService(serviceDatas.serviceCode, serviceDatas.serviceDescription) for serviceDatas in serviceData" ng-change="changeServiceFun(serviceDatas)" required>
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                            <span data-ng-show="clientserviceinfoform.serviceId.$invalid">
				            	<span class="error" data-ng-show="clientserviceinfoform.serviceId.$error.req">Required Field</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ng-if="serviceDatas">
                        <div data-ng-repeat="serviceDetails in serviceDetail" class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{serviceDetails.codeParamName}}</label>
                            </div>
                            <div class="col-md-8">
                                <input style="width:98%; margin:0px -7px 0px 8px;" ng-if="serviceDetails.paramType != 'Combo' && serviceDetails.paramType != 'Boolean' && serviceDetails.paramType != 'Date'" class="form-control" type="text" name="paramValue" data-ng-model="serviceDetails.paramValue" required/>
                                <select style="margin:0px 0px 0px -7px;width:98%" ng-if="serviceDetails.paramType == 'Combo'" id="paramValue" data-ng-model="serviceDetails.paramValue" class="form-control" name="paramValue" data-ng-options="detail.id as detail.systemcode for detail in serviceDetails.details" required>
                                    <option value="">{{'label.select.one' | translate}}</option>
                                </select>
                                <select ng-if="serviceDetails.paramType == 'Boolean'" id="paramValue" data-ng-model="serviceDetails.paramValue" class="form-control" name="paramValue" data-ng-options="paramValue for paramValue in paramValues" required>
                                </select>
                                <input style="width:24.5%;margin:0px -7px 0px 7px;" type="text" ng-if="serviceDetails.paramType == 'Date'" data-datepicker-pop="yyyy-MM-dd" id="paramValue" data-ng-model="serviceDetails.paramValue" data-is-open="opened2" min="minDate" max="'2020-06-22'" class="form-control" name="paramValue" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" required/>
                                <span data-ng-show="clientserviceinfoform.paramValue.$invalid">
								    	<span class="error" data-ng-show="clientserviceinfoform.paramValue.$error.req">Required Field</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3>{{'label.device.details' | translate}}</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="serialNumber">{{'label.serialNumber' | translate }}
                                <span class="required">*</span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" data-ng-model="itemDetail" name="serialNumber" class="input-small form-control" uib-typeahead="itemDetail as itemDetail for itemDetail in getData($viewValue)" autocomplete="off" data-typeahead-on-select="getItemData($item, $model, $label)" data-typeahead-min-length="0" required>
                            <span data-ng-show="deviceinfoform.serialNumber.$invalid">
					        	<span class="error" data-ng-show="deviceinfoform.serialNumber.$error.req">Required Field</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div ng-show="isPairable">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="pairableSerialNo">{{'label.pairedserialnumber' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="pairableSerialNo" name="pairableSerialNo" data-ng-model="pairableSerialNo" class="input-small form-control" autocomplete="off" list="pairableItemlist" data-ng-change="selectPairableItemDetails(pairableSerialNo)" required />
                                <datalist id="pairableItemlist">
                                    <option data-ng-repeat="pairableItemDetail in pairableItemDetails" value="{{pairableItemDetail}}"></option>
                                </datalist>
                                <span data-ng-show="deviceinfoform.pairableSerialNo.$invalid">
							        	<span class="error" data-ng-show="deviceinfoform.pairableSerialNo.$error.req">Required Field</span>
                                </span><
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   

                <h3>{{'label.plan.details' | translate}}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="id">{{ 'label.salescataloge' | translate }}</label>
                            </div>
                            <div class="col-md-8">
                                <select id="id" data-ng-model="formData.id" data-ng-change="serviceChangeFun(formData.id)" data-ng-options="salesCataloges.id as salesCataloges.name for salesCataloges in salesCataloges" class="form-control">
                                    <option value="">{{'label.select.one' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="paytermCode">{{ 'label.activation.plan' | translate }}</label>
                            </div>
                            <div class="col-md-8">
                                <select data-ng-model="plandata" class="form-control" name="planCode" data-ng-options="plandata as getPlan(plandata.planCode, plandata.planDescription) for plandata in plandatas" required>
                                    <option value="">{{'label.select.one' | translate}}</option>
                                </select>
                                <span data-ng-show="planinfoform.planCode.$invalid">
			            	<span class="error" data-ng-show="planinfoform.planCode.$error.req">Required Field</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="btn-group-list text-right mt20 mb20">
                    <li>
                        <a href="#/clients">
                            <button id="cancel" type="reset" class="btn btn-warning">Cancel</button>
                        </a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>