<div class="content-container" ng-controller="OrderController">
    <ul class="breadcrumb">
		<li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
		<li><a href="#/viewclient/id/{{orderPriceDatas[0].clientId}}">{{'label.anchor.viewcustomer' | translate}}</a></li>
		<li class="active">{{orderData.id}}</li>
	</ul>

    <div class="widget">
       <h3>{{orderData.id}}</h3>
    		<ul class="btn-group-list text-right mt20 mb20">
    			<li>
    				<a ng-show="(uiConfigData.orderActions.disconnect=='true' && orderData.status == 'ACTIVE') || (orderData.status == 'SUSPENDED')" 
					has-permission="UPDATE_ORDER" type="button" class="btn btn-primary" href="" ng-click="orderDisconnect(orderPriceDatas[0].orderId)">
					<i class="fa fa-times"></i>{{"label.disconnect" | translate}}
				</a>
    			</li>
    			<li>
    				<a has-permission="RECONNECT_ORDER" 
					ng-show="uiConfigData.orderActions.reconnect=='true' && ((orderData.status == 'DISCONNECTED')&&(orderData.contractPeriod == 'Perpetual')) "
				 		ng-click="reconnect()" class="btn btn-primary"><i class="fa fa-repeat"></i>{{"label.reconnect" | translate}}
				  </a>
    			</li>
    			<li>
    				<a ng-if="uiConfigData.orderActions['topup/renewal'] == 'true'&&((orderData.endDate && orderData.status != 'PENDING' && orderData.status != 'SUSPENDED' && orderData.status != 'TERMINATED' && orderData.isPrepaid == 'N')  &&(orderData.contractPeriod != 'Perpetual'))" has-permission="RENEWAL_ORDER" href="" ng-click="orderRenew(orderPriceDatas[0].orderId)" class="btn btn-primary"><i class="fa fa-edit "></i>{{"label.renewal" | translate}} </a>
    			</li>
    			<li>
    				<a ng-if="uiConfigData.orderActions['topup/renewal'] == 'true'&&((orderData.isPrepaid == 'Y' && (orderData.status != 'TERMINATED') && orderData.status != 'PENDING'))" has-permission="RENEWAL_ORDER" href="" ng-click="orderRenew(orderPriceDatas[0].orderId)" class="btn btn-primary"><i class="fa fa-arrow-up"></i>{{"label.topup" | translate}}
         		 </a>
    			</li>
    			<li>
    			  <a ng-show="(orderData.status == 'PENDING')" has-permission="DELETE_ORDER" ng-click="cancelOrder()" class="btn btn-primary"><i class="fa fa-times-circle-o"></i>{{"label.cancelorder" | translate}}
         		</a>
    			</li>
    			<li>
    				<a ng-show ="(orderData.status == 'DISCONNECTED' && association.orderId != null)" has-permission="DEASSOCIATION_ASSOCIATION"
	     			ng-click="deAssociation()" class="btn btn-primary"><i class="fa fa-repeat"></i>{{"label.unpairing" | translate}}
	     		</a>
    			</li>
    			<li>
    				<a ng-show ="uiConfigData.orderActions.deviceswap=='true'&&((orderData.status == 'ACTIVE') && association.saleId)" 
	     			has-permission="SWAPPING_HARDWARESWAPPING" href="#/hardwareswap/{{association.saleId}}/{{clientId}}/{{association.orderId}}" 
	     				class="btn btn-primary"><i class="fa fa-arrows"></i>{{"label.deviceswap" | translate}}
	     		  </a>
    			</li>
    			<li>
    				<a ng-show ="uiConfigData.orderActions.changeplan=='true' && orderData.status == 'ACTIVE'" has-permission="CHANGEPLAN_ORDER" href="#/neworder/{{orderData.pdid}}/{{clientId}}/{{clientServiceId}}" class="btn btn-primary"> <i class="fa fa-cog"></i>{{"label.changeplan" | translate}}
	     		</a>
    			</li>
    			<li>
    				<a ng-show ="uiConfigData.orderActions.applypromo=='true' && orderData.status == 'ACTIVE'" has-permission="APPLYPROMO_ORDER" ng-click="applyPromo()" class="btn btn-primary"><i class="fa fa-gift"></i>{{"label.applypromo" | translate}}
	     		</a>
    			</li>
    			<li>
    				<a ng-show ="orderData.status == 'PENDING' && orderServicesData[0].isAutoProvision == 'N'" 
	     			href="#/provision/{{orderData.id}}/{{clientId}}/{{orderServicesData[0].serviceId}}" class="btn btn-primary">
	     				<i class="fa fa-cog"></i>{{"label.provisionit" | translate}}
	     		 </a>
    			</li>
    			<li>
    				<a ng-show="uiConfigData.orderActions.terminate=='true' && orderData.status == 'DISCONNECTED'" has-permission="RECONNECT_ORDER" ng-click="terminate()" class="btn btn-primary"><i class="fa fa-repeat"></i>{{"label.terminate" | translate}}
	     		</a>
    			</li>
    			<li>
    				<a ng-show="orderData.status == 'SUSPENDED'" ng-click="reactive()" class="btn btn-primary">
	     			<i class="fa fa-repeat"></i>{{"label.reactive" | translate}} </a>
    			</li>
    		</ul>
					
					
	         		
	         		
	         	
		     		
		     		
		     		
		     		
		     		
		     		 
		     		
		     		<!-- <span uib-dropdown class="btn-group dropdown" on-toggle="toggled(open)">
							<a uib-dropdown-toggle class="btn btn-primary" ng-show="(orderData.status == 'ACTIVE')" has-permission="RETRACKOSDMESSAGE_ORDER">
								{{ 'label.button.more' | translate}}
								<span class="caret"></span>
							</a>
                            <ul class="dropdown dropdown-menu dropdown-menu-right">
								<li>
									<a ng-show ="uiConfigData.orderActions.suspend=='true'&&orderData.status == 'ACTIVE'" ng-click="suspend()">
										{{"label.suspend" | translate}}</a>
								</li>
								<li>
									<a ng-show ="uiConfigData.orderActions.commandcenter=='true'" ng-click="CommandCenter(orderPriceDatas[0].orderId)">
										{{"label.commandcenter" | translate}}</a>
								</li>
								<li>
									<a ng-show ="uiConfigData.orderActions.ipchange=='true'" 
										href="#/ipchange/{{clientId}}/{{orderData.id}}/{{orderServicesData[0].serviceId}}">{{"label.ipchange" | translate}}</a>
								</li>
							</ul>
					</span> -->

		<div class="row">
			<div class="col-md-6">
				<div class="table-responsive">
		        <table class="table table-striped">
				<tr>
					<td>{{ 'label.orderid' | translate }}</td>
					<td>{{orderData.orderNo}}</td>
				</tr>	
				<tr>
					<td>{{ 'label.contractperiod' | translate }}</td>
					<td>{{orderData.contractPeriod}}</td>
				</tr>
				<tr>
					<td>{{ 'label.startdate' | translate }}</td>
					<td>{{orderData.startDate | DateFormat}}</td>
				</tr>
				<tr>
					<td>{{ 'label.ordertype' | translate }}</td>
					<td>{{formData.isPrepaid}}</td>
				</tr>
				<tr>
					<td>{{ 'label.billingcycle' | translate }}</td>
					<td>{{orderPriceDatas[0].billingCycle}}</td>
				</tr>
			</table>
			</div>
		</div>
			<div class="col-md-6">
				<div class="table-responsive">
		        <table class="table table-striped table-bordered">
				<tr>
					<td>{{ 'label.planname' | translate }}</td>
					<td>{{orderData.planCode}}</td>
				</tr>
				<tr>
					<td>{{ 'label.status' | translate }}</td>
					<td>{{orderData.status}}</td>
				</tr>
				<tr>
					<td>{{ 'label.endDate' | translate }}</td>
					<td>{{orderData.endDate | DateFormat}}</td>
				</tr>
				<tr>
					<td>{{ 'label.useraction' | translate }}</td>
					<td>{{orderData.userAction}}</td>
				</tr>
				<tr>
					<td>{{ 'label.invoicetilldate' | translate }}</td>
					<td>{{orderPriceDatas[0].invoiceTillDate| DateFormat}}</td>
				</tr>
			</table>
		  </div>
		 </div>
		</div><!--row  -->

      		<uib-tabset>	
		    	<uib-tab heading="Order Services">
		      		<div class="table-responsive"> 
	            		<table class="table table-striped">
	        				<thead>
		            			<tr>
		                			<th>{{ 'label.id' | translate }}</th>
		                			<th>{{ 'label.servicecode' | translate }}</th>
		                			<th>{{ 'label.servicetype' | translate }}</th>
		                			<th>{{ 'label.servicedescription' | translate }}</th>
		            			</tr>
	        				</thead>
		        			<tbody>
		            			<tr ng-repeat="orderServicesData in orderServicesData">
			                		<td>{{orderServicesData.id}}</td>            
			                		<td>{{orderServicesData.servicecode}}</td>        
			                		<td>{{orderServicesData.serviceType}}</td>
			                		<td>{{orderServicesData.serviceDescription}}</td>
		            			</tr>
		        			</tbody>
		    			</table>
		    		</div>
		   		</uib-tab>
		   		<uib-tab heading="Price & Discount" ><br>
          			<div class="table-responsive"> 
            			<table class="table table-striped">
        					<thead>
            					<tr class="graybg">
					                <th>{{ 'label.service' | translate }}</th>
					                <th>{{ 'label.chargecode' | translate }}</th>
					                <th>{{ 'label.billstartdate' | translate }}</th>
					                <th>{{ 'label.billenddate' | translate }}</th>
					                <th>{{ 'label.invoicetilldate' | translate }}</th>
					                <th>{{ 'label.billingcycle' | translate }}</th>
					                <th>{{ 'label.price' | translate }}</th>
					                <th>{{ 'label.action' | translate }}</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr ng-repeat="orderPriceData in orderPriceDatas">
					                <td>{{orderPriceData.serviceDescription}}</td>            
					                <td>{{orderPriceData.chargeDescription}}</td>        
					                <td>{{orderPriceData.billStartDate | DateFormat}}</td>         
					                <td>{{orderPriceData.billEndDate| DateFormat}}</td>
					                <td>{{orderPriceData.invoiceTillDate| DateFormat}}</td>
					                <td>{{orderPriceData.billingCycle}}</td>
					                <td><input type="text" id="planCode" ng-model="orderPriceData.price" class="input-small form-control" ng-change="status()"></td>
					                <td>
					                 <a has-permission="UPDATE_ORDERPRICE" ng-click="updatePrice(orderPriceData.id,orderPriceData.price)" 
					                 	class="btn btn-primary"><i class="fa fa-times-circle-o"></i>{{ 'label.update' | translate }}</a>
					           		</td>
					            </tr>
					        </tbody>
    					</table>
    				</div>

    					<h4>{{ 'label.discount' | translate }}</h4>
    				<div class="table-responsive"> 
					    <table class="table table-striped">
					        <thead>
					            <tr class="graybg">
					                <th>{{ 'label.id' | translate }}</th>
					                <th>{{ 'label.discountdescription' | translate }}</th>
					                <th>{{ 'label.discounttype' | translate }}</th>
					                <th>{{ 'label.discountstartdate' | translate }}</th>
					                <th>{{ 'label.discountenddate' | translate }}</th>
					                <th>{{ 'label.discountamount' | translate }}</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr ng-repeat="orderDiscountData in orderDiscountDatas">
					                <td>{{orderDiscountData.id}}</td>            
					                <td>{{orderDiscountData.discountdescription}}</td>
					                <td>{{orderDiscountData.discountType}}</td>
					                <td>{{orderDiscountData.discountstartDate | DateFormat}}</td>
					                <td>{{orderDiscountData.discountEndDate | DateFormat}}</td>
					                <td>{{orderDiscountData.discountAmount}}</td>
					            </tr>
					        </tbody>
					    </table>
    				</div>
       			</uib-tab>
       			<uib-tab heading="Order Transaction"><br>
					<div class="table-responsive"> 
						<table class="table table-striped">
					        <thead>
					            <tr class="graybg">
					                 <!-- <th>{{ 'label.processorderid' | translate }}</th> -->
					                 <th>{{ 'label.user' | translate }}</th>
					                 <th>{{ 'label.transactiondate' | translate }}</th>
					                 <th>{{ 'label.transactiontype' | translate }}</th>
					                 <th>{{ 'label.actualdate' | translate }}</th>
					           </tr>
					        </thead>
					        <tbody>
					            <tr ng-repeat="orderHistory in orderHistorydata">
					                <!-- <td>{{orderHistory.PrepareRequsetId}}</td> -->
					                <td>{{orderHistory.userName}}</td>
					                <td>{{orderHistory.transactionDate | DateFormat}}</td>
					                <td>{{orderHistory.transactioType}}</td>            
					                <td>{{orderHistory.actualDate | DateFormat}}</td>        
					            </tr>
					        </tbody>
					    </table>
					</div>
				</uib-tab>
				<!-- <uib-tab heading="Provisioning Details"  select="getAllProvisioningDetails(orderData.orderNo)">
					<div class="row-fluid ">
						<table class="table">
					        <thead>
					           <tr class="graybg">
									 	<th>{{'label.id' | translate}}</th>
										<th>{{'label.orderid' | translate}}</th>
										<th>{{'label.requesttype' | translate}}</th>
										<th>{{'label.status' | translate}}</th>
										<th>{{'label.recievedmessage' | translate}}</th>
										<th></th>
										<th></th>
										<th>{{'label.sentmessage' | translate}}</th>
									</tr>
					        </thead>
					        <tbody>
					          <tr class="pointer-main" ng-repeat="provisioningdata in provisioningdatas  | filter:filterText">
									<td class="pointer" >{{provisioningdata.id}}</td>
									<td class="pointer" >{{provisioningdata.orderId}}</td>  
									<td class="pointer" >{{provisioningdata.requestType}}</td>
									<td ng-show="provisioningdata.isProcessed == 'F'" class="pointer" >Failure</td>
									<td ng-show="provisioningdata.isProcessed == 'Y'" class="pointer" >Success</td>
									<td ng-show="provisioningdata.isProcessed == 'N'" class="pointer" >Processing</td>
									<td ng-show="provisioningdata.isProcessed == 'C'" class="pointer" >Success</td>
									<td class="pointer" >{{provisioningdata.receiveMessage}}</td>
									  <td><a ng-show="provisioningdata.isProcessed == 'F' " ng-click="reProcess(provisioningdata.id)" uib-popover="Re Process" 
									  	popover-trigger="mouseenter"><i class="fa fa-play"></i></a></td>
									   <td><a ng-show="provisioningdata.isProcessed == 'F' || provisioningdata.isProcessed == 'N'" 
									   		ng-click="confirmRequest(provisioningdata.id)" uib-popover="Confirm Request" popover-trigger="mouseenter">
									   			<i class="fa fa-ok"></i></a></td>
									<td><button style="padding:3px 5px;" class="btn btn-primary" ng-hide="provisioningdata.requestType=='RETRACK'"
												ng-click="sentMessagePopup(provisioningdata.id)" data-popover-trigger="mouseenter" 
													uib-popover="To See Click on Me"><i class="fa fa-envelope"></i></button></td> 
								</tr>
					        </tbody>
					    </table>
					</div>
				</uib-tab> -->
		   </uib-tabset>
        </div><!-- content -->
    </div><!-- card -->
    <script type="text/ng-template" id="OrderDisconnect.html">
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.disconnectorder' | translate}}</h3>
    </div>
    <div class="modal-body">
     		<div class="form-group">
	            <label class="control-label" style="color:red;" ng-show="orderError.length>0">{{orderError | translate}}</label>
        	</div>
	    <div class="form-group row">
            <div class="col-md-4">
               <label class="control-label" for="status">{{ 'label.order.disconnectionDate' | translate }}<span class="required">*</span></label>
            </div>
            <div class="col-md-8">
            	  <input type="text" class="form-control" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
                  date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
            </div>
     </div>
     <div class="form-group row">
            <div class="col-md-4">
               <label class="control-label" for="status">{{ 'label.order.disconnectionreason' | translate }}<span class="required">*</span></label>
            </div>
            <div class="col-md-8">
                 <select ng-model="formData.disconnectReason"  ng-options="disconnectDetail.mCodeValue as disconnectDetail.mCodeValue for disconnectDetail in disconnectDetails" value="{{disconnectDetail.mCodeValue}}" class="form-control"></select>
            </div>
     </div>
     <div class="form-group row">
            <div class="col-md-4">
               <label class="control-label col-sm-4" for="status">{{ 'label.order.description' | translate }}</label>
            </div>
            <div class="col-md-8">
                 <textarea rows="2" cols="2" ng-model="formData.description" class="form-control"></textarea>
            </div>
     </div>
</div>
<div class="modal-footer">
    <ul class="btn-group-list text-right">
        <li>
            <button id="cancel" class="btn btn-warning" ng-click="cancelDisconnection()">{{'button.cancel' | translate}}</button> 
        </li>
        <li>
            <button id="submit" class="btn btn-primary" ng-click="approveDisconnection()" ng-disabled="flagOrderDisconnect">{{'label.confirm' | translate}}</button>
        </li>
    </ul>
</div>
</script>

<script type="text/ng-template" id="OrderRenewal.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.renewalorder' | translate}}</h3>
    </div>
    <div class="modal-body">
			<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate : error.args}}</label>
	    </div>
    <div class="form-group row">
    	<div class="col-md-4">
            <label class="control-label" for="status">{{ 'label.order.renewalperiod' | translate }}</label>
        </div>
           	<div class="col-md-8">
              	<select class="form-control" ng-model="formData.renewalPeriod" ng-change="renewalPrice(formData.renewalPeriod)" ng-options="subscriptiondata.id as subscriptiondata.Contractdata for subscriptiondata in subscriptiondatas" value="{{disconnectDetail.mCodeValue}}"></select>
            </div>
        </div>
     <div class="form-group row">
     	<div class="col-md-4">
        <label class="control-label" for="status">{{ 'label.order.description' | translate }}</label>
     </div>
         <div class="col-md-8">
             <textarea rows="2" cols="2" ng-model="formData.description" class="form-control"></textarea>
         </div>
     </div>
   </div>
  <div class="modal-footer">
  <ul class="btn-group-list text-right">
        <li>
            <button id="cancel" class="btn btn-warning" ng-click="cancelRenewal()">{{'button.cancel' | translate}}</button>
        </li>
        <li>
           <button id="submit" class="btn btn-primary" ng-click="approveRenewal()" ng-disabled="flagOrderRenewal">{{'label.confirm' | translate}}</button>
        </li>
    </ul>
  </div>
</script>
	
<script type="text/ng-template" id="ApproveReconnect.html">
   <div class="modal-header silver">
   	<h3 class="bolder">{{'dialog.reconnect.title.message' | translate}}</h3>
   </div>
    <div class="modal-body modal-small">
       	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
         <h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
    	<ul class="btn-group-list text-right">
        <li>
        <button id="cancel" class="btn btn-warning" ng-click="cancelReconnect()">{{'button.cancel' | translate}}</button>
        </li>
        <li>
            <button id="submit" class="btn btn-primary" ng-click="approveReconnect()" ng-disabled="flagApproveReconnect">{{'label.confirm' | translate}}</button>
        </li>
    </ul>	
    </div>
  </script>

<script type="text/ng-template" id="ApproveTerminate.html">
   <div class="modal-header silver">
  			<h3 class="bolder">{{'dialog.terminate.title.message' | translate}}</h3>
    </div>
    <div class="modal-body modal-small">
       	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
      <h4>Are you sure?</h4>
   </div>
   <div class="modal-footer">
   		<ul class="btn-group-list text-right">
        <li>
        <button id="cancel" class="btn btn-warning" ng-click="cancelReconnect()">{{'button.cancel' | translate}}</button>
        </li>
        <li>
           <button id="submit" class="btn btn-primary" ng-click="approveTerminate()" ng-disabled="flagApproveTerminate">{{'label.confirm' | translate}}</button>
        </li>
    </ul>     
   </div>
</script>

<script type="text/ng-template" id="ApproveConfirm.html">
   <div class="modal-header silver">
  			<h3 class="bolder">{{'dialog.confirm.title.message' | translate}}</h3>
    </div>
    <div class="modal-body modal-small">
       	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
      <h4>Are you sure?</h4>
   </div>
   <div class="modal-footer">
   	<ul class="btn-group-list text-right">
        <li>
          <button id="cancel" class="btn btn-warning" ng-click="cancelReconnect()">{{'button.cancel' | translate}}</button>
        </li>
        <li>
           <button id="submit" class="btn btn-primary" ng-click="approveTerminate()" ng-disabled="flagApproveTerminate">{{'label.confirm' | translate}}</button>
        </li>
    </ul>   
   </div>
</script>

<script type="text/ng-template" id="ApproveReactive.html">
   <div class="modal-header silver">
  			<h3 class="bolder">{{'dialog.reactive.title.message' | translate}}</h3>
    </div>
    <div class="modal-body modal-small">
       	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
      <h4>Are you sure?</h4>
   </div>
   <div class="modal-footer">
   	<ul class="btn-group-list text-right">
        <li>
          <button id="cancel" class="btn btn-warning" ng-click="cancelReactive()">{{'button.cancel' | translate}}</button>
        </li>
        <li>
          <button id="submit" class="btn btn-primary" ng-click="approveReactive()" ng-disabled="flagApproveTerminate">{{'label.confirm' | translate}}</button>
        </li>
    </ul> 
   			
          
   </div>
</script>

<script type="text/ng-template" id="ApproveSuspend.html">
 	<div class="modal-header silver">
        <h3 class="bolder">{{'dialog.suspend.title.message' | translate}}</h3>
    </div>
    <div class="modal-body modal-big">
       	<fieldset>
			<div class="form-group">
            	<label class="control-label" style="color:red;" ng-show="renewError.length>0">{{renewError | translate}}</label>
            <div class="controls"></div>
    </div>
     <div class="form-group">
            <label class="control-label" for="status">{{ 'label.order.suspensionDate' | translate }}<span class="required">*</span></label>
            <div class="controls">
            	  <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
                  date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
            </div>
     </div>
    <div class="form-group">
            <label class="control-label" for="status">{{ 'label.order.suspensionreason' | translate }}<span class="required">*</span></label>
            <div class="controls">
             <select ng-model="formData.suspensionReason"  ng-options="reason.mCodeValue as reason.mCodeValue for reason in reasons" value="{{periodData.id}}">
            </select>
            </div>
        </div>
     <div class="form-group">
        <label class="control-label" for="status">{{ 'label.order.suspensiondescription' | translate }}</label>
         <div class="controls">
             <textarea rows="2" cols="2" ng-model="formData.suspensionDescription" style="width: 333px; height:60px;"></textarea>
         </div>
     </div>
    </fieldset>
   </div>
   <div class="modal-footer">
   		<button id="cancel" class="btn btn-warning" ng-click="cancelReconnect()">{{'button.cancel' | translate}}</button>
        <button id="submit" class="btn btn-primary" ng-click="approveSuspend()" ng-disabled="flagApproveTerminate">{{'label.confirm' | translate}}</button>
   </div>
</script>    
<script type="text/ng-template" id="ProvisioningSystemPop.html">
	<div class="modal-header silver">
    		<h3 class="bolder">{{'dialog.provisioning.title.message' | translate}}</h3>
     </div>
     <div class="modal-body" style="height:330px;">
			<div class="error" ng-show="errorStatus || errorDetails">
		    	<label>{{'label.contract.error' | translate}}</label>
		        <label ng-show="errorStatus">{{errorStatus}}</label>
		        <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	        </div>
            <div class="form-group">
            		<label class="control-label" for="status">{{ 'label.provisioning.commandname' | translate }}</label>
                    	<div class="controls">
                             <select ng-model="formData.commandName" ng-change="commandName(formData.commandName)" ng-options="commanddata.commandName as commanddata.commandName for commanddata in commandData" ></select>
                        </div>
			</div>
			<div class="form-group" id="commandName">
             	<label class="control-label">{{ 'label.Promotionalmessage' | translate }}</label>
                  	<div class="controls">
                  				<textarea ng-model="formData.message" style="width: 333px; height: 126px;"></textarea>
                  	</div>
             </div>		
     </div>
     <div class="modal-footer">
                        <button id="cancel" class="btn btn-warning" ng-click="rejectProvisioning()">{{'button.cancel' | translate}}</button>
                        <button id="submit" class="btn btn-primary" ng-click="acceptProvisioning()" >{{'label.confirm' | translate}}</button>
     </div>
      </script>
      
<script type="text/ng-template" id="Promo.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.promo' | translate}}</h3>
    </div>
    <div class="modal-body">
		<div class="form-group">
            <label class="control-label" style="color:red;" ng-show="renewError.length>0">{{renewError | translate}}</label>
            <div class="controls">
            </div>
        </div>
          <div class="form-group row">
            <div class="col-md-4">
                <label class="control-label" for="startDate">{{ 'label.order.startdate' | translate }}</label>
                 </div>
                 <div class="col-md-8">
                  <input type="text" class="form-control" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
                          date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
              </div>
           </div>
     	<div class="form-group row">
     		 <div class="col-md-4">
               <label class="control-label" for="status">{{ 'label.order.Promotion' | translate }}</label>
            </div>
             <div class="col-md-8">
              <select ng-model="formData.promoId" class="form-control" ng-options="promoData.id as promoData.promotionDescription for promoData in promoDatas" value="{{disconnectDetail.mCodeValue}} 
              "></select>
            </div>
        </div>
    </div>
   <div class="modal-footer">
	   	<ul class="btn-group-list text-right">
	        <li>
	          <button id="cancel" class="btn btn-warning" ng-click="rejectProvisioning()">{{'button.cancel' | translate}}</button>
	        </li>
	        <li>
	          <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="flagPromo">{{'label.confirm' | translate}}</button>
	        </li>
	    </ul>  
   </div>
</script>     

<script type="text/ng-template" id="extension.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">{{ 'label.extension' | translate }}</h3>
    </div>
    <div class="modal-body"  style="height:250px;">
       <fieldset>
		<div class="form-group">
            <label class="control-label" style="color:red;" ng-show="renewError.length>0">{{renewError | translate}}</label>
            <div class="controls">
            </div>
        </div>
             
		<div class="form-group">
            <label class="control-label" for="extensionPeriod">{{ 'label.extensionperiod' | translate }}</label>
            <div class="controls">
            <select ng-model="formData.extensionPeriod"  ng-options="periodData.mCodeValue as periodData.mCodeValue for periodData in extensionPeriodDatas" value="{{periodData.id}}">
            </select>
            </div>
        </div>
		<div class="form-group">
            <label class="control-label" for="extensionReason">{{ 'label.extensionreason' | translate }}</label>
            <div class="controls">
            <select ng-model="formData.extensionReason"  ng-options="reasonData.mCodeValue as reasonData.mCodeValue for reasonData in extensionReasonDatas" value="{{periodData.id}}">
            </select>
            </div>
        </div>
		</fieldset>
    </div>
   <div class="modal-footer">
         <button id="cancel" class="btn btn-warning" ng-click="rejectExtension()">{{'button.cancel' | translate}}</button>
         <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="flagExtension">{{'label.confirm' | translate}}</button>
   </div>
</script> 
<script type="text/ng-template" id="editProvision.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Parameter Details</h3>
                    </div>
                    <div class="modal-body modal-medium">
                      <table class="table table-striped">
            			<thead>
              				<tr class="graybg">
               					 <th>Id</th>
                				 <th>Param Name</th>
              					 <th>Param Value</th>
              				</tr>
            			</thead>
            			<tbody>
              				<tr ng-repeat="parameterData in parameterDatas">
                				<td>{{parameterData.id}}</td>
               					<td>{{parameterData.paramName}}</td>
             					<td>{{parameterData.paramValue}}</td>
            				 </tr>
           			    </tbody>
                     </table>
						
                    </div>
                    <div class="modal-footer">
                        <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                    </div>
      </script>
<script type="text/ng-template" id="sentMessage.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Sent Message Details</h3>
                    </div>
                    <div class="modal-body modal-big" style="width:650px;">
						<table style="" class="fullwidth">
							<tr ng-repeat="messageData in messageData">
								<td width="30%" valign="top" align="right">{{messageData.key}}:</td>
								<!--<td width="80%" style="color:#800080;">:&nbsp;&nbsp;{{messageData.value}}</td>-->
								<td width="70%" style="color:#800080;padding-left:10px;">
								  <table class="fullwidth"><tr ng-repeat="msgValue in messageData.value track by $index">
									<td width="35%" valign="top">{{msgValue.key}}</td>
									<td data-ng-hide='msgValue.value ==""' width="1%" valign="top">:&nbsp;&nbsp;</td>
									<td data-ng-hide='msgValue.value ==""'> {{msgValue.value}}</td>
								</tr></table>
								</td>
							</tr>
		        		 </table>
                    </div>
                    <div class="modal-footer">
                        <button id="cancel" class="btn btn-primary" ng-click="cancel()">{{'button.done' | translate}}</button>
                    </div>
 </script>
      <script type="text/ng-template" id="disconnectaddon.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'dialog.addon.disconnect.message' | translate}}</h3>
                    </div>
                    <div class="modal-body modal-small">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
</script>
</div>      
