<div class="content-container" ng-controller="ViewServiceController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li><a href="#/services">{{'label.services&Products' | translate}}</a></li>
        <li class="active">{{service.serviceCode}}</li>
    </ul>

    <div class="card">
        <div class="content">
        	<div class="toolbar">
        		<h4>{{service.serviceType}}</h4>
        		<div class="pull-right">
        		    <div class="btn-group">
        		        <a href="#/editservices/{{service.id}}" class="btn btn-primary" has-permission='UPDATE_SERVICE'><i class="fa fa-edit"></i> {{'button.edit' | translate}}</a>
        		        <a data-ng-click="deleteservice()" class="btn btn-primary" has-permission='DELETE_SERVICE'><i class="fa fa-trash-o"></i> {{'button.delete' | translate}}</a>
        		    </div>
        		</div>
        	</div>
        	<br/>
        			<div class="row">
        				<div class="col-md-6">
        			        <table class="table table-bordered table-striped">
        			            <tr>
        			                <td><strong>{{'label.servicecode' | translate}}</strong></td>
        			                <td>{{service.serviceCode}}</td>
        			            </tr>
        			            <tr>
        			                <td><strong>{{ 'label.servicedescription' | translate }}</strong></td>
				                    <td>{{service.serviceDescription}}</td>
        			            </tr>
        			            <tr>
        			                <td><strong>{{ 'label.servicecategory' | translate }}</strong></td>
				                    <td>{{service.serviceCategory}}</td>
        			            </tr>
        			            <tr>
        			                <td><strong>{{ 'label.status' | translate }}</strong></td>
				                    <td>{{service.serviceStatus}}</td>
        			            </tr>
        			            <tr>
        			                <td><strong>{{ 'label.isoptional' | translate }}</strong></td>
				                    <td>{{service.isOptional}}</td>
        			            </tr>
        			            <tr>
        			                <td><strong>{{ 'label.isautoprovision' | translate }}</strong></td>
				                    <td>{{service.isAutoProvision}}</td>
        			            </tr>
        			            
        			        </table>
        				</div>
        				</div>
        				<br><br>
						 <div class="row">
							<div class="col-md-12">
							  <h3>&nbsp;&nbsp;&nbsp;{{'label.serviceparameter' | translate}}</h3>
							    <table class="table table-striped">
							       <thead>
							           <tr class="graybg" width="20%">
							                  <th>{{'label.service.paramname' | translate}}</th>
							                  <th>{{'label.service.paramtype' | translate}}</th>
							                  <th>{{'label.service.paramcategory' | translate}}</th>
							                  <th>{{'label.service.paramvalue' | translate}}</th>
							            </tr>
							        </thead>
							        <tbody>
							            <tr ng-repeat="serviceParam in serviceDetailDatas | filter:filterText">
							                         
							                <td>{{serviceParam.codeParamName}}</td>  
							                <td>{{serviceParam.paramType}}</td>
							                <td>{{serviceParam.paramCategory}}</td>       
							                <td>{{serviceParam.paramValue}}</td>                
							            </tr>
							        </tbody>
							    </table>
							    </div>
							   </div>
        <script type="text/ng-template" id="deleteservice.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'label.delete.service' | translate}}</h3>
                    </div>
                    <div class="modal-body" style="height:60px;">
                       <api-validate></api-validate>
                       <div class="form-group">
				           <div class="col-sm-3">
					           <label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
				           </div>	
			           </div>
                         <h3 align="center">{{'label.confirm.msg' | translate}}</h3>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approveDeleteService()">{{'label.confirm' | translate}}</button>
                    </div>
       </script>
    </div>
   </div>     				
 </div>  
