<div class="content-container" ng-controller="AddGRNController">
    <ul class="breadcrumb">
      <li><a href="#/inventory" ng-click="selectedGRN()" select="getGRNdetails()">{{'link.admin.inventory' | translate}}</a></li>
      <li><a href="#/grndetails">{{'link.grndetails' | translate}}</a></li>
      <li class="active">{{'label.create.new.addgrn' | translate}}</li>
    </ul>

   	 <div class="widget">
   		<h3>{{'label.Add GRN Details' | translate}}</h3>
   			<form name="addgrndetails" class="form-horizontal" ng-submit="submit()">
   				<api-validate></api-validate>
   			<div class="row">
   				<div class="col-md-6">
   					<div class="form-group row">
   					   <div class="col-md-4">
		                <label class="control-label" for="purchaseDate">{{'label.purchasedate' | translate }}&nbsp;<span class="required">*</span></label>
		            </div>
		            <div class="col-md-8">
		                <input type="text" id="purchaseDate" class="form-control" datepicker-pop="dd MMMM yyyy" ng-model="formData.purchaseDate" is-open="opened" date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/> 
		            </div>
		        </div>
		    </div>
		    <div class="col-md-6">
		    	<div class="form-group row">
		    	  <div class="col-md-4">
		  			 <label class="control-label" for="purchaseNo">{{'label.purchaseno' | translate }}&nbsp;<span class="required">*</span></label>
		  		   </div>
		   			<div class="col-md-8">
		     			<input type="text" id="purchaseNo" class="form-control" ng-model="formData.purchaseNo">
		   			</div>
 				</div>
   				</div>
   			</div>

        <div class="row">
   			<div class="col-md-6">	
				<div class="form-group row">
					<div class="col-md-4">
		   			  <label class="control-label" for="supplierId">{{'label.supplier' | translate }}&nbsp;<span class="required">*</span></label>
		   		  </div>
		   		 <div class="col-md-8">
		   				<!-- <select id="supplierId" class="form-control" ng-model="formData.supplierId"  ng-options="supplierData.id as getBothSup(supplierData.supplierCode,supplierData.supplierDescription) for supplierData in supplierDatas" ng-change = "changeSupplierFun()" value="{{supplierData.id}}">
		   						<option value="">{{'label.select.one' | translate}}</option>
		   				</select> -->
		   				 <input type="text" placeholder="Enter Entity Code"data-ng-model="supplierData" name="serialNumber"class="form-control" uib-typeahead="supplierData as getBothSup(supplierData.supplierCode,supplierData.supplierDescription) for supplierData in getSupplier($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="changeSupplierFun(supplierData)">
		   			</div>
		   		</div>
		   	</div>
		   	<div class="col-md-6">	
			 <div class="form-group row">
				<div class="col-md-4">	
		   			<label class="control-label" for="officeId">{{'label.officeid' | translate }}&nbsp;<span class="required">*</span></label>
		   		</div>
		   		  <div class="col-md-8">	
		     			<!-- <select id="officeId" class="form-control" ng-model="formData.officeId"  ng-options="officeData.id as officeData.nameDecorated for officeData in officeDatas" value="{{officeData.id}}">
		     					<option value="">{{'label.select.one' | translate}}</option>
		     			</select> -->
		   			 <input type="text" placeholder="Enter Entity Code"data-ng-model="formData.officeId" name="serialNumber" class="form-control" uib-typeahead=" officeDatas.externalId as groupByOffice(officeDatas.externalId, officeDatas.name) for officeDatas in getData($viewValue)" autocomplete="off" data-typeahead-min-length="0">
		     			<!-- <select id="officeId" class="form-control" ng-model="formData.officeId"  ng-options="officeData.id as officeData.nameDecorated for officeData in officeDatas" value="{{officeData.id}}">
		     			</select> -->
		   			</div>
				</div>
			</div>
		</div>

		 <div class="row">
   			<div class="col-md-6">
			<div class="form-group row">
			  <div class="col-md-4">
	   			  <label class="control-label" for="itemMasterId">{{'label.item' | translate }}&nbsp;<span class="required">*</span></label>
	   		  </div>
	     		 <div class="col-md-8">
	       			<select id="itemMasterId" class="form-control" ng-model="formData.itemMasterId"  ng-options="itemData.id as getBothItem(itemData.itemCode,itemData.itemDescription) for itemData in itemDatas" value="{{itemData.id}}">
	       						<option value="">{{'label.select.one' | translate}}</option>
	       				</select>
	     			</div>
	     		</div>
	     	</div>
            <div class="col-md-6">
              <div class="form-group row">
              	  <div class="col-md-4">
	   			    <label class="control-label " for="orderdQuantity">{{'label.orderedquantity' | translate }}&nbsp;<span class="required">*</span></label>
	   		    </div>
                 <div class="col-md-8">
	     			<input type="text" id="orderdQuantity" class="form-control" name="orderdQuantity" ng-model="formData.orderdQuantity" data-ng-pattern="/^[0-9]+$/">
	     			<span data-ng-show="addgrndetails.orderdQuantity.$dirty && addgrndetails.orderdQuantity.$invalid">
	     				<small class="error" data-ng-show="addgrndetails.orderdQuantity.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
	     			</span>
	   			</div>
		  	</div>
		  </div>
		</div>


		   	<ul class="btn-group-list text-right mt20 mb20">
		   		<li>
		   			<a href="#/grndetails" ><button id="cancel" type="reset" class="btn btn-warning" ng-click="reset123()">{{'button.cancel'| translate}}</button></a>
		   		</li>
		   		<li>
		   			<button id="submit"  type="submit" data-ng-disabled="addgrndetails.$dirty && addgrndetails.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
		   		</li>
		   	</ul>
		</form>
	  </div>
   </div>