<div class="content-container" ng-controller="CatalogeMappingController">
	<ul class="breadcrumb">
		<li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
		<li class="active">{{'label.catalogemapping' | translate}}</li>
	</ul>
	<div class="widget mb30">
		<div class="row align-items-center">
			<div class="col-md-3">
				<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
			</div>
		</div>
		
	</div>
	<div class="widget">
		<uib-tabset tabset-name="catalogemappingTabset">
				<uib-tab heading="{{'label.salescataloges' | translate}}"><br>
				<!-- <div class="toolbar">
					<div class="row"> -->
						<!-- <div class="col-md-6">
							<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
						</div> -->
						<ul class="btn-group-list text-right mb20 ng-scope">
							<li><a href="#/CreateSalesCataloge" class="btn primary_btn pull-right" has-permission ='CREATE_SALESCATALOGE'><i class="fa fa-plus "></i>{{'label.button.createsalescataloge' | translate }}</a></li>
						</ul>
						
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr class="graybg">
										<th>{{ 'label.id' | translate }}</th>
										<th>{{ 'label.name' | translate }}</th>
										<th>{{ 'label.actions' | translate }}</th>
									</tr>
								</thead>
								<tbody>
									<tr class="pointer-main" data-ng-repeat="salescataloge in salescataloges.currentPageItems | filter:filterText">
										<td class="pointer" data-ng-click="routeTo(salescataloge.id)">{{salescataloge.id}}</td>
										<td class="pointer" data-ng-click="routeTo(salescataloge.id)">{{salescataloge.name}}</td>
										<td>
											<ul class="table-icon-list">
												<li><a has-permission = UPDATE_SALESCATALOGE href="#/editsalescataloge/{{salescataloge.id}}" uib-popover="Edit SalesCataloge" title="Edit SalesCataloge"
										data-popover-trigger="mouseenter" class="fa fa-edit"></a>
												</li>
												<li>
													<a has-permission = DELETE_SALESCATALOGE  data-ng-click="deletesalescataloge(salescataloge.id)" uib-popover="Delete SalesCataloge" title="Delete SalesCataloge"
										data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a>
												</li>
											</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					</uib-tab>
					<uib-tab heading="{{'label.usercataloge' | translate}}">
					<ul class="btn-group-list text-right mt20 mb20">
						<li><a href="#/createusercataloge" class="btn primary_btn" has-permission ='CREATE_USERCATALOGE'><i class="fa fa-plus "></i>{{'label.button.createusercataloge' | translate }}</a></li>
					</ul>
					
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr class="graybg">
									<th>{{ 'table.userId' | translate }}</th>
									<th>{{ 'table.username' | translate }}</th>
									<th>{{ 'table.heading.actions' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr class="pointer-main" data-ng-repeat="usercataloge in usercataloges.currentPageItems | filter:filterText">
									<td class="pointer" data-ng-click="routeToUserCataloge(usercataloge.userId)">{{usercataloge.userId}}</td>
									<td class="pointer" data-ng-click="routeToUserCataloge(usercataloge.userId)">{{usercataloge.username}}</td>
									<td><a has-permission = UPDATE_USERCATALOGE href="#/editusercataloge/{{usercataloge.userId}}" uib-popover="Edit USERCATALOGE" title="Edit UserCataloge"
									data-popover-trigger="mouseenter" class="fa fa-edit"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				</uib-tab>
				
				</uib-tabset>
				
				
				<script type="text/ng-template" id="deletesalescataloge.html">
				<div class="modal-header silver">
					<h3 class="bolder">{{'label.delete.salescataloge' | translate}}</h3>
				</div>
				<div class="modal-body modal-small">
					<h4 class="text-center">Are you sure?</h4>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
					<button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
				</div>
				</script>
				<script type="text/ng-template" id="deleteusercataloge.html">
				<div class="modal-header silver">
					<h3 class="bolder">{{'label.delete.usercataloge' | translate}}</h3>
				</div>
				<div class="modal-body" style="height:60px;">
				<api-validate></api-validate>
				<div class="form-group">
								<div class="col-md-12">
										<label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
									</div>
						</div>
				<h3 align="center">{{'label.confirm.msg' | translate}}</h3>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
				<button class="btn btn-primary" ng-click="approveDeleteUserCataloge()">{{'label.confirm' | translate}}</button>
			</div>
			</script>
		</div>
	</div>