<div class="content-container" ng-controller="EditProspectsController">
	<ul class="breadcrumb">
		<li>
			<a href="#/leads">{{'link.prospects' | translate}}</a> 
		</li>
		<li>
			<a href="#/viewprospects/{{editprospects.id}}">{{'link.viewprospects' | translate}}</a> 
		</li>
		<li class="active">{{'label.editprospect' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h3>{{'label.heading.editprospects' | translate}}</h3>
			</div>
				<form name="editprospectsform" novalidate=""  class="form-horizontal" rc-submit="submit()">
					<api-validate></api-validate>
					<div class="error" data-ng-show="errorStatus || errorDetails" >
					     <label class="error" data-ng-show="errorStatus">{{errorStatus}}</label>
					     <label class="error" data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">
					               {{error.code | translate}}</label>
	                </div>
	                <h4> {{'label.prospect.personaldetails' | translate}} </h4>
	                <fieldset>
		                <div class="form-group">
								<label class="control-label col-sm-2" for="prospectType">{{'label.create.type' | translate }}<span class="required">*</span> </label>
								<div class="col-sm-3" style="margin-top: 5px;">
									<input type="radio" data-ng-model="editprospects.prospectType" value="1" data-ng-change="resetCredits()" >{{'label.prospect.individual' | translate}} 
									<input type="radio" data-ng-model="editprospects.prospectType" value="2" data-ng-change="resetCredits()" >{{'label.prospect.corporate' | translate}}
							    </div>
							    
							   
						    </div>
						    <div class="form-group">
				             <label class="control-label col-sm-2">{{'label.organization' | translate}}<span class="required">*</span></label>
			            	<div class="col-sm-3">
				            	<input type="text"  
				            		placeholder="Enter Entity Code"
				            		data-ng-model="editprospects.externalId" 
				            		name="serialNumber" 
				            		class="form-control"
									uib-typeahead="officeDetails.id as groupByOffice(officeDetails.externalId, officeDetails.name) for officeDetails in getData($viewValue)" 
									autocomplete="off" data-typeahead-min-length="0">
							</div>
							 <label class="control-label col-sm-2" for="homePhoneNumber"> {{'label.homephone' | translate }}</label>
								<div class="col-sm-3">
									<input	type="text" id="homePhoneNumber" data-ng-model="editprospects.homePhoneNumber" class="form-control">
								</div>
			          	</div>
						    <div class="form-group">
							    <label class="control-label col-sm-2" for="firstName">{{'label.firstname' | translate }}<span class="required">*</span></label>
								<div class="col-sm-3">
									<input type="text" id="firstName" data-ng-model="editprospects.firstName" class="form-control" data-ng-pattern="/^[a-zA-Z0-9\-\&\s]+$/" name="firstname" data-late-Validate>
									<div data-ng-show="editprospectsform.firstname.$dirty && editprospectsform.firstname.$invalid">
										<small class="error" data-ng-show="editprospectsform.firstname.$error.pattern"> {{'label.prospect.error.name' | translate}} </small> 
										<small class="error" data-ng-show="editprospectsform.firstname.$error.req"> {{'label.prospect.error.required' | translate}} </small>
									</div>
								</div>
								
								<label class="control-label col-sm-2" for="workPhoneNumber">{{'label.officephone' | translate }}</label>
								<div class="col-sm-3">
									<input type="text" id="workPhoneNumber" data-ng-model="editprospects.workPhoneNumber" class="form-control">
								</div>
					       </div>
					       
					       <div class="form-group">
							    <label class="control-label col-sm-2" for="middleName">{{'label.middlename' | translate }}</label>
								<div class="col-sm-3">
									<input type="text" id="middleName" data-ng-model="editprospects.middleName" class="form-control">
								</div>
							    
							    <label class="control-label col-sm-2" for="mobileNumber">{{'label.mobilephone' | translate }}<span class="required">*</span> </label>
								<div class="col-sm-3">
									<input type="text" id="mobileNumber" data-ng-model="editprospects.mobileNumber" class="form-control" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" name="mobilenumber">
									<div data-ng-show="editprospectsform.mobilenumber.$dirty && editprospectsform.mobilenumber.$invalid">
										<small class="error" data-ng-show="editprospectsform.mobilenumber.$error.pattern">{{'label.prospect.error.mobileno' | translate}}</small>
									</div>
								</div>	
					       </div>
					     
					       <div class="form-group">
							    <label class="control-label col-sm-2" for="lastName">{{'label.lastname' | translate }}<span class="required">*</span> </label>
								<div class="col-sm-3">
									<input type="text" id="lastName" data-ng-model="editprospects.lastName" class="form-control" data-ng-pattern="/^[a-zA-Z0-9\s]+$/" name="lastname" data-late-Validate>
									<div data-ng-show="editprospectsform.lastname.$dirty && editprospectsform.lastname.$invalid">
										<small class="error" data-ng-show="editprospectsform.lastname.$error.pattern"> {{'label.prospect.error.name' | translate}} </small> 
										<small class="error" data-ng-show="editprospectsform.lastname.$error.req"> {{'label.prospect.error.required' | translate}} </small>
									</div>
								</div>
										
								<label class="control-label col-sm-2" for="email">{{'label.emailid' | translate }}<span class="required">*</span></label>
								<div class="col-sm-3">
									<input type="email" id="email" data-ng-model="editprospects.email" class="form-control" name="email">
									<div data-ng-show="editprospectsform.email.$dirty && editprospectsform.email.$invalid">
										<small class="error" data-ng-show="editprospectsform.email.$error.email"> {{'label.prospect.error.email' | translate}} </small>
									</div> 
							    </div>
					      </div>
	                </fieldset>
	                
	                <h4>{{'label.prospect.addressdetails' | translate}}</h4>
	                
	                <fieldset>
		                  <div class="form-group">
								<label class="control-label col-sm-2" for="address">{{'label.address' | translate }}<span class="required">*</span></label>
								<div class="col-sm-3">
									<input type="text" id="address" data-ng-model="editprospects.address" class="form-control">
								</div>
									
							    <div>
									<label class="control-label col-sm-2" for="sourceOfPublicity">{{'label.source' | translate }}</label>
									<div class="col-sm-3">
										<select data-ng-model="editprospects.sourceOfPublicity" data-ng-options="sourceOfPublicityData.mCodeValue as sourceOfPublicityData.mCodeValue for sourceOfPublicityData in sourceOfPublicityDatas"
												data-value="{{sourceOfPublicityData.mCodeValue}}" class="form-control">
										</select>
									</div>
									<div data-ng-show="formData.sourceOfPublicity == 'Other'">
										<label class="control-label col-sm-2">{{ 'label.prospect.other' | translate }}</label>
										<div class="col-sm-3">
											<input type="text" id="sourceOther" data-ng-model="editprospects.sourceOther" class="form-control">
										</div>
									</div>
								</div>	
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-2" for="streetArea">{{'label.street/area' | translate }}</label>
								<div class="col-sm-3">
									<input type="text" id="streetArea" data-ng-model="editprospects.streetArea" class="form-control">
								</div>
									
							  <label class="control-label col-sm-2" for="service">Services:</label>
							    <div class="col-sm-3">
							     <div  data-ng-repeat="serviceData in serviceDatas" >
						            <td><input type="checkbox"  ng-model="serviceData.checked" ng-true-value="true" ng-false-value="false"  ng-change="getSelectedservice()">
			                        <td class="pointer">{{serviceData.serviceCode}}</td>
					            </div>	
					         </div>
								<!-- <label class="control-label col-sm-2" for="preferredPlan">{{'label.plan' | translate }}</label>
								<div class="col-sm-3">
									<select data-ng-model="editprospects.preferredPlanInt" class="form-control"
												data-ng-options="planData.id as planData.planDescription for planData in planDatas" data-value="{{planData.id}}">
									</select>
								</div> -->
								</div>
						
						    <div class="form-group">
								<div>
									<!-- <label class="control-label col-sm-2" for="cityDistrict"> {{'label.city/district' | translate }} <span class="required">*</span> </label>
									<div class="col-sm-3">
										<input type="text" id="cityDistrict" data-ng-model="editprospects.cityDistrict" list="citylist" data-ng-change="getStateAndCountry(editprospects.cityDistrict)" class="form-control">
									</div> -->
								<label class="control-label col-sm-2" for="cityDistrict"> {{'label.city/district' | translate }} <span class="required">*</span> </label>
									<div class="col-sm-3">
										<input type="text" id="cityDistrict" data-ng-model="editprospects.district" list="citylist" data-ng-change="getStateAndCountry(editprospects.district)" class="form-control">
									</div>
									<datalist id="citylist">
										<option data-ng-repeat="cityData in cityDatas" value="{{cityData}}"></option>
								    </datalist>
								</div>
								
								<label class="control-label col-sm-2">{{ 'label.nextcalltime' | translate }}</label>
								<div class="col-sm-3">
									<input type="text" readonly data-datepicker-pop="dd MMMM yyyy"
												data-ng-model="first.date" data-is-open="opened2" min="minDate"
												max="'2020-06-22'" data-date-disabled="disabled(date, mode)"
												style="width: 130px; background-color: #FFFFFF;" />
								    <input id="timepicker1" type="text" readonly data-ng-model="first.time"
												style="width: 60px; background-color: #FFFFFF;">
								</div>
						   </div>
						   
						   <div class="form-group">
								<label class="control-label col-sm-2" for="state"> {{'label.state' | translate }} </label>
								<div class="col-sm-3">
									<input type="text" id="state" data-ng-model="editprospects.state" class="form-control" readonly>
								</div>
								<label class="control-label col-sm-2" for="country"> {{'label.country' | translate }} </label>
							<div class="col-sm-3">
								<input type="text" id="country" data-ng-model="editprospects.country" class="form-control" readonly>
							</div>
								</div>
								
						 
						 <div class="form-group">
							<label class="control-label col-sm-2" for="zipCode">{{'label.zipcode' | translate }}</label>
							<div class="col-sm-3">
						    	<input type="text" id="zipcode" data-ng-model="editprospects.zipCode" class="form-control">
							</div>
						</div>
						<div class="form-group">
								<label class="control-label col-sm-2" for="note">{{ 'label.note' | translate }}<span class="required">*</span></label>
								<div class="col-sm-3">
									<textarea rows="7" id="note" data-ng-model="editprospects.note" class="form-control" style="width:200%; height:6em;"></textarea>
			                    </div>
						  </div>
	                </fieldset>
	                <div style="text-align:right;">
						<a href="#/leads"><button type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a>
						<button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
					</div>
			</form>
		</div>
	</div>
</div>