<div class="content-container" ng-controller="EditPromotioncodeController">
	<ul class="breadcrumb">
		<li>
			<a href="#/organization">{{'label.anchor.masters' | translate}}</a> 
			<span class="divider"></span>
		</li>
		<li>
			<a href="#/discounts">{{'label.managediscounts' | translate}}</a> 
			<span class="divider"></span>
		</li>
		<li>
			<a href="#/viewpromotioncode/{{promotiondata.id}}">{{promotiondata.promotionCode}}</a> 
			<span class="divider"></span>
		</li>
		<li class="active">{{'label.editpromotioncode' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.editplan' | translate}}</h4>
			</div>
			<hr>
			<form name="editpromotionform" novalidate="" class="form-horizontal" rc-submit="submit()">
				<api-validate></api-validate>
				<div class="error" data-ng-show="errorStatus || errorDetails">
					<label data-ng-show="errorStatus">{{errorStatus}}</label>
					<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    		</div>
	    		<fieldset>
		    		<div class="form-group">
				 		<label class="control-label col-sm-2" for="promotionCode">{{ 'label.promotionCode' | translate }}</label>
						<div class="col-sm-3">
							<input type="text" id="promotionCode" class="form-control" name="promotionCode" data-ng-model="formData.promotionCode" data-ng-maxlength="{{'code' | CodeValidate}}"/></br>
							<span data-ng-show = "editpromotionform.promotionCode.$dirty && editpromotionform.promotionCode.$invalid">
								<small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
							</span>
						</div>
						
						<label class="control-label col-sm-2" for="discountType">{{ 'label.discountType' | translate }}</label>
		            	<div class="col-sm-3">
		             		<select data-ng-model="formData.discountType" class="form-control"  data-ng-options="promotiondata.mCodeValue as promotiondata.mCodeValue for promotiondata in promotiondatas">
		             		</select>
		            	</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-2" for="promotiondesc">{{ 'label.promotionDescription' | translate }}</label>
						<div class="col-sm-3">
							<input type="text" id="promotiondesc" class="form-control" data-ng-model="formData.promotionDescription"/>
						</div>
						
						<label class="control-label col-sm-2" for="discountRate">{{ 'label.discountRate' | translate }}</label>
						<div class="col-sm-3">
	 						<input type="text" id="discountRate" name="discountRate" class="form-control" data-ng-model="formData.discountRate" data-ng-pattern="{{'numeric' | CodeValidate}}"></br>
		 					<span data-ng-show="editpromotionform.discountRate.$dirty && editpromotionform.discountRate.$invalid">
		 						<small class="error-row">{{'error.not.numeric.validation' | translate}}</small>
		 					</span>
						</div>
					</div>	
					
					<div class="form-group">
						<label class="control-label col-sm-2" for="promotionduration">{{ 'label.durationType' | translate }}</label>
						<div class="col-sm-3">
							<select data-ng-model="formData.durationType" class="form-control"  data-ng-options="durationType.subscriptionType as durationType.subscriptionType for durationType in durationTypes">
							</select>
						</div>
						
						<label class="control-label col-sm-2" for="promotionduration">{{ 'label.duration' | translate }}</label>
						<div class="col-sm-3">
							<input type="text" id="promotionduration" class="form-control" name="promotionduration" data-ng-model="formData.duration" data-ng-pattern="{{'numeric' | CodeValidate}}"></br>
							<span data-ng-show="editpromotionform.promotionduration.$dirty && editpromotionform.promotionduration.$invalid">
								<small class="error-row">{{'error.not.numeric.validation' | translate}}</small>
						    </span>
				 		</div>
		            </div>
		            
		            <div class="form-group">
	                    <label class="control-label col-sm-2">{{ 'label.startDate' | translate }}</label>
	                    <div class="col-sm-3">
		                    <input type="text" data-datepicker-pop="dd MMMM yyyy" class="form-control" data-ng-model="start.startDate" data-is-open="opened2" min="minDate" 
		                           max="'2020-06-22'" data-date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly/>
	                    </div>
          			</div>
          			
          			<div class="col-md-offset-10 pull-right">
						<a href="#/discounts"><button type="reset" class="btn btn-warning">{{'label.cancel' | translate}}</button></a>
	            		<button type="submit" data-ng-disabled="editpromotionform.$dirty && editpromotionform.$invalid" class="btn btn-primary">{{'label.save' | translate}}</button>
				    </div>
	    		</fieldset>
			</form>
		</div>
	</div>
</div>