<div class="content-container" ng-controller="AddClientAddressController">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
        <li><a href='#/viewclient/id/{{clientId}}'>{{'label.anchor.viewcustomer' | translate}}</a></li>
        <li class="active">{{'label.addaddress' | translate}}</li>
    </ul>
    <div data-ng-include="'views/clients/viewclienttopinfo.html'"></div>
    <div class="widget">
        <h3 data-ng-show="!propertyMaster">{{'label.addaddress' | translate}}</h3>
        <h3 data-ng-show="propertyMaster">{{'label.addProperty' | translate}}></h3>
        <form name="createclientform" class="form-horizontal" data-ng-submit="submit()">
            <api-validate></api-validate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="addressKey"> {{'label.addresstype' | translate }} </label>
                        </div>
                        <div class="col-md-8">
                            <select ng-model="formData.addressType" class="form-control" ng-options="address.value as address.value for address in addressTypeData">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row" data-ng-hide="propertyMaster">
                        <div class="col-md-4">
                            <label class="control-label" for="addressNo">{{'label.addressno' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="addressNo" class="form-control" ng-model="formData.addressNo">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="propertyMaster">
                        <div class="col-md-4">
                            <label class="control-label">{{'label.propertycode' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            addclientaddress
                            <input type="text" id="propertyCode" name="address" data-ng-model="formData.addressNo" class="form-control" data-typeahead="propertyData.propertyCode as propertyData.propertyCode for propertyData in getExistsProperty($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getPropertyDetails(formData.addressNo)" />&nbsp;
                            <a data-ng-click="generatePropertyPopup()" data-popover-placement="right" data-popover="Generate Building Code" data-popover-trigger="mouseenter"><i class="icon-plus icon-white"></i></a>
                            <span data-ng-show="createclientform.address.$invalid">
                            <small class="error" data-ng-show="createclientform.address.$error.req">{{'label.required.field' | translate}}</small>
                          </span>
                            <small class="error" data-ng-show="invalidBuildingCode">Invalid BuildingCode</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="street">{{'label.street' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="street" class="form-control" ng-model="formData.street">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="city">{{'label.city' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="city" ng-model="formData.city" list="citylist" class="form-control" ng-change="getStateAndCountry(formData.city)">
                        </div>
                    </div>
                    <datalist id="citylist">
                        <option data-ng-repeat="cityData in cityDatas" value="{{cityData}}"></option>
                    </datalist>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="district">{{'label.district' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="district" class="form-control" ng-model="formData.district" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="state">{{'label.state' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="state" class="form-control" ng-model="formData.state" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="country">{{'label.country' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="country" class="form-control" ng-model="formData.country" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="zip">{{'label.zipcode' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="zip" class="form-control" ng-model="formData.zip">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a id="cancel" href="#/viewclient/id/{{clientId}}">
                        <button type="reset" class="btn btn-warning">Cancel</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" class="btn btn-primary">Save</button>
                </li>
            </ul>
        </form>
    </div>
</div>
<script type="text/ng-template" id="generateProperty.html">
    <div class="modalcustomsize">
        <div class="modal-header silver">
            <h3 class="modal-title">Generate Property Code</h3>
        </div>
        <div class="modal-body" style="padding:0px;overflow-y=unset;">
            <form name="createpropertyform" novalidate class="form-horizontal well" data-ng-submit="submit()">
                <api-validate></api-validate>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="precinct">{{'label.precinct' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="precinct" class="form-control" name="precinct" data-ng-model="formData.precinct" data-typeahead="precinct.cityCode as precinct.cityName for precinct in getPrecinct($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getPrecinctDetails(formData.precinct)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.precinct.$invalid">
                          <small class="error" data-ng-show="createpropertyform.precinct.$error.req"> {{'label.required.field' | translate}}</small>
                          <small class="error" data-ng-show="createpropertyform.precinct.$error.editable&&!createpropertyform.precinct.$error.req">
                    Invaild Precinct</small>
                      </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="parcel">{{'label.parcel' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="parcel" name="parcel" data-ng-model="parcel" class="form-control" data-typeahead="parcel.code as parcel.description for parcel in getParcel($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getParcelDetails(parcel)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.parcel.$invalid">
                    <small class="error" data-ng-show="createpropertyform.parcel.$error.req">{{'label.required.field' | translate}} </small> 
                    <small class="error" data-ng-show="createpropertyform.parcel.$error.editable&&!createpropertyform.parcel.$error.req">
                    Invalid Parcel</small> 
                </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="propertyType">{{'label.propertytype' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <select id="propertyType" data-ng-model="formData.propertyType" class="form-control" data-ng-options="propertyType.id as propertyType.mCodeValue for propertyType in propertyTypes" required data-late-Validate>
                            <option value="">{{'label.select.one' | translate}}</option>
                        </select>
                        <span data-ng-show="createpropertyform.propertyType.$invalid">
                    <small class="error" data-ng-show="createpropertyform.propertyType.$error.req">{{'label.required.field' | translate}} </small> 
                  </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="buildingCode">{{'label.buildingcode' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="buildingCode" name="buildingCode" data-ng-model="buildingCode" class="form-control" data-typeahead="building.code as building.description for building in getBuild($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getbuildCode(buildingCode)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.buildingCode.$invalid">
                  <small class="error" data-ng-show="createpropertyform.buildingCode.$error.req">{{'label.required.field' | translate}} </small> 
                            <small class="error" data-ng-show="createpropertyform.buildingCode.$error.editable&&!createpropertyform.buildingCode.$error.req">
                  Invalid BuildingCode</small> 
              </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="floor">{{'label.floor' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="floor" name="floor" data-ng-model="floor" class="form-control" data-typeahead="floor.code as floor.description for floor in getFloor($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getFloorDetails(floor)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.floor.$invalid">
                            <small class="error" data-ng-show="createpropertyform.floor.$error.req">{{'label.required.field' | translate}} </small>
                              <small class="error" data-ng-show="createpropertyform.floor.$error.editable&&!createpropertyform.floor.$error.req">
                      InValid Level/Floor</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="unitCode">{{'label.unitcode' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="unitCode" name="unitCode" data-ng-model="unitCode" class="form-control" data-typeahead="unit.code as unit.code for unit in getUnit($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getunitCode(unitCode)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.unitCode.$invalid">
                      <small class="error" data-ng-show="createpropertyform.unitCode.$error.req">{{'label.required.field' | translate}} </small> 
                                <small class="error" data-ng-show="createpropertyform.unitCode.$error.editable&&!createpropertyform.unitCode.$error.req">
                      Invalid UnitCode</small> 
                  </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="propertyCode">{{'label.propertycode' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" id="generateProperty" name="propertyCode" class="form-control" data-ng-model="formData.propertyCode" required readonly data-late-Validate>
                        <br/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="street">{{'label.street' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" id="street" class="form-control" data-ng-model="formData.street">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="poBox">{{'label.poBox' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" id="poBox" class="form-control" data-ng-model="formData.poBox">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="state">{{'label.state' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" id="state" class="form-control" data-ng-model="formData.state" readonly required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="country">{{'label.country' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" id="country" class="form-control" data-ng-model="formData.country" readonly required>
                    </div>
                </div>
                <div class="col-md-offset-3" style="margin-left: 235px;">
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                    <button id="submit" data-ng-disabled="!createpropertyform.$valid" class="btn btn-primary" ng-click="accept()">Generate</button>
                </div>
            </form>
        </div>
    </div>
</script>
</div>