<div class="content-container" data-ng-controller="AllocateHardwareOneTimeSaleController">
    <ul class="breadcrumb">
		<li><a href="#/clients">{{'link.clients' | translate}}</a></li>
		<li><a href="#/viewclient/id/{{clientId}}" data-ng-click="reset123()">{{'link.view.client' | translate}}</a></li>
		<li class="active">{{'link.add.onetimesale' | translate}}</li>
	</ul>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h3>{{'label.assignserialnumber' | translate}}</h3>
    		</div>
    		<br>
    			<form class="form-horizontal"  data-ng-submit="submit()">
				<api-validate></api-validate>
					<fieldset>
						<div class="form-group" data-ng-repeat="item in getNumber(quantity) track by $index">
				            <label class="control-label col-sm-2" for="serialNumber">{{ 'label.serialNumber' | translate }}&nbsp;<span class="required">*</span></label>
				            <div class="col-sm-3">
				             	<input type="text" data-ng-model="itemDetail" name="serialNumber"  autocomplete="off" class="form-control"
				             		uib-typeahead="itemDetail for itemDetail in getData($viewValue)">
				            </div>
						</div>	
				       	<div class="pull-right">
							<a href="#/viewclient/id/{{clientId}}" data-ng-click="reset123()"><button type="reset" class="btn btn-warning">{{'button.cancel' | translate}}</button></a>
							<button type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
						</div>
					</fieldset>
				</form>
    		</div>
    	</div>
</div>

