<div data-ng-controller="CreateClientController" class="content-container">

    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
        <li class="active">{{'label.button.createcustomer' | translate}}</li>
    </ul>

    <form name="createclientform" novalidate class="form-horizontal Create-Customer well" data-ng-submit="submit()">
        <div uib-alert type="danger" ng-show=" errorDetails.length > 0">
            <label><i class="fa fa-exclamation-circle"></i>Client is not Creating</label>
            <div ng-repeat="error in errorDetails">
                <label>{{error.code | translate:error.args}}</label>
            </div>
        </div>
        <div class="widget">

            <h3>{{'label.button.createcustomer' | translate}}</h3>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="file">{{'label.client.select.image' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="file" data-ng-file-select="onFileSelect($files)">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">{{'label.organization' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" placeholder="Enter Entity Code" data-ng-model="formData.officeId" name="serialNumber" class="form-control" uib-typeahead="officeDetails.externalId as groupByOffice(officeDetails.externalId, officeDetails.name) for officeDetails in getData($viewValue)" autocomplete="off" data-typeahead-min-length="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">{{'label.Title' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.title" class="form-control">
                                <option value="">{{'label.select.one' | translate}}</option>
                                <option value="Mr">Mr</option>
                                <option value="Mr">Mrs</option>
                                <option value="Ms">Ms</option>
                                <option value="Miss">Miss</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label data-ng-hide="formData.entryType == 'ORP'" class="control-label " for="lastname">
                                {{'label.lastname' | translate}}<span class="required">*</span></label>
                            <label data-ng-show="formData.entryType == 'ORP'" class="control-label " for="lastname">
                                {{'label.contactperson' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="lastname" name="lastname" class="form-control" data-ng-model="formData.lastname" data-ng-pattern="/^[a-zA-Z0-9\s]+$/" required data-ng-minlength=3 data-late-Validate/>
                            <span data-ng-show="createclientform.lastname.$invalid">
												<small class="error" data-ng-show="createclientform.lastname.$error.pattern">
													alphanumeric and spaces only!</small>
												<small class="error" data-ng-show="createclientform.lastname.$error.req">
													{{'label.required.field' | translate}}
												</small>
												<small class="error" data-ng-show="createclientform.lastname.$error.minlength && !createclientform.lastname.$error.req">Name is required at least 3 characters</small>
											</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="phone">{{'label.phone' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="phone" data-ng-model="formData.phone" class="form-control" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" name="phone" maxlength="15" required data-late-Validate/>
                            <div data-ng-show="createclientform.phone.$dirty && createclientform.phone.$invalid">
                                <small class="error" data-ng-show="createclientform.phone.$error.pattern">{{'label.prospect.error.mobileno' | translate}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="email">{{'label.email' | translate}}<span class="required" data-ng-show="isEmailEnable==true">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="email" class="form-control" data-ng-model="formData.email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">{{ 'label.IdentificationProof' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.idKey" class="form-control" data-ng-options="idProof.id as idProof.mCodeValue for idProof in idProofs">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">{{ 'label.cafid' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" data-ng-model="formData.externalId" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">&nbsp;</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-check form-check-inline">
                                <input type="radio" id="type" data-ng-model="formData.entryType" name="entryType" ng-click="individual()" value="IND">
                                <label class="control-label">{{ 'label.Individual' | translate }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="type" data-ng-model="formData.entryType" name="entryType" value="ORP">
                                <label class="control-label">{{ 'label.Corporate' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">{{'label.clientcategeory' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.clientCategory" class="form-control" data-ng-options="clientCategoryData.id as clientCategoryData.categoryType for clientCategoryData in clientCategoryDatas"></select>
                        </div>
                    </div>
                    <div class="form-group row" data-ng-hide="propertyMaster">
                        <div class="col-md-4">
                            <label data-ng-hide="formData.entryType == 'ORP'" class="control-label " for="firstname">
                                {{'label.firstname' | translate}}<span class="required">*</span></label>
                            <label data-ng-show="formData.entryType == 'ORP'" class="control-label " for="firstname">
                                {{'label.corporate' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="firstname" name="firstname" data-ng-model="formData.firstname" class="form-control" required data-ng-minlength=3 data-late-Validate/>
                            <span data-ng-show="createclientform.firstname.$invalid">
										   <small class="error" data-ng-show="createclientform.firstname.$error.req">
											  {{'label.required.field' | translate}}
										   </small>
										   <small class="error" data-ng-show="createclientform.firstname.$error.minlength && !createclientform.firstname.$error.req">Name is required at least 3 characters</small>
									   </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label data-ng-hide="formData.entryType == 'ORP'" class="control-label " for="middlename">{{'label.middlename' | translate}}</label>
                            <label data-ng-show="formData.entryType == 'ORP'" class="control-label " for="middlename">{{'label.corporatedetails' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="middlename" name=middlename class="form-control" data-ng-model="formData.middlename" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="homePhoneNumber">{{ 'label.homephone' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="homePhone" id="homePhoneNumber" class="form-control" data-ng-model="formData.homePhoneNumber" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" maxlength="15" />
                            <div data-ng-show="createclientform.homePhone.$dirty && createclientform.homePhone.$invalid">
                                <small class="error" data-ng-show="createclientform.homePhone.$error.pattern">{{'label.prospect.error.mobileno' | translate}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">{{ 'label.input.preferences' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.billMode" class="form-control" data-ng-options="preference.mCodeValue as preference.mCodeValue for preference in preferences">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">{{ 'label.IdentificationProofValue' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" data-ng-model="formData.idValue" />
                        </div>
                    </div>

                    <div class="form-group row" ng-show="formData.entryType == 'ORP'">
                        <div class="col-md-4">
                            <label class="control-label " for="isParent">{{'label.isparent' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="is-parent">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="" id="isParent" data-ng-model="isParent" ng-change="isParentChecked()">
                                </div>
                                <div ng-show="formData.entryType == 'ORP' && isParent == false" class="row align-items-center">
                                    <div class="col-md-4">
                                        <label class="control-label" for="parentId">(Or)</label>

                                        <label class="control-label " for="parentId">{{'label.Child' | translate}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="parentId" class="form-control" data-ng-model="parentClient" placeholder="Search by Parent #" uib-typeahead=" parentClient as groupByParent(parentClient.displayName) for parentClient in getparent($viewValue)" typeahead-on-select="hello(parentClient)" autocomplete="off" data-typeahead-min-length="0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <fieldset class="standard">
                <h3>Primary</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{'label.address1' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="addressNo" name="address" class="form-control" data-ng-model="addressNo" required data-late-Validate/>
                                <span data-ng-show="createclientform.address.$invalid">
		             	<small class="error" data-ng-show="createclientform.address.$error.req">
		                  {{'label.required.field' | translate}}
		              	</small>
		          	</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{'label.villege/street' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="street" class="form-control" data-ng-model="street" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="city">{{'label.city/area' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="city" name="city" class="form-control" data-ng-model="city" autocomplete="off" list="citylist" data-ng-change="getStateAndCountry(city,'primary')" required />
                            </div>
                            <div class="col-md-6" data-ng-show="propertyMaster">
                                <input type="text" id="city" name="city" class="form-control" data-ng-model="city" disabled required />
                            </div>
                            <datalist id="citylist">
                                <option data-ng-repeat="city in cities" value="{{city}}"> </option>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="district">{{'label.district' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="district" class="form-control" data-ng-model="district" disabled required/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label " for="state">{{'label.state' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="state" class="form-control" data-ng-model="state" disabled required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="country">{{'label.country' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="country" name="country" class="form-control" data-ng-model="country" disabled required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label ">{{'label.zipcode' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="zipCode" class="form-control" data-ng-model="zipCode" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row" data-ng-hide="configurationProperty==false">
                            <div class="col-md-4">
                                <label class="control-label">{{'label.Login' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="login" name="login" class="form-control" data-ng-model="formData.login" />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="standard">
                <h3>{{'label.Billing' | translate}}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="isCheck" name="isCheck" class="" data-ng-model="isCheck" value="{{isCheck}}" ng-change="typeChangeFun(isCheck)">
                                    <label class="control-label" for="same">Is Your Billing Address Same As Primary Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{'label.address1' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="addressNo" name="address" class="form-control" data-ng-model="billingData.addressNo" required data-late-Validate/>
                                <span data-ng-show="createclientform.address.$invalid">
         	<small class="error" data-ng-show="createclientform.address.$error.req"> {{'label.required.field' | translate}} </small>
      	</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{'label.villege/street' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="street" class="form-control" value="{{street}}" data-ng-model="billingData.street" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="city">{{'label.city/area' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8" data-ng-hide="propertyMaster">
                                <input type="text" id="city" name="city" class="form-control" data-ng-model="billingData.city" autocomplete="off" list="citylist" data-ng-change="getStateAndCountry(billingData.city,'billing')" required />
                            </div>
                            <div class="col-md-8" data-ng-show="propertyMaster">
                                <input type="text" id="city" name="city" class="form-control" data-ng-model="billingData.city" disabled required />
                            </div>
                            <datalist id="citylist">
                                <option data-ng-repeat="city in cities" value="{{city}}"></option>
                            </datalist>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="district">{{'label.district' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="district" class="form-control" data-ng-model="billingData.district" disabled required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="state">{{'label.state' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="state" class="form-control" data-ng-model="billingData.state" disabled required/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="country">{{'label.country' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="country" name="country" class="form-control" data-ng-model="billingData.country" disabled required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{'label.zipcode' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="zipCode" name="zipcode" class="form-control" data-ng-model="billingData.zipCode" required data-late-Validate/>
                                <span data-ng-show="createclientform.zipcode.$invalid">
             	<small class="error" data-ng-show="createclientform.zipcode.$error.req">
                  {{'label.required.field' | translate}}
              	</small>
          	</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row" data-ng-show="propertyMaster">
                            <div class="col-md-4">
                                <label class="control-label">{{'label.propertycode' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="propertyCode" name="address" class="form-control" data-ng-model="formData.addressNo" data-typeahead="propertyData.propertyCode as propertyData.propertyCode for propertyData in getExistsProperty($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getPropertyDetails(formData.addressNo)" />&nbsp;
                                <a data-ng-click="generatePropertyPopup()" data-popover-placement="right" data-popover="Generate Building Code" data-popover-trigger="mouseenter"><i class="icon-plus icon-white"></i></a>
                                <br/>
                                <span data-ng-show="createclientform.address.$invalid">
              <small class="error" data-ng-show="createclientform.address.$error.req">{{'label.required.field' | translate}}</small>
          </span>
                                <small class="error" data-ng-show="invalidBuildingCode">Invalid BuildingCode</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row" data-ng-hide="configurationProperty==false">
                            <div class="col-md-4">
                                <label class="control-label">{{'label.Password' | translate}}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" data-ng-model="formData.password" />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <ul class="btn-group-list mt20 mb20 text-right">
                <li>
                    <a href="#/clients">
                        <button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel' | translate}}</button>
                    </a>
                </li>
                <li>
                    <button data-ng-hide="clientAddInfo" id="submit" type="submit" data-ng-disabled="!createclientform.$valid" class="btn btn-primary">{{'button.save' | translate}}</button>
                </li>
                <li>
                    <button data-ng-show="clientAddInfo" id="submit" type="submit" data-ng-disabled="!createclientform.$valid" class="btn btn-primary">{{'button.save' | translate}}&nbsp;&nbsp;
                        <i class="fa fa-forward"></i></button>
                </li>
            </ul>

        </div>
    </form>
</div>

<script type="text/ng-template" id="generateProperty.html">
    <div class="modalcustomsize">
        <div class="modal-header silver">
            <h3 class="modal-title">Generate Property Code</h3>
        </div>
        <div class="modal-body" style="padding:0px;overflow-y=unset;">
            <form name="createpropertyform" novalidate class="form-horizontal well" data-ng-submit="submit()">
                <div class="error" data-ng-show="errorStatus || errorData">
                    <label>{{'label.error' | translate}}</label>
                    <label data-ng-show="errorStatus">{{errorStatus}}</label>
                    <label data-ng-hide="errorStatus" data-ng-repeat="error in errorData">{{error.code | translate}}</label>
                </div>

                <div class="form-group">
                    <label class="control-label" for="precinct">{{'label.precinct' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="precinct" name="precinct" class="form-control" data-ng-model="formData.precinct" data-typeahead="precinct.cityCode as precinct.cityName for precinct in getPrecinct($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getPrecinctDetails(formData.precinct)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.precinct.$invalid">
              <small class="error" data-ng-show="createpropertyform.precinct.$error.req"> {{'label.required.field' | translate}}</small>
              <small class="error" data-ng-show="createpropertyform.precinct.$error.editable&&!createpropertyform.precinct.$error.req">Invaild Precinct</small>
          </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="parcel">{{'label.parcel' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="parcel" name="parcel" class="form-control" data-ng-model="parcel" data-typeahead="parcel.code as parcel.description for parcel in getParcel($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getParcelDetails(parcel)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.parcel.$invalid">
					  <small class="error" data-ng-show="createpropertyform.parcel.$error.req">{{'label.required.field' | translate}} </small> 
					  <small class="error" data-ng-show="createpropertyform.parcel.$error.editable&&!createpropertyform.parcel.$error.req">Invalid Parcel</small> 
					</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="propertyType">{{'label.propertytype' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <select id="propertyType" data-ng-model="formData.propertyType" class="form-control" data-ng-options="propertyType.id as propertyType.mCodeValue for propertyType in propertyTypes" required data-late-Validate>
                            <option value="">{{'label.select.one' | translate}}</option>
                        </select>
                        <span data-ng-show="createpropertyform.propertyType.$invalid">
				<small class="error" data-ng-show="createpropertyform.propertyType.$error.req">{{'label.required.field' | translate}} </small> 
				</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="buildingCode">{{'label.buildingcode' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="buildingCode" name="buildingCode" class="form-control" data-ng-model="buildingCode" data-typeahead="building.code as building.description for building in getBuild($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getbuildCode(buildingCode)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.buildingCode.$invalid">
					  <small class="error" data-ng-show="createpropertyform.buildingCode.$error.req">{{'label.required.field' | translate}} </small> 
                       <small class="error" data-ng-show="createpropertyform.buildingCode.$error.editable&&!createpropertyform.buildingCode.$error.req">Invalid BuildingCode</small> 
					</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="floor">{{'label.floor' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="floor" name="floor" class="form-control" data-ng-model="floor" data-typeahead="floor.code as floor.description for floor in getFloor($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getFloorDetails(floor)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.floor.$invalid">
		              <small class="error" data-ng-show="createpropertyform.floor.$error.req">{{'label.required.field' | translate}} </small>
                     <small class="error" data-ng-show="createpropertyform.floor.$error.editable&&!createpropertyform.floor.$error.req">InValid Level/Floor</small></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="unitCode">{{'label.unitcode' | translate }}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" id="unitCode" name="unitCode" class="form-control" data-ng-model="unitCode" data-typeahead="unit.code as unit.code for unit in getUnit($viewValue)" autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getunitCode(unitCode)" data-typeahead-editable="false" required data-late-Validate/>
                        <br/>
                        <span data-ng-show="createpropertyform.unitCode.$invalid">
					  <small class="error" data-ng-show="createpropertyform.unitCode.$error.req">{{'label.required.field' | translate}} </small> 
                       <small class="error" data-ng-show="createpropertyform.unitCode.$error.editable&&!createpropertyform.unitCode.$error.req">Invalid UnitCode</small> 
					 </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="propertyCode">{{'label.propertycode' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" id="generateProperty" name="propertyCode" class="form-control" data-ng-model="formData.propertyCode" required readonly data-late-Validate>
                        <br/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="street">{{'label.street' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" id="street" class="form-control" data-ng-model="formData.street">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="poBox">{{'label.poBox' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" id="poBox" class="form-control" data-ng-model="formData.poBox">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="state">{{'label.state' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="state" data-ng-model="formData.state" readonly required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="country">{{'label.country' | translate }}</label>
                    <div class="col-sm-3">
                        <input type="text" id="country" class="form-control" data-ng-model="formData.country" readonly required>
                    </div>
                </div>
                <div class="form-group" >
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                    <button id="submit" data-ng-disabled="!createpropertyform.$valid" class="btn btn-primary" ng-click="accept()">Generate</button>
                </div>

            </form>
        </div>
    </div>
</script>
</div>