<div class="content-container" data-ng-controller="CreditDistributionController">
    <ul class="breadcrumb">
		 <li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
		<li><a href='#/viewclient/id/{{clientId}}'>{{'label.anchor.viewcustomer' | translate}}</a></li>
		<li class="active">Credit Distribution</li>
	</ul>
	<div data-ng-include="'views/clients/viewclienttopinfo.html'"></div>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h3>{{'label.creditdistribution' | translate}}</h3>
    		</div>
    		<br>
    			<form name="creditDistributionForm" class="form-horizontal" data-ng-submit = "submit()">
	    			<api-validate></api-validate>
        			<fieldset>
          			<br>
          			<div class="form-group">
          				<label class="control-label col-sm-3">{{'label.show.payment.details' | translate}}</label>
		         		 <div class="col-sm-2">
		            		<a class="btn btn-primary" data-ng-click="showPayments()">
		              			<i data-ng-show="showPaymentsDetails" class="fa fa-minus"></i>
		             			 <i data-ng-show="!showPaymentsDetails" class="fa fa-plus"></i>
		            		</a>
		          		</div>
        			</div>
       				<div uib-collapse = "!showPaymentsDetails"> 
						 <table class="table table-striped">
							  <thead>
				            	<tr class="graybg">
				            		<th>{{'label.select' | translate}}</th>
				              	    <th>{{'label.payment.date' | translate}}</th>
				                    <th>{{'label.receiptnumber' | translate}}</th>
				                	<th>{{'label.payment.amount' | translate}}</th>
				                	<th>{{'label.available.amount' | translate}}</th>
				            	</tr>
				       		</thead>
				        	<tbody>
				            	 <tr data-ng-repeat="paymentData in paymentDatas">
				            		<td> <input  type="radio" name ="select" 
				            			data-ng-click = "seletedPayment(paymentData.id,paymentData.amountPaid,paymentData.availAmount,$index)"/></td>
				                	<td>{{paymentData.paymentDate | DateFormat}}</td>
				                	<td>{{paymentData.receiptNo}}</td>
				                	<td>{{paymentData.amountPaid}}</td>
				                    <td>{{paymentData.availAmount}}</td>
				             	</tr>
				        	</tbody>
						</table>
					</div>
	 				<br>
			        <div class="form-group" data-ng-show = "showInvoices && showPaymentsDetails">
			          		<label class="control-label">{{'label.show.invoice.details' | translate}}</label>
			         		 <div class="controls">
			            		<a class="btn btn-primary" data-ng-click="showInvoiceDetails=!showInvoiceDetails">
			              			<i data-ng-show="showInvoiceDetails" class="icon-minus icon-white"></i>
			             			 <i data-ng-show="!showInvoiceDetails" class="icon-plus icon-white"></i>
			            		</a>
			          		</div>
			        </div>
       				<div uib-collapse = "!showInvoiceDetails"> 
						 <table class="table table-striped">
							  <thead>
				            	<tr class="graybg">
				            		<th>{{'label.select' | translate}}</th>
				              	    <th>{{'label.invoice.date' | translate}}</th>
				                    <th>{{'label.invoice.amount' | translate}}</th>
				                	<th>{{'label.invoice.dueamount' | translate}}</th>
				                	<th></th>
				            	</tr>
				       		</thead>
				        	<tbody>
				            	 <tr data-ng-repeat="invoiceData in invoiceDatas" >
				           			
				            		<td> <input id="{{invoiceData.id}}" class="unCheck" type="checkbox" data-ng-model="invoiceData.active" 
				            			data-ng-change="selectedInvoices(invoiceData.id,invoiceData.dueAmount,invoiceData.active,$index)"></td>
				                	<td>{{invoiceData.billDate | DateFormat}}</td>
				                	<td>{{invoiceData.amount}}</td>
				                	<td>{{invoiceData.dueAmount}}</td>
				               		<td></td>
				             	</tr>
				        	</tbody>
						</table>
						<br>
						<div class="pull-right">
				           <a id="cancel" href="#/viewclient/id/{{clientId}}">
								<button type="reset" class="btn btn-warning" data-ng-click="reset123()">{{'button.cancel' | translate}}</button>
							</a>
				          <button id="submit" type="submit" class="btn btn-primary">{{'button.distribute'  | translate}}</button>
				        </div>	
					</div>
				</fieldset>
			</form>
    	</div>
    </div>
    <script type="text/ng-template" id="alert.html">
					<div class="modal-header silver">
                        <h3 class="bolder">Warning</h3>
                    </div>
                    <div class="modal-body" modal-middle>
                       <i class="icon-warning-sign error"></i>After Distribution Available amount  <span style='color:blue;font-size:15px;'> ZERO</span>
                    </div>
                    <div class="modal-footer">
						<button class="btn btn-primary" ng-click="approve()">ok</button>
                    </div>
      </script>
      <script type="text/ng-template" id="amountAlert.html">
					<div class="modal-header silver">
                        <h3 class="bolder">Warning</h3>
                    </div>
                    <div class="modal-body" modal-middle>
                       <i class="icon-warning-sign error"></i>Available Paying Amount cann't be greater than 
							<span style='color:blue;font-size:15px;'>"Invoice Due Amount"</span>.
                    </div>
                    <div class="modal-footer">
						<button class="btn btn-primary" ng-click="approve()">ok</button>
                    </div>
      </script>
</div>

