<div class="content-container" ng-controller="EditAdditionalInfoController">
<div>
           <ul class="breadcrumb">
            <li><table>
        <tr>
        <td>
         <img data-ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
          <img data-ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
        </td>
        <td>
            <small style="color:black;">{{displayName}}</small>
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Uniquely identified&nbsp;<strong>{{accountNo}}</strong></small></td>
        	</tr>
        	<tr>
        	    <td><small>Cell Phone&nbsp;<strong>{{phone}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        	   <td><i class="icon-building"></i><small>Office&nbsp;"<strong>{{officeName}}</strong>"</small></td>
        	</tr>
        	<tr>
        	<td><small>Device # <strong>{{hwSerialNumber}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Client Type&nbsp;"<strong>{{categoryType}}</strong>"</small></td>
        	</tr>
        	<tr>
        		<td><small>Balance&nbsp;<strong>{{balanceAmount}}</strong>&nbsp;{{currency}} </small></td>
        		<td class="paddedleft0" data-ng-show="walletConfig"><small>[Wallet&nbsp;<strong>{{walletAmount}}</strong>&nbsp;{{currency}}]</small></td>
        	</tr>
        </table>
        </td>
        </tr>
        </table></li>
          </ul>
          <ul class="breadcrumb">
            <li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
            <li><a href='#/viewclient/{{clientId}}'>{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
              <li class="active">{{'label.editclient.info' | translate}}</li>
          </ul>
        </div>
        <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>&nbsp;&nbsp;&nbsp;{{'label.editclient.info' | translate}}</legend>
		<table>
         <tr>
           <td>
	          <div class="control-group">
	            <label class="control-label">{{'label.gender' | translate}}</label>
	            <div class="controls">
	              <select data-ng-model="formData.gender"  data-ng-options="genderData.id as genderData.mCodeValue for genderData in genderDatas" ></select>
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{'label.nationality' | translate}}</label>
	            <div class="controls">
	              <select data-ng-model="formData.nationality"  data-ng-options="nationalityData.id as nationalityData.mCodeValue for nationalityData in nationalityDatas" ></select>
	            </div>
	          </div>
		      <div class="control-group">
           		 <label class="control-label" for="jobTitle">{{'label.jobTitle' | translate}}</label>
           		  <div class="controls">
	               <input type="text" id="jobTitle" name="jobTitle" data-ng-model="formData.jobTitle"/><br/>
	             </div>
         	 </div>
         	 	<div class="control-group">
	            		<label  class="control-label" for="middlename">{{'label.dateOfBirth' | translate}}</label>
	            			<div class="controls">
	                 			<input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="date.dateOfBirth" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)"/>
	            			</div>
	          			</div>
       <div class="control-group">
	            <label class="control-label">{{'label.preferredLang' | translate}}</label>
	            <div class="controls">
	              <select data-ng-model="formData.preferredLang"  data-ng-options="languagesData.id as languagesData.mCodeValue for languagesData in languagesDatas" ></select>
	            </div>
	          </div>
      
  <div class="control-group">

      	<label class="control-label" for="homePhoneNumber">{{ 'label.remarks' | translate }}</label>
      		<div class="controls">
        			<input type="text" name="remarks" id="remarks" data-ng-model="formData.remarks"/>
     		</div>
    	</div>
    
     </td>
     <td>
     
      <div class="control-group">
         <label class="control-label">{{'label.idType' | translate}}</label>
        <div class="controls">
          <select data-ng-model="formData.idType"  data-ng-options="customeridentificationData.id as customeridentificationData.mCodeValue for customeridentificationData in customeridentificationDatas">
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">{{'label.idNumber' | translate}}</label>
        <div class="controls">
          <input type="text" id="idNumber" name="idNumber" data-ng-model="formData.idNumber"/>
        </div>
      </div>
      <div class="control-group">
	            <label class="control-label">{{'label.ageGroup' | translate}}</label>
	            <div class="controls">
	              <select data-ng-model="formData.ageGroup"  data-ng-options="ageGroupData.id as ageGroupData.mCodeValue for ageGroupData in ageGroupDatas" ></select>
	            </div>
	          </div>
     <div class="control-group">
	            <label class="control-label" for="utsCustomerId">{{'label.utsCustomerId' | translate}}</label>
	            <div class="controls">
	              <input type="text" id="utsCustomerId" data-ng-model="formData.utsCustomerId"/><br/>
	            </div>
	          </div>
	 <div class="control-group">
	            <label class="control-label" for="financeId">{{'label.financeId' | translate}}</label>
	            <div class="controls">
	              <input type="text" id="financeId" data-ng-model="formData.financeId"/><br/>
	            </div>
	          </div>       
	             <div class="control-group">
	            <label class="control-label">{{'label.preferredCommunication' | translate}}</label>
	            <div class="controls">
	              <select data-ng-model="formData.preferredCommunication"  data-ng-options="cummunitcationData.id as cummunitcationData.mCodeValue for cummunitcationData in cummunitcationDatas" ></select>
	            </div>
	          </div>
	           
     </td>
     </tr>
     	<tr >
				<td>
				<div class="offset3">
                <label class="control-label">{{'label.client.select.image' | translate}}</label>
                <div class="controls">
                  <input type="file" id="file" data-ng-file-select="onFileSelect($files)">
                </div>
              </div>
			 </td>
			 <td></td>
		</tr>
     <tr>
       <td>
      </td>
       <td>
         <div align="right">
			  <a id="cancel" href="#/viewclient/{{clientId}}"><button type="reset" class="btn" data-ng-click="reset123()">{{'button.cancel' | translate}}</button></a>
			   <button id="submit" type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
			</div>
		</td>
     </tr>
     </table>
    
	</fieldset>
        



</div>