<div class="content-container" ng-controller="ViewFinancialTranController">
  	<ul class="breadcrumb">
		<li><a href="#/clients">{{'link.clients' | translate}}</a></li>
		<li><a href="#/viewclient/id/{{clientId}}">{{'link.view.client' | translate}}</a></li>
		<li class="active">{{'label.invoicedetails' | translate}}</li>
	</ul>
    <div class="card">
        <div class="content">
        	<div class="toolbar">
        		<h3>{{ 'label.billitemdetails' | translate }}</h3>
        	</div>
      			<!-- <h3>&nbsp;&nbsp;&nbsp;Invoice Details </h3> -->
				<table class="table table-striped">
			        <thead>
			            <tr class="graybg">
			                    <th>{{'table.chargeid' | translate}}</th>
			                    <th>{{'table.orderid' | translate}}</th>
								<th>{{'table.chargetype' | translate}}</th>
								<th>{{'table.chargedescription' | translate}}</th>
								<th>{{'table.startdate' | translate}}</th>
								<th>{{'table.enddate' | translate}}</th>
								<th>{{'table.amount' | translate}}</th>	
			            </tr>
			        </thead>
			        <tbody>
			                   <tr data-ng-repeat="invoicedetail in invoicedetails" data-ng-show="invoicedetail.chargeType == 'RC' || invoicedetail.chargeType == 'NRC' || invoicedetail.chargeType == 'DC'">
			                    <td>{{invoicedetail.chargeId}}</td>
			                    <td>{{invoicedetail.orderId}}</td> 
								<td>{{invoicedetail.chargeType}}</td>  
								<td>{{invoicedetail.chargeDescription}}</td>
								<td>{{invoicedetail.chargeStartDate | DateFormat}}</td>
								<td>{{invoicedetail.chargeEndDate | DateFormat }}</td>
								<td>{{invoicedetail.chargeAmount}}</td> 	       
			            </tr>
			        </tbody>
		    	</table>
			    <h3>&nbsp;&nbsp;&nbsp;Item Tax Details </h3>
			    <table class="table table-striped">
			        <thead>
			            <tr class="graybg">
								<th>{{'table.chargeid' | translate}}</th>
								<th>{{'table.taxdescription' | translate}}</th>
								<th>{{'table.taxamount' | translate}}</th>
			            </tr>
			        </thead>
			        <tbody>
			         			<tr data-ng-repeat="invoicedetail in invoicedetails" data-ng-show="invoicedetail.chargeType == 'Tax'">
								<td>{{invoicedetail.chargeId}}</td>
								<td>{{invoicedetail.chargeDescription}}</td>  
								<td>{{invoicedetail.taxAmount}}</td>			       
			            </tr>
			        </tbody>
			    </table> 
			    <h3>&nbsp;&nbsp;&nbsp;Discount Details </h3>
			    <table class="table table-striped">
			        <thead>
			            <tr class="graybg">
			                      <th>{{'table.chargeid' | translate}}</th>
			                      <th>{{'table.chargedescription' | translate}}</th>
			                      <th>{{'table.discountamount' | translate}}</th>
			                      <th>{{'table.netchargeamount' | translate}}</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr data-ng-repeat="invoicedetail in invoicedetails" data-ng-show="invoicedetail.chargeType == 'Discount'">
			                <td>{{invoicedetail.chargeId}}</td>
			                <td>{{invoicedetail.chargeDescription}}</td>  
			                <td>{{invoicedetail.discountAmount}}</td>
			                <td>{{invoicedetail.netChargeAmount}}</td>          
			            </tr>
			        </tbody>
			    </table>
        </div>
    </div>
</div>      
