<div class="content-container" ng-controller="editRegionController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
		<li><a href="#/regions">{{'label.regions' | translate}}</a></li>
		<li><a href="#/viewregions/{{formData.id}}">{{formData.regionCode}}</a></li>
		<li class="active">{{'label.editRegion' | translate}}</li>
    </ul>
    <div class="widget">
          <h3>{{'label.editRegion' | translate}}</h3>
   
    			<form name="editregionform" novalidate="" class="form-horizontal" rc-submit="submit()">
    			    <api-validate></api-validate>
            			   <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                   <label class="control-label" for="regionCode"> {{'label.region.regioncode' | translate }}<span class="required" >*</span></label>
                                </div>
                                <div class="col-md-8">
                                      <input type="text" id="regionCode" name="regionCode" class="form-control" data-ng-model="formData.regionCode" data-ng-maxlength="10"/>
                                </div>
                                 <div class="col-md-12">
                                     <span data-ng-show="editregionform.regionCode.$dirty && editregionform.regionCode.$invalid">
                                    <small class="error" data-ng-show="editregionform.regionCode.$error.maxlength">{{'error.regioncode.definition.length.validation'| translate}}</small>
                                </span>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                   <label class="control-label" for="regionName"> {{'label.region.regionname' | translate }}<span class="required" >*</span> </label>
                                </div>
                                <div class="col-md-8">
                                     <input type="text" id="regionName" class="form-control" data-ng-model="formData.regionName">
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                  <label class="control-label" for="countryId"> {{'label.region.country' | translate }}<span class="required" >*</span> </label>
                                </div>
                                <div class="col-md-8">
                                     <select data-ng-model="formData.countryId" class="form-control" data-ng-change="countryDetails(formData.countryId)"
                                    data-ng-options="country.id as country.countryName for country in countrydata"
                                    data-value="{{country.id}}">
                                    <!-- <option ng-repeat="country in countrydata" value="{{country.id}}">{{country.countryName}}</option>  -->
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                  <label class="control-label" for="All">{{'label.region.all' | translate }}</label>
                                </div>
                                <div class="col-md-8">
                                     <label class="checkbox">
                                    <input type="checkbox" data-ng-model="checked">
                               </label>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                <label class="control-label">{{ 'label.region.availablestates' | translate }}</label>
                                </div>
                                <div class="col-md-8">
                                    <select multiple data-ng-model="allowed" data-ng-disabled="checked" class="form-control multiselectmin" multiple>
                                    <option data-ng-repeat="availableService in availableServices" value="{{availableService.id}}">{{availableService.stateName}}</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                  <label class="control-label">{{ 'label.region.selectedstates' | translate }} <span 
                                    class="required" >*</span></label>
                                </div>
                                <div class="col-md-8">
                                   <select id="states" multiple data-ng-model="restricted" data-ng-disabled="checked" class="form-control multiselectmin" multiple>
                                    <option data-ng-repeat="selectedService in selectedServices" value="{{selectedService.id}}">{{selectedService.stateName}}</option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
              <ul class="btn-group-list text-center mt20 mb20">
                 <li>
                   <button type="button" class="btn btn-primary" data-ng-disabled="checked" data-ng-click="allow()"><i  class="fa fa-angle-double-left"></i></button>
                </li>
                <li>
                   <button type="button" class="btn btn-primary" data-ng-disabled="checked" data-ng-click="restrict()"><i  class="fa fa-angle-double-right"></i></button>
                </li>
            </ul>
             <ul class="btn-group-list text-right mt20 mb20">
                 <li>
                   <a href="#/regions"><button id="cancel" type="reset" class="btn btn-warning"> {{'button.cancel' | translate }} </button></a>
                </li>
                <li>
                 <button id="submit" type="submit" data-ng-disabled="editregionform.$dirty && editregionform.$invalid" class="btn btn-primary"> {{'button.save' | translate }} </button>
                </li>
            </ul>
    		</form>
    	</div>
    </div>


