<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <!-- <li><a href="#/chargecode">{{formData.chargeCode}}</a></li> -->
        <li><a href="#/chargecode">{{'label.managechargecode' | translate}}</a></li>
        <li class="active">{{'label.create.new.taxmapping' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.create.new.taxmapping' | translate}}</h3>
        <form name="createtaxform" novalidate="" class="form-horizontal" ng-controller="CreateTaxMappingController" rc-submit="submit()">
            <api-validate></api-validate>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <label class="control-label" for="chargeCode">{{'label.chargeCode' | translate }}<span class="required">*</span></label>
                            <input type="text" class="input-small form-control" data-ng-model="formData.chargeCode" readonly>
                        </td>
                        <td>
                            <label class="control-label" for="startDate">{{'label.startDate' | translate }}<span class="required">*</span></label>
                            <input type="text" class="input-small form-control" datepicker-pop="dd MMMM yyyy" readonly data-ng-model="start.date" is-open="opened" min="minDate" date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" required late-Validate />
                        </td>
                        <td>
                            <label class="control-label" for="taxCode">{{'label.taxCode' | translate }}<span class="required">*</span></label>
                            <input type="text" id="taxCode" name="taxCode" class="input-small form-control" data-ng-model="formData.taxCode" data-ng-maxlength="10" />
                            <span data-ng-show="createtaxform.taxCode.$dirty && createtaxform.taxCode.$invalid">
                                    <small class="error" data-ng-show="createtaxform.taxCode.$error.maxlength">{{'error.taxcode.definition.length.validation'| translate}}</small>
                                    <small class="error" >{{'error.code.definition.length.validation'| translate}}</small>
                                </span>
                        </td>
                        <td>
                            <label class="control-label" for="taxRegion">{{'label.taxRegion' | translate }}<span class="required">*</span></label>
                            <select id="taxRegion" class="input-small form-control" data-ng-model="formData.taxRegion" data-ng-options="priceRegionData.id as priceRegionData.priceregion for priceRegionData in priceRegionDatas">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </td>
                        <td>
                            <label class="control-label" for="taxType">{{'label.type' | translate }}<span class="required">*</span></label>
                            <select id="taxType" class="input-small form-control" data-ng-model="formData.taxType" data-ng-options="taxTypeData.mCodeValue as taxTypeData.mCodeValue for taxTypeData in taxTypeDatas">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </td>
                        <td>
                            <label class="control-label" for="rate">{{'label.rate' | translate }}<span class="required">*</span></label>
                            <input type="text" id="rate" name="rate" class="input-small form-control" data-ng-model="formData.rate" data-ng-pattern="/^[0-9]/" />
                            <span data-ng-show="createtaxform.rate.$dirty && createtaxform.rate.$invalid">
                                   <small class="error" data-ng-show="createtaxform.rate.$error.pattern">{{'error.not.decimal.validation' | translate}}</small>                 
                                </span>
                        </td>
                        <td>
                            <a data-ng-click="!(createtaxform.tax.$error.pattern)&&addTaxData()">
                                <i class="fa fa-plus"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div data-ng-show="priceDatas.length>0">
                <h3>{{'label.existsTaxes' | translate}}</h3>
                <div class="table-responsive">
                    <table class="table table-striped ">
                        <tr>
                            <th>{{ 'label.chargeCode' | translate }}</th>
                            <th>{{ 'label.startDate' | translate }}</th>
                            <th>{{ 'label.taxCode' | translate }}</th>
                            <th>{{ 'label.taxRegion' | translate }}</th>
                            <th>{{ 'label.taxType' | translate }}</th>
                            <th>{{ 'label.rate' | translate }}</th>
                            <th>{{ 'table.heading.actions' | translate }}</th>
                        </tr>
                        <tr class="pointer-main" data-ng-repeat="existstax in priceDatas track by $index">

                            <td class="pointer" data-ng-click="routeTo(existstax.id)">{{existstax.chargeCode}}</td>
                            <td class="pointer" data-ng-click="routeTo(existstax.id)">{{existstax.startDate| DateFormat}}</td>
                            <td class="pointer" data-ng-click="routeTo(existstax.id)">{{existstax.taxCode}}</td>
                            <td class="pointer" data-ng-click="routeTo(existstax.id)">{{existstax.taxRegion}}</td>
                            <td class="pointer" data-ng-click="routeTo(existstax.id)">{{existstax.taxType}}</td>
                            <td class="pointer" data-ng-click="routeTo(existstax.id)">{{existstax.rate}}</td>
                            <td><a data-ng-click="removeTaxData($index,existstax.id)" data-popover="Delete Tax" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a></td>
                        </tr>
                    </table>
                </div>

                <!-- <div class="col-md-offset-3 pull-right">
                            <a id="cancel" href="#/chargecode">
                                <a href="#/chargecode"><button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
                                 <button id="submit" type="submit" data-ng-disabled="createtaxform.$dirty && createtaxform.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
                        </div> -->
            </div>
        </form>
    </div>
</div>
</div>