<div class="content-container" ng-controller="TaxMappingController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li><a href="#/viewchargecode/{{chargeId}}">{{chargeCode}}</a></li>
        <li class="active">{{'label.taxmapping' | translate}}</li>
    </ul>
    <div class="widget mb30">
        <div class="row">
 			<div class="col-md-3">
    			<input data-ng-model="filterText" type="text" class="form-control" data-ng-autofocus="true"  placeholder="{{'placehoder.searchbar' | translate}}">
 			</div>
 		</div>
    </div>
<div class="widget ">
     <div class="table-responsive">
            <table class="table table-striped">
        		<thead>
            		<tr class="graybg">
                	<th>{{ 'table.chargecode' | translate }}</th>
                	<th>{{ 'table.taxCode' | translate }}</th>
                	<th>{{ 'table.startDate' | translate }}</th>
                	<th>{{ 'table.type' | translate }}</th>
                	<th>{{ 'table.rate' | translate }}</th>
                	<th>{{ 'table.TaxRegion' | translate }}</th>
                	<th>Actions</th>
            		</tr>
        		</thead>
        		<tbody>
            		<tr class="pointer-main" data-ng-repeat="taxmapping in taxmappings | filter:filterText">
                	<td class="pointer" data-ng-click="routeTo(taxmapping.id)">{{taxmapping.chargeCode}}</td>        
                	<td class="pointer" data-ng-click="routeTo(taxmapping.id)"> {{taxmapping.taxCode}}</td>        
                	<td class="pointer" data-ng-click="routeTo(taxmapping.id)">{{taxmapping.startDate | DateFormat}}</td>
                	<td class="pointer" data-ng-click="routeTo(taxmapping.id)">{{taxmapping.taxType}}</td> 
                	<td class="pointer" data-ng-click="routeTo(taxmapping.id)">{{taxmapping.rate}}</td> 
                	<td class="pointer" data-ng-click="routeTo(taxmapping.id)">{{taxmapping.taxRegion}}</td> 
                	<td>
                		<a href="#/edittaxmapping/{{taxmapping.id}}/{{chargeCodeId}}" has-permission='UPDATE_TAXMAPPING'popover="Edit Tax" title="Edit Tax" popover-trigger="mouseenter">
                    		<i class="fa fa-edit"></i>
                    	</a>
                    </td>
            	</tr>
        		</tbody>
    		</table>
        </div>
    </div>
  </div>