<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="./images/favicon.png"/>
<title>{{'label.heading.title' | translate }}</title>
<style>
[data-ng-cloak] {
 display: none !important;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet"/>
<link href="styles/styles.css" rel="stylesheet"/>
<link href="styles/font-awesome.min.css" rel="stylesheet"/>
<link href="styles/fonts.css" rel="stylesheet"/>
<link href="styles/fonticons.css" rel="stylesheet"/>
<link href="styles/mediaquery.css" rel="stylesheet"/>
<link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body class="preview whitebg" id="top" data-spy="scroll" data-target=".subnav" data-offset="80"
      data-ng-controller="MainController">

<!--Loader -->
<div id="loaderWrapper" data-ng-hide="domReady" style="position: absolute; height: 100%; width: 100%; top: 0;background-color:#fff;">
  <div id="loader" style="margin: 175px auto"> 
    <!-- <img src="./images/Trigital_logo.png" alt="MifosX" style="min-width: 50px;   width: 6%; margin: 0 auto"
             class="img-responsive"> --> 
    <img src="images/small-loader.gif" style="margin: 10px auto" class="img-responsive"> </div>
</div>
<div data-ng-hide="!domReady" data-ng-cloak> 
  <!-- Login Form  -->
  <div data-ng-hide="currentSession.user != null" data-ng-controller="LoginFormController"> 
    <!--<div class="container" style="margin-top:10vh; data-ng-hide="currentSession.user != null" data-ng-controller="LoginFormController">-->
  <div class="loginBg">
     <div class="container">
      <div class="login-form-wrapper">
        <div class="languageDiv">
            <div class="pull-right "><span> {{ 'label.input.changelanguage' | translate }}</span>
              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary languageBtn" uib-dropdown-toggle ng-disabled="disabled"> {{optlang.name}} <span class="caret"></span> </button>
                <ul class="lang-dropdown" uib-dropdown-menu>
                  <li ng-repeat="lang in langs"> <a href ng-click="changeLang(lang, $event)">{{lang.name}}</a> </li>
                </ul>
              </div>
            </div>
            <div ng-show="resetPassword">
              <form class="form-inline pull-right" role="form">
                <label><strong>{{ 'label.message.password.expired' | translate }}</strong></label>
                <div class="form-group">
                  <input type="password" data-ng-model="passwordDetails.password"
                                       placeholder="{{ 'label.input.password' | translate }}" class="input-sm form-control"
                                       required
                                       id="password">
                </div>
                <div class="form-group">
                  <input type="password" data-ng-model="passwordDetails.repeatPassword"
                                       placeholder="{{ 'label.input.repeatpassword' | translate }}"
                                       class="input-sm form-control"
                                       required id="repeatPassword">
                </div>
                <button class="btn btn-success" type="submit" data-ng-click="updatePassword()"
                                    id="updatepassword-button">{{ 'label.button.resetPassword' | translate }} </button>
              </form>
            </div>
        </div>
        <div style="clear: both;"></div>
        
        <div data-ng-form="loginForm">
          <div class="loginLogo"><img src="images/Whitelabel_logo.png" alt="Mifos X" style="margin:auto;" class=" text-center img-responsive"/></div>
          <div class="row d-flex justify-content-center" ng-hide="resetPassword">
            <div class="col-sm-12">
              <div class="alert alert-danger" ng-show="authenticationFailed"> {{ authenticationErrorMessage | translate }} </div>
              <form class="form">
                <div class="form-group inputboxBg">
                  <!--<label for="uid">USERNAME</label>-->
                  <i class="fa fa-user-o"></i> 
                  <input type="text" name="username" id="uid" class="form-control" ng-model="loginCredentials.username" placeholder="{{ 'label.input.username' | translate |lowercase }}"/>
                </div>
                <div class="form-group inputboxBg">
                  <!--<label for="pwd">PASSWORD</label>-->
                  <i class="fa fa-unlock-alt" aria-hidden="true"></i>
				 <input type="password" name="password" id="pwd" class="form-control" ng-model="loginCredentials.password" autocomplete="new-password" placeholder="{{ 'label.input.password' | translate | lowercase }}"/>
                </div>
                <div class="form-group">
                  <button class="btn btn-block btn-primary loginBtn" type="submit" data-ng-show="!load" data-ng-click="login()" id="login-button"> {{'label.button.signin' | translate }} </button>
                  <button class="btn btn-block btn-primary" type="submit" data-ng-show="load"> <img data-ng-src="images/ring.svg" alt=""> <b>loading...</b> </button>
                </div>
              </form>
            </div>
          </div>
    	</div>
    </div><!-- login-form-wrapper end -->
   </div><!-- container-end -->
    </div><!-- loginBg-end -->

<!-- <div class="footerLinks">  
  <div class="container ">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-unstyled">
          <li>
            <h5>RESOURCES</h5>
          </li>
          <li><a> --><!-- <a target="http://help.nextgenerationbilling.com" href="http://help.nextgenerationbilling.com"> --><!-- {{
            'label.anchor.usermanual' | translate }}</a></li>
          <li><a> --><!-- <a target="http://help.nextgenerationbilling.com" href="http://help.nextgenerationbilling.com" > --> 
       <!--      {{ 'label.anchor.faq' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul class="list-unstyled">
          <li>
            <h5>SUPPORT SERVICE</h5>
          </li>
          <li><a href="mailto:info@nextgenerationbilling.com">Contact Support</a></li>
          <li><a> --><!-- <a target="https://www.nextgenerationbilling.com/support" href="https://www.nextgenerationbilling.com/support"> --> 
         <!--    {{ 'label.anchor.ticket' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul class="list-unstyled">
          <li>
            <h5>LATEST NEWS</h5>
          </li>
          <li><a> --><!-- <a target="http://www.nextgenerationbilling.com" href="http://www.nextgenerationbilling.com"> --> 
           <!--  For latest updated</a></li>
          <li><a><a ng-click="updateLicense()"> 
            Update License</a></li>
        </ul>
      </div>
    </div>
    </div>
  </div> -->
    
    <!-- <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <br>

                        <p class=" text-muted"><span ng-bind-html="text"></span>
                            <br>
                            <span style=" display: inline-block; margin:auto;min-width:40px; border-bottom:2px solid #e0e0e0;">&nbsp;</span>
                        </p>

                    </div>
                </div> --> 
    <!-- <p class="text-center text-muted small">
                    <span>{{ 'label.heading.version' | translate }} {{ version }}</span>
                    <br/> <span>{{ 'label.heading.uptodate' | translate }}</span>
                </p> --> 
    
  <!--   <footer class="loginFooter"> 
          <p align="center"> <a href="http://www.nextgenerationbilling.com/" 
          target="_blank"> &copy; {{'label.copyRight' | translate}} <script>document.write(new Date().getFullYear())</script>, {{version}} | {{'label.poweredBy' | translate}} {{releasedate}}  </a></p>
        </footer> -->

  </div>
  
  <!-- Navbar -->
  <div ng-class="{fullscreen:true ,blockui:blockUI==true}" id="main" data-ng-hide="currentSession.user == null">
    <div class="loading-widget-div" data-ng-show="blockUI"> 
      <!-- TODO : insert loader here--> 
      <span class="centerloader"> <img src="images/833.svg" class="img-responsive"> </span> 
      <!--<div style="margin: 175px auto">
            </div>--> 
    </div>
    <div id="mifos-reskin-ui-container">
       <div id="mifos-reskin-header-nav" ng-include="'views/_topnavbar.html'"></div> 
      <div id="mifos-reskin-body-container" style="background-color: #ebeff1">
        <nav id="mifos-reskin-side-nav"  ng-scrollbar>
          <div class="left-nav">
            <ul>
              <!-- <li>
                                <a class="black" href="#/help">
                                    <i class="fa fa-keyboard-o"></i>
                                    <span>{{'label.anchor.keyboardshortcut' | translate}}</span>
                                </a>
                            </li> --> 
              
              <!-- <li>
                                <a class="black" has-permission="READ_OFFICE" href="#/nav/offices">
                                    <i class="fa fa-compass "></i>
                                    <span>{{'label.anchor.navigation' | translate}}</span>
                                </a>
                            </li> --> 
              
              <!-- <li>
                                <a class="black" has-permission="CHECKER_SUPER_USER" href="#/tasks">
                                    <i class="fa fa-check "></i>
                                    <span>{{ 'label.anchor.tasks'| translate}}</span>
                                </a>
                            </li> -->
              
              <li> <a class="black" has-permission="'READ_DATATABLE','CREATE_CODE','READ_CODE','create_role','READ_role','UPDATE_PERMISSION','read_Audit',
                   					'READ_REPORT','READ_CONFIGURATION','READ_SERVICEMAPPING','READ_PLANMAPPING','READ_PROVISIONINGSYSTEM','READ_EVENTACTIONMAP'" 
                   						href="#/system"><i class="fa fa-laptop"></i> <span>{{ 'label.anchor.system' | translate }}</span> </a> </li>
              <li> <a class="black" has-permission="'READ_OFFICE','READ_STAFF','READ_CONTRACT','READ_MEDIAASSET',
            						'READ_EVENT','READ_DISCOUNT','READ_PROMOTIONCODE','READ_COUNTRYCURRENCY','READ_LOCATION','READ_CURRENCY','READ_SERVICE',
            							'READ_PLAN','READ_REGION','READ_RANDAMGENERATOR','READ_CHARGECODE','READ_MESSAGE'" href="#/organization"> <i class="fa fa-building"></i> <span>{{ 'label.anchor.master' | translate }}</span> </a> </li>
              <li> <a class="black" has-permission="'CREATE_PROSPECT'" href="#/createprospects"> <i class="fa fa-filter"></i> <span>{{ 'label.anchor.createprospects' | translate }}</span> </a> </li>
              <li> <a class="black" has-permission="'CREATE_CLIENT'" href="#/createclient"> <i class="fa fa-user"></i> <span>{{ 'label.anchor.createcustomer' | translate }}</span> </a> </li>
              <li> <a class="black" has-permission="'ACTIVATIONPROCESS_ACTIVATE'" href="#/simpleActivation"> <i class="fa fa-tasks"></i> <span>{{ 'label.anchor.simpleactivation' | translate }}</span> </a> </li>
              <!-- <li>
				            	<a class="black" has-permission="'READ_GLACCOUNT','READ_OFFICE','READ_SMARTSEARCH'" href="#/smartSearch">
				            		<i class="fa fa-search"></i>
				            		 <span>{{ 'label.anchor.smartsearch' | translate }}</span>
				            	</a>
				            </li> -->
              <li> <a class="black" has-permission="'READ_PAYMENTGATEWAY'" href="#/paymentGateway"> <i class="fa fa-money"></i> <span>{{ 'label.anchor.paymentgateway' | translate }}</span> </a> </li>
              <li> <a class="black" has-permission="'READ_UPLOADSTATUS'" href="#/importing"> <i class="fa fa-upload"></i> <span>{{'label.anchor.datauploads' | translate }}</span> </a> </li>
              <li> <a class="black" has-permission="'READ_SCHEDULERJOB'" href="#/jobs"> <i class="fa fa-gears"></i> <span>{{'label.anchor.schedulerjobs' | translate }}</span> </a> </li>
              <li> <a class="black" has-permission="'READ_JOURNALENTRY','READ_GLACCOUNT','READ_GLCLOSURE','READ_ACCOUNTINGRULE'" href="#/accounting"> <i class="fa fa-money"></i> <span>{{ 'label.anchor.accounting' | translate }}</span> </a> </li>
              <li> <a class="black" has-permission="'ALL_FUNCTIONS'" href="#/help"> <i class="fa fa-hand-o-left"></i> <span>{{ 'label.anchor.shortcuts' | translate }}</span> </a> </li>
              <li> <a class="black" data-ng-click="logout()"> <i class="fa fa-power-off"></i> <span>{{ 'label.anchor.logout' | translate }}</span> </a> </li>
            </ul>
          </div>
        </nav>
      </div>
      <div id="mifos-reskin-body-view">
        <div class="" ng-view></div>
        <footer> 
          <p align="center"> <a href="http://www.nextgenerationbilling.com/" 
          target="_blank"> &copy; {{'label.copyRight' | translate}} <script>document.write(new Date().getFullYear())</script>, {{version}} | {{'label.poweredBy' | translate}} {{releasedate}} </a>
          
          <!-- target="_blank">&copy; {{'label.ngbrelversion' | translate}} |  {{'label.ngbreleasedate' | translate}} </a>  -->
          </p>
        </footer>
      </div>
    </div>
  </div>
</div>
<!-- Le javascript label.ngbreleasedate --> 
<script type='text/javascript' data-main="scripts/loader.js" src='bower_components/requirejs/require.js'></script> 
<script type="text/ng-template" id="licensekey.html">
	<div class="modal-header silver">
        <h3 class="bolder">Update LicenseKey</h3>
    </div>
	<div class="padded-td"><strong>Your License valid till :<span style="color:red">{{kayinfo}}<span></strong></div>
    	<div class="modal-body" style="height:160px;">
	 		<div class="error" ng-show="errorStatus || errorDetails">
	 			<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	  		</div>
       		<fieldset>
 				<div class="control-group">
					<label class="control-label" for="quality">{{'label.licensekey' | translate }}</label>
					<div class="controls">
             			<input type="text" id="licensekey" ng-model="formData.key">
            		</div>
	   			</div>
	    	</fieldset>
    	</div>
    	<div class="modal-footer">
        	<button id="cancel" class="btn btn-warning" ng-click="cancelRenewal()">{{'button.cancel' | translate}}</button>
     		<button id="submit" class="btn btn-primary" ng-click="updateKey()" ng-disabled="flagOrderRenewal">{{'label.confirm' | translate}}</button>
  	</div>
</script>
</body>
</html>
