<div class="content-container">
    <ul class="breadcrumb">
	      <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
	      <li><a href="#/importing">{{'label.uploads' | translate}}</a></li>
	      <li class="active">{{'label.adduploadfile' | translate}}</li>
    </ul>
    <div class="widget">
    		<h3>{{'label.adduploadfile' | translate}}</h3>

    			<form class="form-horizontal" ng-controller="AddImportFileController" rc-submit="submit()">
      				<api-validate></api-validate>
        			<div class="row">
                <div class="col-md-6">
          			  <div class="form-group row">
                    <div class="col-md-4">
            		    	<label class="control-label" for="status">{{ 'label.import.name' | translate }}</label>
                    </div>
            			  <div class="col-md-8">
              				<select ng-model="formData.status" class="form-control">
               					<option value="-1">--first choice--</option>
               					<option has-permission="READ_CUSTOMERACTIVATION" value="Customer Activation">Customer Activation</option>
               					<option has-permission="READ_TRANSFER" value="Transfer">Transfer</option>
               					<option has-permission="READ_CUSTOMERREGISTRATION" value="CustomerRegistration">Customer Registration</option>
				                <option has-permission="READ_HARDWAREITEMS" value="Hardware Items">Hardware Items</option>
				                <option has-permission="READ_ADJUSTMENTS" value="Adjustments">Adjustments</option>
				                <option has-permission="READ_PAYMENTSUPLOAD" value="Payments">Payments</option>
								<option has-permission="READ_MRNUPLOAD" value="Mrn">MRN</option>
								<option has-permission="READ_MOVEITEMSALE" value="MoveItemsale">Move Itemsale</option>
								<option has-permission="READ_EPG" value="Epg">EPG</option>
								<option has-permission="READ_MEDIAASSETS" value="MediaAssets">Media Assets</option>
								<option has-permission="READ_ORGANIZATIONUPLOADS" value="Organization">Organization</option>
								<option has-permission="READ_ADDPLAN" value="Add Plan">Add Plan</option>
								<option has-permission="READ_CHANGEPLAN" value="ChangePlan">Change Plan</option>
								<option has-permission="READ_CANCELPLAN" value="CancelPlan">Cancel Plan</option>
								<option has-permission="READ_CLIENTSERVICESUSPEND" value="ClientService Suspend">ClientService Suspend</option>
								<option has-permission="READ_CLIENTSERVICEREACTIVE" value="ClientService reactive">ClientService Reactive</option>
								<option has-permission="READ_MRNCARTON" value="MrnCartoon">Mrn Carton</option>
								<option has-permission="READ_CREATELEAD" value="Create Prospects">Create Lead</option>
								<option has-permission="READ_SERVICEACTIVATION" value="ServiceActivation">Service Activation</option>
								<option has-permission="READ_SERVICEPLANACTIVATION" value="ServicePlanActivation">Service Plan Activation</option>
								<option has-permission="READ_CLIENTSERVICETERMINATION" value="ClientServiceTermination">Client Service Termination</option>
								<option has-permission="READ_CREATEUSER" value="Create Users">Create User</option>
								<option has-permission="READ_RENEWALPLAN" value="RenewalPlan">RenewalPlan</option>
								<option has-permission="READ_EDITCUSTOMER" value="EditCustomer">Edit Customer</option>	
								<option has-permission="READ_SIMPLEACTIVATION" value="Simple Activation">Simple Activation</option>				
	              				</select>&nbsp;&nbsp;&nbsp;
							<!-- </select>&nbsp;&nbsp;&nbsp; -->
              				<a ng-hide="formData.status =='-1'" ng-click="downloadFile(formData.status)">
              					<i class="fa fa-cloud-download"></i> Download Sample File</a>
            			</div>
          			</div>
              </div>
          		<div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">
                    <label class="control-label" for="file">{{'label.client.select.file' | translate}}</label>
                  </div>
                     <div class="col-md-8">
                      <input type="file" ngf-select="onFileSelect($files)">
                    </div>
                </div>
              </div>
            </div>
             <div class="row">
               <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-4">
            			   <label class="control-label" for="description">{{ 'label.import.description' | translate }}</label>
                     </div>
            			  <div class="col-md-8">
             				<textarea rows="2" cols="2" class="form-control" ng-model="formData.description"></textarea>
            			</div>
          			</div>
              </div>
            </div>

             <ul class="btn-group-list text-right mt20 mb20">
                  <li><a href="#/importing"><button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a>
                  </li>
                  <li>
                    <button id="submit" type="submit"  class="btn btn-primary">{{'button.save'| translate}}</button>
                  </li>
          		</ul>
      		</form>
    	</div>
    </div>


