<div class="content-container" data-ng-controller="CreatePriceController">
	<ul class="breadcrumb">
	     <li><a href="#plans">{{'link.admin.plans' | translate}}</a> <span class="divider"></span></li>
	     <li><a href="#/viewplan/{{planId}}">{{formData.planCode}}</a><span class="divider"></span></li>
	     <li class="active">{{'label.creatprice' | translate}}</li>
    </ul>
	 <div class="widget">
				<h3>{{'label.heading.createprice' | translate}}</h3>
			
				<form class="form-horizontal" name="createPlanPrice" novalidate=""  rc-submit="submit()">
					<api-validate></api-validate>
					<!-- <div class="error" data-ng-show="errorStatus || errorDetails">
						<label data-ng-show="errorStatus">{{errorStatus}}</label>
						<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    			</div> -->
            <div class="table-responsive"> 			
          			 <table class="table table-striped">
                 			<tr>
                    			<td style="width: 10%">
                    				<label for="planCode">{{ 'label.plan.plancode' | translate }}</label>
                    				<input  class="input-small form-control" data-ng-model="formData.planCode" type="text" readonly>
                    			</td>
                    			<td style="width: 10%">
                    				<label for="chargevariant">{{ 'label.price.chargevariant' | translate }}</label>
                    				<select class="input-small form-control" data-ng-model="formData.chargevariant" 
                    				data-ng-options="chargevariant.id as chargevariant.value for chargevariant in chargevariants"></select>
                    			</td>
                   				<td style="width: 10%">
                   					<label for="servicecode">{{ 'label.plan.servicecode' | translate }}</label>
                   					<select class="input-small form-control"  data-ng-model="formData.productId" 
                   						data-ng-options="serviceData.id as serviceData.productDescription for serviceData in serviceDatas"></select>
                   				</td>
                   				<td style="width: 10%">
                   					<label for="discountCode">{{ 'label.price.discountcode' | translate }}</label>
                   					<select class="input-small form-control"  data-ng-model="formData.discountId"  
                   						data-ng-options="discountdatas.id as discountdatas.discountDescription for discountdatas in discountdatas"></select>
                   				</td>
                   				<td style="width: 10%">
                   					<label for="chargecode">{{ 'label.price.chargecode' | translate }}</label>
                   					<select class="input-small form-control"  data-ng-model="formData.chargeCode"  
                   						data-ng-options="chargeDatas.chargeCode as chargeDatas.chargeDescription for chargeDatas in chargeDatas"></select>
                   				</td>
                    			<td style="width: 8%">
                    				<label for="priceregion">{{ 'label.price.priceregion' | translate }}</label>
                    				<select class="input-small form-control"  data-ng-model="formData.priceregion" 
                    					data-ng-options="priceRegionData.id as priceRegionData.priceregionCode for priceRegionData in priceRegionDatas"></select>
                    			</td>
                    			<td style="width: 5%" ng-if="duration==0" data-ng-show="formData.isPrepaid == 'Y'">
                    				<label for="duration">{{ 'label.plan.duration' | translate }}</label>
                    				<select class="input-small form-control" data-ng-model="formData.duration" 
                    					data-ng-options="subscriptiondata.Contractdata as subscriptiondata.Contractdata for subscriptiondata in subscriptiondata">
                    				</select></td>
                    			<td >
                    			<td style="width: 8%"  ng-if="duration!=0" data-ng-show="formData.isPrepaid == 'Y'">
                    				<label for="duration">{{ 'label.plan.duration' | translate }}</label>
                    				<select class="input-small form-control" data-ng-model="formData.duration" disabled
                    					data-ng-options="subscriptiondata.Contractdata as subscriptiondata.Contractdata for subscriptiondata in subscriptiondata">
                    				</select></td>
                    			<!-- <td>
                    				<label for="planCode">{{ 'label.currency' | translate }}</label>
                    				<input  class="input-small form-control" data-ng-model="currencyCode" type="text" disabled>
                    			</td> -->
                    			
                    			<td style="width: 10%">
                   					<label for="planCode">{{ 'label.resource' | translate }}</label>
                   					<select class="input-small form-control"  data-ng-model="formData.currencyId"  
                   						data-ng-options="currencyOptions.id as currencyOptions.code for currencyOptions in currencyOptions"></select>
                   				</td>
                   			
                   			 	<td style="width: 10%">
                              <label for="roundingType">{{ 'label.roundingtype' | translate }}</label>
                                    <select class="input-small form-control" data-ng-model="formData.roundingType" >
                                      <option value="">{{'label.select.one' | translate}}</option>
                                      <option  value="RoundingUp">RoundingUp</option>
                                      <option  value="RoundingDown">RoundingDown</option>
                                      <option  value="RoundingHalf">RoundingHalf</option>
                                      <option  value="RoundingNearest">RoundingNearest</option>
                                    </select>
                                </td>
                               <td style="width: 10%">
                               <label for="glId">{{ 'label.glid' | translate }}</label>
	                      		<select class="form-control" data-ng-model="formData.glId" data-ng-options="glRealatedDatas.id as glRealatedDatas.mCodeValue for glRealatedDatas in glRealatedData" ><option value="">{{'label.select.one' | translate}}</option>
	                      		</select>
	                      		</td>
				                      
                    			<td style="width: 10%"> 
                    				<label for="amount">{{ 'label.price.value' | translate }}</label>
                    				<input  id="price" class="input-small form-control" data-ng-model="formData.price" type="text">
                          </td>
                    			<td style="width: 10%"> <a data-ng-click="!(createPlanPrice.price.$error.pattern)&&addPriceData()"> <i class="fa fa-plus" ></i> </a>
	          					</td>
                  	</tr>
          </table>
        </div>
            			
            			<div data-ng-show="priceDatas.length>0">
            				<h3>{{'label.existsprices' | translate}}</h3>
                    <div class="table-responsive">
            				 <table class="table table-striped">
            						 <tr class="graybg">
		                      	  <th>{{ 'label.plan.plancode' | translate }}</th>
		                     			<th>{{ 'label.price.chargevariant' | translate }}</th>
		                     			<th>{{ 'label.plan.servicecode' | translate }}</th>
		                      			<th>{{ 'label.price.discountcode' | translate }}</th>
		                      			<th>{{ 'label.price.chargecode' | translate }}</th>
		                      			<th>{{ 'label.price.priceregion' | translate }}</th>
		                      			<th data-ng-show="formData.isPrepaid == 'Y'">{{ 'label.plan.duration' | translate }}</th>
		                      			<th>{{ 'label.resource' | translate }}</th>
		                      		<!-- 	<th>{{ 'label.identifiertype' | translate }}</th> -->
		                      			<th>{{ 'label.price.roundingtype' | translate }}</th>
		                      			<th>{{'label.price.glid' | translate}}</th>
		                      			<th>{{ 'label.price.value' | translate }}</th>
		                      			
		                   			 </tr>
		                   			 <tr data-ng-repeat="existsprice in priceDatas track by $index">
		                      			<td><input  class="input-small form-control" data-ng-model="existsprice.planCode" type="text" readonly></td>
		                      			<td><select class="input-small form-control" data-ng-model="existsprice.chargevariant" 
		                      				data-ng-options="chargevariant.id as chargevariant.value for chargevariant in chargevariants"></select></td>
		                     			<td><select class="input-small form-control"  data-ng-model="existsprice.productId" 
		                     				data-ng-options="serviceData.id as serviceData.productDescription for serviceData in serviceDatas"></select></td>
		                     			<td><select class="input-small form-control"  data-ng-model="existsprice.discountId"  
		                     				data-ng-options="discountdatas.id as discountdatas.discountDescription for discountdatas in discountdatas"></select></td>
		                     			<td><select class="input-small form-control"  data-ng-model="existsprice.chargeCode"  
		                     				data-ng-options="chargeDatas.chargeCode as chargeDatas.chargeDescription for chargeDatas in chargeDatas"></select></td>
		                      			<td><select class="input-small form-control"  data-ng-model="existsprice.priceregion" 
		                      				data-ng-options="priceRegionData.id as priceRegionData.priceregionCode for priceRegionData in priceRegionDatas"></select></td>
		                      			<td data-ng-show="existsprice.isPrepaid == 'Y'"><select class="input-small form-control" 
		                      				data-ng-model="existsprice.duration" data-ng-options="subscriptiondata.Contractdata as subscriptiondata.Contractdata for subscriptiondata in subscriptiondata"></select></td>
		                      			<!-- <td><input  class="input-small form-control" data-ng-model="currencyCode" type="text" disabled></td> -->
		                      			
		                      			<td><select class="input-small form-control"  data-ng-model="existsprice.currencyId"    
		                     				data-ng-options="currencyOptions.id as currencyOptions.code for currencyOptions in currencyOptions"></select></td>
  
                                      <td><select class="input-small form-control" data-ng-model="existsprice.roundingType" >
                                      <option value="">{{'label.select.one' | translate}}</option>
                                      <option  value="RoundingUp">RoundingUp</option>
                                      <option  value="RoundingDown">RoundingDown</option>
                                      <option  value="RoundingHalf">RoundingHalf</option>
                                      <option  value="RoundingNearest">RoundingNearest</option>
                                    
                                      </select></td>
                                      <td>
                     				  <select class="input-small form-control" data-ng-model="existsprice.glId" data-ng-options="glRealatedDatas.id as glRealatedDatas.mCodeValue for glRealatedDatas in glRealatedData" ></select>
	                      			  </td>

		                      			<td> <input  id="price" class="input-small form-control" data-ng-model="existsprice.price" type="text"></td>
		                      			<td><!-- <a data-ng-click="editPrice()"><i class="icon-edit"></i></a>&nbsp; --> 
		                        	    <a data-ng-click="removePriceData($index,existsprice.id)" data-popover="Delete Plan" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a></td>
		                    		</tr>
            				</table>
                  </div>

           <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/viewplan/{{planId}}"><button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a>
                </li>
                <li>
                <button id="save" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
                </li>
            </ul>
				</form>
		</div>
	</div>
</div>