<div class="content-container" ng-controller="EditPriceController">
	<ul class="breadcrumb">
       <li>
       	<a href="#/plans">{{'link.admin.plans' | translate}}</a></li>
       <li><a href="#/viewprice/{{formData.priceId}}/{{formData.planId}}">{{formData.planCode}}</a></li>
       <li class="active">{{formData.priceId}}</li>
    </ul>
    <div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.editprice' | translate}}</h4>
			</div>
			<form name="editpriceform" novalidate="" class="form-horizontal" rc-submit="submit()">
				<api-validate></api-validate>
	           <fieldset>
	           		<div class="form-group">
	           			<label class="control-label col-sm-2" for="planCode">{{ 'label.plan.isprepaid' | translate }}</label>
	           		    	<div class="col-sm-3">
	           		        	<input type="text" id="planCode" data-ng-model="formData.planCode" value="formData.planCode" class="form-control" readonly>	
	           		    	</div>
	           		    
	           		    <label class="control-label col-sm-2" for="chargevariant">{{ 'label.price.chargevariant' | translate }}</label>
            				<div class="col-sm-3">
            				    <select id="chargevariant" data-ng-model="formData.chargeVariantId"  data-ng-options="chargevariant.id as chargevariant.value for chargevariant in chargevariants" class="form-control"></select>
            				</div>
	           		</div>
	           		<div class="form-group">
	           			<label class="control-label col-sm-2" for="productId">{{ 'label.plan.servicecode' | translate }}</label>
            				<div class="col-sm-3">
             			   		 <select id="productId" data-ng-model="formData.productId"  data-ng-options="serviceData.id as serviceData.productCode for serviceData in serviceDatas" class="form-control"></select>
            				</div>
            				
            			<label class="control-label col-sm-2" for="discountCode">{{ 'label.price.discountcode' | translate }}</label>
            				<div class="col-sm-3">
              					<select data-ng-model="formData.discountId"  data-ng-options="discountdata.id as discountdata.discountDescription for discountdata in discountdatas" class="form-control"></select>
            				</div> 				
	           		</div>
	           		<div class="form-group"> 
	           			<label class="control-label col-sm-2" for="chargecode">{{ 'label.price.chargecode' | translate }}</label>
            				<div class="col-sm-3">
               					<select id="chargecode" data-ng-model="formData.chargeCode"  data-ng-options="chargeData.chargeCode as chargeData.chargeDescription for chargeData in chargeDatas" class="form-control"></select>
           					</div>
           					
           				<label class="control-label col-sm-2" for="priceregion">{{ 'label.price.priceregion' | translate }}</label>
            				<div class="col-sm-3">
            					 <select data-ng-model="formData.priceregion"  data-ng-options="priceRegionData.id as priceRegionData.priceregionCode for priceRegionData in priceRegionDatas" class="form-control"></select>
           					</div>
	           		</div>
	           		<div class="form-group">
	           		    <label class="control-label col-sm-2" for="currencyId">{{ 'label.plan.currencyId' | translate }}<span class="required">*</span></label>
		            		 <div class="col-sm-3">
		              		 	<input  class="input-small form-control" data-ng-model="formData.currencyCode" type="text" disabled>
		              		 	<!-- <select data-ng-model="formData.currency" class="form-control" data-ng-options="currencyData.id as getBothcurrency(currencyData.code,currencyData.name) for currencyData in currencydatas"></select> -->
		            		 </div>
	           			<label class="control-label col-sm-2" for="amount">{{ 'label.price.amount' | translate }}</label>
            				<div class="col-sm-3">
            					<input type="text" id="price" name="price" data-ng-model="formData.price" class="form-control"></br>
           							 <span data-ng-show="editpriceform.price.$dirty && editpriceform.price.$invalid">
            							<small class="error-row">{{'error.not.decimal.validation' | translate}}</small>
            						</span>
            				</div>
            		</div>
            		<div class="form-group">
            				<div data-ng-show="formData.isPrepaid == 'Y'">
            					<label class="control-label col-sm-2" for="duration">{{ 'label.plan.duration' | translate }}</label>
					        		<div class="col-sm-3">					              		
					                	<select data-ng-model="formData.duration" data-ng-options="subscriptiondata.Contractdata as subscriptiondata.Contractdata for subscriptiondata in subscriptiondata" class="form-control"></select>
					              	</div>
					        </div>
	           		</div>
	           		<div class="col-md-offset-10 pull-right">
            			<a href="#/viewprice/{{formData.priceId}}/{{formData.planId}}"><button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a>
            				<button id="submit" type="submit" data-ng-disabled="editpriceform.$dirty && editpriceform.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
          		   </div>
	           </fieldset> 
			</form>			
		</div>
	</div>
</div>