<div class="content-container" ng-controller="ServicesAndProductsController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li class="active">{{'label.servicesandproducts' | translate}}</li>
    </ul>
    <div class="widget mb30">
        <div class="row">
            <div class="col-md-3">
                <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
            </div>
        </div>
    </div>
    <div class="widget">
        <uib-tabset tabset-name="servicesandproductsTabset">
            <uib-tab heading="{{'label.heading.services' | translate}}" select="servicesDetail('S')">
                <br>
                <ul class="btn-group-list text-right mb20">
                    <li><a has-permission=C REATE_SERVICES href="#/createservices" class="btn primary_btn"><i class="fa fa-plus"></i> {{ 'link.create.new.services' | translate }}</a></li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr#>
                                <th>{{'label.code' | translate}}</th>
                                <th>{{'label.description' | translate}}</th>
                                <th>{{'label.type' | translate}}</th>
                                <th>{{'label.category' | translate}}</th>
                                <th>{{'label.status' | translate}}</th>
                                <th>{{'label.isoptional' | translate}}</th>
                                <th>{{'label.isautoprovision' | translate}}</th>
                                <th>{{'table.heading.actions' | translate}}</th>
                                </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer-main" data-ng-repeat="service in services.currentPageItems  | filter: filterText ">
                                <td class="pointer" data-ng-click="routeToService(service.id)">{{service.serviceCode}}</td>
                                <td class="pointer" data-ng-click="routeToService(service.id)">{{service.serviceDescription}}</td>
                                <td class="pointer" data-ng-click="routeToService(service.id)">{{service.serviceType}}</td>
                                <td class="pointer" data-ng-click="routeToService(service.id)">{{service.serviceCategory}}</td>
                                <td class="pointer" data-ng-click="routeToService(service.id)">{{service.serviceStatus}}</td>
                                <td class="pointer" data-ng-click="routeToService(service.id)">{{service.isOptional}}</td>
                                <td class="pointer" data-ng-click="routeToService(service.id)">{{service.isAutoProvision}}</td>
                                <td>
                                    <ul class="table-icon-list">
                                        <li>
                                            <a href="#/editservices/{{service.id}}" uib-popover="Edit Service" data-popover-trigger="mouseenter" class="fa fa-edit"></a>
                                        </li>
                                    </ul>
                                    <!-- <a data-ng-click="deleteservice(service.id)" uib-popover="Delete Service" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pager">
                    <li class="previous"><a ng-click="services.previous()" href="" ng-disabled="!services.hasPrevious()">&larr; Prev</a></li>
                    <li class="next"><a ng-click="services.next()" href="" ng-disabled="!services.hasNext()">
	        				Next &rarr;</a></li>
                </ul>
            </uib-tab>
            <uib-tab heading="{{'label.heading.products' | translate}}" select="productsDetail('P')">
                <br>
                <ul class="btn-group-list text-right mb20">
                    <li><a has-permission=C REATE_PRODUCTS href="#/createproducts" class="btn primary_btn"><i class="fa fa-plus"></i> {{ 'link.create.new.products' | translate }}</a></li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class="graybg">
                                <th>{{'label.code' | translate}}</th>
                                <th>{{'label.description' | translate}}</th>
                                <th>{{'label.type' | translate}}</th>
                                <th>{{'label.category' | translate}}</th>
                                <th>{{'label.status' | translate}}</th>
                                <th>{{'label.bouquet' | translate}}</th>
                                <!-- <th>{{'label.isoptional' | translate}}</th>
				                <th>{{'label.isautoprovision' | translate}}</th> -->
                                <th>{{'table.heading.actions' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer-main" data-ng-repeat="product in products.currentPageItems  | filter:filterText">
                                <td class="pointer" data-ng-click="routeToProduct(product.id)">{{product.productCode}}</td>
                                <td class="pointer" data-ng-click="routeToProduct(product.id)">{{product.productDescription}}</td>
                                <td class="pointer" data-ng-click="routeToProduct(product.id)">{{product.serviceCode}}</td>
                                <td class="pointer" data-ng-click="routeToProduct(product.id)">{{product.productCategory}}</td>
                                <td class="pointer" data-ng-click="routeToProduct(product.id)">{{product.productStatus}}</td>
                                <td class="pointer" data-ng-click="routeToProduct(product.id)">{{product.bouquet}}</td>
                                <!-- <td class="pointer" data-ng-click="routeToProduct(product.id)">{{product.isOptional}}</td>
				                <td class="pointer" data-ng-click="routeToProduct(product.id)">{{product.isAutoProvision}}</td> -->
                                <td>
                                    <a href="#/editproducts/{{product.id}}" uib-popover="Edit Product" data-popover-trigger="mouseenter" class="fa fa-edit"></a>
                                    <!-- <a data-ng-click="deleteproduct(product.id)" uib-popover="Delete Product" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pager">
                    <li class="previous"><a ng-click="products.previous()" href="" ng-disabled="!products.hasPrevious()">&larr; Prev</a></li>
                    <li class="next"><a ng-click="products.next()" href="" ng-disabled="!products.hasNext()">
	        				Next &rarr;</a></li>
                </ul>
            </uib-tab>
        </uib-tabset>
        <!-- </div> -->
    </div>
    <script type="text/ng-template" id="deleteservice.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.delete.service' | translate}}</h3>
        </div>
        <div class="modal-body" style="height:60px;">
            <api-validate></api-validate>
            <div class="form-group">
                <label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
            </div>
            <h3 align="center">{{'label.confirm.msg' | translate}}</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="approveDeleteService()">{{'label.confirm' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="deleteproduct.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.delete.product' | translate}}</h3>
        </div>
        <div class="modal-body" style="height:60px;">
            <api-validate></api-validate>
            <div class="form-group">
                <label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
            </div>
            <h3 align="center">{{'label.confirm.msg' | translate}}</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="approveDeleteProduct()">{{'label.confirm' | translate}}</button>
        </div>
    </script>
</div>