<div class="content-container" ng-controller="ViewServicesController">
	<ul class="breadcrumb">
		<li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
		<li><a href="#/services">{{'label.servicesandproducts' | translate}}</a></li>
		<li class="active">{{service.serviceCode}}</li>
	</ul>
	<div class="widget">
		<h3>{{service.serviceType}}</h3>
		<ul class="btn-group-list text-right mb20">
                <li>
                   <a href="#/editservices/{{service.id}}" class="btn primary_btn" has-permission='UPDATE_SERVICE'><i class="fa fa-edit"></i> {{'button.edit' | translate}}</a>
                </li>
                <li>
                    <a data-ng-click="deleteservices()" class="btn primary_btn" has-permission='DELETE_SERVICE'><i class="fa fa-trash-o"></i> {{'button.delete' | translate}}</a>
                </li>
            </ul>
				<div class="table-responsive">
					<table class="table table-striped">
			            <tr>
			                <td><strong>{{'label.servicecode' | translate}}</strong></td>
			                <td>{{service.serviceCode}}</td>
			            </tr>
			            <tr>
			 			    <td><strong>{{ 'label.servicedescription' | translate }}</strong></td>
			                <td>{{service.serviceDescription}}</td>
		 			    </tr>
		 			    <tr>
			 			    <td><strong>{{ 'label.servicecategory' | translate }}</strong></td>
			                <td>{{service.serviceCategory}}</td>
		 			    </tr>
		 			    <tr>
			 			    <td><strong>{{ 'label.status' | translate }}</strong></td>
			                <td>{{service.serviceStatus}}</td>
		 			    </tr>
		 			    <tr>
			 			    <td><strong>{{ 'label.isoptional' | translate }}</strong></td>
			                <td>{{service.isOptional}}</td>
		 			    </tr>
		 			    <tr>
			 			    <td><strong>{{ 'label.isautoprovision' | translate }}</strong></td>
			                <td>{{service.isAutoProvision}}</td>
		 			    </tr>		            
	        		</table>
				</div>
	
			<h4>{{'label.serviceparameter' | translate}}</h4>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr class="graybg" >
					            <th>{{'label.service.paramname' | translate}}</th>
					            <th>{{'label.service.paramtype' | translate}}</th>
					            <th>{{'label.service.paramcategory' | translate}}</th>
					            <th>{{'label.service.paramvalue' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="serviceParam in serviceDetailDatas | filter:filterText">                         
					            <td>{{serviceParam.codeParamName}}</td>  
					            <td>{{serviceParam.paramType}}</td>
					            <td>{{serviceParam.paramCategory}}</td>       
					            <td>{{serviceParam.paramValue}}</td>                
				            </tr>
						</tbody>
					</table>
			 </div>
			</div>
			<script type="text/ng-template" id="deleteservices.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'label.delete.services' | translate}}</h3>
                    </div>
                    <div class="modal-body">
                       <api-validate></api-validate>
                       <div class="form-group">
					           <label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
			           </div>
                         <h4 align="center">{{'label.confirm.msg' | translate}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approveDeleteServices()">{{'label.confirm' | translate}}</button>
                    </div>
       		</script>
		</div>
	</div>
</div>