<div class="content-container" ng-controller="ContractController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li class="active">{{'label.contracts' | translate}}&nbsp;&nbsp;</li>
    </ul>
    <div class="widget mb30">
        <div class="row">
            <div class="col-md-3">
                <input data-ng-model="filterText" type="text" class="form-control" data-ng-autofocus="true" class="span marginbottom0px" placeholder="{{'placeholder.searchbar' | translate}}">
                <!-- <input data-ng-model="filterText" type="text" class="form-control" data-ng-autofocus="true" class="span marginbottom0px" placeholder="{{'placehoder.searchbar' | translate}}"> -->
            </div>
            <div class="col-md-9">
                <ul class="btn-group-list text-right">
                    <li><a href="#/createContract" class="btn primary_btn pull-right" has-permission='CREATE_CONTRACT'><i class="fa fa-plus"></i> {{ 'link.create.new.contract' | translate }}</a></li>
                    <!-- <li>
                      <a href="#/createservice" class="btn btn-primary pull-right" has-permission='CREATE_SERVICE'><i class="fa fa-plus "></i>{{'label.button.createservice' | translate }}</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

    <div class="widget">
        <table class="table table-striped">
            <thead>
                <tr class="graybg">
                    <th>{{ 'table.contract.period' | translate }}</th>
                    <th>{{ 'table.contract.type' | translate }}</th>
                    <th>{{ 'table.contract.unit' | translate }}</th>
                    <th>{{ 'table.heading.actions' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer-main" data-ng-repeat="contract in contracts | filter:filterText">
                    <td class="pointer" data-ng-click="routeTo(contract.id)">{{contract.subscriptionPeriod}}</td>
                    <td class="pointer" data-ng-click="routeTo(contract.id)">{{contract.subscriptionType}}</td>
                    <td class="pointer" data-ng-click="routeTo(contract.id)">{{contract.units}}</td>
                    <td class="pointer">
                        <ul class="table-icon-list">
                            <li>
                                <a has-permission='UPDATE_CONTRACT' href="#/editcontract/{{contract.id}}" uib-popover="Edit Contract" data-popover-trigger="mouseenter" class="fa fa-edit"></a>
                            </li>
                            <!--  <li>
                           <a has-permission='DELETE_CONTRACT' data-ng-click="deleteContract(contract.id)"
                         uib-popover="Delete Contract" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a>
                         </li> -->
                        </ul>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template" id="contract.html">
    <div class="modal-header silver">
        <h3 class="bolder">{{'label.delete.contract' | translate}}</h3>
    </div>
    <div class="modal-body">
        <api-validate></api-validate>
        <div class="form-group">
            <label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
        </div>
        <h4 align="center">{{'label.confirm.msg' | translate}}</h4>
    </div>
    <div class="modal-footer">
        <ul class="btn-group-list text-right">
            <li>
                <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            </li>
            <li>
                <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
            </li>
        </ul>
    </div>

</script>
</div>
</div>