<div class="content-container" ng-controller="ViewContractController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
	    <li><a href="#/contract">{{'label.manage.contracts' | translate}}</a></li>
	    <li class="active">{{contractPeriod.subscriptionPeriod}}</li>
    </ul>

    <div class="widget">
    <h3>{{'label.contractPeriod.id' | translate}}</h3>
		<ul class="btn-group-list text-right mt20 mb20">
            <li>
                 <a has-permission='UPDATE_CONTRACT' href="#/editcontract/{{contractPeriod.id}}" class="btn primary_btn"><i 
                class="fa fa-edit"></i>{{'button.edit' | translate}}</a>
            </li>
            <li>
                <a has-permission='DELETE_CONTRACT' data-ng-click="deleteContract()" class="btn primary_btn"><i 
                class="fa fa-trash-o"></i>{{'button.delete' | translate}}</a>  
            </li>
        </ul>
    <div class="table-responsive"> 
	        <table class="table table-bordered table-striped">
				<tr>
					<td>{{ 'label.contract.contractperiod' | translate }}</td>
					<td>{{contractPeriod.subscriptionPeriod}}</td>
				</tr>
				<tr>
					 <td>{{ 'label.contract.contractype' | translate }}</td>
					 <td>{{contractPeriod.subscriptionType}}</td>
				</tr>
				<tr>
					<td>{{ 'label.contract.units' | translate }}</td>
					<td>{{contractPeriod.units}}</td>
				</tr>
			</table>
		</div>
    </div>
        <script type="text/ng-template" id="approve.html">
                    <div class="modal-header silver">
        <h3 class="bolder">{{'label.delete.contract' | translate}}</h3>
    </div>
    <div class="modal-body">
       <api-validate></api-validate>
       <div class="form-group ">
       <label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
       </div>
         <h4 align="center">{{'label.confirm.msg' | translate}}</h4>
    </div>
    <div class="modal-footer">
        <ul class="btn-group-list text-right">
            <li>
                <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            </li>
            <li>
                <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
            </li>
        </ul>
    </div>
    </script>
    </div>
 