 <div class="content-container" ng-controller="MoveMrnController">
    <ul class="breadcrumb">
      <li><a href="#/inventory" ng-click="reset123()">{{'link.admin.inventory' | translate}}</a></li>
      <li><a href="#/stocktransfer">{{'link.stocktransfer' | translate}}</a></li>
      <li class="active">{{'label.create.move.mrn' | translate}}</li>
    </ul>
       <div class="widget ">
            <h3>{{'label.heading.mrn/itemsale' | translate}}</h3>
	      <form class="form-horizontal">
	       	<api-validate></api-validate>
	       	<div class="row">
	       		<div class="col-md-6">
	       			<div class="form-group row">
	       				<div class="col-md-4">
	       					<label class="control-label " for="mrnId">{{'label.type' | translate }}&nbsp;<span 
								class="required">*</span></label>
	       				</div>
	       				<div class="col-md-8">
	       					<input type="text" class="form-control" data-ng-model="formData.type" disabled>
	       				</div>
	       			</div>
	       		</div>
	       		<div class="col-md-6">
		       		<div ng-show="formData.type=='mrn'">
		       			<div class="form-group row">
		       				<div class="col-md-4">
		       					<label class="control-label" for="mrnId">{{'label.mrn.id' | translate }}&nbsp;<span 
		           						class="required">*</span></label>
		       				</div>
		       				<div class="col-md-8">
		       					<input type="text" class="form-control" data-ng-model="itemDescription" disabled>
		       					&nbsp;&nbsp;&nbsp;<span ng-show="serialNumbers.length < 1"><i class="fa fa-exclamation-triangle"></i>Serial numbers are not associated with this Mrn Id.</span>
		       				</div>
		       			</div>
		       		</div>
	       		</div>
	       	</div>

	       	<div class="row">
	       		<div class="col-md-6">
	       		<div ng-show="formData.type=='sale'">
	       			<div class="form-group row">
	       				<div class="col-md-4">
	       					<label class="control-label " for="itemId">{{'label.itemid' | translate }}&nbsp;<span 
	           							class="required">*</span></label>
	       				</div>
	       				<div class="col-md-8">
	       					<input type="text" class="form-control" data-ng-model="itemDescription" disabled> &nbsp;&nbsp;&nbsp;<span ng-show="serialNumbers1.length < 1"><i class="fa fa-exclamation-triangle"></i>Serial numbers are not associated with this Item Id.</span>
	       				</div>
	       			</div>
	       		</div>
	       	</div>
	       		<div class="col-md-6">
		       		<div ng-show="formData.type=='grv'">
		       			<div class="form-group row">
		       				<div class="col-md-4">
		       					<label class="control-label " for="grvId">{{'label.grv.id' | translate }}&nbsp;<span 
		           						class="required">*</span></label>
		       				</div>
		       				<div class="col-md-8">
		       				 <input type="text" class="form-control" data-ng-model="itemDescription" disabled>
	                			  	&nbsp;&nbsp;&nbsp;<span ng-show="serialNumbers.length < 1"><i class="fa fa-exclamation-triangle"></i>Serial numbers are not associated with this Grv Id.</span>
		       				</div>
		       			</div>
		       		</div>
	       		</div>
	       	</div>

	       	<div class="row">
	       		<div class="col-md-6">
	       			<div ng-show="formData.type=='mrn'">
	       			<div class="form-group row">
	       				<div class="col-md-4">
	       					<label class="control-label " for="serialNumber">{{'label.serialnumber' | translate }}&nbsp;<span 
	            						class="required">*</span></label>
	       				</div>
	       				<div class="col-md-8">
	       					<input type="text" placeholder="Enter serialNumber"data-ng-model="formData.serialNumber" name="serialNumber" class="form-control" uib-typeahead="serialNumber for serialNumber in serialNumbers"autocomplete="off" data-typeahead-min-length="0">
	       				</div>
	       			</div>
	       		</div>
	       	</div>
	       		<div class="col-md-6">
		       		<div ng-show="formData.type=='sale'">
		       			<div class="form-group row">
		       				<div class="col-md-4">
		       					<label class="control-label " for="serialNumber">{{'label.serialnumber' | translate }}&nbsp;<span 
	            						class="required">*</span></label>
		       				</div>
		       				<div class="col-md-8">
		       				 <input type="text" placeholder="Enter serialNumber"data-ng-model="formData.serialNumber" name="serialNumber"class="form-control" uib-typeahead="serialNumber for serialNumber in serialNumbers1"autocomplete="off" data-typeahead-min-length="0">
		       				</div>
		       			</div>
		       		</div>
	       		</div>
	       	</div>
		
			<div class="row">
	       		<div class="col-md-6">
	       			<div ng-show="formData.type=='grv'">
	       			<div class="form-group row">
	       				<div class="col-md-4">
	       					<label class="control-label " for="serialNumber">{{'label.serialnumber' | translate }}&nbsp;<span 
	            						class="required">*</span></label>
	       				</div>
	       				<div class="col-md-8">
	       					<input type="text"placeholder="Enter serialNumber"data-ng-model="formData.serialNumber"name="serialNumber"class="form-control"uib-typeahead="serialNumber for serialNumber in serialNumbers2"autocomplete="off" data-typeahead-min-length="0">
	       				</div>
	       			</div>
	       		</div>
	       	</div>
	      </div>
		
	          	<ul class="btn-group-list text-right mt20 mb20">
	          		<li>
	          			<a href="#/stocktransfer"><button id="cancel"  type="reset" class="btn btn-warning" ng-click="reset123()">{{'button.cancel' | translate}}</button></a>
	          		</li>
	          		<li>
	          			<button ng-show="formData.type=='mrn'" id="submit" ng-click="mrnSubmit()" class="btn btn-primary">{{'label.save' | translate}}</button>
	          		</li>
	          		<li>
	          			<button ng-show="formData.type=='sale'" id="submit" ng-click="saleSubmit()" class="btn btn-primary">{{'label.save' | translate}}</button>
	          		</li>
	          		<li>
	          			<button ng-show="formData.type=='grv'" id="submit" ng-click="grvSubmit()" class="btn btn-primary">{{'label.save' | translate}}</button>
	          		</li>
	          	</ul>
	    </form>
     </div>
  </div>
