<div class="content-container" ng-controller="AssignedTicketController">
	<ul class=breadcrumb>
	<li class="active">{{'link.tickets' | translate}}</li>
	</ul>
	<div class="widget mb30">
			<!-- <div class="toolbar ptb15 mrl15 bb1 mb20">
            	<h4 class="ptrbl0">{{'link.tickets' | translate}}</h4>
        	</div> -->
			<!-- <uib-tabset tabset-name="assignedticketsTabset"> -->
				<!-- <uib-tab heading="{{'label.heading.ticket' | translate}}" select="getOpenTickets()"> -->
					<div class="row">
                        <div class="col-md-3">
							<form rc-submit="searchTickets()" >
								<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.searchfortickets' | translate}}">
							</form>
						</div>
						<div class="col-md-9">
							<form class="form-inline">
								<div class="row">
									<div class="col-md-5">
										<div class="row">
											<div class="col-md-2">
												<label class="control-label" for="validFrom">{{'label.fromDate'| translate }}</label>
											</div>
											<div class="col-md-4">
												<input type="text" id="fromDate" class="form-control" data-ng-model="fromDate"datepicker-pop="dd MMM yyyy">
											</div>
											<div class="col-md-2">
												<label class="control-label " for="validFrom">{{'label.toDate'| translate }}</label>
											</div>
											<div class="col-md-4">
												<input type="text" id="toDate" class="form-control" data-ng-model="toDate"datepicker-pop="dd MMM yyyy" max="'2020-06-22'"date-disabled="disabled(date, mode)">
											</div>
										</div>
									</div>
									<div class="col-md-5">
										<div class="row">
											<div class="col-md-2">
												<label class="control-label " for="ticketsType">{{'label.ticketsType' | translate }}</label>
											</div>
											<div class="col-md-4">
												<select type="text" class="form-control" id="ticketsType" data-ng-model="ticketsType"> 
													<option value="">{{'label.select.one' | translate}}</option>
													<option value="Customer">Customer</option>
													<option value="Office">Office</option>
												</select>
											</div>
											<div class="col-md-2">
												<label class="control-label " for="statusType">{{'label.statusType' | translate }}</label>
											</div>
											<div class="col-md-4">
												<select type="text" id="toDate" class="form-control" id="statusType" data-ng-model="statusTypes"data-ng-options=" status.mCodeValue as status.mCodeValue for status  in statusDatas"value="{{status.mCodeValue}}"ng-change="searchSource(statusTypes)"> <option value="">{{'label.select.one' | translate}}</option> 
												</select>
											</div> 
										</div>
									</div>
									<div class="col-md-2">
										<ul class="btn-group-list">
											<li>
												<button class="btn primary_btn btn-disabled" type="submit"data-ng-click="getTrans(fromDate,toDate,statusTypes,ticketsType)">{{'label.button.search'| translate}}</button>
											</li>
										</ul>	
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			
				<!-- <table class="table">
	                                 <tr>
	                                 	 <td>
		                                 	 <form rc-submit="searchTickets()" style="margin:30px 15px;">
											 <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
										     </form>
	                                 	 </td>
		                                 <td>
		                                     <label for="validFrom">{{'label.fromDate' | translate }}</label>
		                                     <input type="text" id="fromDate" class="form-control" data-ng-model="fromDate" datepicker-pop="dd MMM yyyy">
		                                 </td>
		                                 <td>
			                                 <label for="validFrom">{{'label.toDate' | translate }}</label>
			                                 <input type="text" id="toDate" class="form-control" data-ng-model="toDate" datepicker-pop="dd MMM yyyy"
			                                        max="'2020-06-22'" date-disabled="disabled(date, mode)">
		                                 </td>
		                                 <td>
		                                 <label for="statusType">{{ 'label.statusType' | translate }}<span class="required" >*</span></label>
					 			                <select id="statusType" class="form-control" data-ng-model="statusTypes" 
					 			                		data-ng-options=" status.mCodeValue as status.mCodeValue for status  in statusDatas"
					 			                		value="{{status.mCodeValue}}"  ng-change="searchSource(statusTypes)"></select>
		                                 </td>
		                                 <td>
			                                 <button class="btn primary_btn btn-disabled mrl10" valign="bottom" align="right" type="submit"
	                                                  data-ng-click="getTrans(fromDate,toDate,statusTypes)">{{'label.button.search' | translate}}
	                                         </button>
		                                 </td>
	                                 </tr>
                                 </table> -->
                     
				<div class="widget">
					<table class="table table-striped">
						<thead>
							<tr>
		               			<th>{{'label.corporate'|translate}}</th>
		               			<th>{{'lable.ticket#'|translate}}</th>
		                		<th>{{'label.ticket.date'|translate}}</th>
		                		<th>{{'label.ticket.age'|translate}}</th>
		                		<th>{{'label.ticket.priority'|translate}}</th>
		                		<th>{{'label.ticket.category'|translate}}</th>
		                		<th>{{'label.createdBy'|translate}}</th>
		                		<th>{{'label.assignedto'|translate}}</th>
		                		<th>{{'label.closedby'|translate}}</th>
		                		<th>{{'label.ticket.closedDate'|translate}}</th>
		                		<th>{{'label.ticket.status'|translate}}</th>
	            			</tr>	
						</thead>
						<tbody>
							<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
		               			<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.clientName}}</td> 
		               			<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.id}}</td> 
		                    	<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.ticketDate | DateFormat}}</td> 
		                    	<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.timeElapsed}}</td> 
		                    	<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.priority}}</td>
		                 		<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.problemDescription}}</td>
		                 		<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.createUser}}</td>       
		                    	<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.userName}}</td>
		                    	<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.closedByuser}}</td>
		                    	<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.closedDate | DateFormat}}</td> 
		                		<td class="pointer" data-ng-click="routeToticket(ticket)">{{ticket.status}}</td>
	            			</tr>
						</tbody>
					</table>
					<ul class="pager">
        				<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr;{{ 'label.Prev' | translate }} </a></li>
        				<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">{{ 'label.Next' | translate }} &rarr;</a></li>
					</ul>
				 </div>
				</div>
				</uib-tab>

				<!-- <uib-tab heading="{{'label.heading.ticketteam' | translate}}" select="ticketTeam()">
				<div class="toolbar">
				     <div class="row">
							<div class="col-md-6">
								<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
							</div>
		          		    <div class="col-md-6">   				
                   				<a has-permission = CREATE_TICKETTEAM href="#/createticketteam" class="btn primary_btn pull-right"><i class="fa fa-plus"></i> {{ 'link.create.new.ticketteam' | translate }}</a>
                			</div>					
						</div>
				 </div>
				 <table class="table">
				        <thead>
				            <tr class="graybg">
				                <th>{{ 'label.userid' | translate }}</th>
				                <th>{{ 'label.teamcode' | translate }}</th>
				                <th>{{ 'label.teamdescription' | translate }}</th>
				                <th>{{ 'label.teamcategory' | translate }}</th>
				                <th>{{ 'label.status' | translate }}</th>
				                <th>{{ 'label.actions' | translate }}</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr class="pointer-main" data-ng-repeat="ticketteam  in ticketteams.currentPageItems | filter:filterText" select="getAllticketteam()">
				                <td class="pointer"  data-ng-click="routeToticketteam(ticketteam.id)">{{ticketteam.userId}}</td>            
				                <td class="pointer"  data-ng-click="routeToticketteam(ticketteam.id)">{{ticketteam.teamCode}}</td>        
				                <td class="pointer"  data-ng-click="routeToticketteam(ticketteam.id)">{{ticketteam.teamDescription}}</td>
				                <td class="pointer"  data-ng-click="routeToticketteam(ticketteam.id)">{{ticketteam.teamCategory}}</td>
				                <td class="pointer"  data-ng-click="routeToticketteam(ticketteam.id)">{{ticketteam.status}}</td>
				                <td class="pointer">
				                 <a has-permission = UPDATE_TICKETTEAM href="#/editticketteam/{{ticketteam.id}}"
				                    uib-popover="Edit Ticketteam" data-popover-trigger="mouseenter" class="fa fa-edit"></a>&nbsp;
					             <a has-permission = DELETE_TICKETTEAM data-ng-click="deleteTicketteam(ticketteam.id)"
					                uib-popover="Delete Ticketteam" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a></td>         
				            </tr>
				        </tbody>
				    </table>
				</uib-tab>
				
				<uib-tab heading="{{'label.heading.ticketmapping' | translate}}" select="ticketMapping()">
					<div class="toolbar">
						<div class="row">
							<div class="col-md-6">
								<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
							</div>
		          		    <div class="col-md-6">   				
                   				<a has-permission = CREATE_TICKETMAPPING href="#/createticketmapping" class="btn primary_btn pull-right"><i class="fa fa-plus"></i> {{ 'link.create.new.ticketmapping' | translate }}</a>
                			</div>					
						</div>
					</div>
					 <table class="table">
				        <thead>
				            <tr class="graybg">
				                <th>{{ 'label.teamid' | translate }}</th>
				                <th>{{ 'label.userid' | translate }}</th>
				                <th>{{ 'label.userrole' | translate }}</th>
				                <th>{{ 'label.isteamlead' | translate }}</th>
				                <th>{{ 'label.status' | translate }}</th>
				                <th>{{ 'label.action' | translate }}</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr class="pointer-main" data-ng-repeat="ticketMapping in ticketMappings.currentPageItems | filter:filterText" select="getAllticketMapping()">
				                <td class="pointer"  data-ng-click="routeToTicketMapping(ticketMapping.id)">{{ticketMapping.teamId}}</td>            
				                <td class="pointer"  data-ng-click="routeToTicketMapping(ticketMapping.id)">{{ticketMapping.userId}}</td>        
				                <td class="pointer"  data-ng-click="routeToTicketMapping(ticketMapping.id)">{{ticketMapping.userRole}}</td>
				                <td class="pointer"  data-ng-click="routeToTicketMapping(ticketMapping.id)">{{ticketMapping.isTeamLead}}</td>
				                <td class="pointer"  data-ng-click="routeToTicketMapping(ticketMapping.id)">{{ticketMapping.status}}</td>
				                
				                <td class="pointer">
				                 <a has-permission = UPDATE_TICKETMAPPING href="#/editticketmapping/{{ticketMapping.id}}"
				                    uib-popover="Edit TicketMapping" data-popover-trigger="mouseenter" class="fa fa-edit"></a>&nbsp;
					             <a has-permission = DELETE_TICKETMAPPING data-ng-click="deleteticketmapping(ticketMapping.id)"
					                uib-popover="Delete TicketMapping" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a></td>         
				            </tr>
				        </tbody>
				    </table>
				</uib-tab> -->
				
				<!-- <uib-tab heading="{{'label.heading.Working' | translate}}" select="getWorkingTickets()">
					<div>
						<div class="toolbar">
							<div class="row">
								<div class="col-md-6">
									<form rc-submit="searchTickets()" style="margin:30px 15px;">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div>
							</div>
						</div>
					</div>
                    <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
				    <table class="table">
					    <thead>
						    <tr class="graybg">
				               	<th>{{'label.corporate'|translate}}</th>
				               	<th>{{'lable.ticket#'|translate}}</th>
				                <th>{{'label.ticket.date'|translate}}</th>
				                <th>{{'label.ticket.priority'|translate}}</th>
				                <th>{{'label.ticket.category'|translate}}</th>
				                <th>{{'label.createdBy'|translate}}</th>
				                <th>{{'label.assignedto'|translate}}</th>
				                <th>{{'label.closedby'|translate}}</th>
				                <th>{{'label.ticket.status'|translate}}</th>
				                <th>{{'label.timelapsed'|translate}}</th>
		            		</tr>
					    </thead>
					    <tbody>
						    <tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
				               	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
				               	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
		            	    </tr>
					    </tbody>
				    </table>
				    <ul class="pager">
        				<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
        				<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
					</ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.Assigned' | translate}}" select="getAssignedTickets()">
					<div>
						<div class="toolbar">
							<div class="row">
								<div class="col-md-6">
									<form rc-submit="searchTickets()" style="margin:30px 15px;">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div>
							</div>
						</div>
					</div>
                    
                    <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
						<table class="table">
							<thead>
								<tr class="graybg">
					               	<th>{{'label.corporate'|translate}}</th>
					               	<th>{{'lable.ticket#'|translate}}</th>
					                <th>{{'label.ticket.date'|translate}}</th>
					                <th>{{'label.ticket.priority'|translate}}</th>
					                <th>{{'label.ticket.category'|translate}}</th>
					                <th>{{'label.createdBy'|translate}}</th>
					                <th>{{'label.assignedto'|translate}}</th>
					                <th>{{'label.closedby'|translate}}</th>
					                <th>{{'label.ticket.status'|translate}}</th>
					                <th>{{'label.timelapsed'|translate}}</th>
			            		</tr>
							</thead>
							<tbody>
								<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
					               	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
					               	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
			            	    </tr>
							</tbody>
						</table>
						<ul class="pager">
	        				<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
	        				<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
					    </ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.Over Due' | translate}}" select="getOverDueTickets()">
					<div>
						<div class="toolbar">
							<div class="row">
								<div class="col-md-6">
								    <form rc-submit="searchTickets()" style="margin:30px 15px;">
								    	<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
							    </div>
							</div>
						</div>
					</div>
                    
                    <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                    
					<table class="table">
						<thead>
							<tr class="graybg">
							    <th>{{'label.corporate'|translate}}</th>
							    <th>{{'lable.ticket#'|translate}}</th>
							    <th>{{'label.ticket.date'|translate}}</th>
							    <th>{{'label.ticket.priority'|translate}}</th>
							    <th>{{'label.ticket.category'|translate}}</th>
							    <th>{{'label.createdBy'|translate}}</th>
							    <th>{{'label.assignedto'|translate}}</th>
							    <th>{{'label.closedby'|translate}}</th>
							    <th>{{'label.ticket.status'|translate}}</th>
							    <th>{{'label.timelapsed'|translate}}</th>
				            </tr>
						</thead>
						<tbody>
							<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
				            </tr>
						</tbody>
					</table>
					<ul class="pager">
		        		<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
		        		<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
				    </ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.closed' | translate}}" select="getclosedTickets()">
					<div>
						<div class="toolbar">
							<div class="row">
								<div class="col-md-6">
								    <form rc-submit="searchTickets()" style="margin:30px 15px;">
								    	<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
							    </div>
							</div>
						</div>
					</div>
                    
                    <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                    
					<table class="table">
					<thead>
						<tr class="graybg">
				            <th>{{'label.corporate'|translate}}</th>
							<th>{{'lable.ticket#'|translate}}</th>
						    <th>{{'label.ticket.date'|translate}}</th>
							<th>{{'label.ticket.priority'|translate}}</th>
							<th>{{'label.ticket.category'|translate}}</th>
							<th>{{'label.createdBy'|translate}}</th>
							<th>{{'label.assignedto'|translate}}</th>
							<th>{{'label.closedby'|translate}}</th>
							<th>{{'label.ticket.status'|translate}}</th>
							<th>{{'label.timelapsed'|translate}}</th>
					    </tr>
					</thead>
					<tbody>
					</tbody>
						<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
			                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
						    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
						    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
					    </tr>
					</table>
					<ul class="pager">
			        	<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
			        	<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
				    </ul>
				</uib-tab> -->
				   <!--  </ul> 

			</uib-tabset> -->
		</div>
	<script type="text/ng-template" id="ticketteam.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete TicketTeam</h3>
                    </div>
                    <div class="modal-body style="height:60px;">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
    </script>
	<script type="text/ng-template" id="deleteticketmapping.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete TicketMapping</h3>
                    </div>
                    <div class="modal-body modal-small">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
  </script>
</div>