<div class="content-container" data-ng-controller="CreateMediaController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li><a href="#/mediadetailseventpricing">{{'label.mediadetailseventpricing' | translate}}</a></span>
        </li>
        <li class="active">{{'label.media.addmediadetails' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.media.addmediadetails' | translate}}</h3>
        <form class="form-horizontal" name="createmediaform" novalidate data-ng-submit="submit()">
            <api-validate></api-validate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label data-ng-show="hideForGame" class="control-label" for="mediaTitle">{{ 'label.media.title' | translate }}<span class="required">*</span></label>
                        </div>

                        <label data-ng-show="!hideForGame" class="control-label col-sm-2" for="mediaTitle">{{ 'label.game.title' | translate }}<span class="required">*</span></label>

                        <div class="col-md-8">
                            <input type="text" class="form-control" id="mediaTitle" data-ng-model="formData.mediaTitle">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="mediaCategoryId">{{ 'table.mediadetails.categeory' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" data-ng-model="formData.catageoryId" id="catageoryId" data-ng-options="mediaCategeorydata.id as mediaCategeorydata.mCodeValue for mediaCategeorydata in mediaCategeorydatas">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="contentProvider">{{ 'table.mediadetails.contentprovider' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="contentProvider" class="form-control" data-ng-model="formData.contentProvider" data-ng-options="contentProviderData.id as contentProviderData.mCodeValue for contentProviderData in contentProviderDatas ">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="cpShareValue">{{'table.mediadetails.share' | translate}}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="cpShareValue" class="form-control" name="cpShareValue" data-ng-model="formData.cpShareValue" data-ng-pattern="/^[0-9]{0,2}(\.\d{0,2})?$/" data-ng-maxlength="5" />
                            <div data-ng-show="createmediaform.cpShareValue.$dirty && createmediaform.cpShareValue.$invalid">
                                <span class="error" data-ng-show="createmediaform.cpShareValue.$error.pattern">Numbers below 100 only !</span>
                                <span class="error" data-ng-show="createmediaform.cpShareValue.$error.maxlength">Exceeded max limit!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="medialocation">{{ 'label.media.location' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input id="location" class="form-control" type="text" data-ng-model="formData.location">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div data-ng-show="hideForGame">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="status">{{ 'label.media.status' | translate }}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <select data-ng-model="formData.status" class="form-control" id="status" data-ng-options="mediaStatus.value as mediaStatus.value for mediaStatus in mediaStatus"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/mediadetailseventpricing">
                        <button id="cancel" type="reset" class="btn btn-warning">{{ 'button.cancel' | translate }}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" class="btn btn-primary">{{ 'button.save' | translate }}</button>
                </li>
            </ul>
        </form>
    </div>