<div class="content-container" ng-controller="CurrencyDetailsController">
  <ul class="breadcrumb">
    <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
    <li class="active">{{'label.currencyexchange' | translate}}{{employee.lastname}}</li>
  </ul>
  <div class="widget mb30">
    
    
    <div class="row">
      <div class="col-md-3" >
        <input ng-autofocus="true" data-ng-model="filterText" type="text" class="form-control" class="span marginbottom0px" placeholder="Filter by name">
      </div>
      <div class="col-md-9">
        <ul class="btn-group-list text-right">
          <li><a has-permission='CREATE_COUNTRYCURRENCY' href="#/createcurrencydetails" class="btn primary_btn pull-right"><i
          class="fa fa-plus fa fa-white"></i> {{ 'link.add.new.currencyexchange' | translate }}</a></li>
        </ul>
      </div>
    </div>
    
    
  </div>
  
  <div class="widget">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr class="graybg">
            <th>{{'label.id' | translate }}</th>
            <!-- <th>{{'label.country' | translate }}</th> -->
            <th>{{'label.basecurrency' | translate }}</th>
            <th>{{'label.conversioncurrency' | translate }}</th>
            <th>{{'label.conversionrate' | translate }}</th>
            <!-- <th>{{'label.isd' | translate }}</th> -->
            <th>{{'label.status' | translate }}</th>
            <th>{{'label.validFrom' | translate }}</th>
            <th>{{'label.validTo' | translate }}</th>
            <th>{{'label.actions' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer-main" data-ng-repeat="currencydetail in currencydetails | filter:filterText">
            
            <td class="pointer" data-ng-click="routeTo(currencydetail.id)">{{currencydetail.id}}</td>
            <!--  <td class="pointer" data-ng-click="routeTo(currencydetail.id)">{{currencydetail.country}}</td> -->
            <td class="pointer" data-ng-click="routeTo(currencydetail.id)">{{currencydetail.baseCurrencyCode}}</td>
            <td class="pointer" data-ng-click="routeTo(currencydetail.id)">{{currencydetail.currencyCode}}</td>
            <td class="pointer" data-ng-click="routeTo(currencydetail.id)">{{currencydetail.conversionRate}}</td>
            <!-- <td class="pointer" data-ng-click="routeTo(currencydetail.id)">{{currencydetail.countryISD}}</td> -->
            <td class="pointer" data-ng-click="routeTo(currencydetail.id)">{{currencydetail.status}}</td>
            <td class="pointer" data-ng-click="routeTo(currencydetail.id)">{{currencydetail.validFrom|DateFormat}}</td>
            <td class="pointer" data-ng-click="routeTo(currencydetail.id)">{{currencydetail.validTo|DateFormat}}</td>
            <td><a has-permission='UPDATE_COUNTRYCURRENCY' href="#/editcurrencydetails/{{currencydetail.id}}"
            uib-popover="Edit" popover-trigger="mouseenter" class="fa fa-edit"></a>
            <a has-permission='DELETE_COUNTRYCURRENCY' data-ng-click="deleteCurrency(currencydetail.id)"
            uib-popover="Delete" popover-trigger="mouseenter"><i class="fa fa-times"></i></a></td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script type="text/ng-template" id="deleteCurrency.html">
  <div class="modal-header silver">
    <h3 class="bolder">Delete Currency</h3>
  </div>
  <div class="modal-body modal-small">
    <h4 class="text-center">Are you sure?</h4>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
    <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
  </div>
  </script>
</div>