<div class="content-container" ng-controller="ItemSaleController">
	<div data-ng-show="officeId != 0 && partnerId == 0">
		<ul class="breadcrumb">
			<li>
				<a href="#/organization">{{'link.admin.organisation' | translate}}</a> 
				<span class="divider"></span>
			</li>
		    <li>
		    	<a href="#/offices">{{'label.manageoffices' | translate}}</a> 
		    	<span class="divider"></span>
		    </li>
		    <li>
		    	<a href="#/viewoffice/{{officeId}}">{{'label.officeName' | translate}}</a> 
		    	<span class="divider"></span>
		    </li>
		    <li class="active">{{'label.Item Sale' | translate}}</li>
		</ul>
	</div>

	<div data-ng-show="partnerId !=0 && officeId !=0">
	   <ul class="breadcrumb">
		   <li>
			   <a href="#/organization">{{'link.admin.organisation' | translate}}</a> 
			   <span class="divider"></span>
		   </li>
		   <li data-ng-show="officeId&&partnerId">
			   <a href="#/offices" data-ng-click="partnersTab()">{{'label.managepartners' | translate}}</a> 
			   <span class="divider"></span>
		   </li>
		   <li data-ng-show="officeId&&partnerId">
			   <a href="#/viewpartner/{{partnerId}}/{{officeId}}">{{'label.partnerName' | translate}}</a>
			   <span class="divider"></span>
		   </li>
		   <li class="active">{{'label.Item Sale' | translate}}</li>
	   </ul>
    </div>
    <div data-ng-show ="officeId == 0 && partnerId ==0 ">
	    <ul class="breadcrumb">
	    <li>
	    	<a href="#/inventory" data-ng-click="goBack()">{{'link.inventory' | translate}}</a> 
	    	<span class="divider"></span>
	    </li>
	    <li>
	    	<a href="#/stocktransfer">{{'link.stocktransfer' | translate}}</a> 
	    	<span class="divider"></span>
	    </li>
	    <li class="active">{{'label.create.new.mrn' | translate}}</li>
	    </ul>
    </div>

	<div class="widget ">
	   <h3>{{'label.heading.createitemsale' | translate}}</h3>
				<form name="itemSaleForm" novalidate="" class="form-horizontal" rc-submit="submit()">
					<api-validate></api-validate>
					<div class="error" data-ng-show="errorStatus || errorDetails" >
					     <label data-ng-show="errorStatus">{{errorStatus}}</label>
					     <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	                </div> 				
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<div class="col-md-4">
								 <label class="control-label " for="purchaseDate">{{'label.Purchase Date' | translate}}&nbsp;<span class="required" >*</span></label>
							</div>
							<div class="col-md-8">
							  <input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="purchase.date" class="form-control" is-open="opened" min="minDate" max="maxDate" 
			                	   	   date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
							</div>
						</div>
					</div>
                    <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="itemId">{{ 'label.item' | translate }}<span class="required" >*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="itemId" data-ng-model="formData.itemId" class="form-control" data-ng-change="itemData(formData.itemId)" 
                                    data-ng-options="itemData.id as getBothItem(itemData.itemCode, itemData.itemDescription) for itemData in itemDatas">
                                    <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
					</div>
				</div>

				<div class="row">
                	<div class="col-md-6">
						<div class="form-group row">
							<div class="col-md-4">
								  <label class="control-label ">{{'label.Purchased From' | translate}} &nbsp;<span class="required" >*</span></label>
							</div>
							<div class="col-md-8">
							   <input type="text" placeholder="Enter Entity Code"data-ng-model="formData.purchaseFrom" name="serialNumber"class="form-control" uib-typeahead=" officeData.externalId as groupByOffice(officeData.externalId, officeData.name) for officeData in getData($viewValue,true)" autocomplete="off" data-typeahead-min-length="0">
							   <!-- <select data-ng-model="formData.purchaseFrom" class="form-control" data-ng-options="officeData.id as officeData.name for officeData in officeDatas"></select> -->
							</div>
						</div>
					</div>
					<div class="col-md-6">
					 <!-- This field will be used when office type is not equal to LCO  -->
						<div class="form-group row" data-ng-show="userOfficeData.officeType != 'LCO'">
							<div class="col-md-4">
								 <label class="control-label ">{{'label.Purchase By' | translate}} &nbsp;<span class="required" >*</span></label>
							</div>
							<div class="col-md-8">
							  <input type="text" placeholder="Enter Entity Code"data-ng-model="formData.purchaseBy"name="serialNumber"class="form-control" uib-typeahead=" officeData.externalId as groupByOffice(officeData.externalId, officeData.name) for officeData in getData($viewValue,false)"autocomplete="off" data-typeahead-min-length="0">
							  <!-- <select data-ng-model="formData.purchaseBy" class="form-control"
										data-ng-options="officeData.id as officeData.name for officeData in officeDatas">
								</select> -->
							</div>
						</div>
					    <!-- This field will be disabled when office type is LCO  -->
						<div class="form-group row" data-ng-show="userOfficeData.officeType == 'LCO'">
							<div class="col-md-4">
								 <label class="control-label ">{{'label.Purchase By' | translate}} &nbsp;<span class="required" >*</span></label>
							</div>
							<div class="col-md-8">
							  <input type="text" placeholder="Enter Entity Code"data-ng-model="formData.purchaseBy"name="serialNumber"class="form-control" uib-typeahead=" officeData.externalId as groupByOffice(officeData.externalId, officeData.name) for officeData in getData($viewValue,false)"autocomplete="off" data-typeahead-min-length="0" disabled>
							  <!-- <select data-ng-model="formData.purchaseBy" class="form-control"
										data-ng-options="officeData.id as officeData.name for officeData in officeDatas">
								</select> -->
							</div>
						</div>
					</div>

				</div>
					
				<div class="row">
                    <div class="col-md-6">
						<div class="form-group row">
							<div class="col-md-4">
								<label class="control-label " for="chargeCode">{{ 'label.charge' | translate }}<span class="required" >*</span></label>
							</div>
							<div class="col-md-8">
							  <select id="chargeCode" data-ng-model="formData.chargeCode" class="form-control" data-ng-options="chargeDatas.id as getBothCharge(chargeDatas.chargeCode, chargeDatas.chargeDescription) for chargeDatas in chargeDatas">
		                    			<option value="">{{'label.select.one' | translate}}</option>
		                    	</select>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<div class="col-md-4">
								 <label class="control-label ">{{'label.Order Quantity' | translate}} &nbsp;<span class="required" >*</span></label>
							</div>
							<div class="col-md-8">
							 <input type="text" id="orderQuantity" data-ng-model="formData.orderQuantity" class="form-control" name="orderQuantity" data-ng-change="itemDataQuantity(formData.orderQuantity,formData.itemId,formData.discount,discountType)" data-ng-pattern="{{'numeric' | CodeValidate}}">
							<span  data-ng-show="itemSaleForm.orderQuantity.$dirty && itemSaleForm.orderQuantity.$invalid"> <small class="error-row">{{'error.not.numeric.validation' | translate}}</small> </span>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
                    <div class="col-md-6">
						<div class="form-group row">
							<div class="col-md-4">
								<label class="control-label ">{{'label.Unit Price' | translate}}&nbsp;<span class="required" >*</span></label>
							</div>
							<div class="col-md-8">
							 <input  type="text" id="unitPrice" class="form-control" data-ng-model="formData.unitPrice" data-ng-change="itemDataQuantity(formData.orderQuantity,formData.itemId,formData.discount,discountType)">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<div class="col-md-4">
								<label class="control-label ">{{'label.Total Item Price' | translate}}&nbsp;<span class="required" >*</span></label>
							</div>
							<div class="col-md-8">
								<input type="text" id="itemPrice" class="form-control" data-ng-model="formData.chargeAmount" disabled>
							</div>
						</div>
					</div>
				</div>
				
				  <div class="row" data-ng-show="userOfficeData.officeType != 'LCO'">
	                <div class="col-md-6">
						<div class="form-group row">
							<div class="col-md-4">
								<label class="control-label " for="discountType">{{ 'label.discountType' | translate }}<span class="required" ></span></label>
							</div>
		                    	<div class="col-md-8">
							<select id="discountType" data-ng-model="discountType"
								class="form-control" data-ng-change="itemDataQuantity(formData.orderQuantity,formData.itemId,formData.discount,discountType)" disabled>
								<option value="">{{'label.select.one' | translate}}</option>
								<option value="Flat">Flat</option>
								<option value="Percentage">Percentage</option>
							</select>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<div class="col-md-4">
								 <label class="control-label ">{{'label.discountrate' | translate}} &nbsp;<span class="required" ></span></label>
							</div>
							<div class="col-md-8">
							 <input type="text" id="discountRate" data-ng-model="formData.discount" class="form-control" name="discount" data-ng-change="itemDataQuantity(formData.orderQuantity,formData.itemId,formData.discount,discountType)" data-ng-pattern="{{'numeric' | CodeValidate}}">
							</div>
						</div>
					</div>
	                <!-- <div class="col-md-6">
	                    <div class="form-group row">
	                        <div class="col-md-4">
	                            <label class="control-label" for="discount">{{'label.discountrate' | translate }}<span class="required">*</span></label>
	                        </div>
	                        <div class="col-md-8">
	                            <select id="discountMasterData" ng-model="discountMasterData" ng-options="discountMasterData as getDiscount(discountMasterData.discountCode,discountMasterData.discountRate) for discountMasterData in discountMasterDatas" class="form-control"
	                                    data-ng-change="itemDataQuantity(formData.orderQuantity,formData.itemId,discountMasterData)">
	                                <option value="">{{'label.select.one' | translate}}</option>
	                            </select>
	                        </div>
	                    </div>
	                </div> -->
	              </div>

	         <ul class="btn-group-list text-right mt20 mb20">
	         	<li>
	         		<a href="#/stocktransfer"><button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a>
	         	</li>
	         	<li>
	         		<button id="save" type="submit" data-ng-disabled="itemSaleForm.$dirty && itemSaleForm.$invalid" class="btn btn-primary">{{'label.save' | translate}}</button>
	         	</li>
	         </ul>
		 </form>
		</div>
	</div>