<div class="content-container" ng-controller="MediaDetailsController">

    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li class="active">{{'label.media.details' | translate}}&nbsp;&nbsp;</li>
    </ul>
    <div class="card">
       <div class="content">
          <div class="toolbar">
		     <div class="col-md-8">
		     	<input data-ng-model="filterText" type="text" class="form-control" data-ng-autofocus="true" class="span marginbottom0px" placeholder="{{'placehoder.mediadetails.searchbar' | translate}}"/>
		     </div>
		     <div class="pull-right"">
		        <a has-permission='CREATE_MEDIAASSET' href="#/createMedia" class="btn primary_btn"><i 
		        	class="fa fa-plus"></i> {{ 'link.create.new.mediadetail' | translate }}</a>
		        <a has-permission='CREATE_MEDIAASSET' href="#/createAdvanceMedia" class="btn primary_btn"><i 
		        	class="fa fa-plus"></i> {{ 'link.create.adv.mediadetail' | translate }}</a>
		      </div> 
		  </div>
		 
             <table class="table table-striped">
		        <thead>
		            <tr class="graybg">
		                <th>{{ 'table.mediadetails.title' | translate }}</th>
		                <th>{{'table.mediadetails.categeory' | translate}}</th>
		                <th>{{'table.mediadetails.contentprovider' | translate}}</th>
		                <th>{{'table.mediadetails.share' | translate}}</th>
		                <th>{{ 'table.mediadetails.status' | translate }}</th>
		                <th>{{'table.actions'|translate}}</th> 
		            </tr>
		        </thead>
		        <tbody>
		            <tr class="pointer-main" data-ng-repeat="mediaData in mediaDetailsData | filter:filterText">
		                <td class="pointer" data-ng-click="routeTo(mediaData.mediaId)">{{mediaData.mediaTitle}}</td>            
		                <td class="pointer" data-ng-click="routeTo(mediaData.mediaId)">{{mediaData.mediaCategory}}</td>        
		                <td class="pointer" data-ng-click="routeTo(mediaData.mediaId)">{{mediaData.contentProviderValue}}</td> 
		                <td class="pointer" data-ng-click="routeTo(mediaData.mediaId)">{{mediaData.cpShareValue}}</td>         
		                <td class="pointer" data-ng-click="routeTo(mediaData.mediaId)">{{mediaData.status}}</td>
		                <td>
		               		 <a data-ng-click="createMediaLocations(mediaData.mediaId)" uib-popover="Add Location" data-popover-trigger="mouseenter" class="fa fa-map-marker"></a>&nbsp;
		                	 <a data-ng-click="createMediaAttributes(mediaData.mediaId)" uib-popover="Add Attributes" data-popover-trigger="mouseenter" class="fa fa-tags"></a>&nbsp;
		                	 <a href="#/createEventFromMedia/{{mediaData.mediaId}}/{{mediaData.mediaTitle}}/{{fromMedia}}" uib-popover="Add Event" data-popover-trigger="mouseenter"><i class="fa fa-plus"></i></a>
		               		 <a href="#/editmedia/{{mediaData.mediaId}}" uib-popover="Edit Media" data-popover-trigger="mouseenter"><i class="fa fa-edit"></i></a>&nbsp;
		                	 <a data-ng-click="deletemedia(mediaData.mediaId)" uib-popover="Delete Media" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a>
		                </td> 
		            </tr>
		        </tbody>
     		</table>
		</div>
	</div>
	
	<script type="text/ng-template" id="createmedialocation.html">
  <div style="width:680px;height:190px;">
	<form class="form-horizontal well" ng-submit="submit()">
	   <div class="error" ng-show="errorStatus || errorDetails">
		  <label>{{'label.errors' | translate}}</label>
		  <label ng-show="errorStatus">{{errorStatus}}</label>
		  <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	   </div>
	   <fieldset>
		  <legend>{{'label.add.medialocations' | translate}}</legend>
		  <table>
				<tr class="control-group">
                  <td>
                    <form>
                       <select ng-model="formData.languageId" ng-options="mediaLanguageData.id as mediaLanguageData.mCodeValue  for mediaLanguageData in mediaLanguageDatas">
							<options>{{'label.select.apptableName' | translate}}</options>
					   </select>&nbsp;&nbsp;
                       <select style="width:120px;" ng-model="formData.formatType" ng-options="mediaFormat.mediaName as mediaFormat.mediaName for mediaFormat in mediaFormats">
							<options>{{'label.select.apptableName' | translate}}</options>
					   </select>&nbsp;&nbsp;
                       <input type="text" ng-model="formData.location" placeholder="{{'label.media.location' | translate}}"/>
                       <a ng-click="addMediaLocation()">&nbsp;<i class="icon-plus icon-white"></i></a>
                     </form>
                     <table class="table table-striped" width="100%" ng-show="formData.mediaAssetLocations.length>0">
                       <tr class="graybg">
                          <th>{{'table.heading.language' | translate}}</th>
                          <th>{{'table.heading.format' | translate}}</th>
                          <th>{{'table.heading.location' | translate}}</th>
                       </tr>
                   	   <tr ng-repeat="mediaAssetLocation in formData.mediaAssetLocations" >
                     	  <td><select ng-model="mediaAssetLocation.languageId" ng-options="mediaLanguageData.id as mediaLanguageData.mCodeValue  for mediaLanguageData in mediaLanguageDatas"></select></td>
                      	  <td><select style="width:120px;" ng-model="mediaAssetLocation.formatType" ng-options="mediaFormat.mediaName as mediaFormat.mediaName for mediaFormat in mediaFormats"></select></td>
                     	  <td><input type="text" ng-model="mediaAssetLocation.location" placeholder="{{'label.media.location' | translate}}"/></td>
                      	  <td><a ng-click="removeMediaLocation($index)"><i class="icon-remove icon-white"></i></a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
		   </table>
		 </fieldset>
	  </form>
   	  <div class="modal-footer">
         <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
         <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="disabledMediaLocationSaveBtn">{{'label.save' | translate}}</button>
       </div>
   </div>
</script>

<script type="text/ng-template" id="createmediaattribute.html">
   <div style="width:650px;height:200px;">
	 <form class="form-horizontal well" ng-submit="submit()">
	 	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.errors' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	 	</div>
		<fieldset>
			<legend>{{'label.add.mediaattributes' | translate}}</legend>
			<table>
				<tr class="control-group">
                  <td>
                    <form>
                    	<input class="input-small" type="text" ng-model="formData.attributeType" readonly />&nbsp;&nbsp;
                     	<select class="input-small" ng-model="formData.attributeName" ng-options="mediaAttribute.id as mediaAttribute.mediaName for mediaAttribute in mediaAttributes"></select>&nbsp;&nbsp;
                      	<input class="input-small" type="text" ng-model="formData.attributevalue"  placeholder="{{'label.media.captionvalue' | translate}}"/>&nbsp;&nbsp;
						<input class="input-small" type="text" ng-model="formData.attributeNickname"  placeholder="{{'label.media.nickname' | translate}}"/>&nbsp;&nbsp;
                      	<input class="input-small"  type="text" ng-model="formData.attributeImage" placeholder="{{'label.media.image' | translate}}"/>
                      	<a ng-click="addMediaAttributes()">&nbsp;<i class="icon-plus icon-white"></i></a>&nbsp;&nbsp;
                     </form>
                     <br><br>
                  	<table class="table table-striped" width="100%" ng-show="formData.mediaassetAttributes.length>0">
                    	<tr class="graybg">
                      	  <th>{{'table.media.cast' | translate}}</th>
                     	  <th>{{'table.heading.attributetype' | translate}}</th>
                      	  <th>{{'label.media.captionvalue' | translate}}</th>
                          <th>{{'label.media.nickname' | translate}}</th>
                       	  <th>{{'label.media.image' | translate}}</th>
                    	</tr>
                    	<tr ng-repeat="mediaassetAttribute in formData.mediaassetAttributes" >
                    	  <td><input type="text" class="input-small"  ng-model="mediaassetAttribute.attributeType" readonly/></td>
                     	  <td><select class="input-small" ng-model="mediaassetAttribute.attributeName" ng-options="mediaAttribute.id as mediaAttribute.mediaName for mediaAttribute in mediaAttributes"></select></td>
                      	  <td><input type="text" class="input-small" ng-model="mediaassetAttribute.attributevalue" placeholder="{{'label.media.captionvalue' | translate}}"/></td>
                     	  <td><input type="text" class="input-small" ng-model="mediaassetAttribute.attributeNickname" placeholder="{{'label.media.nickname' | translate}}"/></td>
                     	  <td><input type="text" class="input-small" ng-model="mediaassetAttribute.attributeImage" placeholder="{{'label.media.image' | translate}}"/></td>
                     	  <td><a ng-click="deleteMediaAttributes($index)"><i class="icon-remove icon-white"></i></a></td>
                    	</tr>
                 	 </table>
                	</td>
             	  </tr>
			 </table>
		</fieldset>
	  </form>
  	  <div class="modal-footer">
           <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
           <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="disabledMediaAttributesSaveBtn">{{'label.save' | translate}}</button>
   	  </div>
   </div>
</script> 
<script type="text/ng-template" id="deletemedia.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'label.delete.mediadetails' | translate}}</h3>
                    </div>
                    <div class="modal-body" style="height:60px;">
                       <h3 align="center">{{'label.confirm.msg' | translate}}</h3>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approveDeleteMedia()">{{'label.confirm' | translate}}</button>
                    </div>
      </script>
</div>