<div class="content-container" data-ng-controller="RadiusController">
	<ul class="breadcrumb">
		<li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
		<li class="active">Radius</li>
	</ul>
	<div class="widget mb30">
		
		
		<div class="row">
			<div class="col-md-3">
				<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
			</div>
		</div>
		
		
	</div>
	<div class="widget">
		
		<uib-tabset tabset-name="rediusTabset">
		<uib-tab heading="{{'tab.nas' | translate}}" select="getNas()">
		
		<ul class="btn-group-list text-right mt20 mb20">
			<li><a has-permission = CREATE_NAS  href="#/createNas/{{radiusVersion}}" class="btn btn-primary"><i class="fa fa-plus fa fa-white"></i>{{ 'link.create.new.nas' | translate }}</a></li>
		</ul>
		
		<div class="table-responsive">
		<table class="table table-striped" data-ng-if="radiusVersion=='version-1'">
			<thead>
				<tr class="graybg">
					<th>{{'label.shortname' | translate }}</th>
					<th>{{'label.nasip' | translate}}</th>
					<th>{{'label.secret' | translate }}</th>
					<th>{{'label.description' | translate }}</th>
					<th>{{'label.actions' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" data-ng-repeat="nasData in nasDatas | filter:filterText">
					<td>{{nasData.shortname}}</td>
					<td>{{nasData.nasname}}</td>
					<td>{{nasData.secret}}</td>
					<td>{{nasData.description}}</td>
					<td>
						<a data-ng-click="deleteNas(nasData.id)" data-popover="{{'label.nas.message' | translate}}" data-popover-trigger="mouseenter">
							<i class="icon-remove icon-white"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-responsive">
		<table class="table table-striped" data-ng-if="radiusVersion=='version-2'">
			<thead>
				<tr class="graybg">
					<th>{{ 'label.shortName' | translate }}</th>
					<th>{{ 'label.nasip' | translate }}</th>
					<th>{{ 'label.secret' | translate }}</th>
					<th>{{ 'label.description' | translate }}</th>
					<th>{{ 'label.microtikuser' | translate }}</th>
					<th>{{ 'label.microtikpassword' | translate }}</th>
					<th>{{ 'label.actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" data-ng-repeat="nasData in nasDatas | filter:filterText">
					<td class="pointer"
					data-ng-click="routeToNas(nasData.id)">{{nasData.shortName}}</td>
					<td class="pointer"
					data-ng-click="routeToNas(nasData.id)">{{nasData.nasName}}</td>
					<td class="pointer"
					data-ng-click="routeToNas(nasData.id)">{{nasData.secret}}</td>
					<td class="pointer"
					data-ng-click="routeToNas(nasData.id)">{{nasData.description}}</td>
					<td class="pointer"
					data-ng-click="routeToNas(nasData.id)">{{nasData.apiusername}}</td>
					<td class="pointer"
					data-ng-click="routeToNas(nasData.id)">{{nasData.apipassword}}</td>
					<td>
						<a data-ng-click="reloadNases(nasData.nasName)" data-popover="Reload" data-popover-trigger="mouseenter">
							<i class="icon-plus icon-white"></i>
						</a>
						<a data-ng-click="deleteNas(nasData.id)" data-popover="{{'label.nas.message' | translate}}" data-popover-trigger="mouseenter">
							<i class="icon-remove icon-white"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		</uib-tab>

		<uib-tab heading="{{'tab.radService' | translate}}" select="getRadService()" active="radServiceTab">
		
			
				<ul class="btn-group-list text-right mt20 mb20">
					<li><a has-permission = CREATE_TICKETMAPPING href="#/createRadService/{{radiusVersion}}" class="btn btn-primary"><i
					class="fa fa-plus fa fa-white"></i> {{ 'link.create.new.radService' | translate }}</a></li>
				</ul>
			
		
		<div class="table-responsive">
		<table class="table table-striped" data-ng-show="radiusVersion=='version-1'">
			<thead>
				<tr class="graybg">
					<th>{{ 'label.serviceName' | translate }}</th>
					<th>{{ 'label.serviceType' | translate }}</th>
					<th>{{ 'label.upRate' | translate }}</th>
					<th>{{ 'label.downRate' | translate }}</th>
					<th>{{ 'label.actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" data-ng-repeat="radService in radServices | filter:filterText">
					<td class="pointer"  data-ng-click="routeToDiscounts(radService.id)">{{radService.groupname}}</td>
					<td class="pointer"  data-ng-click="routeToDiscounts(radService.id)">{{radService.attribute}}</td>
					<td class="pointer"  data-ng-click="routeToDiscounts(radService.id)">{{radService.upRate}}</td>
					<td class="pointer"  data-ng-click="routeToDiscounts(radService.id)">{{radService.downRate}}</td>
					<td><a data-ng-click="deleteRadService(radService.id)" data-popover="{{'label.radService.message' | translate}}" data-popover-trigger="mouseenter">
					<i class="icon-remove icon-white"></i> </a>
					
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="table-responsive">
	<table class="table table-striped" data-ng-show="radiusVersion=='version-2'">
		<thead>
			<tr class="graybg">
				<th>{{ 'label.serviceId' | translate }}</th>
				<th>{{ 'label.serviceName' | translate }}</th>
				<th>{{ 'label.service' | translate }}</th>
				<th>{{ 'label.upRate' | translate }}</th>
				<th>{{ 'label.downRate' | translate }}</th>
				<th>{{ 'label.combquota' | translate }}</th>
				<th>{{'label.actions' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="pointer-main" data-ng-repeat="radService in radServices2 track by $index| filter:filterText">
				<!-- data-ng-click="routeToRadService(radiusVersion,radService.serviceId) -->
				<td class="pointer" >{{radService.serviceId}}</td>
				<td class="pointer" >{{radService.serviceName}}</td>
				<td class="pointer" >{{radService.nextServicId}}</td>
				<td class="pointer" >{{radService.uprate}}</td>
				<td class="pointer" >{{radService.downRate}}</td>
				<td class="pointer" >{{radService.combquota}}</td>
				<td>
					<!-- <a data-ng-show="PermissionService.showMenu('UPDATE_RADSERVICE')"
							href="#/editRadService/{{radiusVersion}}/{{radService.serviceId}}" data-popover="{{'label.editradservice' | translate}}" data-popover-trigger="mouseenter">
						<i class="icon-edit icon-white"></i>
					</a>&nbsp; -->
					<a data-ng-show="PermissionService.showMenu('DELETE_RADSERVICE')"
						data-ng-click="deleteRadService(radService.serviceId)" data-popover="{{'label.deleteradservice' | translate}}" data-popover-trigger="mouseenter">
						<i class="icon-remove icon-white"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
	</uib-tab>
	</uib-tabset>
	
</div>

<script type="text/ng-template" id="deletePopupForNas.html">
<div class="modal-header silver">
	<h3 class="bolder">{{'label.nas.message' | translate}}</h3>
</div>
<div class="modal-body style="height:60px;">
	<h4 class="text-center">Are you sure?</h4>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
	<button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
</div>
</script>

<script type="text/ng-template" id="deletePopupForRadService.html">
	<div class="modal-header silver">
		<h3 class="bolder">{{'label.radService.message' | translate}}</h3>
</div>
<div class="modal-body" style="height:60px;">
		<h4 class="text-center">Are you sure?</h4>
</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
		<button class="btn btn-primary" ng-click="remove()">{{'label.confirm' | translate}}</button>
</div>
</script>
</div>