<div class="content-container" ng-controller="ViewCurrencyDetailsController">
   <ul class="breadcrumb">
	<li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
	<li><a href="#/currencydetails">{{'label.currencyexchange' | translate}}</a></li>
	<li class="active">{{viewcurrencydetails.id}}</li>
   </ul>
   <div class="card">
   	  <div class="content">
   	    <div class="toolbar">
   	       <h3>{{viewcurrencydetails.id}}</h3>
   	      <div class="pull-right">
   		    <div class="btn-group">
   		      <a has-permission='UPDATE_COUNTRYCURRENCY' href="#/editcurrencydetails/{{viewcurrencydetails.id}}"
					class="btn btn-primary"><i class="fa fa-edit"></i>{{'button.edit' | translate}}</a> 
			  <a  has-permission='DELETE_COUNTRYCURRENCY' data-ng-click="deleteCurrency()" class="btn btn-primary"><i
					class="fa fa-trash-o"></i>{{'button.delete' | translate}}</a>
   		    </div>
   		   </div>
   	    </div>
   	    <div class="row">
			<div class="col-md-6">
	        	<table class="table table-bordered table-striped">
	        	
	        	   <tr>
						<td>{{'label.basecurrency' | translate }}</td>
						<td>{{viewcurrencydetails.baseCurrency}}</td>
					</tr>
		   	       <!--  <tr>
						<td>{{ 'label.country' | translate }}</td>
						<td>{{viewcurrencydetails.country}}</td>
					</tr> -->
					<tr>
						<td>{{'label.conversioncurrency' | translate }}</td>
						<td>{{viewcurrencydetails.currency}}</td>
					</tr>
					<tr>
						<td>{{'label.conversionrate' | translate }}</td>
						<td>{{viewcurrencydetails.conversionRate}}</td>
					</tr>
					<!-- <tr>
						<td>{{ 'label.isd' | translate }}</td>
						<td>{{viewcurrencydetails.countryISD}}</td>
					</tr> -->
					<tr>
						<td>{{ 'label.status' | translate }}</td>
						<td>{{viewcurrencydetails.status}}</td>
					</tr>
					<tr>
						<td>{{ 'label.validFrom' | translate }}</td>
						<td>{{viewcurrencydetails.validFrom|DateFormat}}</td>
					</tr>
					<tr>
						<td>{{ 'label.validTo' | translate }}</td>
						<td>{{viewcurrencydetails.validTo|DateFormat}}</td>
					</tr>
   	            </table>
   	        </div>
   	        <script type="text/ng-template" id="deleteCurrency.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete Currency</h3>
                    </div>
                    <div class="modal-body modal-small">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
      		</script>  
   	      </div>    
   	  </div>
   </div>
</div>