<div class="content-container" ng-controller="ViewVouchersController">
  <ul class="breadcrumb">
    <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
    <li> <a href="#/voucherpins">{{'label.ManageVoucherpins' | translate}}</a></li>
    <li class="active">{{voucherId}}</li>
  </ul>
  <div class="widget mb30">
    
    
    <!-- <div class="clearfix mt15 mb20"> -->
    <!-- <form data-ng-submit="search()" style="margin: -10px 0 1%;"> -->
    <div class="row align-items-center">
      <div class="col-md-3">
        <input ng-model="searchData.sqlSearch" type="text" class="form-control" data-ng-autofocus="true" placeholder="{{'placehoder.searchbar' | translate}}">
      </div>
      <div class="col-md-2">
        <select ng-model="searchData.status" class="form-control"  ng-change="search()">
          <option value="">---Status---</option>
          <option value="NEW" >NEW</option>
          <option value="USED" >USED</option>
          <option value="LOST" >LOST</option>
          <option value="DAMAGE" >DAMAGE</option>
        </select>
      </div>
      <div class="col-md-7">
        <ul class="btn-group-list text-right">
          <li><button id="selectVouchers" data-ng-click="updateVouchers()" class="btn btn-primary" >Update</button></li>
          <li><button id="selectVouchers" data-ng-click="deleteVouchers()" class="btn btn-primary" >Delete</button></li>
        </ul>
      </div>
      <!-- </form> -->
    </div>
  </div>
  <div class="widget">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr class="graybg">
            <th>{{ 'label.batchName' | translate }}</th>
            <th>{{ 'label.officeId' | translate }}</th>
            <th>{{ 'label.serialNo' | translate }}</th>
            <th>{{ 'label.pinType' | translate }}</th>
            <th>{{ 'label.pinValue' | translate }}</th>
            <th>{{ 'label.pinNo' | translate }}</th>
            <!-- <th>{{ 'table.heading.product' | translate }}</th> -->
            <th>{{'label.ippooling.clientId' | translate}}</th>
            <th>{{'label.status' | translate}}</th>
            <th>{{'label.selectall' | translate}}</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="voucherpin in voucherpinsBatchwise.currentPageItems | filter:filterText">
            
            <td>{{voucherpin.batchName}}</td>
            <td>{{voucherpin.officeId}}</td>
            <td>{{voucherpin.serialNo}}</td>
            <td>{{voucherpin.pinType}}</td>
            <td data-ng-show="voucherpin.pinType == 'VALUE'">{{voucherpin.pinValue}}</td>
            <td data-ng-show="voucherpin.pinType == 'PRODUCT'  || voucherpin.pinType == 'COUPON'"></td>
            <td>{{voucherpin.pinNo}}</td>
            <!--  <td>{{voucherpin.planCode}}</td>  -->
            <td>{{voucherpin.clientId}}</td>
            <td>{{voucherpin.status}}</td>
            <td><input type="checkbox" id="{{voucherpin.id}}" ng-model="active" ng-true-value="true" ng-false-value="false"
            ng-change="checkSingle(voucherpin, active)" data-ng-hide="voucherpin.status=='USED'"></td>
            <td data-ng-show="voucherpin.pinType == 'VALUE'&& voucherpin.status =='USED'" ><a ng-click="cancelVoucher(voucherpin.id)"
            popover="Cancel Voucher" popover-trigger="mouseenter" class="fa fa-times"></a></td>
            <td data-ng-hide="voucherpin.pinType == 'VALUE'&& voucherpin.status =='USED'"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pager">
      <li class="previous"><a data-ng-click="voucherpinsBatchwise.previous()" href="" data-ng-disabled="!voucherpinsBatchwise.hasPrevious()">&larr; Prev</a></li>
      <li class="next" ><a data-ng-click="voucherpinsBatchwise.next()" href="" data-ng-disabled="!voucherpinsBatchwise.hasNext()">Next &rarr;</a></li>
    </ul>
  </div>
  <script type="text/ng-template" id="updateVouchers.html">
    <form name="downloadCSVform" novalidate="" class="form-horizontal well">
        <div class="error" ng-show="errorStatus || errorDetails">
            <label>{{'label.contract.error' | translate}}</label>
            <label ng-show="errorStatus">{{errorStatus}}</label>
            <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
        </div>
          <div class="modal-header silver">
            <h3 class="bolder">Update</h3>
          </div>
            <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="control-group form-group row">
                  <div class="col-md-4">
                    <label class="control-label" for="status">{{ 'label.batchName' | translate }}<span class="required">*</span></label>
                  </div>
                  <div class="col-md-8 controls">
                    
                    <select ng-model="batchNameId" class="form-control" required>
                      <option value="LOST">LOST</option>
                      <option value="DAMAGE">DAMAGE</option>
                    </select>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          
            <div class="modal-footer">
                <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
                <button id="submit" class="btn btn-primary" ng-click="accept(batchNameId)" ng-disabled="!downloadCSVform.$valid||flag">{{'label.confirm' | translate}}</button>
            </div>
        
    </form>
  </script>
  <script type="text/ng-template" id="CancelVoucher.html">
      
    <div class="modal-header silver">
    <h3 class="bolder">Cancel Voucher</h3>
  </div>
  <div class="modal-body" style="height:160px;">
    <div class="error" ng-show="errorStatus || errorDetails">
          <label>{{'label.contract.error' | translate}}</label>
          <label ng-show="errorStatus">{{errorStatus}}</label>
          <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
      </div>
    <fieldset>
      <div class="control-group">
              <label class="control-label" for="quality">{{'label.voucher.cancelreason' | translate }}<span class="required">*</span></label>
              <div class="controls">
          <select ng-model="cancelReason"  ng-options="reasondata.mCodeValue as reasondata.mCodeValue for reasondata in reasondatas" value="{{q.mCodeValue}}" required>
          </select>
        </div>
        </div>
      
    </fieldset>
  </div>
  <div class="modal-footer">
    <button id="cancel" class="btn btn-warning" ng-click="cancelQuality()">{{'button.cancel' | translate}}</button>
      <button id="submit" class="btn btn-primary" ng-click="approve(cancelReason)" ng-disabled="flagEditQuality">{{'button.save' | translate}}</button>
  </div>
  </script>
  <script type="text/ng-template" id="deletevouchers.html">
    <div class="modal-header silver">
      <h3 class="bolder">Delete Vouchers</h3>
  </div>
  <div class="modal-body modal-small">
      <h4 class="text-center">Are you sure?</h4>
  </div>
  <div class="modal-footer">
      <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
    <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
    </div>
  </script>
  <!-- </div> -->
</div>