<div class="content-container" ng-controller="ViewMediaDetailsController">

		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
	        <li><a href="#/mediadetailseventpricing">{{'label.mediadetailseventpricing' | translate}}</a></li>
	        <li class="active">{{media.mediaTitle}}</li>
	    </ul>
	<div class="widget">
        <h3>{{media.mediaTitle}}</h3>
	    <ul class="btn-group-list text-right mb20">
	          <li><a has-permission='UPDATE_MEDIAASSET' href="#/editmedia/{{media.mediaId}}" class="btn primary_btn"><i class="fa fa-edit"></i> {{'button.edit' | translate}}</a></li>
	          <li><a has-permission='DELETE_MEDIAASSET' data-ng-click="deletemedia()" class="btn primary_btn"><i class="fa fa-trash-o"></i> {{'button.delete' | translate}}</a></li>
	      	
	    </ul>
		    
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<tr>
						<td>{{ 'label.media.title' | translate }}</td>
						<td>{{media.mediaTitle}}</td>
					</tr>
					<tr>
						<td>{{'table.mediadetails.categeory' | translate }}</td>
						<td>{{catageoryId}}</td>
					</tr>
					<tr>
						<td>{{'table.mediadetails.contentprovider' | translate}}</td>
						<td>{{contentProviderValue}}</td>
					</tr>
					<tr>
						<td>{{ 'label.media.status' | translate }}</td>
						<td>{{media.status}}</td>
					</tr>
					<tr>
						<td>{{'table.mediadetails.share' | translate}}</td>
						<td>{{media.cpShareValue}}</td>
					</tr>
			
					<tr> 
						<td valign="top">{{ 'label.media.medialocation' | translate }}</td>
						<td>
							<table>
								<tr data-ng-repeat="mediaLocationData in mediaLocationDatas">
									<td>
										{{mediaLocationData.formatType}},
										</td>
						                <td data-ng-repeat="mediaLanguageData in mediaLanguageDatas" data-ng-show="mediaLanguageData.id ==mediaLocationData.languageId">
		                                      
		                                      {{mediaLanguageData.mCodeValue}},
		                                      
						                </td>
										<td>{{mediaLocationData.location}}</td>
								</tr>
							</table>		
						</td>
					</tr>
				</table>
			 </div>
			</div>
	<script type="text/ng-template" id="deletemedia.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'label.delete.mediadetails' | translate}}</h3>
                    </div>
                    <div class="modal-body" style="height:60px;">
                       <h4 align="center">{{'label.confirm.msg' | translate}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approveDeleteMedia()">{{'label.confirm' | translate}}</button>
                    </div>
      </script>
      
	</div>
 </div>
