<div class="content-container" data-ng-controller="CreateIpPoolingController" >
	<ul class="breadcrumb">
	    <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
    	<li><a href="#/ipPooling">{{'label.manageippooling' | translate}}</a></li>
        <li class="active">{{'label.ippooling.createippool' | translate}}</li>
    </ul>
  <div class="card">
	<div class="content">
	  <div class="toolbar">
		<h3>{{'label.ippooling.createippool' | translate}}</h3>
	</div>
	<form name="createIpPooling" data-novalidate="" class="form-horizontal" data-ng-submit="submit()">
	  <api-validate></api-validate>
    	<fieldset>
  			<div class="form-group">
                <label class="control-label col-sm-2" for="serviceCode">{{'label.iptype' | translate }}</label>
                  <div class="col-sm-3">
                      <select data-ng-model="formData.type" class="form-control"  data-ng-options="ipType.id as ipType.mCodeValue for ipType in ipTypes">
                         <option value="">{{'label.select.one' | translate}}</option>
                      </select>
                 </div>
           	</div>
			<div class="form-group">
					<label class="control-label col-sm-2" for="ipaddress">{{'label.ippooling.ipaddress' | translate }}</label>
				<div class="col-sm-3">
						<input type="text" id="ipaddress" class="form-control" data-ng-onblur="ipValidate(formData.ipAddress)" data-ng-model="formData.ipAddress"/><br/>
						<small>{{'label.pattern'|translate}}{{'hint.ipaddress.pattern'|translate}}</small><br/>
						<small class="error" data-ng-show="ipAddressValidationErrorPattern">{{'form.error.ipaddress.pattern'|translate}}</small>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="subnet">{{'label.ippooling.subnet' | translate }}</label>
				<div class="col-sm-3">
					<input type="number" name="subnetIP" class="form-control" id="subnet" data-ng-model="formData.subnet" min="0" max="32" data-late-Validate><br/>
					<span data-ng-show="createIpPooling.subnetIP.$dirty && createIpPooling.subnetIP.$invalid">
							<small class="error">{{'validation.msg.ippool.subnet.is.not.within.expected.range'|translate}}</small>
  					   </span>
				</div>
			</div>
				<div class="col-md-offset-10">
            		<a href="#/ipPooling"><button id="cancel" type="reset" class="btn btn-warning">Cancel</button></a>
            		<button id="submit" type="submit" class="btn btn-primary" data-ng-disabled="!createIpPooling.$valid">Save</button>
          		</div>
    	</fieldset>
	</form>
  </div>
 </div>
</div>