<div class="content-container" data-ng-controller="CurrencyConfigurationsController">
	<ul class="breadcrumb">
		<li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
		<li class="active">{{'label.currencyconfiguration' | translate}}</li>
	</ul>
	<div class="widget mb30">
		
		
		<div class="row">
			<div class="col-md-3">
				<input ng-autofocus="true" id="gridfield" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control m-0" placeholder="{{'label.input.filterbyname' | translate}}">
			</div>
			<div class="col-md-9">
				<ul class="btn-group-list text-right">
					<li><a has-permission = CREATE_CURRENCY href="#/createcurrency" id="gridfield" class="btn primary_btn m-0"><i class="fa fa-plus"></i>{{ 'link.new.create' | translate }}</a></li>
				</ul>
			</div>
			
			
		</div>
	</div>
	
	<div class="widget">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr class="graybg">
						<th>{{'label.code' | translate }}</th>
						<th>{{'label.internationalnamecode' | translate }}</th>
						<th>{{'label.decimalplaces' | translate }}</th>
						<!--<th>{{'label.countrycode' | translate }}</th> -->
						<th>{{'label.name' | translate }}</th>
						<!-- <th>{{'label.countryname' | translate }}</th> -->
						<th>{{'label.displaysymbol' | translate }}</th>
						<th>{{ 'label.actions' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="pointer-main" data-ng-repeat="currency in currencies.currentPageItems  | filter:filterText">
						<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.code}}</td>
						<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.nameCode}}</td>
						<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.decimalPlaces}}</td>
						<!-- <td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.countryCode}}</td> -->
						<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.name}}</td>
						<!-- <td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.countryName}}</td> -->
						<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.displaySymbol}}</td>
						<td class="pointer">
							<!-- <a has-permission='UPDATE_CURRENCY' href="#/editcurrency/{{currency.id}}"><i
							class="fa fa-edit"></i>{{'button.edit' | translate}}</a>
							<a has-permission='DELETE_CURRENCY' data-ng-click="deleteCurrency()"><i
							class="fa fa-trash-o"></i>{{'button.delete' | translate}}</a></td> -->
							<a has-permission = UPDATE_CURRENCY href="#/editcurrency/{{currency.id}}"
							uib-popover="Edit Currency" data-popover-trigger="mouseenter" class="fa fa-edit"></a>&nbsp;
							<a has-permission = DELETE_CURRENCY data-ng-click="deleteCurrency(currency.id)"
							uib-popover="Delete Currency" ><i class="fa fa-times"></i></a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
			<ul class="pager">
				<li class="previous"><a ng-click="currencies.previous()" href="" ng-disabled="!currencies.hasPrevious()">&larr; Prev</a></li>
				<li class="next" ><a ng-click="currencies.next()" href="" ng-disabled="!currencies.hasNext()">Next &rarr;</a></li>
			</ul>
			<!-- <table class="table">
					<thead>
							<tr class="graybg">
									<th>Currency Name</th>
										<th>Currency Code</th>
							</tr>
					</thead>
					<tbody>
							<tr data-ng-repeat="currency in selectedCurrOptions  | filter:filterText">
									<td>{{currency.name}}</td>
										<td>{{currency.code}}</td>
							</tr>createcurrency.html
						</tbody>
			</table> -->
			<div data-ng-show="hideview">
				
				<input  type="text" class="form-control input-xxlarge" data-ng-model="selected" placeholder="New Currency"
				typeahead="item as item.displayLabel for item in allCurrOptions | filter:$viewValue | limitTo:8" />&nbsp;&nbsp;
				<a data-ng-click='addCur()'><i class="fa fa-plus"></i></a>
				
				<div data-ng-repeat="currency in selectedCurrOptions">
					<input type="text" disabled="" class="form-control input-xxlarge" placeholder={{currency.displayLabel}}} />&nbsp;&nbsp;
					<a data-ng-click='deleteCur(currency.code)'><i class="fa fa-remove"></i></a>
				</div>
				<div class="offset5">
					<button id="cancel" type="reset" data-ng-click="cancel()" class="btn btn-warning">Cancel</button>
					<button id="submit" type="submit" data-ng-click="submit()" class="btn btn-primary">Save</button>
				</div>
			</div>
			
		</div>
		<script type="text/ng-template" id="deleteCurrency.html">
		<div class="modal-header silver">
				<h3 class="bolder">Delete TicketTeam</h3>
		</div>
		<div class="modal-body style="height:60px;">
				<h4 class="text-center">Are you sure?</h4>
		</div>
		<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
				<button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
		</div>
		</script>