<div class="content-container" ng-controller="EditHardwarePlanMappingController">
	<ul class="breadcrumb">
		<li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
   		<li><a href="#/mappingconfig">{{'label.hardwareMapping' | translate}}</a></li>
        <li class="active">{{'label.edithardwareplanmapping' | translate}}</li>
	</ul>
	<div class="widget">
		
			<!-- <div class="toolbar"> -->
				<!-- <h4>{{'label.heading.edithardwareplan' | translate}}</h4> -->
				<h3>Edit Hardware Plan</h3>
			<!-- </div> -->
				<form class="form-horizontal" novalidate="" rc-submit="submit()">
					<api-validate></api-validate>
	    			
		    			<!-- <div class="form-group">
		            		<label class="control-label col-sm-2" for="planCode">{{ 'label.plancode' | translate }}</label>
		            		<div class="col-sm-3">
			             		<select data-ng-model="formData.planCode" class="form-control" data-ng-options="planData.planCode as planData.planDescription for planData in planDatas">
			             		</select>
		             		</div>
	            		</div> -->
          				<div class="row">
          					<div class="col-md-6">
          			   <div class="form-group row">
          			   	<div class="col-md-4">
	            		   <label class="control-label" for="provisioningId">{{ 'table.provision.provisioningSystem' | translate }}</label>
	            		</div>
	            		   <div class="col-md-8">
		             		   <select data-ng-model="formData.provisioningId" class="form-control" data-ng-options="provisioningData.id as provisioningData.systemcode for provisioningData in provisioning">
		             		   </select>
	            	       </div>
          	           </div>
          	       </div>
          	           

          	           <div class="col-md-6">
          			   <div class="form-group row">
          			   	<div class="col-md-4">
	            			<label class="control-label" for="itemClass">{{'label.itemclass' | translate }}</label>
	            		</div>
	            			<div class="col-md-8">
			             		<select data-ng-model="formData.itemClass" class="form-control" data-ng-options="itemClassData.id as itemClassData.value for itemClassData in itemClassDatas">
			             		</select>
			             		<!-- <select id="itemCode" data-ng-model="formData.itemCode" class="form-control" data-ng-options="itemData.itemCode as getBothItem(itemData.itemCode,itemData.itemDescription) for itemData in itemDatas">
		             			</select> -->
	            			</div>
          				</div>
          			</div>
          		</div>
          	           
          	           <ul class="btn-group-list text-right mt20 mb20">
					   		<li><a href="#/mappingconfig"><button id="cancel" type="reset" class="btn btn-warning">{{'label.cancel' | translate}}</button></a></li>
            		   		<li><button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button></li>
					  </ul>
	    			
				</form>
		
	</div>
</div>