<div class="content-container" data-ng-controller="EditIpPoolingController">
	<ul class="breadcrumb">
		<li><a href="#/ipPooling">{{'label.manageippooling' | translate}}</a> <span class="divider"></span></li>
		<li class="active">{{'label.ippooling.editippool' | translate}}</li>
	</ul>
	<div class="card">
	  <div class="content">
		<div class="toolbar">
			<h3>{{'label.ippooling.editippool' | translate}}</h3>
		</div>
    	<form name="editippoolform" data-novalidate="" class="form-horizontal" data-ng-submit="submit()">
			<fieldset>
			<div class="form-group">
			<label class="control-label col-sm-2" for="ipaddress">{{'label.ippooling.ipaddress' | translate }}</label>
				<div class="col-sm-3">
				<input type="text" id="ipaddress" class="form-control" data-ng-model="formData.ipAddress" readonly> 
				</div>
							
				<div class="col-sm-3">
					<input data-ng-show="typeCodeValue.status=='Intermediate'" class="form-control" type="text" style="width:30px;" id="ipRange" 
				  		name="ipRange" data-ng-model="formData.ipRange"   maxlength="3" data-ng-pattern=/^([01]?\d\d?|2[0-4]\d|25[0-5])$/>
						<span data-ng-show="editippoolform.ipRange.$invalid && editippoolform.ipRange.$dirty">
   					        <small class="error" data-ng-show="editippoolform.ipRange.$error.pattern">accept digits between 0-255 only!</small>
				        </span>
				 </div>
			</div>
								
			<div data-ng-hide="typeCodeValue.status=='Assigned'">
				<div class="form-group">
					<label class="control-label col-sm-2">{{ 'table.ippooling.status' | translate }}</label>
						<div class="col-sm-3">
							<select data-ng-model="formData.statusType"
							data-ng-options="status.statusType as status.status for status in ippoolstatusType">
							</select>
						</div>
				</div>
			</div>
			<div class="form-group">
			<label class="control-label col-sm-2">{{ 'table.ippooling.notes' | translate }}</label>
				<div class="col-sm-3">
					<input type="text" data-ng-model="formData.notes">
				</div>
			</div>
			<div data-ng-show="typeCodeValue.codeValue=='Private'">
				<div class="form-group">
					<label class="control-label col-sm-2" for="serviceCode">{{'label.iptype' | translate }}</label>
						<div class="col-sm-3">
    						<select data-ng-model="formData.type"  data-ng-options="ipType.id as ipType.mCodeValue for ipType in codeValueDatas">
       							<option value="">{{'label.select.one' | translate}}</option>
    						</select>
						</div>
				</div>
				<div class="control-group">
					<label class="control-label col-sm-2" for="subnet">{{'label.ippooling.subnet' | translate }}</label>
						<div class="col-sm-3">
						 <input type="text" id="subnet" data-ng-model="formData.subnet">
					   </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="description">{{'label.ippooling.description' | translate }}</label>
					<div class="col-sm-3">
					 <input type="text" id="description" data-ng-model="formData.ipPoolDescription">
					</div>
			   </div>
			</div>
			<div class="col-md-offset-6">
				<a href="#/ipPooling"><button id="cancel" type="reset" class="btn btn-warning">Cancel</button></a>
				<button id="submit" type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
			</div>

		</fieldset>
	</form>
	</div>
	</div>
</div>
