<div class="content-container" ng-controller="EditSchedulerJobController">
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li><a href="#/jobs">{{'label.anchor.manageschedulerjobs' | translate}}</a></li>
        <li><a href="#/viewschedulerjob/{{job.jobId}}">{{job.displayName}}</a></li>
        <li class="active">{{'label.anchor.editschedulerjob' | translate}}</li>
    </ul>
    <api-validate></api-validate>
    <div class="widget ">
        <form class="form-horizontal" ng-submit="submit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{ 'label.input.jobname' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input id="displayName" type="text" ng-model="formData.displayName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label ">{{ 'label.input.cornexpression' | translate }}</label>
                        </div>
                            <div class="col-md-8">
                                <input id="cronExpression" type="text" ng-model="formData.cronExpression" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{ 'label.crondescritpion' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" ng-model="formData.cronDescription" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <button id="cancel" type="reset" ng-click="cancel()" class="btn btn-warning">{{'label.button.cancel' | translate}}
                    </button>
                </li>
                <li>
                    <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_SCHEDULER'>{{'label.button.save' | translate}}</button>
                </li>
            </ul>
        </form>
    </div>
</div>