<div class="content-container" ng-controller="MappingController">
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li class="active">{{'label.provisioningconfigurations' | translate}}
        </li>
    </ul>
    <div class="widget mb30">

        <div class="row align-items-center">
            <div class="col-md-3">
                <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
            </div>
        </div>

    </div>
    <div class="widget">
        <div class="content">
            <uib-tabset tabset-name="mappingconfigurationTabset">
                <uib-tab heading="{{'label.heading.provisioningdevice' | translate}}">

                    <!-- <div class="toolbar"> -->

                    <ul class="btn-group-list text-right mt20 mb20">
                        <li><a has-permission=CREATE_PLANMAPPING href="#/createhardwareplanmapping" class="btn primary_btn pull-right"><i class="fa fa-plus"></i>{{
					'button.add' | translate }}</a></li>
                    </ul>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="graybg">
                                    <!-- <th>{{'table.hardwaremapping.plancode' | translate}}</th> -->
                                    <th>{{'table.hardwaremapping.itemclass' | translate}}</th>
                                    <th>{{'table.provision.provisioningSystem' | translate}}</th>
                                    <th>{{ 'table.heading.actions' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer-main" data-ng-repeat="hardwaremappingdata in hardwaremappingdatas  | filter:filterText">
                                    <!-- <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.planCode}}</td> -->
                                    <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.itemClassName}}</td>
                                    <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.provisioningValue}}</td>
                                    <td class="pointer">
                                        <a has-permission=UPDATE_PLANMAPPING href="#/edithardwareplanmapping/{{hardwaremappingdata.id}}" uib-popover="Edit Hardware Plan" data-popover-trigger="mouseenter" class="fa fa-edit"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>
                <uib-tab heading="{{'label.heading.provisioncommand' | translate}}" select="getProvisiongCommandData()" active="provisioningCommandTab">

                    <!-- <div class="toolbar"> -->

                    <!-- <div class="col-md-6">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
				</div> -->
                    <ul class="btn-group-list text-right mt20 mb20">
                        <li><a has-permission=CREATE_PROVISIONINGSYSTEM href="#/createProvisioningmapping" class="btn primary_btn pull-right"><i class="fa fa-plus"></i>{{
					'button.add' | translate }}</a></li>
                    </ul>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="graybg">
                                    <th>{{'table.provisioningcommands.provisioningsystem' | translate}}
                                    </th>
                                    <th>{{'table.provisioningcommands.commandname' | translate}}</th>
                                    <th>{{'table.provisioningcommands.status' | translate}}</th>
                                    <th>{{ 'table.heading.actions' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer-main" data-ng-repeat="provisiongdata in provisiongsystemData  | filter:filterText">
                                    <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.provisioningSystemName}}</td>
                                    <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.commandName}}</td>
                                    <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.status}}</td>
                                    <td class="pointer">
                                        <ul class="table-icon-list">
                                            <li>
                                                <a has-permission=UPDATE_PROVISIONINGSYSTEM href="#/editProvisioningMapping/{{provisiongdata.id}}" uib-popover="Edit Provision" data-popover-trigger="mouseenter" class="fa fa-edit"></a>
                                            </li>
                                            <li>
                                                <a has-permission=DELETE_PROVISIONINGSYSTEM data-ng-click="deleteProvisioning(provisiongdata.id)" uib-popover="Delete Provision" data-popover-trigger="mouseenter" class="fa fa-times"></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>
                <!-- <uib-tab heading="{{'label.heading.eventaction' | translate}}" select="getEventActionMappingData()" active="eventActionTab">
				<div>
						<div class="toolbar">
							<div class="row">
										<div class="col-md-6">
												<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
										</div>
							<div class="col-md-6">
											<a has-permission = CREATE_EVENTACTIONMAP href="#/createeventactionmapping" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>{{ 'button.add' | translate }}</a>
										</div>
								</div>
						</div>
		</div>
				<table class="table">
						<thead>
					<tr class="graybg">
						<th>{{'table.eventactionmapping.event' | translate}}</th>
						<th>{{'table.eventactionmapping.action' | translate}}</th>
						<th>{{'table.eventactionmapping.process' | translate}}</th>
						<th>{{'label.enabled' | translate}}</th>
						<th>{{ 'table.heading.actions' | translate }}</th>
					</tr>
			</thead>
			<tbody>
					<tr data-ng-repeat="data in datas  | filter:filterText">
						<td><a href="#/vieweventactionmapping/{{data.id}}">{{data.eventName}}</a></td>
						<td>{{data.actionName}}</td>
						<td>{{data.process}}</td>
						<td data-ng-show = "data.isDeleted == 'N'">true</td>
						<td data-ng-show = "data.isDeleted == 'Y'">false</td>
						<td data-ng-show="data.isDeleted=='Y'">
								<button type="button" class="btn btn-success flag" data-ng-click="isDeletedEventAction(data.id,data.isDeleted)">
								<i class="fa fa-flag-o"></i></button></td>
						<td data-ng-show="data.isDeleted=='N'">
								<button type="button" class="btn btn-danger flag" data-ng-click="isDeletedEventAction(data.id,data.isDeleted)">
								<i class="fa fa-flag-o"></i></button></td>
							</tr>
					</tbody>
				</table>
		</uib-tab> -->
                <!-- <uib-tab heading="{{'label.heading.currencyconfig' | translate}}" select="getCurrencyConfig()" active="currencyConfigTab">
		<div>
			<form ng-submit="searchcurrency(filterText)" style="margin: 0 0 1%;">
				<div class="toolbar">
					<div class="row">
						<div class="col-md-6">
							<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
						</div>
						<div class="col-md-6">
							<a has-permission = UPDATE_CURRENCY href="#/createcurrency" class="btn primary_btn pull-right"><i class="fa fa-plus"></i> Create</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{'label.code' | translate }}</th>
					<th>{{'label.internationalnamecode' | translate }}</th>
					<th>{{'label.decimalplaces' | translate }}</th>
					<th>{{'label.countrycode' | translate }}</th>
					<th>{{'label.name' | translate }}</th>
					<th>{{'label.countryname' | translate }}</th>
					<th>{{'label.displaysymbol' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" data-ng-repeat="currency in currencies.currentPageItems  | filter:filterText">
					<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.code}}</td>
					<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.nameCode}}</td>
					<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.decimalPlaces}}</td>
					<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.countryCode}}</td>
					<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.name}}</td>
					<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.countryName}}</td>
					<td class="pointer" data-ng-click="routeTocurrency(currency.id)">{{currency.displaySymbol}}</td>
				</tr>
			</tbody>
		</table>

		<ul class="pager">
			<li class="previous"><a ng-click="currencies.previous()" href="" ng-disabled="!currencies.hasPrevious()">&larr; Prev</a></li>
			<li class="next" ><a ng-click="currencies.next()" href="" ng-disabled="!currencies.hasNext()">Next &rarr;</a></li>
		</ul>

		<div data-ng-show="hideview">

			<input  type="text" class="form-control input-xxlarge" data-ng-model="selected" placeholder="New Currency"
			typeahead="item as item.displayLabel for item in allCurrOptions | filter:$viewValue | limitTo:8" />&nbsp;&nbsp;
			<a data-ng-click='addCur()'><i class="fa fa-plus"></i></a>

			<div data-ng-repeat="currency in selectedCurrOptions">
				<input type="text" disabled="" class="form-control input-xxlarge" placeholder={{currency.displayLabel}}} />&nbsp;&nbsp;
				<a data-ng-click='deleteCur(currency.code)'><i class="fa fa-remove"></i></a>
			</div>
			<div class="offset5">
				<button id="cancel" type="reset" data-ng-click="cancel()" class="btn">Cancel</button>
				<button id="submit" type="submit" data-ng-click="submit()" class="btn btn-primary">Save</button>
			</div>
		</div>
		</uib-tab> -->
                <uib-tab heading="{{'label.heading.provisioningactions' | translate}}" select="getProvisioningActionData()" active="eventValidationTab">

                    <!-- <div class="toolbar"> -->

                    <!-- <div class="col-md-6">
									<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
			</div> -->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="graybg">
                                    <th>{{'table.provision.provisiontype' | translate}}</th>
                                    <th>{{'table.provision.action' | translate}}</th>
                                    <th>{{'table.provision.provisioningSystem' | translate}}</th>
                                    <th>{{'table.provision.isenable' | translate}}</th>
                                    <th>{{ 'table.heading.actions' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="data in provisionactionDatas  | filter:filterText">
                                    <td>{{data.provisionType}}</td>
                                    <td>{{data.action}}</td>
                                    <td>{{data.provisioningSystem}}</td>
                                    <td>{{data.isEnable}}</td>
                                    <!-- <td data-ng-show="data.isEnable =='N'">
							<button type="button" class="btn btn-success flag" data-ng-click="isDeletedForValidation(data.id,data.isEnable)">
						<i class="fa fa-flag-o"></i></button></td>
						<td data-ng-show="data.isEnable =='Y'">
							<button type="button" class="btn btn-danger flag" data-ng-click="isDeletedForValidation(data.id,data.isEnable)">
						<i class="fa fa-flag-o"></i></button></td> -->
                                    <td data-ng-show="data.isEnable =='N'">
                                        <label data-ng-click="isDeletedForValidation(data.id,data.isEnable)">
                                            <i class="fa fa-toggle-on fa-rotate-180 inactive" style="font-size: 30px; color: red"></i>
                                        </label>
                                    </td>
                                    <td data-ng-show="data.isEnable =='Y'">
                                        <label data-ng-click="isDeletedForValidation(data.id,data.isEnable)">
                                            <i class="fa fa-toggle-on active" style="font-size: 30px; color: green"></i>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>
                <!-- <uib-tab heading="{{'label.heading.modelprovisionmapping' | translate}}" select="getModelProvisionData()"  active="modelProvisionTab">
				<div>
						<div class="toolbar">
								<div class="row">
									<div class="col-md-6">
											<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
										</div>
										<div class="col-md-6">
									<a has-permission = CREATE_MODELPROVISIONMAPPING href="#/createmodelprovisionmapping" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Create</a>
								</div>
								</div>
						</div>
				</div>
				<table class="table">
			<thead>
					<tr class="graybg">
							<th>{{'label.provision' | translate}}</th>
							<th>{{'label.model' | translate}}</th>
							<th>{{'label.action' | translate}}</th>
					</tr>
			</thead>
			<tbody>
					<tr data-ng-repeat="modelProvisionData in modelProvisionDatas.currentPageItems  | filter:filterText">
								<td>{{modelProvisionData.provisioningName}}</td>
								<td>{{modelProvisionData.model}}</td>
								<td>
								<a has-permission = UPDATE_MODELPROVISIONMAPPING href="#/editmodelprovisionmapping/{{modelProvisionData.id}}"
							uib-popover="Edit Model Provision" data-popover-trigger="mouseenter" class="fa fa-edit"></a>&nbsp;
									<a has-permission = DELETE_MODELPROVISIONMAPPING data-ng-click="deleteModelProvisionMapping(modelProvisionData.id)"
								uib-popover="Delete Contract" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a>
						</td>
				</tr>
				</tbody>
		</table>
		</uib-tab> -->
                <uib-tab heading="{{'label.heading.networksystem' | translate}}" select="getNetworkSystemData()" active="networksystemTab">

                    <!-- <div class="toolbar"> -->

                    <!-- <div class="col-md-6">
									<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
			</div> -->
                    <ul class="btn-group-list text-right mt20 mb20">
                        <li><a has-permission=CREATE_NETWORKSYSTEM href="#/createnetworksystem" class="btn primary_btn pull-right"><i
				class="fa fa-plus"></i>{{ 'button.add' | translate }}</a></li>
                    </ul>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="graybg">
                                    <th>{{'table.provision.SystemCode' | translate}}</th>
                                    <th>{{'table.provision.SystemName' | translate}}</th>
                                    <th>{{'table.provision.Status' | translate}}</th>
                                    <th>{{'table.heading.actions' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer-main" data-ng-repeat="networkelement in networkelements.currentPageItems  | filter:filterText">
                                    <!-- <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.planCode}}</td> -->
                                    <td class="pointer" data-ng-click="routeToNetworkElement(networkelement.id)">{{networkelement.systemcode}}</td>
                                    <td class="pointer" data-ng-click="routeToNetworkElement(networkelement.id)">{{networkelement.systemname}}</td>
                                    <td class="pointer" data-ng-click="routeToNetworkElement(networkelement.id)">{{networkelement.status}}</td>
                                    <td class="pointer">
                                        <a has-permission=UPDATE_NETWORKSYSTEM href="#/editNetworkSystem/{{networkelement.id}}" uib-popover="Edit NetworkSystem" data-popover-trigger="mouseenter" class="fa fa-edit"></a>
                                        <a has-permission=DELETE_NETWORKSYSTEM data-ng-click="deletenetworksystem(networkelement.id)" uib-popover="Delete NewtwokSystem" data-popover-trigger="mouseenter" class="fa fa-times"></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr data-ng-repeat="data in networksystemDatas  | filter:filterText">
                                    <td>{{data.SystemCode}}</td>
                                    <td>{{data.SystemName}}</td>
                                    <td>{{data.Status}}</td>
                                    <!-- <td>{{data.isEnable}}</td>
					<td data-ng-show="data.isEnable =='N'">
						<button type="button" class="btn btn-success flag" data-ng-click="isDeletedForValidation(data.id,data.isEnable)">
					<i class="fa fa-flag-o"></i></button></td>
					<td data-ng-show="data.isEnable =='Y'">
						<button type="button" class="btn btn-danger flag" data-ng-click="isDeletedForValidation(data.id,data.isEnable)">
					<i class="fa fa-flag-o"></i></button></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <script type="text/ng-template" id="provision.html">
        <div class="modal-header silver">
            <h3 class="bolder">Delete Provision Command</h3>
        </div>
        <div class="modal-body ">
            <h4 class="text-center">Are you sure?</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="networksystem.html">
        <div class="modal-header silver">
            <h3 class="bolder">Delete Network System </h3>
        </div>
        <div class="modal-body">
            <h4 class="text-center">Are you sure?</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="sortby.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.edit.sortby' | translate}}</h3>
        </div>
        <div class="modal-body">
            <api-validate></api-validate>
            <h3><label class="control-label" for="sortBy">{{'label.sort.by' | translate}}&nbsp;</label></h3>
            <div class="controls">
                <input type="text" id="sortBy" ng-model="formData.sortBy">
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="approveDeleteService()">{{'button.save' | translate}}</button>
        </div>
    </script>
</div>