<div class="content-container" ng-controller="AddressTreeviewController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li><a href="#/addressmanage">{{'label.manageaddresses' | translate}}</a></li>
        <li class="active">{{'label.countrylist' | translate}}</li>
    </ul>
    <div class="widget mb30">
        <div class="row">
            <div class="col-md-12">
                <ul class="btn-group-list text-right">
                    <li> <a href="#/addressmanage" class="btn primary_btn"><i class="fa fa-list"></i>{{'label.listview' | translate}}</a></li>
                    <li>
                        <button has-permission="CREATE_LOCATION" type="button" class="btn primary_btn" ng-click="addCountry()">
                            <i class="fa fa-plus"></i>{{'label.addcountry' | translate}}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="widget">
        <div class="content">
            <!-- <div class="toolbar"> -->
            <div data-angular-treeview="true" data-tree-id="treeview" data-tree-model="treedata" data-node-id="id" data-node-label="name" data-node-children="children">
            </div>
            <!-- </div> -->
            <div data-angular-treeview="true" data-tree-id="addresstreeview" data-tree-model="treedata" data-node-id="id" data-node-label="name" data-node-children="children">
            </div>

            <ul id="context1" class="dropdown-menu">
                <li has-permission="CREATE_LOCATION"><a ng-click="addState()">Add State</a></li>
                <li has-permission="UPDATE_LOCATION"><a ng-click="editCountry()">Edit Country</a></li>
                <li has-permission="DELETE_LOCATION"><a ng-click="deleteCountry()">Delete Country</a></li>
                <li><a ng-click="serviceAvailblity('country')">Service Availablity</a></li>
            </ul>
            <ul id="context2" class="dropdown-menu">
                <li has-permission="CREATE_LOCATION"><a ng-click="addDistrict()">Add District</a></li>
                <li has-permission="UPDATE_LOCATION"><a ng-click="editState()">Edit State</a></li>
                <li has-permission="DELETE_LOCATION"><a ng-click="deleteState()">Delete State</a></li>
                <li><a ng-click="serviceAvailblity('state')">Service Availablity</a></li>
            </ul>
            <ul id="context3" class="dropdown-menu">
                <li has-permission="CREATE_LOCATION"><a ng-click="addCity()">Add City</a></li>
                <li has-permission="UPDATE_LOCATION"><a ng-click="editDistrict()">Edit District</a></li>
                <li has-permission="DELETE_LOCATION"><a ng-click="deleteDistrict()">Delete District</a></li>
                <li><a ng-click="serviceAvailblity('district')">Service Availablity</a></li>
            </ul>
            <ul id="context4" class="dropdown-menu">
                <li has-permission="UPDATE_LOCATION"><a ng-click="editCity()">Edit City</a></li>
                <li has-permission="DELETE_LOCATION"><a ng-click="deleteCity()">Delete City</a></li>
                <li><a ng-click="serviceAvailblity('city')">Service Availablity</a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addCountry.html">
    <div class="modal-header silver">
        <h3 class="bolder">Add Country</h3>
    </div>
    <form name="createcountryform" novalidate="" class="form-horizontal">
        <api-validate></api-validate>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityCode">Country Code<span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="countryCode" id="countryCode" ng-model="formData.entityCode" class="form-control" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}" />
                    <span data-ng-show="createcountryform.countryCode.$dirty && createcountryform.countryCode.$invalid">
                <small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
              </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityName">Country Name<span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="countryName" id="countryName" class="form-control" ng-model="formData.entityName" placeholder="enter name here" />
                </div>
            </div>
            <!-- <div class="form-group">
               <label class="control-label col-sm-4" for="dialingCode">Dialing Code<span class="required">*</span></label>
         <div class="col-sm-4">
                  <input type="text" name="dialingCode" id="dialingCode" class="form-control" ng-model="formData.entitydialingCode" placeholder="enter name here" /><br>
               </div>
          </div> -->
        </div>
        <div class="modal-footer">
            <ul class="btn-group-list text-right">
                <li>
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                </li>
                <li>
                    <button id="submit" ng-click="submit()" data-ng-disabled="createcountryform.$dirty && createcountryform.$invalid" class="btn btn-primary">{{'label.confirm' | translate}}</button>
                </li>
            </ul>
        </div>
    </form>
</script>
<script type="text/ng-template" id="editCountry.html">
    <div class="modal-header silver">
        <h3 class="bolder">Edit Country</h3>
    </div>
    <form name="editcountryform" novalidate="" class="form-horizontal">
        <api-validate></api-validate>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityCode">Country Code<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="countryCode" id="countryCode" class="form-control" ng-model="formData.entityCode" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}" />
                    <br>
                    <span data-ng-show="editcountryform.countryCode.$dirty && editcountryform.countryCode.$invalid">
                  <small class ="error-row">{{'error.code.definition.length.validation'| translate}}</small>
                </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityName">Country Name<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="countryName" id="countryName" class="form-control" ng-model="formData.entityName" placeholder="enter name here" />
                </div>
            </div>
            <!-- <div class="form-group">
               <label class="control-label col-sm-4" for="entitydialingCode">Dialing Code<span class="required">*</span>:</label>
         <div class="col-sm-4">
                  <input  type="text" name="dialingCode" id="dialingCode" class="form-control" ng-model="formData.entityDialingCode" placeholder="enter name here" /><br>
               </div>
          </div> -->
        </div>
        <div class="modal-footer">
            <ul class="btn-group-list text-right">
                <li>
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                </li>
                <li>
                    <button id="submit" ng-click="submit()" data-ng-disabled="editcountryform.$dirty && editcountryform.$invalid" class="btn btn-primary">{{'label.confirm' | translate}}</button>
                </li>
            </ul>
        </div>
    </form>
</script>
<script type="text/ng-template" id="deleteCountry.html">
    <div class="modal-header silver">
        <h3 class="bolder">Delete Country</h3>
    </div>
    <div class="modal-body">
        <h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
        <ul class="btn-group-list text-right">
            <li>
                <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            </li>
            <li>
                <button class="btn btn-primary" ng-click="approveDeleteCountry()">{{'label.confirm' | translate}}</button>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="serviceAvailblity.html">
    <div class="modal-header silver">
        <h3 class="bolder">SERVICES</h3>
    </div>

    <div class="form-group row">
        <div class="col-md-4">
            <label class="control-label" for="entityName">Services<span class="required">*</span>:</label>
        </div>
        <div class="col-md-8">
            <div data-ng-repeat="service in services">
                <div class="form-check-inline">
                    <input type="checkbox" ng-model="service.checked" ng-true-value="true" ng-false-value="false" ng-change="serviceSelected(service)">
                    <div class="pointer">{{service.serviceDescription}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <ul class="btn-group-list text-right">
            <li>
                <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            </li>
            <li>
                <button id="submit" ng-click="submit()" class="btn btn-primary">{{'label.confirm' | translate}}</button>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="addState.html">
    <div class="modal-header silver">
        <h3 class="bolder">Add State</h3>
    </div>
    <form name="createstateform" novalidate="" class="form-horizontal">
        <api-validate></api-validate>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityCode">State Code<span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="stateCode" id="stateCode" ng-model="formData.entityCode" class="form-control" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}" />
                    <br>
                    <span data-ng-show="createstateform.stateCode.$dirty && createstateform.stateCode.$invalid">
              <small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
            </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityName">State Name<span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="stateName" id="stateName" class="form-control" ng-model="formData.entityName" placeholder="enter name here" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="country">For This Country </label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="nodeName" readonly/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <ul class="btn-group-list text-right">
                <li>
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                </li>
                <li>
                    <button id="submit" ng-click="submit()" data-ng-disabled="createstateform.$dirty && createstateform.$invalid" class="btn btn-primary"> {{'label.confirm' | translate}}</button>
                </li>
            </ul>
        </div>
    </form>
</script>
<script type="text/ng-template" id="editState.html">
    <div class="modal-header silver">
        <h3 class="bolder">Edit State</h3>
    </div>
    <form name="editstateform" novalidate="" class="form-horizontal">
        <api-validate></api-validate>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityCode">State Code<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="stateCode" id="stateCode" ng-model="formData.entityCode" placeholder="enter code here" class="form-control" data-ng-maxlength="{{'code' | CodeValidate}}" />
                    <span data-ng-show="editstateform.stateCode.$dirty && editstateform.stateCode.$invalid">
            <small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
          </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityName">State Name<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="stateName" id="stateName" class="form-control" ng-model="formData.entityName" placeholder="enter name here" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <ul class="btn-group-list text-right">
                <li>
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                </li>
                <li>
                    <button id="submit" ng-click="submit()" data-ng-disabled="editstateform.$dirty && editstateform.$invalid" class="btn btn-primary" ng-disabled="!editstateform.$valid">{{'label.confirm' | translate}}</button>
                </li>
            </ul>
        </div>
    </form>
</script>
<script type="text/ng-template" id="deleteState.html">
    <div class="modal-header silver">
        <h3 class="bolder">Delete State</h3>
    </div>
    <div class="modal-body" modal-middle>
        <h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
        <ul class="btn-group-list text-right">
            <li>
                <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            </li>
            <li>
                <button class="btn btn-primary" ng-click="approveDeleteState()">{{'label.confirm' | translate}}</button>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="addDistrict.html">
    <div class="modal-header silver">
        <h3 class="bolder">Add District</h3>
    </div>
    <form name="createdistrictform" novalidate="" class="form-horizontal">
        <api-validate></api-validate>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label " for="entityCode">District Code<span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="districtCode" id="districtCode" ng-model="formData.entityCode" class="form-control" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}" />
                    <span data-ng-show="createdistrictform.districtCode.$dirty && createdistrictform.districtCode.$invalid">
            <small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
          </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityName">District Name<span class="required">*</span></label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="districtName" id="districtName" class="form-control" ng-model="formData.entityName" placeholder="enter name here" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label " for="state">For This State </label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="nodeName" readonly/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <ul class="btn-group-list text-right">
                <li>
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                </li>
                <li>
                    <button id="submit" ng-click="submit()" data-ng-disabled="createdistrictform.$dirty && createdistrictform.$invalid" class="btn btn-primary"> {{'label.confirm' | translate}}</button>
                </li>
            </ul>
        </div>
    </form>
</script>
<script type="text/ng-template" id="editDistrict.html">
    <div class="modal-header silver">
        <h3 class="bolder">Edit State</h3>
    </div>
    <form name="editdistrictform" novalidate="" class="form-horizontal">
        <api-validate></api-validate>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityCode">District Code<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="districtCode" id="districtCode" ng-model="formData.entityCode" placeholder="enter code here" class="form-control" data-ng-maxlength="{{'code' | CodeValidate}}" />
                    <br>
                    <span data-ng-show="editdistrictform.districtCode.$dirty && editdistrictform.districtCode.$invalid">
            <small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
          </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label col-sm-4" for="entityName">District Name<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="districtName" id="districtName" class="form-control" ng-model="formData.entityName" placeholder="enter name here" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <ul class="btn-group-list text-right">
                <li>
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>ton>
                </li>
                <li>
                    <button id="submit" ng-click="submit()" data-ng-disabled="editdistrictform.$dirty && editdistrictform.$invalid" class="btn btn-primary" ng-disabled="!editdistrictform.$valid">{{'label.confirm' | translate}}</button>
                </li>
            </ul>
        </div>
    </form>
</script>
<script type="text/ng-template" id="deleteDistrict.html">
    <div class="modal-header silver">
        <h3 class="bolder">Delete District</h3>
    </div>
    <div class="modal-body">
        <h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
        <ul class="btn-group-list text-right">
            <li>
                <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            </li>
            <li>
                <button class="btn btn-primary" ng-click="approveDeleteDistrict()">{{'label.confirm' | translate}}</button>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="addCity.html">
    <div class="modal-header silver">
        <h3 class="bolder">Add City</h3>
    </div>
    <form name="createcityform" novalidate="" class="form-horizontal">
        <api-validate></api-validate>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityCode">City Code<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="cityCode" id="cityCode" ng-model="formData.entityCode" class="form-control" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}" />
                    <span data-ng-show="createcityform.cityCode.$dirty && createcityform.cityCode.$invalid">
                    <small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
                  </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="entityName">City Name<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="cityName" id="cityName" class="form-control" ng-model="formData.entityName" placeholder="enter name here" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="district">For This District :</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="nodeName" readonly/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <ul class="btn-group-list text-right">
                <li>
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                </li>
                <li>
                    <button id="submit" ng-click="submit()" data-ng-disabled="createcityform.$dirty && createcityform.$invalid" class="btn btn-primary"> {{'label.confirm' | translate}}</button>
                </li>
            </ul>
        </div>
    </form>
</script>
<script type="text/ng-template" id="editCity.html">
    <div class="modal-header silver">
        <h3 class="bolder">Edit City</h3>
    </div>
    <form name="editcityform" novalidate="" class="form-horizontal">
        <api-validate></api-validate>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">City Code<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="cityCode" id="cityCode" ng-model="formData.entityCode" placeholder="enter code here" class="form-control" data-ng-maxlength="{{'code' | CodeValidate}}" />
                    <span data-ng-show="editcityform.cityCode.$dirty && editcityform.cityCode.$invalid">
            <small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
          </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">City Name<span class="required">*</span>:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="cityName" id="cityName" class="form-control" ng-model="formData.entityName" placeholder="enter name here" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <ul class="btn-group-list text-right">
                <li>
                    <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                </li>
                <li>
                    <button id="submit" ng-click="submit()" data-ng-disable="editcityform.$dirty && editcityform.$invalid" class="btn btn-primary" ng-disabled="!editcityform.$valid">{{'label.confirm' | translate}}</button>
                </li>
            </ul>
        </div>
    </form>
</script>

<script type="text/ng-template" id="deleteCity.html">
    <div class="modal-header silver">
        <h3 class="bolder">Delete City</h3>
    </div>
    <div class="modal-body" modal-middle>
        <h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
        <ul class="btn-group-list text-right">
            <li>
                <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            </li>
            <li>
                <button class="btn btn-primary" ng-click="approveDeleteCity()">{{'label.confirm' | translate}}</button>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="countryAlert.html">
    <div class="modal-header silver">
        <h3 class="bolder">Warning</h3>
    </div>
    <div class="modal-body" modal-middle>
        <i class="icon-warning-sign error"></i>Unable to delete <span style='color:blue;font-size:15px;'>
              <strong>"{{countryName}}"</strong></span>,it seems have some states.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="approve()">ok</button>
    </div>
</script>
<script type="text/ng-template" id="stateAlert.html">
    <div class="modal-header silver">
        <h3 class="bolder">Warning</h3>
    </div>
    <div class="modal-body" modal-middle>
        <i class="icon-warning-sign error"></i>Unable to delete <span style='color:blue;font-size:15px;'>
              <strong>"{{stateName}}"</strong></span>,it seems have some districts.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="approve()">ok</button>
    </div>
</script>
<script type="text/ng-template" id="districtAlert.html">
    <div class="modal-header silver">
        <h3 class="bolder">Warning</h3>
    </div>
    <div class="modal-body" modal-middle>
        <i class="icon-warning-sign error"></i>Unable to delete <span style='color:blue;font-size:15px;'>
              <strong>"{{districtName}}"</strong></span>,it seems have some cities.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="approve()">ok</button>
    </div>
</script>

</div>