<div class="content-container" data-ng-controller="CreateEventController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li><a href="#/mediadetailseventpricing">{{'label.mediadetailseventpricing' | translate}}</a></li>
        <li class="active">{{'label.createevent' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.createevent' | translate}}</h3>
        <form name="createeventform" class="form-horizontal" data-ng-submit="submit()">
            <api-validate></api-validate>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="eventName">{{'label.eventcode' | translate }} </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="eventName" class="form-control" name="eventName" data-ng-model="formData.eventName" data-ng-maxlength="{{'code' | CodeValidate }}" required data-late-Validate>
                            <span data-ng-show="createeventform.eventName.$dirty && createeventform.eventName.$invalid">
							<small class="error" data-ng-show="createeventform.eventName.$error.maxlength">{{'error.eventname.definition.length.validation'| translate}}</small>
						</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="eventDescription"> {{'label.eventdescription' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="eventDescription" data-ng-model="formData.eventDescription">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="eventCategory">{{'label.eventcategory' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select id="eventcategory" class="form-control" data-ng-model="formData.eventCategory" data-ng-options="eventCategeorydata.mCodeValue as eventCategeorydata.mCodeValue for eventCategeorydata in eventCategeorydatas">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="chargeCode"> {{'label.chargedata' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select data-ng-model="formData.chargeCode" class="form-control" data-ng-options="chargeData.chargeCode as chargeData.chargeDescription for chargeData in chargeData">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="eventStartDate"> {{'label.startdate' | translate }}</label>
                            </div>
                            <div class="col-md-8">
                                <!-- <input type="text" id="eventStartDate" ng-model="formData.eventStartDate"> -->
                                <input type="text" class="form-control" data-ng-hide="formData.eventCategory == 'Live Event'" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.startDate" data-is-open="opened" min="minDate" max="maxDate" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" readonly/>
                                <input type="text" class="form-control" data-ng-show="formData.eventCategory == 'Live Event'" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.startDate" data-is-open="opened" min="minDate" max="maxDate" data-date-disabled="disabled(date, mode)" style="width:130px;background-color:#FFFFFF;" readonly/>
                                <input id="timepicker1" class="form-control" data-ng-show="formData.eventCategory == 'Live Event'" type="text" readonly data-ng-model="first.starttime" style="width:60px;background-color:#FFFFFF;">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="eventEndDate">{{'label.enddate' | translate }}</label>
                            </div>
                            <div class="col-md-8">
                                <!-- <input type="text" id="eventEndDate" ng-model="formData.eventEndDate"> -->
                                <input type="text" class="form-control" data-ng-hide="formData.eventCategory == 'Live Event'" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.eventEndDate" data-is-open="opened2" min="minDate" max="'2020-06-22'" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" readonly/>
                                <input type="text" class="form-control" data-ng-show="formData.eventCategory == 'Live Event'" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.eventEndDate" data-is-open="opened2" min="minDate" max="'2020-06-22'" data-date-disabled="disabled(date, mode)" style=" background-color:#FFFFFF;" readonly/>
                                <input id="timepicker2" class="form-control" data-ng-show="formData.eventCategory == 'Live Event'" type="text" readonly data-ng-model="first.endtime" style="background-color:#FFFFFF;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="eventValidity"> {{'label.eventvalidity' | translate }}</label>
                            </div>
                            <div class="col-md-8">
                                <!-- <input type="text" id="eventValidity" ng-model="formData.eventValidity"> -->
                                <input type="text" class="form-control" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.eventValidity" data-is-open="opened2" min="minDate" max="'2020-06-22'" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" readonly/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="status">{{'label.status' | translate }}</label>
                            </div>
                            <div class="col-md-8">
                                <select data-ng-model="formData.status" class="form-control" data-ng-options="eventStatus.id as eventStatus.value for eventStatus in eventStatus"></select>
                            </div>
                        </div>
                    </div>
                </div>
   

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{ 'label.availablemedia'| translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select multiple data-ng-model="allowed" class="form-control multiselectmin" multiple>
                                <option data-ng-repeat="availableService in availableServices" value="{{availableService.mediaId}}">{{availableService.mediaTitle}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">{{ 'label.selectedmedia' |translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select multiple data-ng-model="restricted" class="form-control multiselectmin" multiple>
                                <option data-ng-repeat="selectedService in selectedServices">{{selectedService.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="btn-group-list text-center mt20 mb20">
                <li>
                    <button type="button" class="btn btn-primary" data-ng-click="allow()">
                        <i class="fa fa-angle-double-left"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" data-ng-click="restrict()">
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </li>
            </ul>

            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/mediadetailseventpricing">
                        <button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" data-ng-disabled="createeventform.$dirty && createeventform.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
                </li>
            </ul>

        </form>
    </div>
</div>