<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/offices">{{'label.BusinessUnit' | translate}}</a></li>
        <li class="active">{{'label.createorganization' | translate}}</li>
    </ul>
    <div class="widget">
          <h3>{{'label.createorganization' | translate}}</h3>
        <form name="createofficeform" novalidate="" class="form-horizontal" ng-controller="CreateOfficeController"
                  rc-submit="submit()">
                  <api-validate></api-validate>
             <!-- <div uib-alert type="danger" ng-show=" errorDetails.length > 0">
                 <label><i class="fa fa-exclamation-circle"></i>Organization is not Creating</label>
                 <div ng-repeat="error in errorDetails"><label>{{error.code | translate:error.args}}</label></div>
            </div> -->
            <div uib-alert type="danger" ng-show="errorStatus || errorDetails.length > 0">
        		 		<label><i class="fa fa-exclamation-circle viewbgclient-t-actions"></i>field is required</label>
        		 		<div ng-repeat="error in errorDetails"><label>{{error.code | translate:error.args}}</label></div>
        			</div>
      			  <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                     <div class="col-md-4">
                       <label class="control-label">{{ 'label.orgopenedon' | translate }}<span class="required">*</span></label>
                     </div>
                       <div class="col-md-8">
                           <input id="openingDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date"class="form-control" is-open="opened" min="minDate" max="restrictDate"/>
                       </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                     <div class="col-md-4">
                       <label class="control-label" for="email">{{'label.email' | translate}}<span class="required">*</span></label>
                     </div>
                       <div class="col-md-8">
                            <input type="text" id="email" name="email" class="form-control" data-ng-model="formData.email"/>
                       </div>
                  </div>
                </div>
              </div>

               <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                     <div class="col-md-4">
                       <label class="control-label">{{ 'label.orgname' | translate }}<span class="required">*</span></label>
                     </div>
                       <div class="col-md-8">
                           <input id="name" type="text" name="name" ng-model="formData.name" class="form-control" />
                       </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                     <div class="col-md-4">
                      <label class="control-label">{{'label.addressname' | translate}}<span class="required">*</span></label>
                     </div>
                       <div class="col-md-8">
                            <input type="text" id="addressName" name="addressName" class="form-control" data-ng-model="formData.addressName"/>
                       </div>
                  </div>
                </div>
              </div>
      
             <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                     <div class="col-md-4">
                      <label class="control-label ">{{ 'label.orgtype' | translate }} <span class="required">*</span></label>
                     </div>
                       <div class="col-md-8">
                         <select data-ng-model="formData.officeType"  class="form-control"data-ng-options="officeType.name as officeType.name for officeType in officeTypes" ng-change="officeTypeChangFun()"></select>
                       </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                     <div class="col-md-4">
                       <label class="control-label" for="city">{{'label.city/area' | translate}}<span class="required">*</span></label>
                     </div>
                       <div class="col-md-8">
                              <input type="text" id="city" name="city" class="form-control" data-ng-model="formData.city" autocomplete="off" list ="citylist" required data-ng-change="getStateAndCountry(formData.city)"/>
                       </div>
                        <datalist id="citylist">
                           <option  data-ng-repeat="city in cities" value="{{city}}">
                       </datalist>
                  </div>
                </div>
              </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                       <div class="col-md-4">
                        <label class="control-label">{{ 'label.parentorg' | translate }}<span class="required">*</span></label>
                      </div>
                      <div class="col-md-8">
                        <select id="parentId" ng-model="formData.parentId" class="form-control" ng-options="office.id as office.name for office in offices" value="{{office.id}}"></select>
                      </div>
                    </div>
                  </div>
                   <div class="col-md-6">
                    <div class="form-group row">
                       <div class="col-md-4">
                       <label class="control-label" for="district">{{'label.district' | translate}}<span class="required">*</span></label>
                      </div>
                      <div class="col-md-8">
                          <input type="text" id="district" class="form-control" data-ng-model="formData.district"/>
                      </div>
                    </div>
                  </div>
                </div>

                 <div class="row">
                   <div class="col-md-6">
                    <div class="form-group row">
                       <div class="col-md-4">
                         <label class="control-label">{{ 'label.businesstype' | translate }}</label>
                      </div>
                        <div class="col-md-8">
                          <!-- <select data-ng-model="formData.bussinessType"  class="form-control"
                              data-ng-options="bussinessType.id as bussinessType.name for bussinessType in bussinessTypes"></select> -->
                          <select data-ng-model="formData.businessType"  class="form-control"
                                  data-ng-options="businessType.mCodeValue as businessType.mCodeValue for businessType in businessTypes">
                                  <option value="">{{'label.select.one' | translate}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                     <div class="col-md-6">
                      <div class="form-group row">
                        <div class="col-md-4">
                           <label class="control-label" for="state">{{'label.state' | translate}}<span class="required">*</span></label>
                       </div>
                      <div class="col-md-8">
                        <input type="text" id="state" class="form-control" data-ng-model="formData.state"/>
                      </div>
                  </div>
                </div>
              </div>

            <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-4">
                        <label class="control-label" for="contactPerson">{{ 'label.contactperson' | translate }}</label>
                      </div>
                     <div class="col-md-8">
                            <input type="text" id="contactPerson" name="contactPerson" data-ng-model="formData.contactPerson" class="form-control">
                      </div>
                    </div>
                  </div>
                 <div class="col-md-6">
                   <div class="form-group row">
                     <div class="col-md-4">
                      <label class="control-label" for="country">{{'label.country' | translate}}<span class="required">*</span></label>
                    </div>
                      <div class="col-md-8">
                          <input type="text" id="country" name="country" class="form-control" data-ng-model="formData.country"/>
                        </div>
                  </div>
                </div>
              </div>
                  
                <div class="row">
                  <div class="col-md-6">
                 	  <div class="form-group row">
                      <div class="col-md-4">
                         <label class="control-label" for="phoneNumber">{{'label.phonenumber' | translate}}<span class="required">*</span></label>
                    </div>
                   <div class="col-md-8">
                        <input type="text" id="phoneNumber" data-ng-model="formData.phoneNumber" class="form-control" name="phoneNumber" maxlength="15"/>
                      </div>
                            <!-- <div data-ng-show="createofficeform.phoneNumber.$dirty && createofficeform.phoneNumber.$invalid">
                                <small class="error" data-ng-show="createofficeform.phoneNumber.$error.pattern">{{'label.prospect.error.mobileno' | translate}}</small>
                          </div> -->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                      <div class="col-md-4">
                          <label class="control-label" for="zip">{{ 'label.zip' | translate }}<span class="required">*</span></label>
                      </div>
                      <div class="col-md-8">
                            <input type="text" id="zip" name="zip" data-ng-model="formData.zip" class="form-control"/>
                      </div>
                  </div>
                </div>
              </div>
                  
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <div class="col-md-4">
                         <label class="control-labe" >{{ 'label.PANCARD No' | translate }}<span class="required">*</span></label>
                       </div>
                        <div class="col-md-8">
                              <input type="text" id="pancardNo" name="pancardNo" data-ng-model="formData.pancardNo" class="form-control">
                        </div>
                      </div>
                    </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                         <div class="col-md-4">
                           <label class="control-label" for="file"> {{'label.client.select.logo' | translate}}</label>
                        </div>
                          <div class="col-md-8">
                            <input type="file" data-ng-file-select="onFileSelect($files)">
                          </div>
                         </div>
                       </div>
                     </div>
                    <div class="row">
                        <div class="col-md-6">
                         <div class="form-group row">
                            <div class="col-md-4">
                              <label class="control-label" >{{ 'label.GST Reg No' | translate }}<span class="required">*</span></label>
                            </div>
                         <div class="col-md-8">
                                <input type="text" id="gstRegNo" name="gstRegNo" data-ng-model="formData.gstRegNo" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                         <div class="col-md-4">
                          <label class="control-label" >{{ 'label.Company Reg No' | translate }}<span class="required">*</span></label>
                        </div>
                         <div class="col-md-8">
                            <input type="text" id="companyRegNo" name="companyRegNo" data-ng-model="formData.companyRegNo" class="form-control"/>
                          </div>
                      </div>
                    </div>
                  </div>
                  
               <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-4">
                        <label class="control-label">{{ 'label.Commission Model' | translate }}<span class="required">*</span></label>
                    </div>
                       <div class="col-md-8">
                        <select id="commisionModel" class="form-control" name="commisionModel" data-ng-model="formData.commisionModel ">
                              <option>PostPaid</option>
                                <option>Prepaid</option>
                      </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group row">
                      <div class="col-md-4">
                        <label class="control-label" >{{ 'label.PaymentType' | translate }}</label>
                      </div>
                        <div class="col-md-8">
                            <select ng-model="formData.payment" class="form-control" ng-options="payment for payment in payments">
                                <option value="">--select search--</option>
                            </select>
                        </div>
                  </div>
                </div>
              </div>

               <div class="row">
                <div class="col-md-6">
                   <div class="form-group row">
                      <div class="col-md-4">
                        <label class="control-label" style="margin-top:10px" for="isSelector">{{ 'label.Subscriber Dues' | translate }}</label>
                    </div>
                      <div class="col-md-8">
                                <label class="checkbox">
                                  <input type="checkbox" id="subscriberdues"  data-ng-model="formData.subscriberdues">
                                </label>
                          </div>
                        </div>
                      </div>

                       <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                              <label class="control-label">{{ 'label.segmentType' | translate }}</label>
                          </div>
                        <div class="col-md-8">
                          <select data-ng-model="formData.dasType"  class="form-control"
                                  data-ng-options="segmentType.id as segmentType.name for segmentType in segmentTypes">
                                  <option value="">{{'label.select.one' | translate}}</option>
                          </select>
                        </div>
                  </div>  
                  </div>  
                </div>    
                  <!-- <div class="form-group">
                       <label class="control-label">{{'label.addressname' | translate}}<span class="required">*</span></label>
                      <div class="col-sm-3">
                            <input type="text" id="addressName" name="addressName" class="form-control" data-ng-model="formData.addressName"
                                required data-late-Validate/>
                            <span  data-ng-show="createofficeform.addressName.$invalid">
                               <small class="error" data-ng-show="createofficeform.addressName.$error.req">
                                {{'label.required.field' | translate}}
                                </small>
                            </span>
                      </div>
                    </div> -->
                  
                  <!-- <div class="form-group">
                      <label class="control-label" for="city">{{'label.city/area' | translate}}<span class="required">*</span></label>
                      <div class="col-sm-3">
                            <input type="text" id="city" name="city" class="form-control" data-ng-model="formData.city" required data-ng-change="getStateAndCountry(formData.city)"/>  
                      </div>
                      <datalist id="citylist">
                           <option  data-ng-repeat="city in cities" value="{{city}}">
                         </datalist>
                    </div> -->
                    
                    <!-- <div class="form-group">
                       <label class="control-label" for="state">{{'label.state' | translate}}<span class="required">*</span></label>
                      <div class="col-sm-3">
                        <input type="text" id="state" class="form-control" data-ng-model="formData.state" disabled required/>
                      </div>
                    </div> -->
                    
                <!--  <div class="form-group">
                      <label class="control-label" for="country">{{'label.country' | translate}}<span class="required">*</span></label>
                      <div class="col-sm-3">
                        <input type="text" id="country" name="country" class="form-control" data-ng-model="formData.country" disabled required />
                      </div>
                    </div> -->
                    
                    <!-- <div class="form-group">
                      <label class="control-label" for="phoneNumber">{{'label.phonenumber' | translate}}<span class="required">*</span></label>
                      <div class="col-sm-3">
                        <input type="text" id="phoneNumber" data-ng-model="formData.phoneNumber" class="form-control" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" name="phone" maxlength="15" required  data-late-Validate/>
                            <div data-ng-show="createofficeform.phoneNumber.$dirty && createofficeform.phoneNumber.$invalid">
                                <small class="error" data-ng-show="createofficeform.phoneNumber.$error.pattern">{{'label.prospect.error.mobileno' | translate}}</small>
                          </div>
                      </div>
                     </div> -->
                     
                   <!--    <div class="form-group">
                      <label class="control-label" for="email">{{'label.email' | translate}}
                      <span class="required">*</span></label>
                      <div class="col-sm-3">
                        <input type="text" id="email" class="form-control" data-ng-model="formData.email"/>
                      </div>business
                    </div>  -->
                    
                    <!-- <div class="form-group">
                      <label class="control-label" for="file">{{'label.client.select.logo' | translate}}</label>
                      <div class="col-sm-3">
                        <input type="file" data-ng-file-select="onFileSelect($files)">
                      </div>
                    </div> -->
                  <ul class="btn-group-list text-right mt20 mb20">
                    <li>
                      <a id="cancel" href="#/offices">
                          <button type="reset" class="btn btn-warning">{{'label.button.cancel' | translate}}</button>
                      </a>
                    </li>
                    <li>
                      <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_OFFICE'>{{'label.button.save' | translate}}</button>
                    </li>
                  </ul>
            </form>
        </div>
    </div>