<div class="content-container" data-ng-controller="CreateNasController">
	<ul class="breadcrumb">
    	<li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li><a href="#/radius">{{'label.radius' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.createnas' | translate}}</li>
    </ul>
  
  <div class="card">
    	<div class="content">
    	  <div class="toolbar">
    		<h3>{{'label.createnas' | translate}}</h3>
    	  </div>
	<form name="createnasform" novalidate="" class="form-horizontal well" data-ng-submit="submit()">
	  <api-validate></api-validate>
        <fieldset>
          <table data-ng-if="radiusVersion=='version-1'">
					<tr>
						<td>
								<div class="control-group">
           					 	<label class="control-label" for="shortname">{{'label.heading.shortname' | translate}}<span class="required">*</span></label>
            					<div class="controls">
             					 <input type="text" id="shortname" name="shortname" data-ng-model="formData.shortname" required data-late-Validate><br/>
             					 <span  data-ng-show="createnasform.shortname.$invalid || createnasform.shortname.$dirty">
                                 <small class="error" data-ng-show="createnasform.shortname.$error.req">{{'label.required.field' | translate}}</small></span>
           						</div>
         						</div>	
							</td>
						</tr>
						<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="ipaddress">Ip Address<span class="required">*</span></label>
            					<div class="controls">
             					 <input type="text" id="nasname" name="nasname" data-ng-model="formData.nasname" required data-late-Validate><br/>
             					 <span  data-ng-show="createnasform.nasname.$invalid || createnasform.nasname.$dirty" >
                                 <small class="error" data-ng-show="createnasform.nasname.$error.req">{{'label.required.field' | translate}}</small></span>
            					</div>
          						</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="secret">Secret<span class="required">*</span></label>
            					<div class="controls">
              					<input type="text" id="secret" name="secret" data-ng-model="formData.secret" required data-late-Validate><br/>
              					<span  data-ng-show="createnasform.secret.$invalid || createnasform.secret.$dirty">
                                 <small class="error" data-ng-show="createnasform.secret.$error.req">{{'label.required.field' | translate}}</small></span>
           						 </div>
          						</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="description">{{ 'label.description' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="description" data-ng-model="formData.description">
            					</div>
          						</div>
							</td>
						</tr>
							<tr>
								<td align="right" colspan="2">
									<div>
                        				<a href="#/radius"><button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a>
                         				<button id="submit" type="submit" data-ng-disabled="!createnasform.$valid" class="btn btn-primary">{{'button.save'| translate}}</button>
                       				</div>
								</td>
							</tr>
					</table>
					
					
					
					
					
					
			<table data-ng-if="radiusVersion=='version-2'">
					<tr>
							<td>
								<div class="control-group">
           					 	<label class="control-label" for="shortname">Nas Name<span class="required">*</span></label>
            					<div class="controls">
             					 <input type="text" id="shortname" name="shortname" data-ng-model="formData.shortname" required data-late-Validate>
             					 <span  data-ng-show="createnasform.shortname.$invalid || createnasform.shortname.$dirty">
                                 <small class="error" data-ng-show="createnasform.shortname.$error.req">{{'label.required.field' | translate}}</small></span>
           						</div>
         						</div>	
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="description">{{ 'label.description' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="description" data-ng-model="formData.description">
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="ipaddress">Ip Address<span class="required">*</span></label>
            					<div class="controls">
             					 <input type="text" id="nasname" name="nasname" data-ng-model="formData.nasname" required data-late-Validate>
             					 <span  data-ng-show="createnasform.nasname.$invalid || createnasform.nasname.$dirty" >
                                 <small class="error" data-ng-show="createnasform.nasname.$error.req">{{'label.required.field' | translate}}</small></span>
            					</div>
          						</div>
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="secret">Secret<span class="required">*</span></label>
            					<div class="controls">
              					<input type="text" id="secret" name="secret" data-ng-model="formData.secret" required data-late-Validate>
              					<span  data-ng-show="createnasform.secret.$invalid || createnasform.secret.$dirty">
                                 <small class="error" data-ng-show="createnasform.secret.$error.req">{{'label.required.field' | translate}}</small></span>
           						 </div>
          						</div>
							</td>
							</tr>
							<tr>
								<td>
								<div class="control-group">
            				   	<label class="control-label" for="enableapi">Enable Microtik Api</label>
            				    <div class="controls">
              					    <label class="checkbox">
                					   <input type="checkbox" ng-true-value="1" ng-false-value="0" data-ng-model="formData.enableapi">
              						</label>
            					</div>
          						</div>
								</td>
								<td>
								
								</td>
							</tr>
							<tr>
								<td>
								<div class="control-group">
            					<label class="control-label" for="apiuser">API User</label>
            					<div class="controls">
              					<input type="text" id="apiuser" data-ng-model="formData.apiusername">
            					</div>
          						</div>
								</td>
								<td>
								<div class="control-group">
            					<label class="control-label" for="apipassword">API Password</label>
            					<div class="controls">
              					<input type="text" id="apipassword" data-ng-model="formData.apipassword">
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
								<td align="right" colspan="2">
									<div>
                        				<a href="#/radius"><button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a>
                         				<button id="submit" type="submit" data-ng-disabled="!createnasform.$valid" class="btn btn-primary">{{'button.save'| translate}}</button>
                       				</div>
								</td>
							</tr>
					</table>
  			            
  			             
        </fieldset>
     </form>
    </div>
   </div>
</div>
