<div class="content-container" data-ng-controller="CreateMediaController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li><a href="#/mediadetailseventpricing">{{'label.mediadetailseventpricing' | translate}}</a></li>
        <li class="active">{{'label.media.addmediadetails' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.media.addmediadetails' | translate}}</h3>
        <form class="form-horizontal" name="createmediaform" novalidate="" data-ng-submit="submitAdvanceMedia()">
            <api-validate></api-validate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="mediaCategory">{{ 'label.media.type' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <button type="button" class="btn btn-primary" class="form-control" data-ng-model="mediaCategory" data-btn-radio="'Left'" data-ng-click="setMovieScreen()">Movies</button>
                        </div>
                    </div>
                </div>
            </div>

       <div class="row">
         <div class="col-md-6">
            <div class="form-group row">
                <div class="col-md-4">
                    <label data-ng-show="hideForGame" class="control-label" for="mediaTitle">{{ 'label.media.title' | translate }}<span class="required">*</span></label>
                </div>
                <label data-ng-show="!hideForGame" class="control-label" for="mediaTitle">{{ 'label.game.title' | translate }}<span class="required">*</span></label>
                <div class="col-md-8">
                    <input type="text" id="mediaTitle" class="form-control" data-ng-model="formData.mediaTitle">
                </div>
            </div>
        </div>
          <div class="col-md-6" data-ng-show="hideForGame">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label" for="contentProvider">{{ 'table.mediadetails.contentprovider' | translate }}</label>
                </div>
                <div class="col-md-8">
                    <select id="contentProvider" class="form-control" data-ng-model="formData.contentProvider" data-ng-options="contentProviderData.id as contentProviderData.mCodeValue for contentProviderData in contentProviderDatas ">
                        <option value="">{{'label.select.one' | translate}}</option>
                    </select>
                    <!--   <input type="text" id="contentProvider" ng-model="formData.contentProvider">  -->
                </div>
            </div>
        </div>
       </div>

            <div class="row">
                 <div class="col-md-6" data-ng-show="!hideForGame">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="subject">{{ 'label.media.subject' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="subject" data-ng-model="formData.subject">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="hideForGame">
                        <div class="col-md-4">
                            <label class="control-label" for="mediaType">{{ 'label.media.mediaType' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select id="mediatype" class="form-control" data-ng-model="formData.mediatype" data-ng-options="mediaTypeData.id as mediaTypeData.value for mediaTypeData in mediaTypeDatas">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="hideForGame">
                        <div class="col-md-4">
                            <label class="control-label" for="rated">{{ 'label.media.rated' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="rated" data-ng-model="formData.rated">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="hideForGame">
                        <div class="col-md-4">
                            <label class="control-label" for="mediaCategoryId">{{ 'table.mediadetails.categeory' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" data-ng-model="formData.catageoryId" id="catageoryId" data-ng-options="mediaCategeorydata.id as mediaCategeorydata.mCodeValue for mediaCategeorydata in mediaCategeorydatas"></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="hideForGame">
                        <div class="col-md-4">
                            <label class="control-label" for="mediaRating">{{ 'label.media.rating' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="mediaRating" name="mediaRating" data-ng-model="formData.mediaRating" data-ng-pattern="/^[0-9]{1,5}$/" data-ng-maxlength="5">
                            <div data-ng-show="createmediaform.mediaRating.$dirty && createmediaform.mediaRating.$invalid">
                                <span class="error" data-ng-show="createmediaform.mediaRating.$error.pattern">digits only !</span>
                                <span class="error" data-ng-show="createmediaform.mediaRating.$error.maxlength">Exceeded max limit!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="hideForGame">
                        <div class="col-md-4">
                            <label class="control-label" for="mediaImage">{{ 'label.media.poster' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="mediaImage" data-ng-model="formData.mediaImage">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="hideForGame">
                        <div class="col-md-4">
                            <label class="control-label" for="status">{{ 'label.media.status' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" data-ng-model="formData.status" id="status" data-ng-options="mediaStatus.value as mediaStatus.value for mediaStatus in mediaStatus"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="hideForGame">
                        <div class="col-md-4">
                            <label class="control-label" for="duration">{{ 'label.media.movieduration' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="duration" data-ng-model="formData.duration">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="hideForGame">
                        <div class="col-md-4">
                            <label class="control-label" for="releaseDate">{{ 'label.media.releasedate' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" data-datepicker-pop="dd MMMM yyyy" data-ng-model="release.date" data-is-open="opened" min="minDate" max="maxDate" data-date-disabled="disabled(date, mode)" required data-late-Validate style="background-color:#FFFFFF;" readonly/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="genre">{{ 'label.media.genre' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="genre" data-ng-model="formData.genre">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row" data-ng-show="hideForGame">
                        <div class="col-md-4">
                            <label class="control-label" for="subject">{{ 'label.media.subject' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="subject" data-ng-model="formData.subject">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="overview">{{'label.media.overview' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="2" cols="2" data-ng-model="formData.overview"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="cpShareValue">{{'label.Share(%)' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="cpShareValue" name="cpShareValue" data-ng-model="formData.cpShareValue" data-ng-pattern="/^[0-9]{0,2}(\.\d{0,2})?$/" data-ng-maxlength="5">
                            <div data-ng-show="createmediaform.cpShareValue.$dirty && createmediaform.cpShareValue.$invalid">
                                <span class="error" data-ng-show="createmediaform.cpShareValue.$error.pattern">Numbers below 100 only !</span>
                                <span class="error" data-ng-show="createmediaform.cpShareValue.$error.maxlength">Exceeded max limit!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4>{{ 'label.media.mediadetails' | translate }}<span class="required">*</span></h4>
            <div class="table-responsive">
                <table class="table table-striped" data-ng-show="hideForGame">
                    <tr>
                        <td>
                            <input class="form-control" type="text" data-ng-model="attributesFormData.attributeType" readonly>

                        </td>
                        <td>
                            <select data-ng-model="attributesFormData.attributeName" data-ng-options="mediaAttribute.id as mediaAttribute.mediaName for mediaAttribute in mediaAttributes" class="form-control">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </td>

                        <td>
                            <input class="form-control" type="text" data-ng-model="attributesFormData.attributevalue" placeholder="{{'label.media.captionvalue' | translate}}">
                        </td>
                        <td>
                            <input class="form-control" type="text" data-ng-model="attributesFormData.attributeNickname" placeholder="{{'label.media.nickname' | translate}}">
                        </td>

                        <td>
                            <input class="form-control" type="text" data-ng-model="attributesFormData.attributeImage" placeholder="{{'label.media.image' | translate}}">
                        </td>
                        <td>
                            <a data-ng-click="addMedia()">&nbsp;<i class="fa fa-plus" style="color: #007fff;"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
            <h4>{{ 'label.media.medialocation' | translate }}<span class="required">*</span></h4>
            <div class="table-responsive">
                <table class="table table-striped" data-ng-show="mediaassetAttributes.length>0">

                    <tr class="graybg">
                        <th>{{'table.media.cast' | translate}}</th>
                        <th>{{'table.heading.attributetype' | translate}}</th>
                        <th>{{'label.media.captionvalue' | translate}}</th>
                        <th>{{'label.media.nickname' | translate}}</th>
                        <th>{{'label.media.image' | translate}}</th>
                    </tr>
                    <tr data-ng-repeat="mediaassetAttribute in mediaassetAttributes">
                        <td>
                            <input type="text" class="" class="form-control" data-ng-model="mediaassetAttribute.attributeType" readonly>
                        </td>
                        <td>
                            <select data-ng-model="mediaassetAttribute.attributeName" data-ng-options="mediaAttribute.id as mediaAttribute.mediaName for mediaAttribute in mediaAttributes" class="form-control"></select>
                        </td>
                        <td>
                            <input type="text" class="form-control" data-ng-model="mediaassetAttribute.attributevalue" placeholder="{{'label.media.captionvalue' | translate}}">
                        </td>
                        <td>
                            <input type="text" class="form-control" data-ng-model="mediaassetAttribute.attributeNickname" placeholder="{{'label.media.nickname' | translate}}">
                        </td>
                        <td>
                            <input type="text" class="form-control" data-ng-model="mediaassetAttribute.attributeImage" placeholder="{{'label.media.image' | translate}}">
                        </td>
                        <td><a data-ng-click="deleteMedia($index)"><i class="fa fa-times"></i></a></td>

                        <td>

                            <select data-ng-model="mediaLocationFormData.languageId" class="form-control" data-ng-options="mediaLanguageData.id as mediaLanguageData.mCodeValue  for mediaLanguageData in mediaLanguageDatas">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="input-medium form-control" data-ng-model="mediaLocationFormData.formatType" data-ng-options="mediaFormat.mediaName as mediaFormat.mediaName for mediaFormat in mediaFormats">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </td>

                        <td>
                            <input type="text" data-ng-model="mediaLocationFormData.location" class="form-control" placeholder="{{'label.media.location' | translate}}">
                        </td>
                        <td>
                            <a data-ng-click="addMediaLocation()">&nbsp;<i class="fa fa-plus"></i></a>
                        </td>

                    </tr>
                </table>
            </div>

            <!-- </form> -->
            <div class="table-responsive">
                <table class="table table-striped" data-ng-show="mediaAssetLocations.length>0">
                    <tr class="graybg">
                        <th>{{'table.heading.language' | translate}}</th>
                        <th>{{'table.heading.format' | translate}}</th>
                        <th>{{'table.heading.location' | translate}}</th>
                    </tr>
                    <tr data-ng-repeat="mediaAssetLocation in mediaAssetLocations">
                        <td>
                            <select data-ng-model="mediaAssetLocation.languageId" class="form-control" data-ng-options="mediaLanguageData.id as mediaLanguageData.mCodeValue  for mediaLanguageData in mediaLanguageDatas">
                            </select>
                        </td>
                        <td>
                            <select class="input-medium form-control" data-ng-model="mediaAssetLocation.formatType" data-ng-options="mediaFormat.mediaName as mediaFormat.mediaName for mediaFormat in mediaFormats">
                            </select>
                        </td>
                        <td>
                            <input type="text" data-ng-model="mediaAssetLocation.location" class="form-control" placeholder="{{'label.media.location' | translate}}">
                        </td>
                        <td><a data-ng-click="removeMediaLocation($index)"><i class="fa fa-times"></i></a></td>
                    </tr>
                </table>
            </div>

            <fieldset data-ng-show="!hideForGame">
                <h4>Settlement's</h4>
                <div class="table-responsive">
                    <table class="table table-striped" data-ng-show="!hideForGame" id="gameTable">
                        <tr>
                            <td>
                                <form id="gameAttributes">
                                    <button data-ng-click="addGameMedia()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                                </form>
                            </td>
                        </tr>
                        <tr class="span2"></tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" data-ng-show="gameData.length>0">
                        <tr></tr>
                        <tr class="graybg">
                            <th>{{'table.game.sequence' | translate}}</th>
                            <th>{{'table.game.contentprovider' | translate}}</th>
                            <th>{{'table.game.category' | translate}}</th>
                            <th>{{'table.game.source' | translate}}</th>
                            <th>{{'table.game.service' | translate}}</th>
                            <th>{{'table.game.type' | translate}}</th>
                            <th>{{'table.game.amount' | translate}}</th>
                        </tr>
                        <tr data-ng-repeat="gd in gameData">
                            <td>
                                <input type="text" class=" form-control" data-ng-model="gd.sequence" placeholder="">
                            </td>
                            <td>
                                <select data-ng-model="gd.mediaContentProvider" data-ng-options="mediaContentProvider.mCodeValue as mediaContentProvider.mCodeValue for mediaContentProvider in mediaContentProviders" class="input-large form-control"></select>
                            </td>
                            <td>
                                <select data-ng-model="gd.mediaCategory" data-ng-options="category.mCodeValue as category.mCodeValue for category in categorys" class=" form-control"></select>
                            </td>
                            <td>
                                <input type="text" class=" form-control" data-ng-model="gd.source" placeholder="" readonly>
                            </td>
                            <td>
                                <input type="text" class=" form-control" data-ng-model="gd.service" placeholder="" readonly>
                            </td>
                            <td>
                                <select data-ng-model="gd.mediaType" data-ng-options="mediaType.mCodeValue as mediaType.mCodeValue for mediaType in mediaTypes" class=" form-control"></select>
                            </td>
                            <td>
                                <input type="text" class=" form-control" data-ng-model="gd.amount" placeholder="">
                            </td>
                            <td><a data-ng-click="removeGameMedia($index)"><i class="fa fa-times"></i></a></td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/mediadetailseventpricing">
                        <button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel' | translate}}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
                </li>
            </ul>
        </form>
    </div>
</div>