<div class="content-container" data-ng-controller="EditCurrencyDetailsController">
   <ul class="breadcrumb">
	 <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
	 <li><a href="#/currencydetails">{{'label.currencyexchange' | translate}}</a></li>
	 <li><a href="#/viewcurrencydetails/{{formData.id}}">{{formData.id}}</a></li>
	 <li class="active">{{'label.editcurrencyexchange' | translate}}</li>
   </ul>
   <div class="card">
  	  <div class="content">
   		<div class="toolbar">
   		  <h4>{{'label.editcurrencyexchange' | translate}}</h4>
   		</div>
   		<form class="form-horizontal" data-ng-submit="submit()">
   		  <api-validate></api-validate>
	     	<fieldset>
	     	  <div class="form-group">
	     	    <label class="control-label col-sm-2" for="baseCurrency">{{'label.basecurrency' | translate }}</label>
                <div class="col-sm-3">
                    <select id="baseCurrency" data-ng-model="formData.baseCurrency" class="form-control"
                        data-ng-options="currencydata.code as getBothcurrency(currencydata.code,currencydata.name) for currencydata in currencydatas"
                        data-value="{{currencydata.code}}"><option value="">{{'label.select.one' | translate}}</option>
                    </select>
                </div>
				<label class="control-label col-sm-2" for="status">{{'label.status' | translate }}</label>
				<div class="col-sm-3">
					<select id="status" data-ng-model="formData.status" class="form-control"
						data-ng-options="currencystatus.value as currencystatus.value for currencystatus in currencystatus"
						data-value="{{currencystatus.value}}"><option value="">{{'label.select.one' | translate}}</option>
					</select>
				</div>
	          </div>
	          <div class="form-group">
	         	<label class="control-label col-sm-2" for="currency">{{'label.conversioncurrency' | translate }}</label>
	          	<div class="col-sm-3">
	             	<select id="currency" data-ng-model="formData.currency" class="form-control"
					    data-ng-options="currencydata.code as getBothcurrency(currencydata.code,currencydata.name) for currencydata in currencydatas"
						data-value="{{currencydata.code}}"><option value="">{{'label.select.one' | translate}}</option>
				 	</select>
	            </div>
	            <label class="control-label col-sm-2" for="validFrom">{{'label.validFrom' | translate }}</label>
				<div class="col-sm-3">
					<input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="date.validFrom" is-open="opened" min="minendDate"  
						date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;" class="form-control">
				</div>
	          </div>
	         
	        <div class="form-group">
	         <label class="control-label col-sm-2" for="conversionRate">{{'label.conversionrate' | translate }}</label>
				<div class="col-sm-3">
					<input type="text" id="conversionRate" class="form-control" data-ng-model="formData.conversionRate">
				</div>
				<label class="control-label col-sm-2" for="validTo">{{'label.validTo' | translate }}</label>
				<div class="col-sm-3">
					<input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="date.validTo" is-open="opened" min="minendDate"  
						date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;" class="form-control" >
				</div>
	        </div>
	        
	        <!-- <div class="form-group">
	         <label class="control-label col-sm-2" for="country">{{'label.country' | translate }}</label>
				<div class="col-sm-3">
					<select id="country" data-ng-model="formData.country" class="form-control"
						data-ng-options="countryData as countryData for countryData in countryDatas"
						data-value="{{countryData}}"><option value="">{{'label.select.one' | translate}}</option>
					</select>
				</div>
	          <label class="control-label col-sm-2" for="countryISD">{{'label.isd' | translate }}</label>
				<div class="col-sm-3">
					<input type="text" id="currencyISD" class="form-control" data-ng-model="formData.countryISD">
				</div>
	        </div> -->
	        <div class="col-md-offset-9">
	        <!-- <div class="col-md-offset-9 pull-right"> -->
	         	<a href="#/currencydetails"><button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a>
			 	<button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
	        </div>
	     </fieldset>
   	   </form>
   	  </div>
   </div>	

</div>