<div class="content-container" data-ng-controller="ViewEventController">
		<ul class="breadcrumb">
			<li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
			<li><a href="#/mediadetailseventpricing">{{'label.mediadetailseventpricing' | translate}}</a></li>
			<li class="active">{{'label.viewevent' | translate}}</li>
		</ul>
		 <div class="widget">
		   
		      <h3>{{'label.viewevent' | translate}}</h3>
				 
				      <ul class="btn-group-list text-right mb20">
				          <li><a has-permission='UPDATE_EVENT' href="#/editEvent/{{event.id}}" class="btn btn-primary"><i 
				          			class="fa fa-edit"></i> {{'button.edit' | translate}}</a></li>	        
				          <li><a has-permission='DELETE_EVENT' data-ng-click="deleteEvent()" class="btn btn-primary"><i 
				          			class="fa fa-trash-o"></i> {{'button.delete' | translate}}</a></li>
				          <li><a has-permission='CREATE_EVENTPRICE' &&
				          			 has-permission='READ_EVENTPRICE' href="#/addEventPrice/{{event.id}}" class="btn btn-primary"><i 
				          			 class="fa fa-edit"></i> {{'label.addprice' | translate}}</a></li>
				          <!-- <a has-permission='READ_EVENTPRICE' href="#/viewEventPrices/{{event.id}}" 
				          			class="btn btn-primary"><i class="fa fa-edit"></i> {{'label.viewprice' | translate}}</a> -->  
				      </ul>
			    
			
	<!-- <div class="row paddedleft">
	 <div class="col-md-6"> -->
	 <div class="table-responsive">
		<table class="table table-bordered table-striped">
		    
			<tr>
				<td>{{'label.eventname' | translate}}</td>
				<td>{{event.eventName}}</td>
			</tr>
			<tr>
				<td>{{'label.eventdescription' | translate}}</td>
				<td>{{event.eventDescription}}</td>
			</tr>
			<tr>
				<td>{{ 'label.status' | translate }}</td>
				<td>	<table>
						<tr data-ng-repeat="selectedStatus in status">
							<td>
								<span data-ng-show="selectedStatus.id == event.statusId ">{{selectedStatus.value}}</span>
							</td>
						</tr>
					</table></td>
			</tr>
			<tr>
				<td>{{'label.startdate' | translate }}</td>
				<td>{{event.eventStartDate | DateFormat}}</td>
			</tr>
			<tr>
				<td>{{'label.chargedata' | translate }}</td>
				<td>{{event.chargeCode}}</td>
			</tr>
			<tr>
				<td>{{'label.enddate' | translate }}</td>
				<td>{{event.eventEndDate | DateFormat}}</td>
			</tr>
		</table>
	</div>
		<!-- </div>
		</div>
	 -->
<script type="text/ng-template" id="deletePopupForEvent.html">
    	<div class="modal-header silver">
        	<h3 class="bolder">{{'label.heading.deletediscount' | translate}}</h3>
        </div>

        <div class="modal-body style="height:60px;">
            <h4 class="center">Are you sure?</h4>
        </div>

        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
        </div>
 </script>
 	</div>
 </div>