<div class="content-container" ng-controller="ViewTemplateDefController">
	<ul class="breadcrumb">
		<li>
			<a href="#/organization">{{'label.anchor.masters' | translate}}</a>
		</li>
	    <li>
	    	<a href="#/rating">{{'label.rating' | translate}}</a>
	    </li> 
	    <li class="active">{{'label.viewtemplatedef' | translate}}&nbsp;&nbsp;</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h3>{{templatedf.templateName}}</h3>
				<!-- <div class="pull-right">
	      			<div class="btn-group">
	          			<a has-permission = UPDATE_BROADCASTER href="#/editbroadcaster/{{broadcaster.id}}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
	        			<a has-permission = DELETE_BROADCASTER data-ng-click="deleteBroadcaster()" class="btn btn-primary"><i class="fa fa-trash-o"></i> Delete</a>
	     			</div>
	    		</div> -->	
			</div>
			<br/>
				<div class="row">
					<div class="col-md-6">
						<table class="table table-bordered table-striped"> 
							<tr>
								<td>{{ 'label.templatename' | translate }}</td>
								<td>{{templatedf.templateName}}</td>
							</tr>
							<tr>
								<td>{{ 'label.delimiter' | translate }}</td>
								<td>{{templatedf.delimiter}}</td>
							</tr>
							<tr>
								<td>{{ 'label.numberOfFields' | translate }}</td>
								<td>{{templatedf.numberOfFields}}</td>
							</tr>
							<tr>
								<td>{{ 'label.headerrecordertype' | translate }}</td>
								<td>{{templatedf.headerecordtype}}</td>
							</tr>
							<tr>
								<td>{{ 'label.eventRecordType' | translate }}</td>
								<td>{{templatedf.eventrecordtype}}</td>
							</tr>
						</table>
						
					</div>
				</div>
		 </div>
	</div>
</div>