<div class="content-container" ng-controller="EditGRNController">
      <ul class="breadcrumb">
        <li><a href="#/inventory" ng-click="selectedGRN()" select="getGRNdetails()">{{'link.admin.inventory' | translate}}</a></li>
        <li><a href="#/grndetails">{{'link.grndetails' | translate}}</a></li>
        <li class="active">{{'label.create.new.editgrn' | translate}}</li>
      </ul>

    <div class="widget">
   			<h3>Edit GRN Details</h3>
    	<form name="editgrnform" class="form-horizontal" ng-submit="submit()">
  	  		<api-validate></api-validate>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                <div class="col-md-4">
                 <label class="control-label" for="purchaseDate">{{'label.grn.purchaseDate' | translate }}&nbsp;<span class="required">*</span></label>
            </div>
           <div class="col-md-8">
                <input type="text" id="purchaseDate" class="form-control" datepicker-pop="dd MMMM yyyy" ng-model="formData.purchaseDate" is-open="opened" date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
           <div class="col-md-4">
             <label class="control-label" for="purchaseNo">{{'label.grn.purchaseNo' | translate }}&nbsp;<span class="required">*</span></label>
          </div>
        <div class="col-md-8">
          <input type="text" id="purchaseNo" class="form-control" ng-model="formData.purchaseNo" readonly>
        </div>
     </div>
    </div>
  </div>

  <div class="row">
     <div class="col-md-6">
  		 <div class="form-group row">
           <div class="col-md-4">
     			   <label class="control-label" for="supplierId">{{'label.grn.supplierCode' | translate }}&nbsp;<span class="required">*</span></label>
          </div>
     			<div class="col-md-8">
     				<select class="form-control" ng-model="formData.supplierId"  ng-options="supplierData.id as supplierData.supplierCode for supplierData in supplierDatas" ng-change = "changeSupplierFun(true)" value="{{supplierData.id}}" disabled>
     				</select>
     			</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
            <div class="col-md-4">
   			     <label class="control-label" for="officeId">{{'label.grn.officeId' | translate }}&nbsp;<span class="required">*</span></label>
        </div>
   			 <div class="col-md-8">
   			       <input type="text" placeholder="Enter Office Code" data-ng-model="formData.officeId" name="serialNumber" class="form-control"uib-typeahead=" officeDatas.externalId as groupByOffice(officeDatas.externalId, officeDatas.name) for officeDatas in getData($viewValue)" autocomplete="off" data-typeahead-min-length="0">
   			
     			<!-- <select class="form-control" ng-model="formData.officeId"  ng-options="officeData.id as officeData.nameDecorated for officeData in officeDatas" value="{{officeData.id}}">
       			</select> -->
   			</div>
		</div>
  </div>
</div>

  <div class="row">
     <div class="col-md-6">
		    <div class="form-group row">
            <div class="col-md-4">
   			      <label class="control-label" for="itemMasterId">{{'label.grn.item' | translate }}&nbsp;<span class="required">*</span></label>
           </div>
     		  <div class="col-md-8">
       				<select disabled="disabled" class="form-control" ng-model="formData.itemMasterId"  ng-options="itemData.id as itemData.itemCode for itemData in itemDatas" value="{{itemData.id}}"></select>
     			</div>
        </div>
      </div>

       <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-4">
   			      <label class="control-label" for="orderdQuantity">{{'label.grn.orderedQuantity' | translate }}&nbsp;<span class="required">*</span></label>
            </div>
   		   <div class="col-md-8">
     			<input type="text" class="form-control" id="orderdQuantity" class="form-control" name="orderdQuantity" ng-model="formData.orderdQuantity" data-ng-pattern="/^[0-9]+$/">
     			<span data-ng-show="editgrnform.orderdQuantity.$dirty && editgrnform.orderdQuantity.$invalid">
     				<small class="error" data-ng-show=" editgrnform.orderdQuantity.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
     			</span>
   			</div>
	  </div>
  </div>
</div>

      <ul class="btn-group-list text-right mt20 mb20">
        <li>
          <a href="#/grndetails"><button id="cancel" type="reset" class="btn btn-warning" ng-click="reset123()">{{'button.cancel'| translate}}</button></a>
        </li>
        <li>
            <button id="submit"  type="submit" data-ng-disabled="editgrnform.$dirty && editgrnform.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
        </li>
      </ul>
    </form>
  </div>
 </div>