<div class="content-container" ng-controller="CreateTicketTeamController">
    <ul class="breadcrumb">
        <li>
            <a href="#/organization">{{'label.anchor.masters' | translate}}</a>
        </li>

        <li class="active">{{'label.createticketteam' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.heading.createticketteam' | translate}}</h3>
        <form name="createticketteam" novalidate="" class="form-horizontal" rc-submit="submit()">
            <api-validate></api-validate>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="userId">{{ 'label.teamhead' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select type="text" id="userId" name="userId" data-ng-model="formData.userId" ng-options="AppUserData.id as AppUserData.username for AppUserData in AppUserDatas" class="form-control">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="teamCode">{{ 'label.teamcode' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="teamCode" name="teamCode" data-ng-model="formData.teamCode" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="teamDescription">{{ 'label.teamdescription' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="teamDescription" name="teamDescription" data-ng-model="formData.teamDescription" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="teamCategory">{{ 'label.teamcategory' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="teamCategory" name="teamCategory" data-ng-model="formData.teamCategory" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="status">{{ 'label.status' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select id="status" name="status" data-ng-model="formData.status" class="form-control" data-ng-options="status for status in statuses">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="teamemail">{{ 'label.teamEmail' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="teamemail" name="teamemail" data-ng-model="formData.teamEmail" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a href="#/ticketteamusers">
                        <button id="cancel" type="reset" class="btn btn-warning" ng-click="reset123()">{{'button.cancel'| translate}}</button>
                    </a>
                </li>
                <li>
                    <button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
                </li>
            </ul>
        </form>
    </div>
</div>
