<div class="content-container" ng-controller="CreateChannelMappingController"> 
	<ul class="breadcrumb">
	    <li>
			<a href="#/organization">{{'label.anchor.masters' | translate}}</a> 
			<span class="divider"></span>
		</li>
		<li>
		 	<a href="#/broadcasterchannelmapping">{{'label.broadcasterChannelMapping' | translate}}</a> 
		 	<span class="divider"></span>
		</li>
	    <li class="active">{{'label.createchannelmapping' | translate}}</li>
	</ul>
	<div class="widget">
		<h3>{{'label.heading.createchannelmapping' | translate}}</h3>
		<form name="createchannelmappingform" novalidate="" class="form-horizontal" rc-submit="submit()">
					 <api-validate></api-validate>
					 <div class="error" data-ng-show="errorStatus || errorDetails" >
					     <label data-ng-show="errorStatus">{{errorStatus}}</label>
					     <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">
					               {{error.code | translate}}</label>
	                </div> 
	               

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                           <label class="control-label " for="productId">{{'label.createchannelmapping.serviceid'| translate }}&nbsp;<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                         <input type="text"data-ng-model="productData"name="productId"class="form-control"uib-typeahead="productData as getBothProduct(productData.productCode,productData.productDescription) for productData in getData($viewValue)"autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="ProductFun(productData)"> 
                     </div>
                    </div>
                </div>
               </div>

             <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                        <label class="control-label">{{ 'label.availablechannels' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                           <select id="availablechannels" ng-model="allowed" name="allowed" class="form-control multiselectmin" multiple >
			            		<option data-ng-repeat="availableChannel in availableChannels" value="{{availableChannel.id}}">{{availableChannel.channelName}}</option>
			            	</select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                        <label class="control-label">{{ 'label.selectedchannels' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                           <select id="selectedchannels" name="selectedchannels" ng-model="restricted" name="restricted" class="form-control multiselectmin" multiple >
			            		<option data-ng-repeat="selectedChannel in selectedChannels" value="{{selectedChannel.id}}">{{selectedChannel.name}}</option>
			            	</select>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="btn-group-list text-center mt20 mb20">
                <li>
                   <button type="button" class="btn btn-primary" data-ng-click="allow()"><i class="fa fa-angle-double-left"></i></button>
                </li>
                <li>
                 <button type="button" class="btn btn-primary" data-ng-click="restrict()"><i class="fa fa-angle-double-right"></i></button>
                </li>
            </ul>
             <ul class="btn-group-list text-right mt20 mb20">
                <li>
                  <a href="#/broadcasterchannelmapping"><button id="cancel" type="reset" class="btn btn-warning" ng-click="reset123()">{{'button.cancel'| translate}}</button></a>
                </li>
                <li>
                <button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
                </li>
            </ul>
          </form>
		</div>
	</div>
