<div class="content-container" data-ng-controller="ViewChannelMappingController">
	<ul class='breadcrumb'>
		<li>
			<a href="#/organization">{{'label.anchor.masters' | translate}}</a> 
			<span class="divider"></span>
		</li>
		<li>
			<a href="#/broadcasterchannelmapping" ng-click="gobroadcasterchannelmapping()">{{'label.broadcasterChannelMapping' | translate}}</a>
		    <span class="divider"></span>
	    </li>
	    <li class="active">{{'label.ViewChannelMapping' | translate }}&nbsp;&nbsp;</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h3>{{productId}}</h3>
				<div class="pull-right">
					<div class="btn-group">
						<a has-permission = UPDATE_CHANNELMAPPING href="#/EditChannelMapping/{{productId}}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
		         		<!-- <a has-permission = DELETE_CHANNELMAPPING data-ng-click="deleteChannelMapping()" class="btn btn-primary"><i class="fa fa-trash-o"></i> Delete</a> -->
					</div>
			    </div>
			</div>
			<br>
			    <div class="row">
				    <div class="col-md-6">
						<!-- <table class="table table-bordered table-striped">
							<tr>
								<td width="30%">{{ 'label.productCode' | translate }}</td>
								<td width="70%">{{channelMapping.productCode}}</td>
							</tr>
	            			<tr>
								<td>{{ 'label.channelname' | translate }}</td>
								<td>{{channelMapping.channelName}}</td>
							</tr>
						</table> -->
						<table class="table table-bordered table-striped">
						<thead>
							<tr class="graybg" width="20%">
								<th>{{'label.id' | translate}}</th>
								<th>{{'label.channelname' | translate}}</th>
							</tr>
						</thead>
						<tbody>
					        <tr ng-repeat="channelMapping in channelMapping | filter:filterText">
								<td>{{channelMapping.id}}</td>
								<td>{{channelMapping.channelName}}</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
		</div>
	</div>
	<script type="text/ng-template" id="ChannelMapping.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete ChannelMapping</h3>
                    </div>
                    <div class="modal-body style="height:60px;">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
      </script>
</div>