<div class="content-container" ng-controller="AddCodeController">
  <ul class="breadcrumb">
    <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
    <li><a href="#/codes">{{'label.anchor.managecodes' | translate}}</a></li>
    <li class="active">{{'label.anchor.addcode' | translate}}</li>
  </ul>
  <div class="widget">
    
    
    <h3>{{'label.heading.addcode' | translate}}</h3>
    
    
    <form name="addcodeform" novalidate="" class="form-horizontal" rc-submit="submit()">
    <api-validate></api-validate>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-md-4">
            <label class="control-label" for="codename">{{'label.input.codename' | translate}}<span
            class="required">*</span></label>
          </div>
          
          <div class="col-md-8">
            <input type="text" id="codename" name="codename" ng-model="formData.name" class="form-control" required late-Validate/>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-3">
        <form-validate valattributeform="addcodeform" valattribute="codename"/>
        </div>
      </div> -->
      
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-md-4">
            <label class="control-label" for="module">{{'label.input.module' | translate}}</label>
          </div>
          <div class="col-md-8">
            <select id="module" class="form-control" data-ng-model="formData.module"  data-ng-options="module for module in modules" >
              <option value="">{{'label.select.one' | translate}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-md-4">
            <label class="control-label" for="description">{{'label.input.description' | translate}}</label>
          </div>
          <div class="col-md-8">
            <textarea class="form-control" class="form-control" ng-model="formData.description"></textarea>
          </div>
        </div>
      </div>
    </div>
    
    <ul class ="btn-group-list text-right mt20 mb20">
      <li><a href="#/codes"><button id="cancel" class="btn btn-warning">{{'button.cancel' | translate}}</button></a></li>
      <li><button id="submit" type="submit" class="btn btn-primary">{{'button.save' | translate}}</button></li>
    </ul>
    
  </form>
  
</div>
</div>