<div class="content-container" data-ng-controller="CodeController">
  <ul class="breadcrumb">
    <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
    <li class="active">{{'label.anchor.managecodes' | translate}}</li>
  </ul>
  <div class="widget mb30">
    
    
    
    <div class="row align-items-center">
      <div class="col-md-3">
        <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
      </div>
      <div class="col-md-9">
        <ul class="btn-group-list text-right">
          <li><a href="#/addcode" class="btn primary_btn pull-right" has-permission='CREATE_CODE'><i class="fa fa-plus "></i>{{'label.button.addcode' | translate }}</a></li>
        </ul>
      </div>
    </div>
    
    
  </div>
  
  <!-- <div class="row" style="width:100%;margin:-24px 0px;"> -->
  <div class="widget">
    <div class="content">
      
      <!-- <div class="row" style="width:100%;margin:-24px 0px;"> -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="graybg">
              <th width=10%>{{'label.code.module' | translate}}</th>
              <th width=10%>{{'label.heading.codename' | translate }}</th>
              <th width=23%>{{'label.code.description' | translate}}</th>
              <th width=10%>{{'label.heading.systemdefined' | translate }}</th>
              <th width=12%>{{'table.action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="pointer-main" data-ng-repeat="code in codes | filter:filterText">
              <td class="pointer" data-ng-click="routeTo(code.id)">{{code.module}}</td>
              <td class="pointer"  data-ng-click="routeTo(code.id)">{{code.name | translate}}</td>
              <td class="pointer" data-ng-click="routeTo(code.id)" style="word-break:break-all;">{{code.description}}</td>
              <td class="pointer" data-ng-click="routeTo(code.id)">{{code.systemDefined}}</td>
              <td>
                <ul class="table-icon-list">
                  <li><a has-permission='CREATE_CODEVALUE' href="#/editcode/{{code.id}}" uib-popover="Edit" data-popover-trigger="mouseenter" ><i class="fa fa-edit"></i></a></li>
                  <li> <a has-permission='DELETE_CODE' data-ng-click="delCode(code.id)" data-ng-show="code.systemDefined == false" uib-popover="Delete" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a></li>
                 <li>
                  <span ng-show="code.name == 'Problem Code'">
                  <a has-permission='CREATE_SUBCATEGORY' href="#/subcategories"
                  uib-popover="Add Subcategory" data-popover-trigger="mouseenter"><i class="fa fa-plus"></i></a>
                </span>
              </li>
              </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    <script type="text/ng-template" id="deletecode.html">
    <div class="modal-header silver">
      <h3 class="bolder">{{'label.delete' | translate}}</h3>
    </div>
    <div class="modal-body style="height:60px;">
      <h4 class="center">Are you sure?</h4>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
      <button class="btn btn-primary" ng-click="deleteCode()">{{'label.confirm' | translate}}</button>
    </div>
    </script>
  </div>