<div class="content-container" ng-controller="EditProvisioningMappingController">
	<ul class="breadcrumb">
		<li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
		<li><a href="#/mappingconfig">{{'label.provisioningMapping' | translate}}</a></li>
		<li class="active">{{'label.editprovisioningmapping' | translate}}</li>
	</ul>
	<div class="widget">
		
		
		<h3>{{'label.heading.editprovisioningmapping' | translate}}</h3>
		
		
		<form name="editprovisioningmapping" class="form-horizontal" novalidate="" rc-submit="submit()">
		<api-validate></api-validate>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group row">
					<div class="col-md-4">
						<label class="control-label" for="provisioningSystem">{{'table.provisioningcommands.provisioningsystem' | translate}}</label>
					</div>
					<div class="col-md-8">
					<select data-ng-model="formData.provisioningSystem" class="form-control" data-ng-options="provisioningData.id as provisioningData.systemcode for provisioningData in provisioning"></select>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="form-group row">
				<div class="col-md-4">
					<label class="control-label" for="commandName">{{'table.provisioningcommands.commandname' | translate}}</label>
				</div>
				<div class="col-md-8">
				<select data-ng-model="formData.commandName" class="form-control" data-ng-options="commandData.mCodeValue as commandData.mCodeValue for commandData in commands"></select>
			</div>
		</div>
	</div>
</div>

<h4>{{ 'table.provisioningsystem.parameters' | translate }}</h4>
<div class="table-responsive">
	<table class="table table-striped">
		<tr class="control-group">
			<td class="blockquoteresult">
				<form>
					<table class="table table-striped" width="100%">
						<tr>
							<td>
								<input class="input-small form-control" type="text" data-ng-model="parameterFormData.commandParam"
								placeholder="{{'table.provisioningsystem.commandParam' | translate}}">
							</td>
							<!-- <td>
										<input class="input-small form-control" type="text" data-ng-model="parameterFormData.paramType"
											placeholder="{{'table.provisioningsystem.paramType' | translate}}">
							</td>  -->
							<td>
								<select class="input-small form-control" data-ng-model="parameterFormData.paramType"
									data-ng-options="paramType for paramType in paramTypes">
									<option value="">{{'label.select.one' | translate}}</option>
								</select>
							</td>
							<td>
								<span>
									<input class="form-control" type="text" ng-if="parameterFormData.paramType != 'Date' && parameterFormData.paramType != 'DateTime' && parameterFormData.paramType != 'Boolean'"
									data-ng-model="parameterFormData.paramDefault" placeholder="{{'label.paramdefault' | translate}}">
									<input type="text" ng-if="parameterFormData.paramType == 'Date'" data-datepicker-pop="dd/MM/yyyy" id="paramDefault"
									class="form-control" data-ng-model="parameterFormData.paramDefault"  data-is-open="opened2" min="minDate"
									max="'22/06/2020'" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" />
									<input type="text" ng-if="parameterFormData.paramType == 'DateTime'" data-datepicker-pop="dd/MM/yyyy" id="paramDefault"
									class="form-control" data-ng-model="parameterFormData.paramDefault"  data-is-open="opened2" min="minDate"
									max="'22/06/2020'" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" />
									<select ng-if="parameterFormData.paramType == 'Boolean'" id="paramValue" data-ng-model="parameterFormData.paramDefault"
										class="form-control" data-ng-options="paramValue for paramValue in paramvaluesboolean">
									</select>
								</span>
							</td>
							<td>
								<input class="form-control" type="text"
								data-ng-model="parameterFormData.paramLength" placeholder="{{'label.paramlength' | translate}}">
							</td>
							<td>
								<input class="form-control" type="text"
								data-ng-model="parameterFormData.paramNotes" placeholder="{{'label.paramnotes' | translate}}">
							</td>
							
							<!-- <td>
										<span ng-if="parameterFormData.paramType">
													<input ng-if="parameterFormData.paramType != 'Combo'" class="form-control"
														type="text" data-ng-model="serviceFormData.paramValue" placeholder="{{'label.paramlength' | translate}}">
													<input ng-if="parameterFormData.paramType == 'Combo'" class="form-control" type="text"
														data-ng-model="serviceFormData.paramValue" placeholder="{{'label.paramdefault' | translate}}">
										</span>
							</td> -->
							<!-- <td ng-if="parameterFormData.paramType == Text || parameterFormData.paramType == Date || parameterFormData.paramType == DateTime">
										<input class="input-small form-control" type="text" data-ng-model="parameterFormData.paramLength"
											placeholder="{{'table.paramLength' | translate}}">
							</td>
							<td ng-if="parameterFormData.paramType == Combo">
										<input class="input-small form-control" type="text" data-ng-model="parameterFormData.paramDefault"
											placeholder="{{'table.paramDefault' | translate}}">
							</td> -->
							<td>
								<a data-ng-click="addParameters()"><i class="fa fa-plus"></i></a>
							</td>
						</tr>
					</table>
				</form>
				
				<table class="table table-striped" width="100%" data-ng-show="commandParameters.length>0">
					<tr class="graybg">
						<th>{{'table.provisioningsystem.commandParam' | translate}}</th>
						<th>{{'table.provisioningsystem.paramType' | translate}}</th>
						<th>{{'label.paramdefault' | translate}}</th>
						<th>{{'label.paramlength' | translate}}</th>
						<th>{{'label.paramnotes' | translate}}</th>
						<th>{{'label.actions' | translate}}</th>
					</tr>
					<tr data-ng-repeat="commandParameter in commandParameters" >
						<td><input type="text" class="input-small form-control" data-ng-model="commandParameter.commandParam"
						placeholder="{{'table.provisioningsystem.commandParam' | translate}}"></td>
						<td><select data-ng-model="commandParameter.paramType" class="form-control"
						data-ng-options="paramType for paramType in paramTypes"></select></td>
						<td>
							<span>
								<input type="text" class="input-small form-control"
								ng-if="commandParameter.paramType != 'Date' && commandParameter.paramType != 'DateTime' && commandParameter.paramType != 'Boolean'"
								data-ng-model="commandParameter.paramDefault" placeholder="{{'label.paramdefault' | translate}}">
								<input type="text" ng-if="commandParameter.paramType == 'Date'" data-datepicker-pop="dd/MM/yyyy" id="paramDefault"
								class="form-control" data-ng-model="commandParameter.paramDefault"  data-is-open="opened2" min="minDate"
								max="'22/06/2020'" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" />
								<input type="text" ng-if="commandParameter.paramType == 'DateTime'" id="paramDefault"
								class="form-control" data-ng-model="commandParameter.paramDefault"  data-is-open="opened2" min="minDate"
								max="'22/06/2020'" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" />
								<select ng-if="commandParameter.paramType == 'Boolean'" id="paramValue" data-ng-model="commandParameter.paramDefault"
									class="form-control" data-ng-options="paramValue for paramValue in paramvaluesboolean">
								</select>
								<input type="text" ng-if="commandParameter.paramType == 'Date'" data-datepicker-pop="dd/MM/yyyy" id="paramNote"
								class="form-control" data-ng-model="commandParameter.paramNotes"  data-is-open="opened2" min="minDate"
								max="'22/06/2020'" data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" />
							</span>
						</td>
						<td><input type="text" class="input-small form-control"
						data-ng-model="commandParameter.paramLength" placeholder="{{'label.paramlength' | translate}}"></td>
						<td><input type="text" class="input-small form-control"
						data-ng-model="commandParameter.paramNotes" placeholder="{{'label.paramnotes' | translate}}"></td>
						
						<td><a data-ng-click="deleteParameter($index)" placeholder="{{'label.actions' | translate}}"><i class="fa fa-times"></i></a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<ul class="btn-group-list text-right mt20 mb20">
	<li><a href="#/mappingconfig"><button type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button></a></li>
	<li><button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button></li>
</ul>
</form>
</div>
</div>