<div class="content-container" ng-controller="ReportsController">
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li class="active">{{'label.anchor.managereports' | translate}}</li>
    </ul>
    <div class="widget mb30">
        <div class="row" >
            <div class="col-md-3" >
                <input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
            </div>
            <div class="col-md-9">
                <ul class="btn-group-list text-right">
                    <li>
                         <a href="#/createreport" class="btn primary_btn" has-permission='CREATE_REPORT'><i class="fa fa-plus "></i>{{'label.button.createreport' | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

        <div class="widget ">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr class="graybg">
                    <th>{{'label.heading.reportname' | translate}}</th>
                    <th>{{'label.heading.reporttype' | translate}}</th>
                    <th>{{'label.heading.reportsubtype' | translate}}</th>
                    <th>{{'label.heading.reportcategory' | translate}}</th>
                    <th>{{'label.heading.corereport' | translate}}</th>
                    <th>{{'label.heading.userreport' | translate}}</th>
                    <th>{{'table.actions' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer-main" ng-repeat="report in reports.currentPageItems | filter:filterText">
                    <td class="pointer" data-ng-click="routeTo(report.reportId)">{{report.reportName}}</td>
                    <td class="pointer" data-ng-click="routeTo(report.reportId)">{{report.reportType}}</td>
                    <td class="pointer" data-ng-click="routeTo(report.reportId)">{{report.reportSubType}}</td>
                    <td class="pointer" data-ng-click="routeTo(report.reportId)">{{report.reportCategory}}</td>
                    <td class="pointer" data-ng-click="routeTo(report.reportId)">{{report.coreReport}}</td>
                    <td class="pointer" data-ng-click="routeTo(report.reportId)">{{report.useReport}}</td>
                    <td><a  has-permission = UPDATE_REPORT href="#/editreport/{{report.reportId}}" uib-popover="Edit" popover-trigger="mouseenter" class="fa fa-edit"></a>
                		<a ng-show="report.coreReport" has-permission = DELETE_REPORT ng-click="deletereport(report.reportId)" uib-popover="Delete" popover-trigger="mouseenter"><i class="fa fa-times"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
             <ul class="pager">
		        <li class="previous"><a  id="prev" ng-click="reports.previous()" href="" ng-disabled="!reports.hasPrevious()">&larr; Prev</a></li>
		        <li class="next" ><a  id="next"   ng-click="reports.next()" href="" ng-disabled="!reports.hasNext()">Next &rarr;</a></li>
    		 </ul>
        </div>
    </div>
    <script type="text/ng-template" id="deletenoncorereport.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.delete' | translate}}</h3>
        </div>
        <div class="modal-body modal-small">
<h4 class="text-center">Are you sure?</h4>
</div>
        <div class="modal-body modal-middle modla-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.confirm' | translate}}</button>
        </div>
    </script>
