<div class="content-container" ng-controller="GroupsDetailsController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li class="active">{{'label.groups.details' | translate}}</li>
    </ul>
    <div class="widget mb30">
        <div class="row align-items-center">
            <div class="col-md-3">
                <input data-ng-model="filterText" type="text" class="form-control" data-ng-autofocus="true" class="span marginbottom0px" placeholder="{{'placehoder.searchbar' | translate}}" />
            </div>
            <div class="col-md-9">
                <ul class="btn-group-list text-right">
                    <li>
                        <a data-ng-click="addGroup()" class="btn primary_btn"><i class="fa fa-plus"></i>{{'label.group.add' | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="widget">
        <div id="office" name="office" select="getOffices()">
            <div data-ng-hide="isTreeView">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class="graybg">
                                <th style="width:25%">{{'label.groupsdetails.groupname' | translate}}</th>
                                <th style="width:25%">{{'label.groupsdetails.groupaddress' | translate}}</th>
                                <th style="width:25%">{{'label.groupsdetails.countnumber' | translate}}</th>
                                <th style="width:25%">{{'table.heading.actions' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer-main" data-ng-repeat="group in groupsDetails.currentPageItems | filter:filterText">
                                <td class="pointer" data-ng-click="routeTo(group.groupName)">{{group.groupName}}</td>
                                <td class="pointer" data-ng-click="routeTo(group.groupName)">{{group.groupAddress}}</td>
                                <td class="pointer" data-ng-click="routeTo(group.groupName)">{{group.countNo}}</td>
                                <td>
                                    <ul class="table-icon-list">
                                        <li>
                                            <a data-ng-click="addProvision(group.id,group.groupName,group.attribute1,group.attribute2,group.attribute3,group.attribute4)" data-ng-show="group.isProvision == 'N'" class="btn " uib-popover="Provisioning" data-popover-trigger="mouseenter"><i class="fa fa-play"></i></a>
                                        </li>
                                        <li>
                                            <a data-ng-show="group.isProvision == 'Y'" data-ng-disabled="group.isProvision == 'Y'" class="btn "><i class="fa fa-play"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pager">
                    <li class="previous"><a data-ng-click="groupsDetails.previous()" href="" data-ng-disabled="!groupsDetails.hasPrevious()">&larr; Prev</a></li>
                    <li class="next"><a data-ng-click="groupsDetails.next()" href="" data-ng-disabled="!groupsDetails.hasNext()">Next &rarr;</a></li>
                </ul>

            </div>
        </div>
        <script type="text/ng-template" id="addGroupDetails.html">
            <div class="content-container">
                <div class="widget">

                    <form name="addGroupForm" novalidate="" class="form-horizontal">
                        <api-validate></api-validate>

                        <h3>{{ 'label.group.add' | translate }}</h3>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="groupName">{{'label.groupsdetails.groupname'|translate}}<span class="required">*</span> </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="groupName" class="form-control" name="groupName" ng-model="formData.groupName" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label" for="groupAddress">{{'label.groupsdetails.groupaddress'|translate}}<span class="required">*</span> </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="groupAddress" class="form-control" name="groupAddress" ng-model="formData.groupAddress" />
                            </div>
                        </div>

                        <h4>{{ 'label.groupsdetails.additionalinfo' | translate }}</h4>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{ 'label.groupsdetails.groupcir' | translate }}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input id="attribute1" class="form-control" type="text" ng-model="formData.attribute1" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{ 'label.groupsdetails.dir' | translate }}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input id="attribute1" class="form-control" type="text" ng-model="formData.attribute2" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{ 'label.groupsdetails.membercir' | translate }}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input id="attribute1" class="form-control" type="text" ng-model="formData.attribute3" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">{{ 'label.groupsdetails.dir' | translate }}<span class="required">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <input id="attribute1" class="form-control" type="text" ng-model="formData.attribute4" />
                            </div>
                        </div>

                        <ul class="btn-group-list text-right mt20 mb20">
                            <li>
                                <button id="cancel" class="btn btn-warning " ng-click="cancel()">{{'button.cancel' | translate}}</button>
                            </li>
                            <li>
                                <button id="submit" type="submit" ng-click="submit()" class="btn btn-primary pull-right">{{'button.save' | translate}}</button>
                            </li>
                        </ul>

                    </form>

                </div>
            </div>
        </script>
    </div>
</div>