<div class="content-container" ng-controller="ChargeCodeController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a>
            <li class="active">{{'label.chargecode' | translate}}</li>
    </ul>
    <div class="widget mb30">
        <!-- <div class="toolbar ptb15 mrl15 bb1 mb20">
            <h4 class="ptrbl0">{{'label.chargecode' | translate}}</h4>
        </div> -->
        <div class="row">
            <div class="col-md-3">
                <input data-ng-model="filterText" type="text" class="form-control" data-ng-autofocus="true" class="span marginbottom0px" placeholder="{{'placehoder.searchbar' | translate}}">
            </div>
            <div class="col-md-9">
                <ul class="btn-group-list text-right">
                    <li>
                        <a href="#/createchargecode" class="btn primary_btn" has-permission='CREATE_CHARGECODE'><i class="fa fa-plus "></i>{{'label.create.new.chargecode' | translate }}</a>
                    </li>
                    <!--  <li>
                        <a data-ng-show="PermissionService.showMenu('CREATE_SERVICE')" href="#/createservice" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'label.button.createservice' | translate }}</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

 <div class="widget">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'table.chargecode' | translate }}</th>
                    <th>{{ 'table.chargedes' | translate }}</th>
                    <th>{{ 'table.chargetype' | translate }}</th>
                    <th>{{ 'table.chargeduration' | translate }}</th>
                    <th>{{ 'table.duratintype' | translate }}</th>
                    <th>{{ 'table.taxinclusive' | translate }}</th>
                    <th>{{ 'table.billfrequencycode' | translate }}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer-main" data-ng-repeat="chargecode in chargecodes | filter:filterText">

                    <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.chargeCode}}</td>
                    <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.chargeDescription}}</td>
                    <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.chargeType}}</td>
                    <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.chargeDuration}}</td>
                    <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.durationType}}</td>
                    <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.taxInclusive}}</td>
                    <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.billFrequencyCode}}</td>
                    <td>
                        <ul class="table-icon-list">
                            <li>
                                <a has-permission='UPDATE_CHARGECODE' href="#/editchargecode/{{chargecode.id}}" uib-popover="Edit Charge Code" title="Edit Charge Code" popover-trigger="mouseenter">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </li>
                            <li>
                                <a has-permission='CREATE_TAXMAPPING' && has-permission='READ_TAXMAPPING' href="#/createtaxmapping/{{chargecode.chargeCode}}" uib-popover="Add Tax" title="Add Tax" popover-trigger="mouseenter">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- <a has-permission='READ_TAXMAPPING' href="#/taxmapping/{{chargecode.chargeCode}}/{{chargecode.id}}" uib-popover="View Tax" title="View Tax" popover-trigger="mouseenter">
                        <i class="fa fa-eye"></i>
                    </a>&nbsp; -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
 </div>
</div>