<div class="content-container" ng-controller="EditChargeCodeController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li><a href="#/chargecode">{{'label.managechargecode' | translate}}</a></li>
        <!-- <li><a href="#/viewchargecode/{{formData.id}}">{{chargeCode}}</a></li> -->
        <li class="active">{{'label.editchargecode' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.edit.new.chargecode' | translate}}</h3>

        <form name="editchargeform" novalidate="" class="form-horizontal" rc-submit="submit()">
            <api-validate></api-validate>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="chargeCode">{{'label.chargecode' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="chargeCode" name="chargeCode" data-ng-model="formData.chargeCode" class="form-control" data-ng-maxlength="10" />
                        </div>
                        <div class="col-md-12">
                            <span data-ng-show="editchargeform.chargeCode.$dirty && editchargeform.chargeCode.$invalid">
                                          <small class="error" data-ng-show="editchargeform.chargeCode.$error.maxlength">{{'error.chargeCode.definition.length.validation'| translate}}</small>
                                            <!-- <small class="error" >{{'error.code.definition.length.validation'| translate}}</small> -->
                                          </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="chargeDescription">{{'label.chargedes' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="chargeDescription" class="form-control" data-ng-model="formData.chargeDescription">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="chargeType">{{'label.chargetype' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="chargeType" class="form-control" data-ng-model="formData.chargeType" data-ng-options="chargeType.chargeType as chargeType.chargeType for chargeType in chargeTypes">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="chargeDuration">{{'label.chargeDuration' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="chargeDuration" name="chargeDuration" class="form-control" data-ng-model="formData.chargeDuration" ng-pattern="/^[0-9]/" />
                        </div>
                        <div class="col-md-12">
                            <span data-ng-show="editchargeform.chargeDuration.$dirty && editchargeform.chargeDuration.$invalid">
                                                <small class="error" data-ng-show="editchargeform.chargeDuration.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
                                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="durationType">{{'label.durationType' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="durationType" class="form-control" data-ng-model="formData.durationType" data-ng-options="durationTypeCode.durationTypeCode as durationTypeCode.durationTypeCode for durationTypeCode in durationTypes">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="taxInclusive">{{'label.taxInclusive' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="formData.taxInclusive">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="billFrequencyCode ">{{'label.billFrequencyCode' | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <select id="billFrequencyCode" class="form-control" data-ng-model="formData.billFrequencyCode" data-ng-options="billFrequencyCode.billFrequencyCode as billFrequencyCode.billFrequencyCode for billFrequencyCode in billFrequencyCodes">
                                <option value="">{{'label.select.one' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label " for="isAggregate">{{'label.IsAggregate' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="formData.isAggregate">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="btn-group-list text-right mt20 mb20">
                <li>
                    <a id="cancel" href="#/chargecode">
                        <a href="#/chargecode">
                            <button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button>
                        </a>
                </li>
                <li>
                    <button id="submit" type="submit" data-ng-disabled="editchargeform.$dirty && editchargeform.$invalid" class="btn btn-primary">{{'button.save' | translate}}</button>
                </li>
            </ul>
        </form>
    </div>
</div>