<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/inventory">{{'label.inventory' | translate}}</a></li>
        <li><a href="#/grndetails">{{'label.heading.goodsreceipt' |
				translate}}</a></li>
        <li class="active">{{'button.uploadandprocess' | translate}}</li>
    </ul>
    <div class="widget">
        <h3>{{'label.uploadandprocessfile' | translate}}</h3>
        <form class="form-horizontal" ng-controller="UploadAndProcessItemDetailsController" rc-submit="submit()">
            <api-validate></api-validate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="status">{{ 'label.import.name' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                            <select ng-model="formData.status" class="form-control">
                                <!-- <option value="-1">--first choice--</option> -->
                                <option value="-1">--first choice--</option>
                                <option value="Hardware Items">Hardware Items</option>
                                <option value="Adjustments">Adjustments</option>
                                <option value="Payments">Payments</option>
                                <option value="Mrn">MRN</option>
                                <option value="Move Itemsale">Move Itemsale</option>
                                <option value="Epg">EPG</option>
                                <option value="MediaAssuploadandprocessitemdetailsets">Media Assets
                                </option>
                                <option value="Office">Office</option>
                                <option value="Simple Activation">Simple Activation</option>
                                <option value="Add Plan">Add Plan</option>
                                <option value="Change Plan">Change Plan</option>
                                <option value="Cancel Plan">Cancel Plan</option>
                                <option value="ClientService Suspend">ClientService Suspend
                                </option>
                                <option value="ClientService reactive">ClientService reactive
                                </option>
                            </select>&nbsp;&nbsp;&nbsp;
                            <a ng-hide="formData.status =='-1'" ng-click="downloadFile(formData.status)"> <i class="fa fa-cloud-download"></i> Download Sample File
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="file">{{'label.client.select.file' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="file" ngf-select="onFileSelect($files)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label" for="description">{{ 'label.import.description' | translate }}</label>
                        </div>
                        <div class="col-md-8 col-suploadFilem-3">
                            <textarea rows="2" cols="2" class="form-control" ng-model="formData.description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
                <ul class="btn-group-list text-right mt20 mb20">
                    <li>
                        <a href="#/inventory">
                            <button id="cancel" type="reset" class="btn btn-warning">{{'button.cancel'| translate}}</button>
                        </a>
                    </li>
                    <li>
                        <button id="submit" type="submit" class="btn btn-primary">{{'button.uploadandprocess'| translate}}
                        </button>
                    </li>
                </ul>
        </form>
        </div>
    </div>